<div class="wrapper">
  <div class="me-menu-left-demo">
    <me-menu-left
      [items]="items"
      [bottomItems]="bottomItems"
      [title]="title"
      [collapsed]="collapsed"
      [floatMode]="floatMode"
      [size]="size"
      [toggleIcon]="toggleIcon"
      [expandedIcon]="expandedIcon"
      [collapsedIcon]="collapsedIcon"
      [collapsedWidth]="collapsedWidth"
      [expandedWidth]="expandedWidth"
      [width]="width"
      (itemSelected)="onItemSelected($event)"
      (collapsedChange)="onCollapsedChange($event)"
    >
      <div meMenuLeftHeader>
        <me-icon icon="notifications" size="medium" class="notify_icon"></me-icon>
      </div>
      <div meMenuLeftSearch>
        <dx-text-box
          meTextBox
          mode="search"
          labelMode="hidden"
          placeholder="Поиск..."
        ></dx-text-box>
      </div>
    </me-menu-left>
    <div class="page-content">
      <h1>Тестовая страница</h1>
      <p>
        Группа исследователей из Миланского университета разработала обогащенный витаминами
        «коктейль» от похмелья, эффект которого основан на полезном действии имбиря, опунции, вишни
        и гинкго билоба. Результаты работы опубликованы в медицинском журнале The Lancet. В
        исследовании приняли участие 214 представителей разных возрастных групп. Ученые применили
        инновационный трехэтапный протокол для тестирования воздействия растительных компонентов.
        Основной группе участников предложили напиток, состоящий из экстрактов имбиря, опунции,
        барбадосской вишни и гинкго билоба, дополненный минералами и витаминами группы B.
      </p>
    </div>
  </div>
</div>
