<div class="wrapper">
  <div class="me-menu-left-demo">
    <me-menu-left
      [items]="items"
      [bottomItems]="bottomItems"
      [title]="title"
      [collapsed]="collapsed"
      [floatMode]="floatMode"
      [toggleIcon]="toggleIcon"
      [expandedIcon]="expandedIcon"
      [collapsedIcon]="collapsedIcon"
      [collapsedWidth]="collapsedWidth"
      [expandedWidth]="expandedWidth"
      [width]="width"
      (itemSelected)="onItemSelected($event)"
      (collapsedChange)="onCollapsedChange($event)"
    >
      <div meMenuLeftHeader>
        <me-icon icon="notifications" size="medium" class="notify_icon"></me-icon>
      </div>
      <div meMenuLeftSearch>
        <dx-text-box
          meTextBox
          mode="search"
          labelMode="hidden"
          placeholder="Поиск..."
        ></dx-text-box>
      </div>
    </me-menu-left>
    <div class="page-content">
      <h1>Тестовая страница</h1>
      <p>
        МОНИТОР ЭЛЕКТРИК – один из крупнейших российских производителей программных решений в
        области оперативно-технологического управления для электроэнергетики. Наша команда
        расположена в 12 городах России и состоит из более 300 специалистов в области разработки ПО,
        моделирования элементов электрических сетей и систем, подготовки оперативного персонала на
        тренажерах собственной разработки, обработки телеметрической информации, создания
        высокопроизводительных систем хранения временных рядов, математических методов решения
        различных прикладных задач, построения высоконадежных решений как для локальных, так и для
        распределенных центров управления. Нашими продуктами более 20 лет пользуются системные
        операторы электроэнергетических систем, генерирующие и электросетевые компании, крупные
        промышленные потребители электроэнергии и предприятия нефтегазового сектора в России,
        Белоруссии, Грузии, Азербайджане и Казахстане.
      </p>
    </div>
  </div>
</div>
