<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Popover</h1>
  <div class="dx-fieldset form">
    <div class="dx-field">
      <div class="dx-field-label me-title-subheader1">Default mode</div>
      <div class="dx-field-value-static">
        <p>
          <span id="subject1" class="me-text-body2">Google AdWords Strategy</span>
          (<a class="test-details me-action-link1" id="link1">details</a>)
        </p>
        <dx-popover mePopover target="#link1" showEvent="mouseenter" hideEvent="mouseleave" position="top" [width]="300" [maxWidth]="400">
          <div *dxTemplate="let data of 'content'">
            Make final decision on whether we are going to increase our Google AdWord spend based on our 2013 marketing plan.
          </div>
        </dx-popover>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label me-title-subheader1">With title</div>
      <div class="dx-field-value-static">
        <p>
          <span id="subject2" class="me-text-body2"> Rollout of New Website and Marketing Brochures </span>
          (<a class="test-details me-action-link1" id="link2">details</a>)
        </p>
        <dx-popover
          mePopover
          target="#link2"
          showEvent="mouseenter"
          hideEvent="mouseleave"
          position="bottom"
          [width]="300"
          [showTitle]="true"
          title="Details"
          [minWidth]="250"
        >
          <div *dxTemplate="let data of 'content'">The designs for new brochures and website have been approved. Launch date is set for Feb 28.</div>
        </dx-popover>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label me-title-subheader1">With animation</div>
      <div class="dx-field-value-static">
        <p>
          <span id="subject3" class="me-text-body2"> Create 2012 Sales Report </span>
          (<a class="test-details me-action-link1" id="link3">details</a>)
        </p>
        <dx-popover mePopover target="#link3" showEvent="mouseenter" hideEvent="mouseleave" position="top" [width]="300">
          <dxo-animation>
            <dxo-show type="pop" [from]="{ scale: 0 }" [to]="{ scale: 1 }"></dxo-show>
            <dxo-hide type="fade" [from]="1" [to]="0"></dxo-hide>
          </dxo-animation>
          <div *dxTemplate="let data of 'content'">2012 Sales Report has to be completed so we can determine if major changes are required to sales strategy.</div>
        </dx-popover>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label me-title-subheader1">With overlay</div>
      <div class="dx-field-value-static">
        <p>
          <span id="subject4" class="me-text-body2">Website Re-Design Plan</span>
          (<a class="test-details me-action-link1" id="link4">more</a>)
        </p>
        <dx-popover mePopover target="#link4" showEvent="click" position="top" [width]="300" [shading]="true" shadingColor="rgba(0, 0, 0, 0.5)">
          <div *dxTemplate="let data of 'content'">The changes in our brochure designs for 2013 require us to update key areas of our website.</div>
        </dx-popover>
      </div>
    </div>
  </div>
</div>
