.form {
  box-shadow: 0 0 4px 1px var(--me-icon-secondary);
  border-radius: 4px;
  padding: 20px;
}

.dx-field > * {
  text-align: start;
}

.dx-field > * > * {
  text-align: start;
}

.test-details {
  color: var(--button-default-icon-color);
  cursor: pointer;
}
