@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

$tabpanel-tabs-hover-border-color: null !default;
// $tabpanel-tabs-disabled-color: null !default;
$multiview-wrapper-bg: null !default;

@if $color == 'light' {
  $tabpanel-tabs-hover-border-color: #18181a;
  // $tabpanel-tabs-disabled-color: #18181a66;
  $multiview-wrapper-bg: #ffffff;
}

@if $color == 'dark' {
  $tabpanel-tabs-hover-border-color: #ffffff;
  // $tabpanel-tabs-disabled-color: #ffffff4d;
  $multiview-wrapper-bg: #2e2e2f;
}
