@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../button/colors' as *;

// Переменные для цвета вкладок
$tabs-tab-color: $base-text-color !default;
$tabs-tab-selected-color: $base-text-color !default;
$tabs-tab-bg: #ecedf3 !default; // Фон для неактивных вкладок
$tabs-tab-selected-bg: $base-bg !default; // Фон для активной вкладки
$tabs-tab-icon-color: $tabs-tab-color !default;
$tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
$tabs-focused-border-color: #3257dc !default; // Цвет рамки фокуса
$tabs-tab-hover-bg: #3c65f81f !default; // Легкий синий фон при hover
$tabs-tab-active-bg: #3c71f833 !default; // Активный фон вкладки
$tabs-hover-border-color: #18181a !default;
$tabs-disabled-border-color: rgba(223, 224, 237, 1) !default;
$tabs-disabled-color: #18181a66 !default;
$tabpanel-tabs-hover-border-color: #18181a !default;
$tabpanel-tabs-disabled-color: #18181a66 !default;

.dx-tabpanel {
  display: flex;
  flex-direction: column;

  .dx-tabs-vertical {
    .dx-tabs-wrapper {
      min-height: 100%;
    }

    .dx-tabpanel-tab {
      flex-grow: 0;
    }
  }
}

.dx-tabpanel-tab {
  flex-basis: unset;
}

.dx-tabpanel-tabs-position-right {
  flex-direction: row-reverse;

  &.dx-rtl {
    flex-direction: row;
  }
}

.dx-tabpanel-tabs-position-bottom {
  flex-direction: column-reverse;
}

.dx-tabpanel-tabs-position-left {
  flex-direction: row;

  &.dx-rtl {
    flex-direction: row-reverse;
  }
}

.me-tabs-panel {
  &.dx-tabpanel.dx-widget {
    .dx-tab {
      margin: 0;
    }
  }
  &.dx-tabpanel-tabs-position-top .dx-tab {
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
  }
  &.dx-tabpanel-tabs-position-bottom .dx-tab {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
  }
  &.dx-tabpanel-tabs-position-left .dx-tab {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    -o-border-radius: 4px 0 0 4px;
  }
  &.dx-tabpanel-tabs-position-right .dx-tab {
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
  }

  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-bottom
    .dx-tab:not(.dx-tab-selected):after,
  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-top .dx-tab:not(.dx-tab-selected):after {
    height: 0;
  }
  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-left
    .dx-tab:not(.dx-tab-selected)::after,
  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-right
    .dx-tab:not(.dx-tab-selected)::after {
    width: 0;
  }

  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-bottom .dx-tab.dx-tab-selected::after {
    top: -1px;
  }
  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-top .dx-tab-selected::after {
    bottom: -1px;
  }
  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-left .dx-tab.dx-tab-selected::after {
    right: -1px;
  }
  &.dx-tabs-styling-mode-primary.dx-tabpanel-tabs-position-right .dx-tab.dx-tab-selected::after {
    left: -1px;
  }
  &.dx-tabpanel-tabs-position-top {
    .dx-tabpanel-container {
      border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      -ms-border-radius: 0 0 4px 4px;
      -o-border-radius: 0 0 4px 4px;
    }
  }
  &.dx-tabpanel-tabs-position-bottom {
    .dx-tabpanel-container {
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -ms-border-radius: 4px 4px 0 0;
      -o-border-radius: 4px 4px 0 0;
    }
  }
  &.dx-tabpanel-tabs-position-left {
    .dx-tabpanel-container {
      border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      -ms-border-radius: 0 4px 4px 0;
      -o-border-radius: 0 4px 4px 0;
    }
  }
  &.dx-tabpanel-tabs-position-right {
    .dx-tabpanel-container {
      border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      -ms-border-radius: 4px 0 0 4px;
      -o-border-radius: 4px 0 0 4px;
    }
  }
  .dx-tabpanel-container {
    border-style: solid;
    border-width: 1px;
    border-color: var(--Dividers-Borders-Long);
    background-color: var(--Background-Content);
    padding: 20px 16px;
    height: 100%;
    width: 100%;
  }

  .dx-item.dx-tab {
    &.dx-state-hover {
      background-color: var(--Controls-BG-Flat-Button-Main-BG-Hover);
    }
    .dx-item-content.dx-tab-content {
      .dx-tab-text {
        .dx-icon {
          color: var(--Controls-Content-In-Controls-Main-Default);
        }
        .dx-tab-text-span {
          width: max-content;
          visibility: visible;
          color: var(--Controls-Content-In-Controls-Main-Default);
        }
      }
    }
    &:not(.dx-tab-selected) {
      .dx-tab-text-span {
        font-weight: var(--me-regular-font-weight);
      }
    }
  }

  &.dx-tabs-styling-mode-secondary {
    &.dx-tabpanel-tabs-position-bottom .dx-tab.dx-tab-selected::after {
      top: -2px;
      width: 100%;
      height: 2px;
    }
    &.dx-tabpanel-tabs-position-top .dx-tab.dx-tab-selected::after {
      bottom: -2px;
      height: 2px;
      width: 100%;
    }
    &.dx-tabpanel-tabs-position-left .dx-tab.dx-tab-selected::after {
      right: -2px;
      width: 2px;
      height: 100%;
      top: 0;
    }
    &.dx-tabpanel-tabs-position-right .dx-tab.dx-tab-selected::after {
      left: -2px;
      width: 2px;
      height: 100%;
      top: 0;
    }
  }
  &.dx-tabs-styling-mode-secondary .dx-tab {
    &::after {
      position: absolute;
      content: '';
      background-color: transparent;
    }
    &.dx-tab-selected {
      background-color: var(--Background-Content);
      border-color: var(--Dividers-Borders-Long);
      &::after {
        background-color: var(--Background-Content);
      }
    }
    border-color: transparent;
    border-width: 1px;
    border-style: solid;
  }
}
