@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../tabs/sizes" as *;
@use "../tabs/colors" as *;
@use "../../base/tabPanel";

// adduse

$generic-tabpanel-inset-shadow-left: inset 0 0;
$generic-tabpanel-inset-shadow-top: inset 0 0;
$generic-tabpanel-inset-shadow-right: inset 0 0;
$generic-tabpanel-inset-shadow-bottom: inset 0 0;

@mixin tabpanel-shadow-mixin($accent-color) {
  & > .dx-tabpanel-tabs {
    .dx-tabs {
      box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
        $generic-tabpanel-inset-shadow-top, $generic-tabpanel-inset-shadow-right,
        $generic-tabpanel-inset-shadow-left;
    }

    .dx-tab {
      // box-shadow: $generic-tabpanel-inset-shadow-top,
      //   $generic-tabpanel-inset-shadow-bottom $accent-color;
      border-bottom: 1px solid transparent;

      &.dx-tab-selected {
        // box-shadow: $generic-tabpanel-inset-shadow-top $accent-color,
        //   $generic-tabpanel-inset-shadow-right $accent-color,
        //   $generic-tabpanel-inset-shadow-left $accent-color;
        border-top: 1px solid $accent-color;
        border-left: 1px solid $accent-color;
        border-right: 1px solid $accent-color;
      }

      &.dx-tab-selected,
      &.dx-tab-active {
        .dx-tab-content {
          color: $tabs-tab-selected-color;
        }
      }
    }

    .dx-tabs-expanded {
      .dx-tab:not(.dx-tab-selected) {
        &:first-of-type {
          box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
            $generic-tabpanel-inset-shadow-left,
            $generic-tabpanel-inset-shadow-top;

          @at-root #{selector-append(".dx-rtl", &)},
            .dx-rtl & {
            box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
              $generic-tabpanel-inset-shadow-right,
              $generic-tabpanel-inset-shadow-top;
          }
        }
      }
    }

    .dx-tabs-stretched {
      .dx-tab:not(.dx-tab-selected) {
        &:last-of-type {
          box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
            $generic-tabpanel-inset-shadow-right,
            $generic-tabpanel-inset-shadow-top;

          @at-root #{selector-append(".dx-rtl", &)},
            .dx-rtl & {
            box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
              $generic-tabpanel-inset-shadow-left,
              $generic-tabpanel-inset-shadow-top;
          }
        }
      }
    }

    .dx-tabs-nav-button-left {
      box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
        $generic-tabpanel-inset-shadow-left, $generic-tabpanel-inset-shadow-top;
    }

    .dx-tabs-nav-button-right {
      box-shadow: $generic-tabpanel-inset-shadow-bottom $accent-color,
        $generic-tabpanel-inset-shadow-top, $generic-tabpanel-inset-shadow-right;
    }
  }

  .dx-multiview-wrapper {
    border-color: $accent-color;
    box-shadow: 0px -1px $accent-color;
  }
}

.dx-tabpanel {
  > .dx-tabpanel-tabs {
    .dx-tabs {
      display: block;
      border: none;
      // background-color: $tabs-tab-bg;
      color: $tabs-border-color;

      .dx-tab {
        color: $tabs-border-color;

        .dx-tab-content {
          color: $tabs-tab-color;
        }

        &.dx-state-disabled {
          // border-bottom: 1px solid $tabpanel-tabs-disabled-color;

          & .dx-tab-content {
            color: $tabpanel-tabs-disabled-color;
          }
        }

        &::after,
        &::before {
          content: none;
        }
      }

      .dx-tabs-nav-button {
        color: $tabs-border-color;
      }
    }

    .dx-tab {
      width: 140px;
    }

    .dx-tabs-scrollable {
      margin-top: 0;
      margin-bottom: 0;
      height: 100%;

      .dx-tabs-wrapper {
        display: table;
        border: none;
      }
    }
  }

  &:not(.dx-empty-collection) {
    .dx-multiview-wrapper {
      border-top: none;
      box-shadow: 0px -1px $tabs-border-color;
      background: $multiview-wrapper-bg;
    }
  }

  @include tabpanel-shadow-mixin($tabs-border-color);

  &.dx-state-focused {
    @include tabpanel-shadow-mixin($tabs-focused-border-color);

    // &.dx-tab {
    //   background: black;
    // }
  }

  .dx-multiview-wrapper {
    border: $generic-tabs-border;
  }
}

// .dx-tabpanel {
//   & .dx-state-disabled.dx-tab .dx-tab-content {
//     color: #18181a66;
//   }
// }

.dx-tab.dx-state-focused {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #7eb9ff;
  z-index: 1;
}
