@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

/**
* $name 80. Search icon color
* $type color
*/
$textbox-search-icon-color: null !default;

@if $color == 'light' {
  $textbox-search-icon-color: #18181a66;
}

@if $color == 'dark' {
  $textbox-search-icon-color: #ffffff4d;
}
