@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Tag text color
* $type color
*/
$tagbox-tag-color: null !default;

/**
* $name 20. Tag background color
* $type color
*/
$tagbox-tag-bg: null !default;
$tagbox-tag-border-radius: $base-border-radius - 2px !default;

/**
* $name 30. Tag close button color
* $type color
*/
$tagbox-tag-button-remove-bg: null !default;
$tagbox-tag-button-remove-active-bg: null !default;
$tagbox-tag-focused-bg: null !default;
$tagbox-tag-focused-color: null !default;
$tagbox-tag-focused-button-remove-bg: null !default;
$tagbox-select-all-border-color: $base-border-color !default;

@if $color == "light" {
  $tagbox-tag-color: #18181a;
  $tagbox-tag-button-remove-bg: #18181a;

  $tagbox-tag-bg: #ffffff;
  $tagbox-tag-button-remove-active-bg: lighten(
    $tagbox-tag-button-remove-bg,
    20%
  ) !default;
  $tagbox-tag-focused-bg: darken($tagbox-tag-bg, 7%) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}

@if $color == "dark" {
  $tagbox-tag-color: #ffffff;
  $tagbox-tag-button-remove-bg: #ffffff;

  $tagbox-tag-bg: #282829;
  $tagbox-tag-button-remove-active-bg: darken(
    $tagbox-tag-button-remove-bg,
    20%
  ) !default;
  $tagbox-tag-focused-bg: darken($tagbox-tag-bg, 7.3%) !default;
  $tagbox-tag-focused-color: $tagbox-tag-color !default;
  $tagbox-tag-focused-button-remove-bg: $tagbox-tag-button-remove-bg !default;
}
