@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../textEditor' as *;
@use '../common/sizes' as *;
@use '../../base/tagBox';

// adduse

.dx-tagbox:not(.dx-texteditor-empty) {
  .dx-texteditor-input {
    @include dx-icon(search);
    @include dx-texteditor-icon();
    padding-left: 0;
    margin-left: $generic-tagbox-input-margin-left;
    width: auto;

    @at-root #{selector-append(".dx-rtl", &)},
      .dx-rtl & {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.me-tag-box.me-keyboard-focused {
  &.dx-state-focused {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }
}

.dx-tagbox-single-line {
  .dx-tag-container {
    padding-right: 0;
  }
}

.dx-tagbox:not(.dx-tagbox-single-line) {
  .dx-texteditor-input {
    height: auto;
  }
}

.dx-tag-content {
  min-width: 40px;
  background-color: $tagbox-tag-bg;
  border-radius: $tagbox-tag-border-radius;
  color: $tagbox-tag-color;
  font-weight: var(--me-medium-font-weight);
}

.dx-tag-remove-button {
  width: var(--dx-tag-remove-button-size);
  height: var(--dx-tag-remove-button-size);
  margin-left: 4px;

  &::before,
  &::after {
    inset-inline-end: 4px + $generic-tagbox-remove-button-right;
    margin-top: -5px;
    width: 3px;
    height: 11px;
    background: $tagbox-tag-button-remove-bg;
  }

  &::after {
    inset-inline-end: $generic-tagbox-remove-button-right;
    margin-top: -1px;
    width: 11px;
    height: 3px;
  }

  &:active {
    &::before,
    &::after {
      background: $tagbox-tag-button-remove-active-bg;
    }
  }
}

.dx-tag.dx-state-focused {
  .dx-tag-content {
    background-color: $tagbox-tag-focused-bg;
    color: $tagbox-tag-focused-color;
  }

  .dx-tag-remove-button {
    &::before,
    &::after {
      background-color: $tagbox-tag-focused-button-remove-bg;
    }

    &:active {
      &::before,
      &::after {
        background: $tagbox-tag-button-remove-active-bg;
      }
    }
  }
}

@mixin tagbox-badge-offset() {
  right: $generic-invalid-badge-horizontal-padding;

  @at-root #{selector-append(".dx-rtl", &)},
    .dx-rtl & {
    left: $generic-invalid-badge-horizontal-padding;
  }
}

.dx-tagbox.dx-invalid,
.dx-tagbox.dx-valid {
  .dx-texteditor-container {
    &::after {
      @include tagbox-badge-offset();
    }
  }
}

.dx-tagbox.dx-validation-pending {
  .dx-texteditor-container {
    .dx-pending-indicator {
      @include tagbox-badge-offset();
    }
  }
}

.dx-tagbox-popup-wrapper {
  .dx-list-select-all {
    border-bottom: 1px solid $tagbox-select-all-border-color;
    padding-bottom: $generic-tagbox-select-all-padding-bottom;
    margin-bottom: $generic-tagbox-select-all-margin-bottom;
    cursor: pointer;
  }
}

.dx-rtl {
  .dx-tag-content {
    padding-right: $generic-tagbox-tag-content-padding-left;
    padding-left: $generic-tagbox-tag-content-padding-right;
  }

  .dx-tag-remove-button {
    &::before {
      right: auto;
      left: 4px + $generic-tagbox-remove-button-right;
    }

    &::after {
      right: auto;
      left: $generic-tagbox-remove-button-right;
    }
  }
}

.me-tag-box.me-inputs.dx-widget.dx-texteditor {
  &.dx-tagbox:not(.dx-texteditor-empty) {
    .dx-clear-button-area {
      display: flex;
    }
    .dx-texteditor-input {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  ////////////////////////////////////////////////////////////////////////
  .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
    &:has(.dx-tag) {
      min-height: var(--input-height);
      height: auto;

      .dx-texteditor-container {
        height: 100%;
      }
    }

    .dx-texteditor-container {
      padding: 0;
      height: auto;

      .dx-texteditor-input-container.dx-tag-container > input:first-child {
        min-width: 100px;
        max-width: 200px;
      }


      .dx-texteditor-input-container.dx-tag-container .dx-placeholder {
        left: var(--padding-inline);
      }

      .dx-texteditor-input-container.dx-tag-container {
        padding-inline: var(--padding-inline);
        align-content: center;
        gap: 4px;

        .dx-texteditor-input {
          min-height: 0;
          margin: 0;
          font-family: 'RobotoFallback', 'Roboto', sans-serif;
          font-size: var(--input-font-size);
          line-height: var(--input-line-height);
        }

        .dx-tag {
          .dx-tag-content {
            display: flex;
            align-items: center;
            align-content: center;

            .dx-tag-remove-button {
              display: flex;
              justify-content: center;

              font-family: var(--me-icon-family);
              font-size: 16px;

              &::before {
                content: var(--me-icon-close);
                position: relative;
                width: inherit;
                height: inherit;
                inset-inline-end: 0px !important;
                margin-top: 0px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0px !important;
                top: 0%;
                background: none;
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -ms-transform: rotate(0deg);
                -o-transform: rotate(0deg);
              }

              &::after {
                content: none;
              }
            }
          }
        }
      }

      .dx-texteditor-buttons-container {
        align-self: center;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
      }
    }
  }

  //readOnly
  &.dx-state-readonly {
    .dx-tag-content {
      color: $tagbox-readonly-background;

      .dx-tag-remove-button::before,
      .dx-tag-remove-button::after {
        background: $tagbox-readonly-background;
      }
    }
  }

  //disabled
  &.dx-state-disabled {
    .dx-tag-content {
      color: $tagbox-readonly-background;

      .dx-tag-remove-button::before,
      .dx-tag-remove-button::after {
        background: $tagbox-readonly-background;
      }
    }
  }

  &:has(:not(.dx-tag)) {

    &.dx-texteditor-label-outside,
    &:not(.dx-texteditor-with-label) {
      .dx-texteditor-container .dx-texteditor-input-container.dx-tag-container {
        height: 100% !important;
        min-height: var(--search-box-min-height);
      }
    }
  }

  &:has(.dx-tag) {
    .dx-texteditor-input-container.dx-tag-container {
      padding-bottom: 8px !important;
      height: auto;

      .dx-texteditor-input {
        top: 0;
        height: 100%;
      }
    }

    &:not(.dx-texteditor-with-label, .dx-texteditor-with-floating-label) {
      .dx-texteditor-input-container.dx-tag-container {
        padding-block: var(--padding-block) !important;
        height: 100%;
      }
    }

    &.dx-texteditor-label-outside {
      .dx-texteditor-input-container.dx-tag-container {
        padding-block: var(--padding-block) !important;
        height: auto;
      }
    }
  }

  //small
  &.me-tag-box-small {
    --search-box-min-height: 28px;

    &:has(.dx-tag) {
      .dx-texteditor-input-container.dx-tag-container {
        --input-top-offset: 20px;
      }

      &:not(.dx-texteditor-with-label, .dx-texteditor-with-floating-label) {
        .dx-texteditor-input-container.dx-tag-container {
          --padding-block: 3px;
          --padding-inline: 3px;
        }
      }

      &.dx-texteditor-label-outside {
        .dx-texteditor-input-container.dx-tag-container {
          --padding-block: 3px;
          --padding-inline: 3px;
        }
      }
    }

    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          .dx-tag {
            .dx-tag-content {
              padding: 8px 4px;
              height: 22px;
              margin: 0;
              font-size: 13px;
              line-height: 16px;

              .dx-tag-remove-button {
                --dx-tag-remove-button-size: 20px;
              }
            }
          }
        }

        .dx-texteditor-buttons-container {
          right: 4px;
        }
      }
    }

    &.dx-texteditor-with-label:not(
        .dx-texteditor-with-floating-label,
        .dx-texteditor-label-outside
      ) {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          min-height: auto;
        }
      }

      &:has(.dx-tag) {
        .dx-texteditor-label {
          height: 36px;
        }
      }
    }

    &:not(.dx-texteditor-with-floating-label, .dx-texteditor-label-outside) {
      &.dx-state-readonly {
        .dx-texteditor-container .dx-texteditor-buttons-container::before {
          width: 20px;
          height: 20px;
        }
      }
    }

    .dx-overlay-wrapper.dx-invalid-message {
      .dx-invalid-message-content {
        padding: 2px 8px;
      }
    }
  }

  //medium
  &.me-tag-box-medium {
    --search-box-min-height: 32px;

    &:has(.dx-tag) {
      .dx-texteditor-input-container.dx-tag-container {
        --input-top-offset: 20px;
      }

      &:not(.dx-texteditor-with-label, .dx-texteditor-with-floating-label) {
        .dx-texteditor-input-container.dx-tag-container {
          --padding-block: 4px;
          --padding-inline: 4px;
        }
      }

      &.dx-texteditor-label-outside {
        .dx-texteditor-input-container.dx-tag-container {
          --padding-block: 4px;
          --padding-inline: 4px;
        }
      }
    }

    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          .dx-tag {
            .dx-tag-content {
              padding: 8px 4px;
              height: 24px;
              margin: 0;
              font-size: 14px;
              line-height: 20px;

              .dx-tag-remove-button {
                --dx-tag-remove-button-size: 20px;
              }
            }
          }
        }

        .dx-texteditor-buttons-container {
          right: 4px;
        }
      }
    }

    &.dx-texteditor-with-label:not(
        .dx-texteditor-with-floating-label,
        .dx-texteditor-label-outside
      ) {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          min-height: auto;
        }
      }

      &:has(.dx-tag) {
        .dx-texteditor-label {
          height: 40px;
        }
      }
    }

    &:not(.dx-texteditor-with-floating-label, .dx-texteditor-label-outside) {
      &.dx-state-readonly {
        .dx-texteditor-container .dx-texteditor-buttons-container::before {
          width: 20px;
          height: 20px;
        }
      }
    }

    .dx-overlay-wrapper.dx-invalid-message {
      .dx-invalid-message-content {
        padding: 4px 8px;
      }
    }
  }

  //large
  &.me-tag-box-large {
    --search-box-min-height: 40px;

    &:has(.dx-tag) {
      .dx-texteditor-input-container.dx-tag-container {
        --input-top-offset: 23px;
      }

      &:not(.dx-texteditor-with-label, .dx-texteditor-with-floating-label) {
        .dx-texteditor-input-container.dx-tag-container {
          --padding-block: 4px;
          --padding-inline: 4px;
        }
      }

      &.dx-texteditor-label-outside {
        .dx-texteditor-input-container.dx-tag-container {
          --padding-block: 4px;
          --padding-inline: 4px;
        }
      }
    }

    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          .dx-tag {
            .dx-tag-content {
              padding: 8px 8px;
              height: 32px;
              margin: 0;
              font-size: 16px;
              line-height: 20px;

              .dx-tag-remove-button {
                --dx-tag-remove-button-size: 24px;
              }
            }
          }
        }

        .dx-texteditor-buttons-container {
          right: 8px;
        }
      }
    }

    &.dx-texteditor-with-label:not(
        .dx-texteditor-with-floating-label,
        .dx-texteditor-label-outside
      ) {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          min-height: auto;
        }
      }

      &:has(.dx-tag) {
        .dx-texteditor-label {
          height: 48px;
        }
      }
    }

    &:not(.dx-texteditor-with-floating-label, .dx-texteditor-label-outside) {
      &.dx-state-readonly {
        .dx-texteditor-container .dx-texteditor-buttons-container::before {
          width: 24px;
          height: 24px;
        }
      }
    }

    .dx-overlay-wrapper.dx-invalid-message {
      .dx-invalid-message-content {
        padding: 4px 12px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
      }
    }
  }
}

.me-tag-box {
  &.me-dropdownlist-large {
    .dx-overlay-content .dx-popup-content {
      border-radius: 4px;
    }
  }

  .dx-tag.dx-state-focused .dx-tag-content {
    background-color: var(--Background-Accent-in-the-content);
    box-shadow: inset 0 0 0 2px var(--Dividers-Borders-Focus);
  }

  //error
  .dx-overlay-wrapper.dx-invalid-message {
    .dx-invalid-message-content {
      margin-top: 1px;
      background-color: var(--Background-Error);
      color: var(--Text-Error);
      font-size: 12px;
      line-height: 16px;
      font-weight: var(--me-regular-font-weight);
      border-radius: 3px;
    }
  }
}

.me-tag-box.dx-overlay-wrapper.me-dropdownlist {
  .dx-overlay-content .dx-popup-content {
    border: 1px solid var(--Dividers-Borders-Long);
  }

  .dx-overlay-content.dx-popup-normal:has(
      .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done
    )
    .dx-popup-content {
    padding: 4px 0;
  }

  .dx-list {
    .dx-list-items {
      gap: 4px;
      display: flex;
      flex-direction: column;
    }

    &.dx-list-select-decorator-enabled {
      .dx-checkbox {
        margin-top: 0;
        margin-bottom: 0;
      }

      .dx-list-select-all {
        display: flex;
        align-items: center;
        padding-bottom: 0px;
        padding-top: 0px;

        .dx-list-select-all-label {
          margin-top: 0;
          padding: 0;
        }

        &:hover {
          // background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
        }
      }
    }
  }

  .dx-checkbox-container {
    width: auto;
  }

  &.me-dropdownlist-small,
  &.me-dropdownlist-medium {
    .dx-list {
      &.dx-list-select-decorator-enabled {
        .dx-checkbox {
          .dx-checkbox-icon {
            height: 18px;
            width: 18px;
          }
        }
      }
    }

    .dx-list-select-all {
      height: 28px;

      .dx-list-select-all-checkbox {
        margin-right: 0px;
        width: 26px;
      }
    }
  }

  &.me-dropdownlist-large .dx-list {
    .dx-list-item-content,
    .dx-list-select-all-label {
      padding: 10px 20px 10px 10px;
      font-size: 16px;
      line-height: 20px;
    }

    &.dx-list-select-decorator-enabled {
      .dx-checkbox {
        margin-top: -3px;

        &.dx-list-select-all-checkbox {
          margin-top: -1px;
        }
      }
    }

    .dx-list-select-all {
      height: 40px;

      .dx-list-select-all-checkbox {
        margin-right: 1px;
        width: 31px;
      }
    }
  }

  .dx-overlay-content {
    .dx-popup-content {
      .dx-scrollview-content {
        .dx-list-select-all {
          margin: 0;
          margin-bottom: 4px;
          border: none;
        }
        .dx-item.dx-list-item:has(.dx-list-select-checkbox-container) {
          display: flex;
          align-items: center;
          .dx-list-select-checkbox-container {
            display: flex;
            width: auto;
          }
        }
      }
    }

    &:has(.dx-toolbar.dx-popup-bottom) {
      .dx-popup-content {
        margin: 4px 0 0 0;
        border-radius: 3px 3px 0 0;
        clip-path: inset(-10px -10px 0px -10px);
      }

      .dx-toolbar.dx-popup-bottom {
        padding: 12px 8px;
        margin-top: -1px;
        clip-path: inset(0px -10px -10px -10px);
        box-shadow: 0px 2px 6px 0px #00000024;
        border-radius: 0 0 3px 3px;

        .dx-toolbar-items-container {
          .dx-toolbar-center {
            .dx-item {
              padding-right: 12px;
            }
          }
        }
      }
    }

    //заголовки групп
  }

  //заголовки групп
  .dx-list-group {
    .dx-list-group-header {
      padding: 4px 8px;
      border-bottom: none;

      &,
      & * {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &.me-dropdownlist-large {
    .dx-list-group {
      .dx-list-group-header {
        padding: 8px 12px;

        &,
        & * {
          font-size: 16px;
        }
      }
    }
  }
}

.me-tag-box.me-inputs.dx-texteditor.dx-widget.dx-state-readonly:not(.dx-texteditor-empty) {
  &.me-tag-box-small {
    .dx-texteditor-container .dx-texteditor-buttons-container::before {
      height: 22px;
    }
  }

  &.me-tag-box-medium {
    .dx-texteditor-container .dx-texteditor-buttons-container::before {
      height: 24px;
    }
  }

  &.me-tag-box-large {
    .dx-texteditor-container .dx-texteditor-buttons-container::before {
      height: 32px;
    }
  }
}
