@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../textEditor' as *;
@use '../common/sizes' as *;
@use '../../base/tagBox';

// adduse

.dx-tagbox:not(.dx-texteditor-empty) {
  .dx-texteditor-input {
    padding-left: 0;
    margin-left: $generic-tagbox-input-margin-left;

    @at-root #{selector-append(".dx-rtl", &)},
      .dx-rtl & {
      padding-right: 0;
      padding-left: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }
}

.dx-tagbox-single-line {
  .dx-tag-container {
    padding-right: 0;
  }
}

.dx-tagbox:not(.dx-tagbox-single-line) {
  .dx-texteditor-input {
    height: auto;
  }
}

.dx-tag-container.dx-texteditor-input-container {
  padding-bottom: $generic-tagbox-tag-container-padding-bottom;

  .dx-texteditor-input {
    padding-bottom: $generic-base-inline-borderedwidget-bottom-padding -
      $generic-tagbox-tag-container-padding-bottom;
    min-height: $generic-texteditor-input-height - $generic-tagbox-tag-container-padding-bottom;
  }
}

.dx-texteditor-with-label,
.dx-texteditor-with-floating-label {
  &.dx-editor-outlined {
    .dx-tag-container.dx-texteditor-input-container {
      padding-top: $generic-tagbox-outlined-with-label-top-padding;
    }
  }

  &.dx-editor-filled {
    .dx-tag-container.dx-texteditor-input-container {
      padding-top: $generic-tagbox-filled--with-label-top-padding;
      padding-bottom: $generic-tagbox-filled--with-label-bottom-padding;
    }
  }

  &.dx-editor-underlined {
    .dx-tag-container.dx-texteditor-input-container {
      padding-top: $generic-tagbox-filled--with-label-top-padding;
      padding-bottom: $generic-tagbox-filled--with-label-bottom-padding;
    }
  }
}

.dx-tag-content {
  margin: $generic-tagbox-tag-content-margin;
  padding: $generic-tagbox-tag-content-padding;
  min-width: 40px;
  background-color: $tagbox-tag-bg;
  border-radius: $tagbox-tag-border-radius;
  color: $tagbox-tag-color;
}

.dx-tag-remove-button {
  width: $generic-tagbox-remove-button-width;
  height: 100%;

  &::before,
  &::after {
    inset-inline-end: 4px + $generic-tagbox-remove-button-right;
    margin-top: -5px;
    width: 3px;
    height: 11px;
    background: $tagbox-tag-button-remove-bg;
  }

  &::after {
    inset-inline-end: $generic-tagbox-remove-button-right;
    margin-top: -1px;
    width: 11px;
    height: 3px;
  }

  &:active {
    &::before,
    &::after {
      background: $tagbox-tag-button-remove-active-bg;
    }
  }
}

.dx-tag.dx-state-focused {
  .dx-tag-content {
    background-color: $tagbox-tag-focused-bg;
    color: $tagbox-tag-focused-color;
  }

  .dx-tag-remove-button {
    &::before,
    &::after {
      background-color: $tagbox-tag-focused-button-remove-bg;
    }

    &:active {
      &::before,
      &::after {
        background: $tagbox-tag-button-remove-active-bg;
      }
    }
  }
}

@mixin tagbox-badge-offset() {
  right: $generic-invalid-badge-horizontal-padding;

  @at-root #{selector-append(".dx-rtl", &)},
    .dx-rtl & {
    left: $generic-invalid-badge-horizontal-padding;
  }
}

.dx-tagbox.dx-invalid,
.dx-tagbox.dx-valid {
  .dx-texteditor-container {
    &::after {
      @include tagbox-badge-offset();
    }
  }
}

.dx-tagbox.dx-validation-pending {
  .dx-texteditor-container {
    .dx-pending-indicator {
      @include tagbox-badge-offset();
    }
  }
}

.dx-tagbox-popup-wrapper {
  .dx-list-select-all {
    border-bottom: 1px solid $tagbox-select-all-border-color;
    padding-bottom: $generic-tagbox-select-all-padding-bottom;
    margin-bottom: $generic-tagbox-select-all-margin-bottom;
  }
}

.dx-rtl {
  .dx-tag-content {
    padding-right: $generic-tagbox-tag-content-padding-left;
    padding-left: $generic-tagbox-tag-content-padding-right;
  }

  .dx-tag-remove-button {
    &::before {
      right: auto;
      left: 4px + $generic-tagbox-remove-button-right;
    }

    &::after {
      right: auto;
      left: $generic-tagbox-remove-button-right;
    }
  }
}

// .dx-overlay-content.dx-popup-normal.dx-resizable {
//   top: 4px;
// }

.me-tag-box {
  .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
    .dx-texteditor-container {
      .dx-texteditor-input-container.dx-tag-container > input:first-child {
        min-width: 100px;
        max-width: 200px;
      }
      .dx-texteditor-input-container.dx-tag-container {
        .dx-placeholder {
          left: 6px;
        }
        .dx-placeholder::before {
          padding: 0;
        }
        .dx-texteditor-input {
          min-height: 0;
          padding: 0 6px;
        }
        .dx-tag {
          .dx-tag-content {
            padding-right: 28px;
            align-content: center;
          }
        }
      }
    }
  }
  //focused
  &.dx-state-focused {
    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          .dx-placeholder::before {
            color: $tagbox-tag-color;
          }
        }
      }
    }
  }
  //readOnly
  &.dx-state-readonly {
    .dx-tag-content {
      color: $tagbox-readonly-background;
      .dx-tag-remove-button::before,
      .dx-tag-remove-button::after {
        background: $tagbox-readonly-background;
      }
    }
  }
  //disabled
  &.dx-state-disabled {
    .dx-tag-content {
      color: $tagbox-readonly-background;
      .dx-tag-remove-button::before,
      .dx-tag-remove-button::after {
        background: $tagbox-readonly-background;
      }
    }
  }

  //
  &.dx-overlay-content.dx-popup-normal.dx-resizable {
    border: 1px solid $tagbox-select-list-border-color;
    border-top-width: 1px;
    border-radius: 3px;
    box-shadow: 0px 2px 6px $tagbox-select-list-shadow-color;

    .dx-popup-content {
      padding: 0px;
    }
  }

  //small
  &.me-tag-box-small {
    &.dx-texteditor-empty {
      height: 28px;
    }
    padding: 0 2px 0 2px;
    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          padding-bottom: 2px;
          padding-right: 2px;
          .dx-placeholder {
            font-size: 13px;
            line-height: 16px;
            font-weight: 400;
          }
          .dx-tag {
            .dx-tag-content {
              height: 22px;
              margin: 2px 4px 0 0;
              font-size: 13px;
              line-height: 16px;
              font-weight: 400;
              .dx-tag-remove-button::before {
                width: 1px;
                height: 11px;
                inset-inline-end: 9px;
                margin-top: -5px;
              }
              .dx-tag-remove-button::after {
                width: 11px;
                height: 1px;
                inset-inline-end: 4px;
                margin-top: 0px;
              }
            }
            .dx-texteditor-input {
              padding: 2px;
              margin: 2px 4px 0 0;
            }
          }
        }
      }
    }
  }

  //medium
  &.me-tag-box-medium {
    &.dx-texteditor-empty {
      height: 32px;
    }
    padding: 0 3px 0 3px;
    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          padding-bottom: 3px;
          padding-right: 3px;
          .dx-placeholder {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
          }
          .dx-tag {
            .dx-tag-content {
              height: 24px;
              margin: 3px 4px 0 0;
              font-size: 14px;
              line-height: 20px;
              font-weight: 400;
              .dx-tag-remove-button::before {
                width: 1px;
                height: 11px;
                inset-inline-end: 9px;
                margin-top: -4px;
              }
              .dx-tag-remove-button::after {
                width: 11px;
                height: 1px;
                inset-inline-end: 4px;
                margin-top: 1px;
              }
            }
          }
        }
      }
    }
  }

  //large
  &.me-tag-box-large {
    &.dx-texteditor-empty {
      height: 40px;
    }
    padding: 0 3px 0 3px;
    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      .dx-texteditor-container {
        .dx-texteditor-input-container.dx-tag-container {
          padding-bottom: 3px;
          padding-right: 3px;
          .dx-placeholder {
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
          }
          .dx-tag {
            .dx-tag-content {
              height: 32px;
              margin: 3px 4px 0 0;
              font-size: 16px;
              line-height: 20px;
              font-weight: 400;

              .dx-tag-remove-button::before {
                width: 2px;
                height: 14px;
                inset-inline-end: 11px;
                margin-top: -7px;
              }
              .dx-tag-remove-button::after {
                width: 14px;
                height: 2px;
                inset-inline-end: 5px;
                margin-top: -1px;
              }
            }
            .dx-texteditor-input {
              padding: 2px;
              margin: 2px 4px 0 0;
            }
          }
        }
      }
    }
  }
}
