<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Tree View</h1>
  <h2 class="wrapper__subtitle dx-widget">Size = large</h2>
  <h3 class="wrapper__title dx-widget">Check box + Icon + Label</h3>
  <dx-tree-view
    meTreeView
    [activeStateEnabled]="true"
    [selectByClick]="true"
    selectionMode="single"
    [dataSource]="dataSource"
    keyExpr="id"
    displayExpr="name"
    selectionMode="single"
    [selectByClick]="true"
    showCheckBoxesMode="normal"
  ></dx-tree-view>
  <h3 class="wrapper__title dx-widget">Icon + Label</h3>
  <dx-tree-view meTreeView [dataSource]="dataSource" keyExpr="id" displayExpr="name" [selectByClick]="true" selectionMode="single"></dx-tree-view>
  <h2 class="wrapper__subtitle dx-widget">Size = small</h2>
  <h3 class="wrapper__title dx-widget">Check box + Icon + Label</h3>
  <dx-tree-view
    meTreeView
    size="small"
    [dataSource]="dataSourceSmall"
    keyExpr="id"
    displayExpr="name"
    selectionMode="single"
    [selectByClick]="true"
    showCheckBoxesMode="normal"
  ></dx-tree-view>
  <h3 class="wrapper__title dx-widget">Icon + Label</h3>
  <dx-tree-view meTreeView size="small" [dataSource]="dataSourceSmall" keyExpr="id" displayExpr="name" [selectByClick]="true" selectionMode="single"></dx-tree-view>
</div>
