@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

$data-grid-selection-color: null !default;
$data-grid-page-selector-color: null !default;
$data-grid-chips-background-color: null !default;
$data-grid-chips-background-color-hover: null !default;
$data-grid-chips-background-color-active: null !default;
$data-grid-search-panel-background-color: null !default;
$data-grid-search-panel-background-color-hover: null !default;
$data-grid-search-panel-background-color-focus: null !default;
$data-grid-search-panel-border-color-focus: null !default;
$data-grid-header-background-color: null !default;
$data-grid-header-background-color-hover: null !default;
$data-grid-header-background-color-active: null !default;

@if $color == 'light' {
  $data-grid-selection-color: #c4d8ff !default;
  $data-grid-page-selector-color: #ecedf3 !default;
  $data-grid-chips-background-color: #ecedf3 !default;
  $data-grid-chips-background-color-hover: #d8daea !default;
  $data-grid-chips-background-color-active: #bfc1d0 !default;
  $data-grid-search-panel-background-color: #ecedf3 !default;
  $data-grid-search-panel-background-color-hover: #d8daea !default;
  $data-grid-search-panel-background-color-focus: #3257dc1f !default;
  $data-grid-search-panel-border-color-focus: #3257dc !default;
  $data-grid-header-background-color: #ecedf4 !default;
  $data-grid-header-background-color-hover: #d8daea !default;
  $data-grid-header-background-color-active: #bfc1d0 !default;
}

@if $color == 'dark' {
  $data-grid-selection-color: #2c4483 !default;
  $data-grid-page-selector-color: #ffffff !default;
  $data-grid-chips-background-color: #43444c !default;
  $data-grid-chips-background-color-hover: #565665 !default;
  $data-grid-chips-background-color-active: #28292f !default;
  $data-grid-search-panel-background-color: #43444c !default;
  $data-grid-search-panel-background-color-hover: #565665 !default;
  $data-grid-search-panel-background-color-focus: #3565e21f !default;
  $data-grid-search-panel-border-color-focus: #5d9eff !default;
  $data-grid-header-background-color: #43444c !default;
  $data-grid-header-background-color-hover: #565665 !default;
  $data-grid-header-background-color-active: #28292f !default;
}
