@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../gridBase' as *;
@use '../gridBase/colors' as *;
@use '../gridBase/sizes' as *;
@use '../../base/dataGrid' as baseGrid with (
  $datagrid-border: $datagrid-border,
  $datagrid-border-color: $datagrid-border-color,
  $datagrid-drag-header-border-color: $datagrid-drag-header-border-color,
  $datagrid-row-error-bg: $datagrid-row-error-bg,
  $datagrid-row-error-color: $datagrid-row-error-color,
  $datagrid-base-color: $datagrid-base-color,
  $datagrid-base-background-color: $datagrid-base-background-color,
  $datagrid-focused-border-color: $datagrid-focused-border-color,
  $header-filter-color: $header-filter-color,
  $header-filter-color-empty: $header-filter-color-empty,
  $base-focus-color: $base-focus-color,
  $datagrid-text-stub-background-image-path: $datagrid-text-stub-background-image-path
);

// adduse

@include grid-base(datagrid);

.dx-datagrid-group-panel {
  font-size: $generic-base-font-size;
  touch-action: pinch-zoom;

  .dx-group-panel-message {
    color: $datagrid-columnchooser-item-color;
    font-weight: $datagrid-columnchooser-font-weight;
    padding: $generic-datagrid-cell-padding;
    border-top: $generic-grid-base-border-hidden;
    border-bottom: $generic-grid-base-border-hidden;
  }

  .dx-group-panel-item {
    margin-right: $generic-grid-base-grouppanel-item-margin;
    color: $datagrid-columnchooser-item-color;
    font-weight: $datagrid-columnchooser-font-weight;
    border: $datagrid-border;
    padding: $generic-datagrid-cell-padding;
  }

  .dx-block-separator {
    margin-right: $generic-grid-base-grouppanel-item-margin;
    color: $datagrid-columnchooser-item-color;
    font-weight: $datagrid-columnchooser-font-weight;
    padding: $generic-datagrid-cell-padding + 1;
    background-color: $datagrid-block-separator-bg;
  }

  .dx-sort {
    color: $datagrid-menu-icon-color;
  }
}

.dx-datagrid-rowsview {
  .dx-row.dx-group-row:first-child {
    border-top: none;
  }

  .dx-row.dx-group-row {
    &:not(.dx-row-focused) {
      color: $datagrid-group-row-color;
      background-color: $datagrid-group-row-bg;
    }

    font-weight: bold;

    td {
      border-top-color: $generic-grid-base-border-color;
      border-bottom-color: $generic-grid-base-border-color;
    }
  }
}

.dx-datagrid-group-opened {
  @include dx-icon(spindown);
  @include dx-icon-sizing($generic-base-icon-size);

  color: $datagrid-spin-icon-color;
}

.dx-datagrid-group-closed {
  @include dx-icon(spinright);
  @include dx-icon-sizing($generic-base-icon-size);

  color: $datagrid-spin-icon-color;
}

.dx-datagrid-group-opened,
.dx-datagrid-group-closed {
  width: 100%;
}

.dx-row.dx-datagrid-group-footer {
  &.dx-column-lines {
    border-bottom: $datagrid-border;
  }

  & > td {
    background-color: $datagrid-summary-bg;
    border-top: $datagrid-border;
    border-left-width: 0;
    border-right-width: 0;
  }
}

.dx-rtl {
  .dx-datagrid-group-panel {
    .dx-group-panel-item,
    .dx-block-separator {
      margin-left: $generic-grid-base-grouppanel-item-margin;
    }
  }
}

.dx-datagrid-filter-panel {
  .dx-icon-filter,
  .dx-datagrid-filter-panel-text,
  .dx-datagrid-filter-panel-clear-filter {
    color: $base-accent;
  }
}

//me-data-grid
.me-data-grid {
  td:not(:last-child) {
    margin-right: 1px;
  }

  .dx-datagrid {
    padding: 16px;
    .dx-datagrid-header-panel {
      min-height: 28px;
      margin: 0 0 16px 0;
      padding: 0;

      .dx-toolbar {
        margin: 0;
        .dx-toolbar-items-container {
          height: 28px;
          .dx-toolbar-before {
            .dx-group-panel-item.dx-datagrid-action {
              margin: 0 10px 0 0;
              .dx-column-indicators {
                vertical-align: middle;
                span {
                  color: $base-icon-color;
                  width: 100%;
                  text-align: center;
                }
              }
            }
            .dx-item-content.dx-toolbar-item-content {
              height: 28px;
              .dx-datagrid-group-panel {
                height: 100%;
                .dx-group-panel-message {
                  padding: 0;
                  height: 100%;
                  align-content: center;
                }
              }
            }
          }
        }
      }
      .dx-block-separator {
        padding: 0;
      }
    }
    .dx-datagrid-nowrap {
      border-bottom: none;
    }
    .dx-datagrid-headers {
      margin: 1px 1px 0 1px;
    }
    .dx-datagrid-rowsview {
      margin: 0 1px 16px 1px;
      &.dx-empty {
        border-bottom: 1px solid $datagrid-border-color;
      }
    }
    .dx-datagrid-pager.dx-pager {
      margin: 0;
      min-height: 28px;
    }
  }
  //pager
  .dx-datagrid-pager.dx-pager {
    background-color: $base-bg;
    border-top: none;
    .dx-page,
    .dx-page-size {
      text-align: center;
      align-content: center;
      border: 0px;
      color: $base-text-color;
      background-color: $data-grid-page-selector-color;

      &.dx-selection {
        background-color: $data-grid-selection-color;
      }
    }

    .dx-page,
    .dx-page-size,
    .dx-navigate-button {
      margin: 2px;
      padding: 0;
    }

    .dx-info {
      color: $base-text-color;
      opacity: 1;
    }
    &.dx-light-mode {
      .dx-page-sizes {
        border-radius: 3px;
        .dx-selectbox.dx-textbox.dx-texteditor.dx-dropdowneditor {
          background-color: $data-grid-search-panel-background-color;
          border: none;
        }
        .dx-texteditor-input {
          padding-block: 0px;
          padding-left: 12px;
        }
      }
      .dx-pages {
        display: flex;
        align-items: center;
        .dx-info {
          height: 100%;
          align-content: center;
        }
        .dx-light-pages {
          & > * {
            padding: 0;
            margin: 2px;
            text-align: center;
          }
          .dx-page-index.dx-texteditor {
            border: none;
            background-color: $data-grid-selection-color;
            .dx-texteditor-input {
              padding: 0;
              text-align: center;
            }
          }
          .dx-pages-count {
            background-color: $data-grid-search-panel-background-color;
            border-radius: 3px;
          }
        }
      }
    }
  }

  .dx-group-panel-item.dx-datagrid-action.dx-datagrid-drag-action {
    border-radius: 3px;
    border: 0;
    color: $base-text-color;
    background-color: $data-grid-chips-background-color;
    font-weight: 500;
    align-content: center;
    padding: 0;
    padding-inline: 16px 12px;

    &:hover {
      background-color: $data-grid-chips-background-color-hover;
    }

    &:active {
      background-color: $data-grid-chips-background-color-active;
    }
  }

  //search
  .dx-datagrid-search-panel {
    border-radius: 3px;
    background-color: $data-grid-search-panel-background-color;

    .dx-icon-search {
      font-family: 'Material Symbols Outlined';
      &::before {
        content: '\e8b6';
      }
    }
    .dx-texteditor-input::placeholder {
      color: transparent;
    }
    .dx-placeholder::before {
      padding-block: 0;
      line-height: normal;
    }
    &:not(.dx-state-focused) {
      border-color: transparent;
    }

    &.dx-state-hover {
      background-color: $data-grid-search-panel-background-color-hover;
    }
    &.dx-state-focused {
      background-color: $data-grid-search-panel-background-color-focus;
      border-color: $data-grid-search-panel-border-color-focus !important;
      .dx-icon.dx-icon-search::before {
        color: $base-text-color;
      }
    }
    &:not(.dx-texteditor-empty) {
      .dx-icon.dx-icon-search::before {
        color: $base-text-color;
      }
    }
    .dx-clear-button-area {
      .dx-icon-clear {
        height: 100%;
        align-content: center;
      }
    }
  }

  //header sell
  .dx-datagrid-headers {
    .dx-datagrid-action.dx-datagrid-drag-action {
      background-color: $data-grid-header-background-color;
      padding: 8px;

      &:hover {
        background-color: $data-grid-header-background-color-hover;
      }
      &:active {
        background-color: $data-grid-header-background-color-active;
        border-color: $data-grid-header-background-color-active;
      }
      .dx-datagrid-text-content {
        font-weight: 600;
        font-size: 13px;
        color: $base-text-color;
      }
    }
    td {
      .dx-column-indicators {
        height: 16px;
      }
    }
  }

  .dx-datagrid-content {
    .dx-row {
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;

      .dx-command-expand {
        padding: 0;
        align-content: center;

        .dx-datagrid-group-closed,
        .dx-datagrid-group-opened {
          color: $base-icon-color;
        }
        .dx-datagrid-group-closed::before {
          content: '\f002';
        }
      }

      & > td {
        padding: 5px 8px;
      }
    }
  }

  .dx-datagrid-borders
    > .dx-datagrid-rowsview.dx-last-row-border
    tbody:last-child
    > .dx-data-row:nth-last-child(2)
    > td {
    border-bottom-width: 1px;
  }

  td {
    text-align: left !important;
    .dx-column-indicators {
      float: right !important;
    }
  }

  .dx-gridbase-a11y-status-container {
    display: none;
  }

  //small
  &.me-data-grid-small {
    .dx-datagrid {
      //header panel
      .dx-datagrid-header-panel {
        min-height: 28px;
        padding: 0;
        .dx-toolbar {
          .dx-toolbar-items-container {
            height: 28px;
            .dx-toolbar-before {
              .dx-group-panel-item.dx-datagrid-action {
                margin: 0 10px 0 0;
                .dx-column-indicators {
                  height: 16px;
                  width: 20px;
                  margin-left: 4px;
                }
              }
              .dx-item-content.dx-toolbar-item-content {
                height: 28px;
                //drag items
                .dx-group-panel-item.dx-datagrid-action.dx-datagrid-drag-action {
                  height: 28px;
                  font-size: 13px;
                }
                .dx-datagrid-group-panel {
                  .dx-group-panel-message {
                    height: 28px;
                    font-size: 13px;
                  }
                }
              }
            }
            .dx-toolbar-after {
              //search
              .dx-datagrid-search-panel {
                height: 28px;
                & > * {
                  font-size: 13px;
                  font-weight: 400;
                }
                .dx-icon {
                  font-size: 18px;
                }
                .dx-placeholder::before,
                .dx-texteditor-input {
                  padding-left: 32px;
                }
              }
            }
          }
        }
      }
      //pager
      .dx-datagrid-pager.dx-pager {
        min-height: 28px;
        padding: 0;
        .dx-separator {
          padding-inline: 8px;
        }
        .dx-page,
        .dx-page-size,
        .dx-navigate-button {
          border-radius: 3px;
          height: 28px;
          min-width: 32px;
          font-size: 13px;
          font-weight: 500;
        }

        .dx-info {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
        }

        &.dx-light-mode {
          .dx-page-sizes {
            .dx-selectbox.dx-textbox.dx-texteditor.dx-dropdowneditor {
              height: 28px;
              min-width: 63px;
              font-size: 13px;
              font-weight: 500;
            }
          }
          .dx-pages {
            .dx-page-indexes {
              min-height: 28px;
              height: 28px;
              & > div {
                height: 28px;
                margin-block: 0;
                .dx-texteditor-container {
                  height: 28px;
                }
              }
              .dx-navigate-button {
                font-size: 13px;
                font-weight: 500;
              }
              .dx-light-pages {
                & > * {
                  min-width: 32px;
                  height: 28px;
                  margin: 2px;
                  font-size: 13px;
                  font-weight: 500;
                }
                .dx-page-index.dx-numberbox.dx-texteditor.dx-widget {
                  min-width: 32px;
                  width: 32px !important;
                }
              }
              .dx-info {
                height: 28px;
              }
            }
          }
        }
      }
    }
  }

  //medium
  &.me-data-grid-medium {
    .dx-datagrid {
      //header panel
      .dx-datagrid-header-panel {
        min-height: 32px;
        padding: 0;
        .dx-toolbar {
          .dx-toolbar-items-container {
            height: 32px;
            .dx-toolbar-before {
              .dx-group-panel-item.dx-datagrid-action {
                margin: 0 10px 0 0;
                .dx-column-indicators {
                  height: 18px;
                  width: 20px;
                  margin-left: 4px;
                  .dx-sort {
                    font-size: 16px;
                  }
                }
              }
              .dx-item-content.dx-toolbar-item-content {
                height: 32px;
                //drag items
                .dx-group-panel-item.dx-datagrid-action.dx-datagrid-drag-action {
                  height: 32px;
                  font-size: 14px;
                }
                .dx-datagrid-group-panel {
                  .dx-group-panel-message {
                    height: 32px;
                    font-size: 14px;
                  }
                }
              }
            }
            .dx-toolbar-after {
              //search
              .dx-datagrid-search-panel {
                height: 32px;
                & > * {
                  font-size: 14px;
                  font-weight: 400;
                }
                .dx-icon {
                  font-size: 18px;
                }
                .dx-placeholder::before,
                .dx-texteditor-input {
                  padding-left: 32px;
                }
              }
            }
          }
        }
      }
      //pager
      .dx-datagrid-pager.dx-pager {
        min-height: 32px;
        padding: 0;
        .dx-separator {
          padding-inline: 9px;
        }
        .dx-page,
        .dx-page-size,
        .dx-navigate-button {
          border-radius: 3px;
          height: 32px;
          min-width: 36px;
          font-size: 14px;
          font-weight: 500;
        }

        .dx-info {
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
        }

        &.dx-light-mode {
          .dx-page-sizes {
            .dx-selectbox.dx-textbox.dx-texteditor.dx-dropdowneditor {
              height: 32px;
              width: 64px;
              min-width: 64px;
              font-size: 14px;
              font-weight: 500;
            }
          }
          .dx-pages {
            .dx-page-indexes {
              min-height: 32px;
              height: 32px;
              & > div {
                height: 32px;
                margin-block: 0;
                .dx-texteditor-container {
                  height: 32px;
                }
              }
              .dx-navigate-button {
                font-size: 14px;
                font-weight: 500;
              }
              .dx-light-pages {
                & > * {
                  min-width: 36px;
                  height: 32px;
                  margin: 2px;
                  font-size: 14px;
                  font-weight: 500;
                }
                .dx-page-index.dx-numberbox.dx-texteditor.dx-widget {
                  min-width: 36px;
                  width: 36px !important;
                }
              }
              .dx-info {
                height: 32px;
              }
            }
          }
        }
      }
    }
  }

  //large
  &.me-data-grid-large {
    .dx-datagrid {
      //header panel
      .dx-datagrid-header-panel {
        min-height: 40px;
        padding: 0;
        .dx-toolbar {
          .dx-toolbar-items-container {
            height: 40px;
            .dx-toolbar-before {
              .dx-group-panel-item.dx-datagrid-action {
                margin: 0 10px 0 0;
                .dx-column-indicators {
                  height: 20px;
                  width: 20px;
                  margin-left: 4px;
                  .dx-sort {
                    font-size: 18px;
                  }
                }
              }
              .dx-item-content.dx-toolbar-item-content {
                height: 40px;
                //drag items
                .dx-group-panel-item.dx-datagrid-action.dx-datagrid-drag-action {
                  height: 40px;
                  font-size: 16px;
                }
                .dx-datagrid-group-panel {
                  .dx-group-panel-message {
                    height: 40px;
                    font-size: 16px;
                  }
                }
              }
            }
            .dx-toolbar-after {
              //search
              .dx-datagrid-search-panel {
                height: 40px;
                & > * {
                  font-size: 18px;
                  font-weight: 400;
                }
                .dx-icon {
                  font-size: 26px;
                }
                .dx-icon-search {
                  margin-top: -19px;
                  line-height: 20px;
                  padding-block: 6px;
                }
                .dx-placeholder::before,
                .dx-texteditor-input {
                  padding-left: 40px;
                }
              }
            }
          }
        }
      }
      //pager
      .dx-datagrid-pager.dx-pager {
        min-height: 40px;
        padding: 0;
        .dx-separator {
          padding-inline: 13px;
        }
        .dx-page,
        .dx-page-size,
        .dx-navigate-button {
          border-radius: 4px;
          height: 40px;
          min-width: 44px;
          font-size: 16px;
          font-weight: 500;
        }

        .dx-info {
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
        }

        &.dx-light-mode {
          .dx-page-sizes {
            .dx-selectbox.dx-textbox.dx-texteditor.dx-dropdowneditor {
              height: 40px;
              min-width: 83px;
              width: 83px;
              font-size: 16px;
              font-weight: 500;
            }
          }
          .dx-pages {
            .dx-page-indexes {
              min-height: 40px;
              height: 40px;
              & > div {
                height: 40px;
                margin-block: 0;
                .dx-texteditor-container {
                  height: 40px;
                }
              }
              .dx-navigate-button {
                font-size: 16px;
                font-weight: 500;
              }
              .dx-light-pages {
                & > * {
                  min-width: 44px;
                  height: 40px;
                  margin: 2px;
                  font-size: 16px;
                  font-weight: 500;
                }
                .dx-page-index.dx-numberbox.dx-texteditor.dx-widget {
                  min-width: 44px;
                  width: 44px !important;
                }
              }
              .dx-info {
                height: 40px;
              }
            }
          }
        }
      }
    }
  }
}

.dx-datagrid-drag-header.dx-datagrid-text-content.dx-widget.dx-datagrid-drag-action {
  text-align: center;
  align-content: center;
  line-height: 0;
}
