@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

/**
* $name 10. Filename text color
* $type color
*/
$fileuploader-filename-color: null !default;

/**
* $name 20. File status text color
* $type color
*/
$fileuploader-falename-status-color: null !default;

/**
* $name 30. Border color on dragover
* $type color
*/
$fileuploader-border-color: null !default;

@if $color == 'light' {
  $fileuploader-filename-color: #18181a;
  $fileuploader-falename-status-color: #808084;
  $fileuploader-border-color: #ecedf3;
}

@if $color == 'dark' {
  $fileuploader-filename-color: #ffffff;
  $fileuploader-falename-status-color: #a1a1a7;
  $fileuploader-border-color: #43444c;
}
