@use 'sass:color';
@use '../colors' as *;

.me-status-bar {
  display: flex;
  width: 100%;
  padding: 4px;
  background: var(--Background-Content);
  border-top: 1px solid var(--Dividers-Borders-Long);
  min-height: var(--status-bar-min-height);

  &--transparent {
    background: transparent;
    border: none;
  }

  overflow: hidden;

  &__button-container {
    display: flex;
    align-items: center;

    .me-status-bar__divider {
      margin: 0;
      width: 1px;
    }
  }

  &__button {
    border-radius: 2.5rem;

    &--no-text {
      border-radius: 100%;
    }
  }

  &--small,
  &--large {
    .me-status-bar__button.me-status-bar__button--no-text > .dx-button-content > .dx-icon {
      margin-right: 0;
    }
  }

  // Размеры
  &--small {
    .me-status-bar__section:not(:last-of-type) {
      margin-right: 4px;
    }

    .me-status-bar__button-container:not(:last-of-type) {
      margin-right: 4px;
    }

    .me-status-bar__divider {
      height: 20px;
      margin-left: 4px;
    }

    .me-status-bar__button.me-status-bar__button--no-text > .dx-button-content {
      padding: 0 2px;
    }

    .me-status-bar__button {
      height: 24px;

      .me-status-bar__button-content {
        padding: 2px 4px;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &--large {
    .me-status-bar__section:not(:last-of-type) {
      margin-right: 8px;
    }

    .me-status-bar__button-container:not(:last-of-type) {
      margin-right: 8px;
    }

    .me-status-bar__divider {
      height: 24px;
      margin-left: 8px;
    }

    .me-status-bar__button.me-status-bar__button--no-text > .dx-button-content {
      padding: 0 4px;
    }

    .me-status-bar__button {
      height: 32px;

      .me-status-bar__button-content {
        padding: 4px 8px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__section {
    display: flex;
    align-items: center;
    height: 100%;

    &--left {
      display: flex;
      flex-grow: 1;
      overflow: hidden;

      .me-status-bar__button-content {
        max-width: 100%;
      }
    }

    &--right {
      margin-left: auto;
      max-width: 100%;

      .me-status-bar__button-content {
        max-width: 100%;
      }
    }
  }

  &__button {
    .dx-button-content {
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &.dx-button-mode-contained {
      background-color: var(--Badge-Blue-Gray) !important;
      color: var(--Controls-Content-In-Controls-On-BG-Default) !important;

      // Стили для кнопок с заливкой при наличии type
      &.me-status-bar__button--error {
        background-color: var(--Controls-BG-Accent-Danger-BG-Default) !important;
        border-color: var(--Controls-BG-Accent-Danger-BG-Default) !important;
        color: var(--Controls-Content-In-Controls-On-BG-Default) !important;

        .dx-icon {
          color: var(--Controls-Content-In-Controls-On-BG-Default) !important;
        }
      }

      &.me-status-bar__button--warning {
        background-color: var(--Controls-BG-Accent-Attention-BG-Default) !important;
        border-color: var(--Controls-BG-Accent-Attention-BG-Default) !important;
        color: var(--Controls-Content-In-Controls-On-BG-Default) !important;

        .dx-icon {
          color: var(--Controls-Content-In-Controls-On-BG-Default) !important;
        }
      }

      &.me-status-bar__button--success {
        background-color: var(--Controls-BG-Accent-Success-BG-Default) !important;
        border-color: var(--Controls-BG-Accent-Success-BG-Default) !important;
        color: var(--Controls-Content-In-Controls-On-BG-Default) !important;

        .dx-icon {
          color: var(--Controls-Content-In-Controls-On-BG-Default) !important;
        }
      }

      &.me-status-bar__button--info {
        background-color: var(--Controls-BG-Accent-Accent-BG-Default) !important;
        color: var(--Controls-Content-In-Controls-On-BG-Default) !important;

        .dx-icon {
          color: var(--Controls-Content-In-Controls-On-BG-Default) !important;
        }
      }
    }

    &.dx-button-mode-text {
      // Базовые стили для текстовых кнопок
      background-color: transparent !important;
      border: none !important;
      color: var(--Controls-Informative-BG-Notification);

      // Стили для кнопок с type но без заливки
      &.me-status-bar__button--error {
        .dx-button-content {
          color: var(--Controls-Content-In-Controls-Danger-Default) !important;
        }

        .dx-icon {
          color: var(--Controls-Content-In-Controls-Danger-Default) !important;
        }
      }

      &.me-status-bar__button--warning {
        .dx-button-content {
          color: var(--Controls-Content-In-Controls-Attention-Default) !important;
        }

        .dx-icon {
          color: var(--Controls-Content-In-Controls-Attention-Default) !important;
        }
      }

      &.me-status-bar__button--success {
        .dx-button-content {
          color: var(--Controls-Content-In-Controls-Success-Default) !important;
        }

        .dx-icon {
          color: var(--Controls-Content-In-Controls-Success-Default) !important;
        }
      }

      &.me-status-bar__button--info {
        .dx-button-content {
          color: var(--Badge-Blue-Gray) !important;
        }

        .dx-icon {
          color: var(--Badge-Blue-Gray) !important;
        }
      }
    }
  }

  &__button-content {
    display: flex;
    align-items: center;
    gap: 8px;

    .dx-icon {
      margin: 0;
    }
  }

  &__divider {
    width: 1px;
    height: 16px;
    background-color: var(--Dividers-Borders-Short);
    margin: 0 4px;
  }
}

.me-status-bar__button-content .dx-icon .material-icons {
  color: currentColor;
}

.me-status-bar__button-content {
  justify-content: flex-start;
  gap: 0px;
}

.me-status-bar--large .me-status-bar__button .me-status-bar__button-content .dx-icon {
  margin-right: 8px;
}

.me-status-bar--small .me-status-bar__button .me-status-bar__button-content .dx-icon {
  margin-right: 4px;
}

.me-status-bar__button.dx-button-mode-text.me-status-bar__button--info .dx-button-content {
  color: var(--Icon-Default);
}

.me-status-bar__button.dx-button-mode-text.me-status-bar__button--error
  .dx-button-content
  .dx-icon
  .material-icons {
  color: var(--Controls-Content-In-Controls-Danger-Default);
}

.me-status-bar__button-content .dx-icon {
  color: currentColor;
  display: flex;
  align-items: inherit;
  width: auto;
  height: auto;
}
