@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

$text-area-filled-bg: null !default;
$text-area-readonly-bg: null !default;
$text-area-disabled-bg: null !default;
$text-area-scrollbar-color: null !default;
$text-area-label-color: null !default;
$text-area-label-inside-color: null !default;
$text-area-label-focused-color: null !default;

@if $color == 'light' {
  $text-area-filled-bg: #ecedf3;
  $text-area-readonly-bg: #dedfe6;
  $text-area-disabled-bg: #dedfe6;
  $text-area-scrollbar-color: #18181a1f;
  $text-area-label-color: #18181a;
  $text-area-label-inside-color: #808084;
  $text-area-label-focused-color: #3257dc;
}

@if $color == 'dark' {
  $text-area-filled-bg: #43444c;
  $text-area-readonly-bg: #202124;
  $text-area-disabled-bg: #202124;
  $text-area-scrollbar-color: #ffffff1f;
  $text-area-label-color: #fff;
  $text-area-label-inside-color: #a1a1a7;
  $text-area-label-focused-color: #5d9eff;
}
