@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/textArea';

.me-text-area.me-keyboard-focused {
  .dx-texteditor-container {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }
}

// adduse

.dx-textarea {
  height: auto;

  .dx-icon-clear {
    top: 0;
    margin-top: 0;
  }

  &.dx-invalid .dx-texteditor-container::after {
    top: $generic-base-inline-borderedwidget-top-padding;
    margin-top: 0;
  }
}

///////////////////////////////////////////////////////////

.me-inputs.me-text-area.dx-textarea.dx-textbox.dx-widget {
  .dx-texteditor-input::-webkit-scrollbar {
    width: 4px;
  }

  .dx-texteditor-input::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--Controls-Scrollbar-Default);
    border-radius: 10px;
  }

  .dx-texteditor-container {
    gap: 0;
  }

  &.me-inputs {
    &.me-inputs {
      &-small {
        --text-area-height: 48px;
        --input-height: 100%;

        --input-bottom-offset: 6px;
        --input-top-offset: 17px;
        --text-area-padding-block: 6px;
      }

      &-medium {
        --text-area-height: 48px;
        --input-height: 100%;

        --input-bottom-offset: 6px;
        --input-top-offset: 17px;
        --text-area-padding-block: 6px;
      }

      &-large {
        --text-area-height: 56px;
        --input-height: 100%;

        --input-bottom-offset: 6px;
        --input-top-offset: 22px;
        --text-area-padding-block: 10px;
      }
    }

    &:has(.dx-texteditor-input-container .dx-texteditor-input-auto-resize) {
      .dx-texteditor-container {
        min-height: var(--text-area-height);
      }

      .dx-texteditor-container .dx-texteditor-buttons-container {
        padding-top: calc(var(--padding-block) + 4px);
      }

      &:is(.dx-texteditor-label-outside),
      &:not(:has(.dx-texteditor-label)) {
        .dx-texteditor-container {
          .dx-texteditor-buttons-container {
            padding-top: 0px;
          }
        }
      }
    }

    .dx-texteditor-input-container {
      align-items: flex-start;
    }

    &:not(:has(.dx-texteditor-input-container .dx-texteditor-input-auto-resize)) {
      .dx-texteditor-container {
        height: var(--text-area-height);
      }
    }

    &:is(.dx-texteditor-label-outside),
    &:not(:has(.dx-texteditor-label)) {
      &.me-inputs {
        &-small {
          --text-area-height: 44px;
        }

        &-medium {
          --text-area-height: 52px;
        }

        &-large {
          --text-area-height: 60px;
        }
      }

      .dx-texteditor-input-container,
      .dx-placeholder {
        padding-block: var(--text-area-padding-block);
      }
    }
  }

  .dx-texteditor-container .dx-texteditor-input-container .dx-placeholder::before,
  .dx-texteditor-container {
    align-items: flex-start;
  }

  .dx-texteditor-container .dx-texteditor-buttons-container {
    align-self: flex-start;
    padding-top: 4px;
  }
}
