@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/textArea';

.me-text-area.me-keyboard-focused {
  .dx-texteditor-container {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }
}

// adduse

.dx-textarea {
  height: auto;

  .dx-icon-clear {
    top: 0;
    margin-top: 0;
  }

  &.dx-invalid .dx-texteditor-container::after {
    top: $generic-base-inline-borderedwidget-top-padding;
    margin-top: 0;
  }
}

///////////////////////////////////////////////////////////

.me-text-area.dx-textarea.dx-textbox.dx-widget {
  .dx-overlay-wrapper.dx-invalid-message {
    .dx-invalid-message-content {
      background-color: var(--Background-Error);
      color: var(--Text-Error);
      font-size: 12px;
      line-height: 16px;
      font-weight: var(--me-regular-font-weight);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
  }
  .dx-texteditor-input::-webkit-scrollbar {
    width: 4px;
  }
  .dx-texteditor-input::-webkit-scrollbar-thumb {
    background-color: var(--Controls-Scrollbar-Default);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .dx-texteditor-container {
    gap: 0;
  }

  .dx-texteditor-input-container {
    padding-top: 1px;
  }
  //размеры
  //small
  &.me-text-area-small {
    .dx-overlay-wrapper.dx-invalid-message {
      .dx-invalid-message-content {
        padding: 2px 8px;
      }
    }
    &.dx-texteditor-with-label:not(
        .dx-texteditor-label-outside,
        .dx-texteditor-with-floating-label
      ) {
      .dx-texteditor-label {
        height: 36px;
      }
    }
  }
  //medium
  &.me-text-area-medium {
    .dx-overlay-wrapper.dx-invalid-message {
      .dx-invalid-message-content {
        padding: 4px 8px;
      }
    }
    .dx-texteditor-input-container {
      padding-top: 0px;
    }
    &.dx-texteditor-with-label:not(
        .dx-texteditor-label-outside,
        .dx-texteditor-with-floating-label
      ) {
      .dx-texteditor-label {
        height: 40px;
      }
    }
  }
  //large
  &.me-text-area-large {
    .dx-overlay-wrapper.dx-invalid-message {
      .dx-invalid-message-content {
        padding: 4px 12px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
      }
    }
    &.dx-texteditor-with-label:not(
        .dx-texteditor-label-outside,
        .dx-texteditor-with-floating-label
      ) {
      .dx-texteditor-label {
        height: 48px;
      }
    }
  }
}
