<div class="wrapper">
  <h1 class="dx-widget wrapper__title">Sliders (default)</h1>
  <dx-slider class="progress" [min]="0" [max]="100" [value]="25" width="200px"> </dx-slider>
  <h1 class="dx-widget wrapper__title">Sliders (disabled)</h1>
  <dx-slider class="progress" [min]="0" [max]="100" [value]="25" [disabled]="true" width="200px"></dx-slider>
  <h1 class="dx-widget wrapper__title">Sliders (readonly)</h1>
  <dx-slider class="progress" [min]="0" [max]="100" [value]="25" [readOnly]="true" width="200px"></dx-slider>
  <h1 class="dx-widget wrapper__title">Sliders (invalid)</h1>
  <dx-slider class="progress" [min]="0" [max]="100" [value]="25" [isValid]="false" width="200px"></dx-slider>
</div>
