@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$filterbuilder-bg: $base-bg !default;

/**
* $name 10. Text color
* $type color
*/
$filterbuilder-text-color: #ffffff !default;

/**
* $name 20. Focused text color
* $type color
*/
$filterbuilder-text-focus-color: null !default;

/**
* $name 30. Plus icon color
* $type color
*/
$filterbuilder-plus-icon-color: null !default;
$filterbuilder-plus-icon-hover-color: null !default;
$filterbuilder-plus-icon-focus-color: null !default;

/**
* $name 40. Remove icon color
* $type color
*/
$filterbuilder-remove-icon-color: null !default;
$filterbuilder-remove-icon-hover-color: null !default;
$filterbuilder-remove-icon-focus-color: null !default;

/**
* $name 50. Group operation button color
* $type color
*/
$filterbuilder-group-operation-color: null !default;
$filterbuilder-group-operation-hover-color: null !default;
$filterbuilder-group-operation-focus-color: null !default;

/**
* $name 60. Data field button color
* $type color
*/
$filterbuilder-item-field-color: null !default;
$filterbuilder-item-field-hover-color: null !default;
$filterbuilder-item-field-focus-color: null !default;

/**
* $name 70. Operation button color
* $type color
*/
$filterbuilder-item-operator-color: null !default;
$filterbuilder-item-operator-hover-color: null !default;
$filterbuilder-item-operator-focus-color: null !default;

/**
* $name 80. Value button color
* $type color
*/
$filterbuilder-item-value-color: null !default;
$filterbuilder-item-value-hover-color: null !default;
$filterbuilder-item-value-focus-color: null !default;

/**
* $name 10. Menu icon color
* $type color
*/
$filterbuilder-menu-icon-color: null !default;

@if $color == "light" {
  $filterbuilder-text-focus-color: #fff !default;
  $filterbuilder-plus-icon-color: #00993d;
  $filterbuilder-plus-icon-hover-color: color.adjust(
    $filterbuilder-plus-icon-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-plus-icon-focus-color: color.adjust(
    $filterbuilder-plus-icon-color,
    $alpha: 0.7
  ) !default;
  $filterbuilder-remove-icon-color: #dd0035;
  $filterbuilder-remove-icon-hover-color: color.adjust(
    $filterbuilder-remove-icon-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-remove-icon-focus-color: color.adjust(
    $filterbuilder-remove-icon-color,
    $alpha: 0.7
  ) !default;
  $filterbuilder-group-operation-color: #d50f3f;
  $filterbuilder-group-operation-hover-color: color.adjust(
    $filterbuilder-group-operation-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-group-operation-focus-color: color.adjust(
    $filterbuilder-group-operation-color,
    $alpha: 0.7
  ) !default;
  $filterbuilder-item-field-color: #3257dc;
  $filterbuilder-item-field-hover-color: color.adjust(
    $filterbuilder-item-field-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-item-field-focus-color: color.adjust(
    $filterbuilder-item-field-color,
    $alpha: 0.7
  ) !default;
  $filterbuilder-item-operator-color: #009b3e;
  $filterbuilder-item-operator-hover-color: color.adjust(
    $filterbuilder-item-operator-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-item-operator-focus-color: color.adjust(
    $filterbuilder-item-operator-color,
    $alpha: 0.7
  ) !default;
  $filterbuilder-item-value-color: #18181a;
  $filterbuilder-item-value-hover-color: $filterbuilder-item-value-color !default;
  $filterbuilder-item-value-focus-color: color.adjust(
    $filterbuilder-item-value-color,
    $alpha: 0.7
  ) !default;
  $filterbuilder-menu-icon-color: #18181a;
}

@if $color == "dark" {
  $filterbuilder-text-focus-color: $filterbuilder-text-color !default;
  $filterbuilder-plus-icon-color: #00b955;
  $filterbuilder-plus-icon-hover-color: color.adjust(
    $filterbuilder-plus-icon-color,
    $alpha: -0.1
  ) !default;
  $filterbuilder-plus-icon-focus-color: color.adjust(
    $filterbuilder-plus-icon-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-remove-icon-color: #fa6488;
  $filterbuilder-remove-icon-hover-color: color.adjust(
    $filterbuilder-remove-icon-color,
    $alpha: -0.1
  ) !default;
  $filterbuilder-remove-icon-focus-color: color.adjust(
    $filterbuilder-remove-icon-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-group-operation-color: #bf002e;
  $filterbuilder-group-operation-hover-color: color.adjust(
    $filterbuilder-group-operation-color,
    $alpha: -0.1
  ) !default;
  $filterbuilder-group-operation-focus-color: color.adjust(
    $filterbuilder-group-operation-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-item-field-color: #3565e2;
  $filterbuilder-item-field-hover-color: color.adjust(
    $filterbuilder-item-field-color,
    $alpha: -0.1
  ) !default;
  $filterbuilder-item-field-focus-color: color.adjust(
    $filterbuilder-item-field-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-item-operator-color: #008736;
  $filterbuilder-item-operator-hover-color: color.adjust(
    $filterbuilder-item-operator-color,
    $alpha: -0.1
  ) !default;
  $filterbuilder-item-operator-focus-color: color.adjust(
    $filterbuilder-item-operator-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-item-value-color: #000000;
  $filterbuilder-item-value-hover-color: color.adjust(
    $filterbuilder-item-value-color,
    $alpha: -0.1
  ) !default;
  $filterbuilder-item-value-focus-color: color.adjust(
    $filterbuilder-item-value-color,
    $alpha: 0.2
  ) !default;
  $filterbuilder-menu-icon-color: #ffffff;
}
