@use 'sass:color';
@use 'colors' as *;
@use '../typography/mixins' as *;

@mixin nested-margin-left($start, $step, $max) {
  $selector: '.dx-filterbuilder-group-content';

  @for $i from 1 through $max {
    @if $i >= $start {
      #{$selector} {
        margin-left: 28px;
        padding-left: 8px;
      }
    } @else {
      #{$selector} {
        margin-left: 0;
        padding-left: 8px;
      }
    }

    $selector: '#{$selector} .dx-filterbuilder-group-content';
  }
}

.me-filterbuilder {
  padding: 10px;
  background-color: var(--Background-Content);
  display: flex;
  flex-direction: column;

  &.me-filterbuilder-small {
    .dx-filterbuilder {
      @include me-action-med3;

      .dx-filterbuilder-group-item,
      .dx-filterbuilder-group-content {
        margin-bottom: 8px;

        .dx-filterbuilder-text {
          &.dx-filterbuilder-group-operation,
          &.dx-filterbuilder-item-field,
          &.dx-filterbuilder-item-operation {
            margin: 0;
            padding: 6px 12px;
          }

          &.dx-filterbuilder-item-value {
            .dx-filterbuilder-item-value-text {
              padding: 6px 12px;
            }

            .dx-selectbox,
            .dx-textbox,
            .dx-numberbox {
              margin: 0;
            }
          }
        }

        .dx-filterbuilder-action.dx-filterbuilder-action-icon {
          &.dx-icon-plus,
          &.dx-icon-remove {
            font: 10px / 1 DXIcons;
          }
        }
      }
    }

    .me-filterbuilder__accept-button {
      margin-top: 8px;
    }
  }

  &.me-filterbuilder-medium {
    .dx-filterbuilder {
      @include me-action-med2;

      .dx-filterbuilder-group-item,
      .dx-filterbuilder-group-content {
        margin-bottom: 8px;

        .dx-filterbuilder-text {
          &.dx-filterbuilder-group-operation,
          &.dx-filterbuilder-item-field,
          &.dx-filterbuilder-item-operation {
            margin: 0;
            padding: 6px 12px;
          }

          &.dx-filterbuilder-item-value {
            .dx-filterbuilder-item-value-text {
              padding: 6px 12px;
            }

            .dx-selectbox,
            .dx-textbox,
            .dx-numberbox {
              margin: 0;
            }
          }
        }

        .dx-filterbuilder-action.dx-filterbuilder-action-icon {
          &.dx-icon-plus,
          &.dx-icon-remove {
            font: 10px / 1 DXIcons;
          }
        }
      }
    }

    .me-filterbuilder__accept-button {
      margin-top: 8px;
    }
  }

  &.me-filterbuilder-large {
    .dx-filterbuilder {
      @include me-action-med1;

      .dx-filterbuilder-group-item,
      .dx-filterbuilder-group-content {
        margin-bottom: 12px;

        .dx-filterbuilder-text {
          &.dx-filterbuilder-group-operation,
          &.dx-filterbuilder-item-field,
          &.dx-filterbuilder-item-operation {
            margin: 0;
            padding: 10px 16px;
          }

          &.dx-filterbuilder-item-value {
            .dx-filterbuilder-item-value-text {
              padding: 10px 16px;
            }

            .dx-selectbox,
            .dx-textbox,
            .dx-numberbox {
              margin: 0;
            }
          }
        }

        .dx-filterbuilder-action.dx-filterbuilder-action-icon {
          &.dx-icon-plus,
          &.dx-icon-remove {
            font: 14px / 1 DXIcons;
          }
        }
      }
    }

    .me-filterbuilder__accept-button {
      margin-top: 12px;
    }
  }

  .me-filterbuilder__accept-button {
    align-self: flex-end;
  }

  .dx-filterbuilder {
    .dx-filterbuilder-group {
      @include nested-margin-left(2, 8px, 10);

      .dx-filterbuilder-group-content {
        border-left: 1px solid $filterbuilder-divider-border-color;
      }

      .dx-filterbuilder-text {
        color: $filterbuilder-text-color;

        &.dx-filterbuilder-group-operation {
          background-color: $filterbuilder-group-operation-color;

          &:hover {
            background-color: $filterbuilder-group-operation-hover-color;
          }

          &:focus {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-group-operation-focus-color;
          }

          &.dx-state-active {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-group-operation-active-color;
          }
        }

        &.dx-filterbuilder-item-field {
          color: $filterbuilder-text-color;
          background-color: $filterbuilder-item-field-color;

          &:hover {
            background-color: $filterbuilder-item-field-hover-color;
          }

          &:focus {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-item-field-focus-color;
          }

          &.dx-state-active {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-item-field-active-color;
          }
        }

        &.dx-filterbuilder-item-operation {
          color: $filterbuilder-text-color;
          background-color: $filterbuilder-item-operator-color;

          &:hover {
            background-color: $filterbuilder-item-operator-hover-color;
          }

          &:focus {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-item-operator-focus-color;
          }

          &.dx-state-active {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-item-operator-active-color;
          }
        }

        &.dx-filterbuilder-item-value {
          .dx-filterbuilder-item-value-text {
            color: $filterbuilder-text-color;
            background-color: $filterbuilder-item-value-color;

            &:hover {
              background-color: $filterbuilder-item-value-hover-color;
            }

            &:focus {
              color: $filterbuilder-text-color;
              background-color: $filterbuilder-item-value-focus-color;
            }

            &.dx-state-active {
              color: $filterbuilder-text-color;
              background-color: $filterbuilder-item-value-active-color;
            }
          }
        }
      }

      .dx-filterbuilder-group-item {
        display: flex;
        align-items: center;
        gap: 8px;

        .dx-filterbuilder-action.dx-filterbuilder-action-icon {
          padding: 0;
          margin: 0;
          display: flex;
          width: 28px;
          height: 28px;
          align-items: center;
          justify-content: center;

          // Plus Icon
          &.dx-icon-plus {
            color: $filterbuilder-plus-icon-color;

            &:hover {
              color: $filterbuilder-plus-icon-hover-color;
            }

            &:active {
              color: $filterbuilder-plus-icon-active-color;
            }

            &.dx-state-active {
              color: $filterbuilder-plus-icon-focus-color;
            }
          }

          // Remove Icon
          &.dx-icon-remove {
            color: $filterbuilder-remove-icon-color;

            &:hover {
              color: $filterbuilder-remove-icon-hover-color;
            }

            &:active {
              color: $filterbuilder-remove-icon-active-color;
            }

            &::before {
              content: '\f074';
            }
          }
        }
      }
    }
  }
}

.dx-filterbuilder-overlay.dx-overlay-wrapper {
  .dx-overlay-content {
    &.dx-popup-normal {
      .dx-popup-content {
        margin-block: 4px;
      }

      border-radius: 3px;
      border: 1px solid var(--Dividers-Borders-Long);
    }
  }

  &.me-filterbuilder-small {
    .dx-treeview-item {
      @include me-action-reg3;
      min-height: 28px;
      padding-inline: 12px;
    }
  }
  &.me-filterbuilder-medium {
    .dx-treeview-item {
      @include me-action-reg2;
      min-height: 32px;
      padding-inline: 12px;
    }
  }
  &.me-filterbuilder-large {
    .dx-treeview-item {
      @include me-action-reg1;
      min-height: 40px;
      padding-inline: 16px;
    }
  }

  .dx-treeview-node {
    &.dx-state-selected {
      :has(.dx-state-hover) {
      }

      .dx-treeview-item {
        background-color: var(--Controls-Informative-BG-Selected-Element);
      }
    }
    &:active {
      .dx-treeview-item {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Selected);
      }
    }
  }

  .dx-treeview-item {
    display: flex;
    align-items: center;
    border-radius: 0;

    &.dx-state-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
    }
  }
}
