@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$dropdown-item-hover-bg: null !default;
$dropdown-item-active-bg: null !default;

@if $color == "light" {
  $dropdown-item-hover-bg: #d8daea;
  $dropdown-item-active-bg: #bfc1d0;
}

@if $color == "dark" {
  $dropdown-item-hover-bg: #565665;
  $dropdown-item-active-bg: #28292f;
}
