@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/icons" as *;
@use "../button/sizes" as *;
@use "../common/mixins" as *;
@use "../../base/dropDownButton";

// adduse

.dx-dropdownbutton {
  vertical-align: middle;

  .dx-button {
    overflow: hidden;
  }

  .dx-button-has-text .dx-icon.dx-icon-right {
    margin-left: 4px;
    margin-right: 0;
  }
}

.dx-dropdownbutton-toggle {
  display: flex;
  flex: 0 0 auto;
  max-width: 20px;
}

.dx-dropdownbutton-action {
  min-width: 0;

  &.dx-button .dx-button-content {
    padding-left: 10px;
    padding-right: 4px;

    .dx-rtl & {
      padding-left: 4px;
      padding-right: 10px;
    }
  }

  &.dx-buttongroup-last-item {
    &.dx-button .dx-button-content {
      padding-right: 0;

      .dx-rtl & {
        padding-left: 0;
      }
    }
  }
}

.me-dropdownbutton .dx-dropdownbutton-action {
  .dx-button-text {
    height: 20px;
    line-height: 20px;
  }

  .dx-button-content::after {
    content: none;
  }

  .dx-icon {
    width: 20px;
    height: 20px;
    margin: 0;

    &.dx-icon-right {
      background: $dropdown-arrow-icon;
      background-size: contain;
      margin: 0;

      &::before {
        content: none;
      }
    }
  }
}

.me-dropdownbutton.dx-button-default .dx-dropdownbutton-action {
  .dx-icon {
    &.dx-icon-right {
      background: $dropdown-contained-default-arrow-icon;
      background-size: contain;
    }
  }
}

.me-dropdownbutton.dx-button-default .dx-dropdownbutton-action {
  &.dx-button:not(.dx-button-mode-contained) .dx-icon {
    &.dx-icon-right {
      background: $dropdown-default-arrow-icon;
      background-size: contain;
    }
  }
}

.me-dropdownbutton.me-dropdownbutton-small .dx-dropdownbutton-action {
  &.dx-button .dx-button-content {
    padding: 4px 12px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    gap: 4px;

    // .dx-rtl & {
    //   padding-left: 4px;
    //   padding-right: 10px;
    // }
  }
}

.me-dropdownbutton.me-dropdownbutton-medium .dx-dropdownbutton-action {
  &.dx-button .dx-button-content {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    gap: 4px;

    // .dx-rtl & {
    //   padding-left: 4px;
    //   padding-right: 10px;
    // }
  }
}

.me-dropdownbutton.me-dropdownbutton-large .dx-dropdownbutton-action {
  .dx-button-text {
    height: 24px;
    line-height: 24px;
  }

  &.dx-button .dx-button-content {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;

    // .dx-rtl & {
    //   padding-left: 4px;
    //   padding-right: 10px;
    // }
    .dx-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.dx-dropdownbutton-popup-wrapper {
  @include dx-dropdownlist-list-appearance();
}

.dx-dropdownbutton-content .dx-list .dx-item.dx-list-item {
  &.dx-state-hover {
    background-color: $dropdown-item-hover-bg;
  }

  &.dx-state-focused {
    box-shadow: inset 0px 0px 0px 2px #7eb9ff;
  }

  &.dx-state-active {
    background-color: $dropdown-item-active-bg;
  }
}
