@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../button/sizes' as *;
@use '../common/mixins' as *;
@use '../../base/dropDownButton';

// adduse

.dx-dropdownbutton {
  vertical-align: middle;

  .dx-button {
    overflow: hidden;
  }

  .dx-button-has-text .dx-icon.dx-icon-right {
    margin-left: 4px;
    margin-right: 0;
  }
}

.dx-dropdownbutton-toggle {
  display: flex;
  flex: 0 0 auto;
  max-width: 20px;
}

.dx-dropdownbutton-action {
  min-width: 0;

  &.dx-button .dx-button-content {
    padding-left: 10px;
    padding-right: 4px;

    .dx-rtl & {
      padding-left: 4px;
      padding-right: 10px;
    }
  }

  &.dx-buttongroup-last-item {
    &.dx-button .dx-button-content {
      padding-right: 0;

      .dx-rtl & {
        padding-left: 0;
      }
    }
  }
}

.dx-state-disabled.dx-dropdownbutton {
  .dx-button .dx-icon-right.dx-icon-spindown {
    opacity: $dropdown-item-disable-opacity;
  }
}

.dx-dropdownbutton-popup-wrapper {
  @include dx-dropdownlist-list-appearance();
}

.dx-dropdownbutton-content .dx-list .dx-item.dx-list-item {
  &.dx-state-hover {
    background-color: $dropdown-item-hover-bg;
  }

  &.dx-state-focused {
    box-shadow: inset 0px 0px 0px 2px #7eb9ff;
  }

  &.dx-state-active {
    background-color: $dropdown-item-active-bg;
  }
}

.me-dropdownbutton .dx-dropdownbutton-action,
.me-dropdownbutton .dx-dropdownbutton-toggle {
  .dx-button-text {
    height: 20px;
    line-height: 20px;
  }

  .dx-button-content::after {
    content: none;
  }

  .dx-icon {
    width: 20px;
    height: 20px;
    margin: 0;

    &.dx-icon-right,
    &.dx-icon-spindown {
      background: $dropdown-arrow-icon;
      background-size: contain;
      margin: 0;

      &::before {
        content: none;
      }
    }
  }
}

.me-dropdownbutton.dx-button-default .dx-dropdownbutton-action,
.me-dropdownbutton.dx-button-default .dx-dropdownbutton-toggle {
  .dx-icon {
    &.dx-icon-right {
      background: $dropdown-contained-default-arrow-icon;
      background-size: contain;
    }
  }
}

.me-dropdownbutton.dx-button-default .dx-dropdownbutton-action,
.me-dropdownbutton.dx-button-default .dx-dropdownbutton-toggle {
  &.dx-button:not(.dx-button-mode-contained) .dx-icon {
    &.dx-icon-right {
      background: $dropdown-default-arrow-icon;
      background-size: contain;
    }
  }
}

.me-dropdownbutton {
  .dx-buttongroup {
    .dx-button-content {
      font-weight: var(--base-regular-font-weight);
      gap: 4px;
      .dx-icon {
        align-content: center;
      }
      .dx-button-text {
        align-content: center;
      }
    }
  }

  //общие разделенные кнопки
  .dx-buttongroup {
    .dx-buttongroup-wrapper.dx-collection {
      //кнопка dropdown
      .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
        max-width: max-content;
        .dx-button-content {
          padding-inline: 12px 16px;
          .dx-icon.dx-icon-spindown {
            background: none;
            font-family: var(--me-icon-family);
          }
          .dx-icon.dx-icon-spindown::before {
            content: var(--me-icon-arrow-drop-down);
          }
        }
      }
    }
  }
  //contained
  .dx-buttongroup.dx-buttongroup-mode-contained {
    .dx-buttongroup-wrapper.dx-collection {
      //кнопка dropdown
      .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
        .dx-button-content {
          border-left: 1px solid var(--Dividers-Borders-Long);
        }
      }
    }
  }

  //outlined
  .dx-buttongroup.dx-buttongroup-mode-outlined {
    .dx-buttongroup-wrapper.dx-collection {
      //кнопка dropdown
      .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
        border-left: 1px solid;
      }
    }
  }

  //text
  .dx-buttongroup.dx-buttongroup-mode-text {
    .dx-buttongroup-wrapper.dx-collection {
      //кнопка
      .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-dropdownbutton-action {
        margin-left: 0;
        &:not(.dx-buttongroup-first-item.dx-buttongroup-last-item) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      //кнопка dropdown
      .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
        border-left: 1px solid var(--Dividers-Borders-Long);
        margin-left: 0;
        &:not(.dx-buttongroup-first-item.dx-buttongroup-last-item) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  //small
  &.me-dropdownbutton-small {
    .dx-buttongroup {
      .dx-buttongroup-wrapper.dx-collection {
        //кнопка
        .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-dropdownbutton-action {
          .dx-button-content {
            padding-block: 4px;
            padding-inline: 12px 16px;
            font-size: 13px;
            line-height: 16px;
            .dx-icon {
              font-size: 13px;
            }
          }
          &.dx-button-mode-outlined {
            .dx-button-content {
              padding-block: 3px;
              padding-inline: 11px 16px;
            }
          }
        }
        //кнопка dropdown
        .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
          &.dx-button-mode-outlined {
            .dx-button-content {
              padding: 3px;
              padding-left: 4px;
            }
          }
          .dx-button-content {
            padding: 4px;
            .dx-icon {
              font-size: 18px;
            }
          }
        }
        //смежные кнопки
        .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-buttongroup-last-item {
          .dx-button-content {
            padding-inline: 12px;
          }
        }
      }
    }
  }

  //medium
  &.me-dropdownbutton-medium {
    .dx-buttongroup {
      .dx-buttongroup-wrapper.dx-collection {
        //кнопка
        .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-dropdownbutton-action {
          .dx-button-content {
            padding-block: 6px;
            padding-inline: 12px 16px;
            font-size: 14px;
            line-height: 20px;
            .dx-icon {
              font-size: 14px;
            }
          }
          &.dx-button-mode-outlined {
            .dx-button-content {
              padding-block: 5px;
              padding-inline: 11px 16px;
            }
          }
        }
        //кнопка dropdown
        .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
          &.dx-button-mode-outlined {
            .dx-button-content {
              padding: 5px;
              padding-left: 6px;
            }
          }
          .dx-button-content {
            padding: 6px;
            .dx-icon {
              font-size: 18px;
            }
          }
        }
        //смежные кнопки
        .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-buttongroup-last-item {
          .dx-button-content {
            padding-inline: 16px;
          }
        }
      }
    }
  }

  //large
  &.me-dropdownbutton-large {
    .dx-buttongroup {
      .dx-buttongroup-wrapper.dx-collection {
        //кнопка
        .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-dropdownbutton-action {
          .dx-button-content {
            padding-block: 8px;
            padding-inline: 12px 16px;
            font-size: 16px;
            line-height: 20px;
            gap: 8px;
            .dx-icon {
              font-size: 16px;
              width: 24px;
              height: 24px;
            }
            .dx-button-text {
              min-height: 24px;
            }
          }
          &.dx-button-mode-outlined {
            .dx-button-content {
              padding-block: 7px;
              padding-inline: 11px 16px;
            }
          }
        }
        //кнопка dropdown
        .dx-button.dx-buttongroup-item.dx-buttongroup-last-item.dx-dropdownbutton-toggle {
          &.dx-button-mode-outlined {
            .dx-button-content {
              padding: 7px;
              padding-left: 8px;
            }
          }
          .dx-button-content {
            padding: 8px;
            .dx-icon {
              font-size: 24px;
              height: 24px;
              width: 24px;
            }
          }
        }
        //смежные кнопки
        .dx-button.dx-buttongroup-item.dx-buttongroup-first-item.dx-buttongroup-last-item {
          .dx-button-content {
            padding-inline: 16px;
          }
        }
      }
    }
  }
}

.me-dropdown-button-popup {
  &.dx-overlay-content.me-dropdown-button-popup {
    border: 1px solid var(--Dividers-Borders-Long);
    border-radius: 3px;
    box-shadow: 0px 2px 6px 0px #00000024;
    .dx-popup-content.dx-dropdownbutton-content {
      padding: 0;
      .dx-list-items {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-block: 4px;
        .dx-item.dx-list-item {
          padding: 4px 16px 4px 8px;
          .dx-item-content.dx-list-item-content {
            padding: 0;
            font-size: 13px;
            font-weight: var(--base-regular-font-weight);
            line-height: 16px;
          }
          &.dx-state-focused {
            box-shadow: none;
            // box-shadow: 0px 0px 0px 4px #7eb9ff;
            // box-shadow: 0px 0px 0px 2px #ffffff;
          }
        }
      }
    }
  }
}
