<div class="wrapper">
  <h1 class="dx-widget wrapper__title">Scroll view</h1>
  <dx-scroll-view #scrollView id="scrollview" showScrollbar="always" [bounceEnabled]="true" reachBottomText="Loading..." class="scroll">
    <div id="scrollview-content" class="content dx-widget">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint ab asperiores aliquid cum neque, inventore dolor porro dolore, aliquam vitae labore consectetur!
      Modi, necessitatibus, eligendi cupiditate dolorem sit recusandae exercitationem dolores quo, iste ex commodi! Eos, non odit. Optio, eius! Sed inventore harum
      odit quia repellendus quod excepturi quis debitis sunt explicabo laudantium est optio nam voluptatibus maxime magnam ipsa perferendis labore, dolore vitae et
      sint. Dolorum repellendus ab asperiores molestias fugiat inventore. Aut, eum! Voluptates labore nobis corporis odit omnis expedita ipsam, at sit cupiditate
      alias assumenda laborum ad unde accusantium molestiae impedit incidunt! Optio totam dolores blanditiis laboriosam in eius similique exercitationem quibusdam
      laudantium! Quod, dolore voluptatibus adipisci quisquam perferendis similique molestias, iure quidem ipsum voluptates ut? Facere reprehenderit in voluptate
      ratione eius numquam velit magnam? Omnis possimus fuga sint voluptatibus eveniet? Distinctio voluptatibus, commodi ullam repellat repellendus consequatur
      temporibus ducimus delectus asperiores, soluta similique. Aperiam ratione, iste earum sint tempore repellendus exercitationem est totam soluta modi minima
      necessitatibus consequatur hic, sed, porro ducimus error aspernatur nostrum itaque quibusdam cum quidem ipsam blanditiis mollitia? Voluptatum, accusamus
      obcaecati accusantium odit ducimus blanditiis? Nam sit at dolore quos exercitationem nihil provident aliquid, similique odit harum aut iure vero praesentium,
      doloribus adipisci modi, recusandae ullam quae consequuntur placeat officiis eum! Voluptatum illum quaerat perspiciatis odit commodi hic in ad blanditiis
      suscipit, quam adipisci itaque, architecto a maxime consequuntur ratione quibusdam! Amet, voluptas vel. Rerum error unde quo delectus eligendi voluptatem,
      eveniet atque dolorum, voluptates minima numquam incidunt maxime expedita beatae explicabo temporibus ipsa tempore! Vel minus quo animi laboriosam! Magni sed
      libero alias provident ad quibusdam perspiciatis recusandae voluptatibus aspernatur fugit possimus neque, voluptatum odit architecto optio nesciunt. Nisi ullam
      dignissimos magni consequuntur doloribus exercitationem dicta. Ducimus ex earum numquam repudiandae rem itaque maxime culpa dolorem, necessitatibus obcaecati
      eligendi, quam officia.
    </div>
  </dx-scroll-view>
</div>
