::ng-deep #accordion {
  height: 700px;
  margin-right: 400px; /* Добавлено для выравнивания аккордеона */
}

::ng-deep #accordion .header {
  font-size: 20px;
}

::ng-deep #accordion .header,
::ng-deep #accordion p {
  margin: 0;
}

::ng-deep #accordion-container {
  margin-right: 400px;
}

.options {
  margin-top: 80px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 340px;
  top: 0;
  background-color: rgba(191, 191, 191, 0.15);
  display: flex;
  flex-direction: column;
}

.options > .caption {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

.option {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option > .caption {
  margin-top: 10px;
  display: inline-block;
}

::ng-deep .option > .dx-tagbox {
  margin-top: 2px;
  width: 100%;
}

::ng-deep .option > dx-check-box,
::ng-deep .option > dx-slider,
::ng-deep .option > dx-tag-box {
  width: 100%;
}

::ng-deep .dx-slider {
  width: calc(100% - 40px);
  margin: 0 auto;
}

::ng-deep .dx-tag-box {
  width: 100%;
}

.dx-slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
