<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Text box</h1>

  <div meLabel labelPosition="left" width="350px">
    <label #meLabel>Label</label>
    <dx-text-box meTextBox></dx-text-box>
  </div>

  <h2 class="wrapper__title dx-widget">Label - hidden</h2>
  <div class="flex">
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." value="readonly" [readOnly]="true"></dx-text-box>
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." value="readonly" [readOnly]="true"></dx-text-box>
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." value="readonly" [readOnly]="true"></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." value="disabled" [disabled]="true"></dx-text-box>
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." value="disabled" [disabled]="true"></dx-text-box>
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." value="disabled" [disabled]="true"></dx-text-box>
  </div>
  <h2 class="wrapper__title dx-widget">Label - static</h2>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="static" size="small" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="static" size="medium" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="static" size="large" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="static" size="small" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="static" size="medium" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="static" size="large" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box
      meTextBox
      label="Label"
      labelMode="static"
      size="small"
      value="readonly"
      [readOnly]="true"
      placeholder="Enter full name here..."
      [showClearButton]="true"
    ></dx-text-box>
    <dx-text-box
      meTextBox
      label="Label"
      labelMode="static"
      size="medium"
      value="readonly"
      [readOnly]="true"
      placeholder="Enter full name here..."
      [showClearButton]="true"
    ></dx-text-box>
    <dx-text-box
      meTextBox
      label="Label"
      labelMode="static"
      size="large"
      value="readonly"
      [readOnly]="true"
      placeholder="Enter full name here..."
      [showClearButton]="true"
    ></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box
      meTextBox
      label="Label"
      labelMode="static"
      size="small"
      value="disabled"
      [disabled]="true"
      placeholder="Enter full name here..."
      [showClearButton]="true"
    ></dx-text-box>
    <dx-text-box
      meTextBox
      label="Label"
      labelMode="static"
      size="medium"
      value="disabled"
      [disabled]="true"
      placeholder="Enter full name here..."
      [showClearButton]="true"
    ></dx-text-box>
    <dx-text-box
      meTextBox
      label="Label"
      labelMode="static"
      size="large"
      value="disabled"
      [disabled]="true"
      placeholder="Enter full name here..."
      [showClearButton]="true"
    ></dx-text-box>
  </div>
  <h2 class="wrapper__title dx-widget">Label - floating</h2>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="floating" size="small" [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="medium" [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="large" [showClearButton]="true"></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="floating" size="small" validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="medium" validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="large" validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="floating" size="small" value="readonly" [readOnly]="true" [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="medium" value="readonly" [readOnly]="true" [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="large" value="readonly" [readOnly]="true" [showClearButton]="true"></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="floating" size="small" value="disabled" [disabled]="true" [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="medium" value="disabled" [disabled]="true" [showClearButton]="true"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="large" value="disabled" [disabled]="true" [showClearButton]="true"></dx-text-box>
  </div>
  <h2 class="wrapper__title dx-widget">Label - outside (top)</h2>
  <div class="flex">
    <label meLabel
      >Label
      <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
    </label>
  </div>
  <div class="flex">
    <label meLabel
      >Label
      <dx-text-box meTextBox size="small" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="large" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-text-box>
    </label>
  </div>
  <div class="flex">
    <label meLabel
      >Label
      <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true" value="readonly" [readOnly]="true"></dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true" value="readonly" [readOnly]="true"></dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true" value="readonly" [readOnly]="true"></dx-text-box>
    </label>
  </div>
  <div class="flex">
    <label meLabel
      >Label
      <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true" value="disabled" [disabled]="true"></dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true" value="disabled" [disabled]="true"></dx-text-box>
    </label>
    <label meLabel
      >Label
      <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true" value="disabled" [disabled]="true"></dx-text-box>
    </label>
  </div>
  <h2 class="wrapper__title dx-widget">Label - outside (left)</h2>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." validationStatus="invalid" [showClearButton]="true">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true" value="readonly" [readOnly]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true" value="readonly" [readOnly]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true" value="readonly" [readOnly]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..." [showClearButton]="true" value="disabled" [disabled]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..." [showClearButton]="true" value="disabled" [disabled]="true"></dx-text-box>
  </label>
  <label meLabel labelPosition="left" width="400px"
    >Label
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..." [showClearButton]="true" value="disabled" [disabled]="true"></dx-text-box>
  </label>
</div>
