<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Text box</h1>
  <div class="flex">
    <dx-text-box meTextBox size="small" placeholder="Enter full name here..."></dx-text-box>
    <dx-text-box meTextBox size="medium" placeholder="Enter full name here..."></dx-text-box>
    <dx-text-box meTextBox size="large" placeholder="Enter full name here..."></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="static" size="small" placeholder="Enter full name here..."></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="static" size="medium" placeholder="Enter full name here..."></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="static" size="large" placeholder="Enter full name here..."></dx-text-box>
  </div>
  <div class="flex">
    <dx-text-box meTextBox label="Label" labelMode="floating" size="small"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="medium"></dx-text-box>
    <dx-text-box meTextBox label="Label" labelMode="floating" size="large"></dx-text-box>
  </div>
</div>
