@use 'sass:math';
@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../dropDownEditor' as *;
@use '../textEditor' as *;
@use '../textEditor/colors' as *;
@use '../calendar/sizes' as *;
@use '../../base/dateBox';

// adduse
@use '../timeView';
@use '../dateView';

.dx-datebox-wrapper {
  .dx-popup-title {
    min-height: 10px;
    border-bottom: none;
    background: none;
  }

  .dx-item {
    border: none;
  }

  .dx-popup-bottom {
    .dx-button {
      min-width: $generic-datebox-overlay-button-width;
      width: auto;
    }
  }
}

.dx-datebox-wrapper-rollers.dx-datebox-wrapper-time .dx-popup-content {
  margin: $generic-datebox-popup-content-margin;
}

.dx-datebox-wrapper-list {
  .dx-overlay-content {
    border-top: none;
  }
}

.dx-device-phone .dx-datebox-wrapper-rollers {
  .dx-popup-content {
    padding: 10px;
  }
}

.dx-datebox-calendar {
  .dx-dropdowneditor-icon {
    @include dx-icon(event);
    @include dx-dropdowneditor-button-icon();
  }

  &.dx-rtl {
    &.dx-dropdowneditor-active {
      .dx-dropdowneditor-button {
        .dx-dropdowneditor-icon {
          opacity: 1;
        }
      }
    }

    &.dx-editor-underlined {
      padding-right: 0;
    }
  }
}

.dx-datebox-wrapper-calendar {
  .dx-popup-content {
    padding: 0;
    margin: 0 math.div($generic-datebox-overlay-item-margin, 2);
  }

  .dx-calendar {
    border: none;
    margin: $generic-datebox-overlay-item-margin math.div($generic-datebox-overlay-item-margin, 2);
  }

  .dx-datebox-container-cell {
    margin-right: $generic-datebox-overlay-item-margin;
    margin-bottom: $generic-datebox-overlay-item-margin;
  }
}

.dx-datebox-wrapper-calendar.dx-datebox-wrapper-datetime {
  .dx-popup-content {
    margin-right: 0;
  }

  .dx-calendar {
    margin-bottom: math.div($generic-datebox-overlay-item-margin, 2);
  }

  .dx-timeview {
    margin: $generic-datebox-overlay-item-margin math.div($generic-datebox-overlay-item-margin, 2)
      math.div($generic-datebox-overlay-item-margin, 2);

    @at-root #{selector-append(".dx-datebox-adaptivity-mode", &)} {
      margin: 0 math.div($generic-datebox-overlay-item-margin, 2)
        math.div($generic-datebox-overlay-item-margin, 2);
    }
  }

  .dx-datebox-container-cell {
    margin-top: -1px;
    margin-right: $generic-datebox-overlay-item-margin;
  }
}

@media (max-width: 320px) {
  .dx-datebox-wrapper-calendar .dx-calendar {
    margin: $generic-datebox-overlay-item-margin-adaptive;
  }
}

.dx-rtl {
  .dx-datebox-wrapper {
    .dx-popup-bottom {
      .dx-toolbar-button + .dx-toolbar-button {
        .dx-button {
          margin-right: 5px;
          margin-left: 0;
        }
      }
    }
  }
}

.dx-datebox-list {
  .dx-dropdowneditor-icon {
    @include dx-icon(clock);
    @include dx-dropdowneditor-button-icon();
  }
}

.dx-datebox-wrapper-list .dx-popup-content {
  padding: 0;
}

.dx-datebox {
  input[type='date'] {
    line-height: normal;
  }

  &,
  &:not(.dx-texteditor-empty) {
    &.dx-auto-width {
      @include invalid-dropdowneditor-input-padding();
    }
  }
}

.dx-device-ios .dx-datebox.dx-texteditor-empty .dx-texteditor-input {
  min-height: $generic-datebox-input-min-height;
}

/////////////////////////////////////////////////////////////////////////////////////////
/// meDateBox

.me-date-box.dx-datebox.dx-texteditor.dx-widget {
  &.dx-datebox-date {
    .dx-texteditor-container {
      .dx-texteditor-buttons-container {
        .dx-dropdowneditor-button {
          .dx-button-content {
            .dx-dropdowneditor-icon {
              background-image: none;
              font-family: var(--me-icon-family);
              &:before {
                content: var(--me-icon-calendar-today);
              }
            }
          }
        }
      }
    }
  }
  &.dx-datebox-time,
  &.dx-datebox-datetime {
    .dx-texteditor-container {
      .dx-texteditor-buttons-container {
        .dx-dropdowneditor-button {
          .dx-button-content {
            .dx-dropdowneditor-icon {
              background-image: none;
              font-family: var(--me-icon-family);
              &:before {
                content: var(--me-icon-clock);
              }
            }
          }
        }
      }
    }
  }

  &.dx-invalid:not(.dx-state-disabled) {
    .dx-button-content {
      .dx-dropdowneditor-icon {
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }
  }

  &.dx-state-disabled {
    .dx-button-content {
      .dx-dropdowneditor-icon {
        color: var(--Controls-Content-In-Controls-Main-Disabled);
      }
    }
  }
}

///Overlay
.me-date-box-overlay {
  &.dx-overlay-wrapper.me-date-box-overlay.dx-datebox-wrapper {
    ///Calendar showWeeks
    .dx-overlay-content {
      background: none;
      border: none;
      box-shadow: none;
      overflow: visible;

      .dx-popup-content {
        margin: 4px 0;

        .dx-calendar.dx-calendar-view-month {
          .dx-calendar-navigator {
            margin-left: 28px;
            width: 240px;
          }
        }
      }
    }

    ///Calendar only
    &.dx-datebox-wrapper-date.dx-datebox-wrapper-calendar {
      .dx-overlay-content {
        .dx-popup-content {
          box-shadow: 0px 2px 6px 0px #00000024;
          overflow: hidden;
        }

        &:has(
            .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done
          ) {
          .dx-popup-content {
            padding: 16px;
            background-color: var(--Background-Accent-in-the-content);
            margin: 4px 0 0 0;
            clip-path: inset(-10px -10px 1px -10px);
            border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;

            .dx-calendar {
              box-shadow: none;
            }
          }

          .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done {
            margin-top: -2px;
            padding: 0 16px 16px 16px;
            clip-path: inset(1px -10px -10px -10px);
            box-shadow: 0px 2px 6px 0px #00000024;
            border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            -ms-border-radius: 0 0 4px 4px;
            -o-border-radius: 0 0 4px 4px;
          }
        }
      }
    }

    ///Calendar and Analog Clock
    &.dx-datebox-wrapper-datetime.dx-datebox-wrapper-calendar {
      .dx-overlay-content {
        .dx-popup-content,
        .dx-toolbar.dx-collection.dx-popup-bottom {
          padding: 16px 16px 0 16px;
          background-color: var(--Background-Accent-in-the-content);
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border: 1px solid var(--Dividers-Borders-Long);
          box-shadow: 0px 2px 6px 0px #00000024;

          .dx-box-flex.dx-box.dx-widget.dx-collection:has(.dx-timeview-clock) {
            gap: 16px;
          }

          ///Digital Clock
          .dx-item-content:has(.dx-timeview-field) {
            .dx-timeview-field.dx-box-flex.dx-box.dx-collection {
              justify-content: space-between !important;

              .dx-timeview-time-separator {
                margin: 0 4.3px;
              }

              .dx-timeview-format12 {
                margin-left: 12px;
              }

              .dx-item .dx-item-content {
                .dx-texteditor {
                  background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
                  height: 32px;
                  border: none;
                  border-radius: 3px;
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  -ms-border-radius: 3px;
                  -o-border-radius: 3px;

                  .dx-texteditor-input {
                    padding: 8px;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: var(--me-regular-font-weight);
                  }

                  .dx-texteditor-buttons-container {
                    width: 30px;
                  }

                  .dx-texteditor-buttons-container {
                    .dx-numberbox-spin-down-icon,
                    .dx-numberbox-spin-up-icon,
                    .dx-dropdowneditor-icon {
                      font-family: var(--me-icon-family);
                    }

                    .dx-numberbox-spin-down-icon,
                    .dx-dropdowneditor-icon {
                      &::before {
                        content: var(--me-icon-chevron-down);
                      }
                    }
                    .dx-numberbox-spin-down-icon {
                      &::before {
                        margin-top: -10px;
                      }
                    }

                    .dx-numberbox-spin-up-icon {
                      &::before {
                        content: var(--me-icon-chevron-up);
                        margin-top: -7px;
                      }
                    }
                  }
                }
              }
            }
          }

          .dx-box-flex.dx-box.dx-widget.dx-collection {
            .dx-item.dx-box-item {
              ///Calendar
              .dx-item-content.dx-box-item-content {
                .dx-calendar {
                  box-shadow: none;
                  margin-bottom: 24px;
                }
              }

              ///Analog Clock
              .dx-item-content.dx-box-item-content.dx-datebox-datetime-time-side {
                .dx-timeview {
                  margin: 0;
                  .dx-box-flex.dx-box.dx-widget.dx-collection {
                    align-items: center !important;
                    .dx-item.dx-box-item {
                      ///Analog Clock
                      &:has(.dx-timeview-clock) {
                        width: 200px;
                        height: 200px;
                      }

                      .dx-item-content.dx-timeview-clock {
                        margin: 0;
                        background: $me-watch;

                        &:before {
                          content: '';
                          height: 12px;
                          width: 12px;
                          left: 94px;
                          top: 94px;
                          position: absolute;
                          background: var(--Controls-Content-In-Controls-Accent-Default);
                          border-radius: 50%;
                          -webkit-border-radius: 50%;
                          -moz-border-radius: 50%;
                          -ms-border-radius: 50%;
                          -o-border-radius: 50%;
                        }

                        &:after {
                          content: '';
                          height: 4px;
                          width: 4px;
                          left: 98px;
                          top: 98px;
                          position: absolute;
                          background: var(--Background-Accent-in-the-content);
                          border-radius: 50%;
                          -webkit-border-radius: 50%;
                          -moz-border-radius: 50%;
                          -ms-border-radius: 50%;
                          -o-border-radius: 50%;
                        }

                        .dx-timeview-hourarrow,
                        .dx-timeview-minutearrow {
                          background-image: none;
                          align-content: end;
                          text-align: center;
                          text-align: -webkit-center;
                          margin-left: -15px;

                          &:before {
                            background: var(--Controls-Content-In-Controls-Accent-Default);
                            display: flex;
                            border-radius: 8px;
                            -webkit-border-radius: 8px;
                            -moz-border-radius: 8px;
                            -ms-border-radius: 8px;
                            -o-border-radius: 8px;
                          }
                        }

                        .dx-timeview-hourarrow {
                          &:before {
                            content: '';
                            height: 59px;
                            width: 6px;
                          }
                        }

                        .dx-timeview-minutearrow {
                          &:before {
                            content: '';
                            height: 63px;
                            width: 4px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        ///with buttons
        &:has(
            .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done
          ) {
          .dx-popup-content {
            margin: 4px 0 0 0;
            clip-path: inset(-10px -10px 1px -10px);
            border-radius: 4px 4px 0 0;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
          }

          .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done {
            margin-top: -2px;
            padding: 0 16px 16px 16px;
            clip-path: inset(1px -10px -10px -10px);
            border-radius: 0 0 4px 4px;
            -webkit-border-radius: 0 0 4px 4px;
            -moz-border-radius: 0 0 4px 4px;
            -ms-border-radius: 0 0 4px 4px;
            -o-border-radius: 0 0 4px 4px;
          }
        }
      }
    }

    ///Time only
    &.dx-datebox-wrapper-time {
      .dx-overlay-content:has(
          .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done
        ) {
        .dx-popup-content {
          margin: 4px 0 0 0;
          clip-path: inset(-10px -10px 1px -10px);
          border-radius: 3px 3px 0 0;
          -webkit-border-radius: 3px 3px 0 0;
          -moz-border-radius: 3px 3px 0 0;
          -ms-border-radius: 3px 3px 0 0;
          -o-border-radius: 3px 3px 0 0;
        }

        .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done {
          margin-top: -2px;
          padding: 16px;
          clip-path: inset(1px -10px -10px -10px);
          box-shadow: 0px 2px 6px 0px #00000024;
          border-radius: 0 0 3px 3px;
          -webkit-border-radius: 0 0 3px 3px;
          -moz-border-radius: 0 0 3px 3px;
          -ms-border-radius: 0 0 3px 3px;
          -o-border-radius: 0 0 3px 3px;
          border: 1px solid var(--Dividers-Borders-Long);
          border-top: none;
        }
      }

      .dx-popup-content {
        background-color: var(--Background-Accent-in-the-content);
        box-shadow: 0px 2px 6px 0px #00000024;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border: 1px solid var(--Dividers-Borders-Long);

        .dx-list-items {
          display: flex;
          flex-direction: column;
          gap: 4px;
          padding-block: 4px;

          .dx-item-content {
            font-size: 13px;
            gap: 0;
            line-height: 16px;
            font-weight: var(--me-regular-font-weight);
          }
        }
      }
    }
  }

  &.dx-datebox-wrapper-calendar.dx-datebox-wrapper-datetime .dx-timeview {
    margin: 0;
    .dx-timeview-time-separator {
      margin: 0;
    }
  }

  .dx-dropdownlist-popup-wrapper.dx-popup-wrapper .dx-overlay-content {
    border-radius: 4px;
  }

  &.dx-overlay-wrapper.dx-popup-wrapper.dx-dropdowneditor-overlay
    .dx-overlay-content.dx-popup-normal {
    box-shadow: none;
  }
}

.dx-selectbox-popup-wrapper {
  top: 4px;
}

.dx-overlay-wrapper.me-date-box-overlay.dx-datebox-wrapper .dx-overlay-content {
  background-color: #fff;
}

.dx-popup-title .dx-closebutton {
  border: none;
}

.dx-list:not(.dx-list-select-decorator-enabled)
  .dx-list-item.dx-state-focused:not(.me-list .dx-list-item) {
  box-shadow: none;
  background-color: #b8bbca;
}
