@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../common/mixins" as *;
@use "../../base/widget";

// adduse
.dx-dropdownmenu-popup-wrapper .dx-dropdownmenu-list {
  width: 220px;

  &.dx-popup-content.dx-list {
    // padding: 8px;

    .dx-list-item-content::before {
      content: none;
    }
  }

  .dx-toolbar-menu-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: none;

    &:has(.dx-item) {
      padding: 8px 8px 0px;
    }

    &.dx-toolbar-menu-last-section {
      padding: 8px;
      // padding-top: 0px;
      // padding-bottom: 8px;
    }

    .dx-toolbar-hidden-button .dx-button {
      padding: 0;

      .dx-button-content {
        justify-content: flex-start;
      }
    }

    .dx-list-item-content {
      padding: 0;

      .dx-button {
        padding: 0;
      }

      .dx-widget.me-button.me-button-icon-only {
        &.me-button-large .dx-button-content {
          padding: 8px 12px;
        }

        &.me-button-medium .dx-button-content {
          padding: 6px 8px;
        }

        &.me-button-small .dx-button-content {
          padding: 4px 8px;
        }

        &.me-button .dx-button-content {
          justify-content: flex-start;
        }
      }
    }

    .dx-toolbar-hidden-button-group {
      margin: 0;

      .dx-buttongroup .dx-buttongroup-wrapper {
        gap: 8px;
      }
    }

    .dx-button-mode-outlined.dx-buttongroup-first-item.dx-button,
    .dx-button-mode-outlined.dx-buttongroup-last-item.dx-button {
      border-radius: 0;
    }

    .dx-widget.me-button {
      align-self: stretch;

      &.dx-button-mode-outlined.me-button-icon-only {
        &.me-button-large .dx-button-content {
          padding: 8px 12px;
        }

        &.me-button-medium .dx-button-content {
          padding: 6px 8px;
        }

        &.me-button-small .dx-button-content {
          padding: 4px 8px;
        }

        &.me-button .dx-button-content {
          justify-content: flex-start;
        }
      }
    }
  }
}

.dx-widget {
  @include dx-base-typography();

  &.me-button {
    align-self: center;
    border-radius: 3px;
    font-weight: 500;

    &.me-button-icon-only.me-button-small {
      & .dx-button-content {
        padding: 4px;
      }
    }

    &.me-button-icon.me-button-small {
      & .dx-button-content {
        padding: 4px 12px;
      }
    }

    &.me-button-icon-only.me-button-medium {
      & .dx-button-content {
        padding: 6px;
      }
    }

    &.me-button-icon.me-button-medium {
      & .dx-button-content {
        padding: 6px 12px;
      }
    }

    & .dx-button-content {
      padding: 6px 12px;

      & .me-button-inner {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }

  &.me-button-large {
    border-radius: 4px;

    &.me-button-icon-only {
      & .dx-button-content {
        padding: 8px;
      }
    }

    &.me-button-icon {
      & .dx-button-content {
        padding: 8px 16px;
      }
    }

    & .dx-button-content {
      padding: 10px 16px;

      & .me-button-inner {
        gap: 8px;
      }
    }
  }
}

.dx-widget {
  &.me-button.dx-button-mode-outlined {
    &.me-button-icon-only.me-button-small {
      & .dx-button-content {
        padding: 3px;
      }
    }

    &.me-button-icon.me-button-small {
      & .dx-button-content {
        padding: 3px 11px;
      }
    }

    &.me-button-icon-only.me-button-medium {
      & .dx-button-content {
        padding: 5px;
      }
    }

    &.me-button-icon.me-button-medium {
      & .dx-button-content {
        padding: 5px 11px;
      }
    }

    & .dx-button-content {
      padding: 5px 11px;
    }
  }

  &.me-button-large.dx-button-mode-outlined {
    &.me-button-icon-only {
      & .dx-button-content {
        padding: 7px;
      }
    }

    &.me-button-icon {
      & .dx-button-content {
        padding: 7px 15px;
      }
    }

    & .dx-button-content {
      padding: 9px 15px;
    }
  }
}

.dx-buttongroup.dx-widget {
  & .me-button,
  & .me-button-large {
    border-radius: 0px;
  }
}

.dx-state-disabled:not(.dx-button) {
  // &.dx-widget,
  // .dx-widget {
  //   .dx-widget {
  //     opacity: 1;
  //   }

  //   @include disabled-widget(0.6);
  // }
}
