<div class="wrapper">
  <div class="flex">
    <dx-text-box label="Text box" width="200px" mode="text"></dx-text-box>
    <dx-select-box
      [items]="['Outlined', 'Filled', 'Underlined']"
      [inputAttr]="{ 'aria-label': 'Styling Mode' }"
      label="Select Box"
      labelMode="static"
      placeholder="Outlined"
      width="200px"
    ></dx-select-box>
    <dx-color-box value="#f05b41" label="Color Box" labelMode="static" width="200px"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box
      [value]="20.5"
      [showSpinButtons]="true"
      [showClearButton]="true"
      label="Number box"
      labelMode="static"
      width="200px"
    ></dx-number-box>
    <dx-tag-box label="Products" labelMode="static" placeholder="Outlined" width="200px" valueExpr="ID"></dx-tag-box>
    <dx-lookup width="200px"></dx-lookup>
  </div>
  <div class="flex">
    <dx-text-box
      placeholder="Filled"
      label="Text Box"
      labelMode="static"
      width="200px"
      stylingMode="filled"
    ></dx-text-box>
    <dx-select-box
      [items]="['Outlined', 'Filled', 'Underlined']"
      [inputAttr]="{ 'aria-label': 'Styling Mode' }"
      label="Select Box"
      labelMode="static"
      placeholder="Filled"
      width="200px"
      stylingMode="filled"
    ></dx-select-box>
    <dx-color-box
      value="#f05b41"
      label="Color Box"
      labelMode="static"
      width="200px"
      stylingMode="filled"
    ></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box
      [value]="20.5"
      [showSpinButtons]="true"
      [showClearButton]="true"
      label="Number box"
      labelMode="static"
      width="200px"
      stylingMode="filled"
    ></dx-number-box>
    <dx-tag-box
      label="Products"
      labelMode="static"
      placeholder="Filled"
      width="200px"
      valueExpr="ID"
      stylingMode="filled"
    ></dx-tag-box>
    <dx-lookup width="200px" stylingMode="filled"></dx-lookup>
  </div>
  <div class="flex">
    <dx-text-box
      placeholder="Underlined"
      label="Text Box"
      labelMode="static"
      width="200px"
      stylingMode="underlined"
    ></dx-text-box>
    <dx-select-box
      [items]="['Outlined', 'Filled', 'Underlined']"
      [inputAttr]="{ 'aria-label': 'Styling Mode' }"
      label="Select Box"
      labelMode="static"
      placeholder="Underlined"
      width="200px"
      stylingMode="underlined"
    ></dx-select-box>
    <dx-color-box
      value="#f05b41"
      label="Color Box"
      labelMode="static"
      width="200px"
      stylingMode="underlined"
    ></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box
      [value]="20.5"
      [showSpinButtons]="true"
      [showClearButton]="true"
      label="Number box"
      labelMode="static"
      width="200px"
      stylingMode="underlined"
    ></dx-number-box>
    <dx-tag-box
      label="Products"
      labelMode="static"
      placeholder="Underlined"
      width="200px"
      valueExpr="ID"
      stylingMode="underlined"
    ></dx-tag-box>
    <dx-lookup width="200px" stylingMode="underlined"></dx-lookup>
  </div>
</div>
