<div style="display: flex; flex-direction: column; gap: 24px; align-items: center">
  <!-- Size small -->
  <div>
    <h4 class="badge-title" style="margin-bottom: 12px; text-align: center">Size: small</h4>
    <div style="display: flex; gap: 16px; align-items: center">
      <me-badge [value]="5" size="small" color="default"></me-badge>
      <me-badge [value]="5" size="small" color="secondary"></me-badge>
      <me-badge [value]="5" size="small" color="success"></me-badge>
      <me-badge [value]="5" size="small" color="attention"></me-badge>
      <me-badge [value]="5" size="small" color="error"></me-badge>
    </div>
  </div>

  <!-- Size large -->
  <div>
    <h4 class="badge-title" style="margin-bottom: 12px; text-align: center">Size: large</h4>
    <div style="display: flex; gap: 16px; align-items: center">
      <me-badge [value]="5" size="large" color="default"></me-badge>
      <me-badge [value]="5" size="large" color="secondary"></me-badge>
      <me-badge [value]="5" size="large" color="success"></me-badge>
      <me-badge [value]="5" size="large" color="attention"></me-badge>
      <me-badge [value]="5" size="large" color="error"></me-badge>
    </div>
  </div>
</div>
