.me-grid-cell-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.cell-action-button {
  cursor: pointer;

  padding: 0;
  border: none;

  color: var(--Controls-Content-In-Controls-Accent-Default);

  background: transparent;

  &:hover {
    color: var(--Controls-BG-Accent-Accent-BG-Hover);
  }

  &:active {
    color: var(--Controls-BG-Accent-Accent-BG-Pressed);
  }

  &--selected {
    color: var(--Controls-BG-Accent-Accent-BG-Selected);
  }

  &:focus-visible {
    border-radius: 0.125rem;
    outline: 0.125rem solid var(--Dividers-Borders-Focus);
    outline-offset: 0.125rem;
  }
}