# registry=https://tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/registry/ 
                        
# strict-ssl=false
# always-auth=true

; begin auth token
# //tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/registry/:username=CK21_External
# //tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/registry/:_password=b2JwdGl4dXF1cmJtcm42eG16MjVrZXpmN3hocWxnd24ydHlrZm1tZGdoZ2hpendtdG1qcQ==
# //tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/registry/:email=sergei.rodnykh@monitel.ru
# //tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/:username=CK21_External
# //tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/:_password=b2JwdGl4dXF1cmJtcm42eG16MjVrZXpmN3hocWxnd24ydHlrZm1tZGdoZ2hpendtdG1qcQ==
# //tfs-ext.sandbox.local/CK21_External/DesignSystem/_packaging/npm_thirdparty/npm/:email=sergei.rodnykh@monitel.ru
; end auth token