@monitel:registry=http://cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/registry/

//cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/registry/:username=CK-11
//cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/registry/:_password=${MONITEL_REGISTRY_NPM_TOKEN}
//cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/registry/:email=npm requires email to be set but doesn't use the value
//cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/:username=CK-11
//cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/:_password=${MONITEL_REGISTRY_NPM_TOKEN}
//cl-tfs2018.monitel.local:8080/tfs/CK-11/_packaging/Integration/npm/:email=npm requires email to be set but doesn't use the value
