@use 'sass:math';
@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../dropDownEditor' as *;
@use '../textEditor' as *;
@use '../textEditor/colors' as *;
@use '../textEditor/sizes' as *;

.me-date-range-box.me-keyboard-focused {
  .dx-texteditor-container {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }
}

.dx-daterangebox {
  display: flex;

  .dx-texteditor-with-label,
  .dx-texteditor-with-floating-label {
    margin-top: 0;
  }

  &.dx-editor-outlined {
    .dx-datebox {
      &.dx-editor-outlined {
        border: 0;
        box-shadow: none;
        background-color: transparent;

        &.dx-texteditor-with-label,
        &.dx-texteditor-with-floating-label {
          .dx-label,
          .dx-label-before,
          .dx-label-after {
            margin: 0;
            border: 0;
            clip-path: none;
            box-shadow: none;
          }
        }
      }
    }
  }

  .dx-datebox {
    width: 100%;

    &.dx-editor-underlined {
      border-bottom: 0;
      background-color: transparent;

      &::before {
        margin-left: 0;
      }

      &.dx-rtl {
        .dx-texteditor-container {
          .dx-texteditor-input {
            padding-right: 0;
          }
        }
      }
    }

    &.dx-editor-filled {
      background-color: transparent;
      border: 0;

      &.dx-state-readonly {
        background-color: transparent;

        &.dx-state-hover {
          background-color: transparent;
        }
      }
    }
  }
}

.dx-daterangebox-separator {
  display: flex;
  align-items: center;

  .dx-rtl & {
    transform: scale(-1, 1);
  }
}

.me-date-range-box.dx-daterangebox.dx-texteditor.dx-dropdowneditor.dx-widget {
  .dx-datebox,
  .dx-daterangebox-separator {
    margin-right: 8px;
  }

  .dx-daterangebox-separator {
    .dx-icon.dx-icon-to {
      font-family: var(--me-icon-family);
      color: var(--Icon-Secondary);
      font-style: normal;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        content: var(--me-icon-arrow-forward);
      }
    }
  }

  .dx-dropdowneditor-input-wrapper {
    .dx-texteditor-container .dx-texteditor-buttons-container {
      display: none !important;
    }
  }

  .dx-texteditor-container {
    .dx-texteditor-buttons-container {
      & > * {
        height: 0 !important;
      }
    }
  }

  .dx-texteditor-buttons-container {
    .dx-dropdowneditor-button {
      width: var(--icon-width);
      min-width: var(--icon-width);
      height: var(--icon-width);
      padding: 0;

      .dx-button-content {
        .dx-dropdowneditor-icon {
          width: inherit;
          height: inherit;
          line-height: var(--icon-width);
          font-family: var(--me-icon-family);
          border: 0;

          &:before {
            content: var(--me-icon-calendar-today);
            margin: 0;
          }
        }
      }
    }
  }

  &.dx-dropdowneditor-active {
    .dx-dropdowneditor-icon {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
  }

  &.dx-invalid:not(.dx-state-disabled),
  &.dx-state-focused:not(.dx-invalid, .dx-state-readonly) {
    .dx-texteditor-container {
      box-shadow: none;
    }
  }

  &.dx-state-focused:not(.dx-invalid, .dx-state-readonly) {
    box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Accent-Default);
  }

  &.dx-invalid:not(.dx-state-disabled) {
    box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Danger-Default);
  }

  &.dx-state-readonly,
  &.dx-state-disabled {
    .dx-texteditor-container {
      .dx-texteditor-buttons-container {
        &::before {
          content: none;
        }

      }
    }

    .dx-dropdowneditor-button {
      display: none;
    }

    & > .dx-texteditor-buttons-container {
      font-family: var(--me-icon-family);

      &::before {
        content: var(--me-icon-lock);
      }
    }
  }
}

///sizes
.me-date-range-box.dx-daterangebox.dx-texteditor.dx-dropdowneditor.dx-widget {
  &.me-date-range-box {
    align-items: center;

    .dx-texteditor-container {
      padding-inline: 0;
      padding-right: 0;
      align-items: center;
    }

    .dx-dropdowneditor-icon::before {
      position: static;
      display: initial;
    }

    &-small,
    &-medium {
      .dx-daterangebox-separator .dx-icon.dx-icon-to,
      .dx-dropdowneditor-icon,
      .dx-texteditor-buttons-container {
        font-size: 20px;
      }

      .dx-texteditor-buttons-container {
        margin-right: 8px;
      }
    }

    &-large {
      .dx-daterangebox-separator .dx-icon.dx-icon-to,
      .dx-dropdowneditor-icon,
      .dx-texteditor-buttons-container {
        font-size: 24px;
      }

      .dx-texteditor-buttons-container {
        margin-right: 12px;
      }
    }
  }
}

.me-date-range-box-overlay.dx-overlay-wrapper.dx-popup-wrapper.dx-dropdowneditor-overlay
  .dx-overlay-content.dx-popup-normal {
  overflow: visible;
  box-shadow: none;

  .dx-popup-content:has(.dx-calendar) {
    margin-top: 4px;

    .dx-calendar.dx-calendar-range.dx-calendar-multiview {
      width: 512px;
      padding: 4px 16px 16px 16px;

      .dx-calendar-body {
        padding: 0;

        .dx-calendar-views-wrapper {
          width: 480px;

          .dx-widget {
            width: 240px;
            height: 232px;
            left: 0;
            padding: 0 8px 8px 8px;

            table {
              width: 224px;
              padding: 0;

              thead {
                height: 32px;
                vertical-align: top;
              }

              tbody {
                margin-top: 8px;

                tr {
                  td {
                    &.dx-calendar-cell-in-range:not(
                        .dx-calendar-other-view,
                        .dx-calendar-range-start-date,
                        .dx-calendar-range-end-date
                      ) {
                      background-color: var(--Controls-Informative-BG-Selected-Element);
                      border-radius: 0;
                    }

                    &.dx-calendar-range-start-date {
                      border: none;
                      border-radius: 3px 0 0 3px;
                    }

                    &.dx-calendar-range-end-date {
                      border: none;
                      border-radius: 0 3px 3px 0;
                    }

                    &.dx-calendar-cell.dx-calendar-selected-date {
                      color: var(--Controls-Content-In-Controls-On-BG-Default);
                      box-shadow: inset 0 0 0 1000px var(--Controls-BG-Accent-Accent-BG-Default);
                    }
                  }
                }
              }
            }

            &:last-child table > thead > tr > th {
              color: var(--Controls-Content-In-Controls-Main-Default);
            }
          }
        }
      }

      .dx-calendar-navigator {
        .dx-calendar-caption-button {
          .dx-button-content {
            .dx-button-text {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  &:has(
      .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done
    ) {
    .dx-popup-content {
      padding: 16px;
      background-color: var(--Background-Accent-in-the-content);
      margin: 4px 0 0 0;
      box-shadow: 0px 2px 6px 0px #00000024;
      clip-path: inset(-10px -10px 1px -10px);
      border-radius: 4px 4px 0 0;

      .dx-calendar {
        box-shadow: none;
      }
    }

    .dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-bottom.dx-popup-cancel.dx-popup-done {
      background-color: var(--Background-Accent-in-the-content);
      margin-top: -2px;
      padding: 0 16px 16px 16px;
      clip-path: inset(1px -10px -10px -10px);
      box-shadow: 0px 2px 6px 0px #00000024;
      border-radius: 0 0 4px 4px;
    }
  }
}

.me-date-range-box.dx-daterangebox {
  .dx-end-datebox.dx-texteditor-empty.dx-texteditor-with-floating-label.dx-invalid
    .dx-texteditor-label
    .dx-label
    span {
    margin-top: 0px !important;
  }

  &:not(:has(.dx-end-datebox.dx-texteditor-empty)):has(.dx-start-datebox.dx-texteditor-empty):not(
      .dx-state-focused,
      .dx-state-hover
    ) {
    .dx-start-datebox.dx-texteditor-empty.dx-texteditor-with-floating-label.dx-invalid
      .dx-texteditor-label
      .dx-label
      span {
      margin-top: 3.5px;
      left: 9px;
    }
  }

  &:not(:has(.dx-end-datebox.dx-texteditor-empty)):has(.dx-start-datebox.dx-texteditor-empty) {
    .dx-start-datebox.dx-texteditor-empty.dx-texteditor-with-floating-label.dx-state-hover:not(
        .dx-state-focused
      )
      .dx-texteditor-label
      .dx-label
      span {
      margin-top: 3.5px;
      left: 9px;
    }
  }
}
