<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Select box</h1>
  <h2 class="wrapper__title dx-widget">Разное количество пунктов</h2>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource9" size="medium"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource18" size="medium"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource27" size="medium"></dx-select-box>
  </div>
  <h2 class="wrapper__title dx-widget">Label - hidden</h2>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [readOnly]="true"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [readOnly]="true"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [readOnly]="true"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [disabled]="true"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [disabled]="true"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [disabled]="true"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" [isValid]="false">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" [isValid]="false">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" [isValid]="false">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
  </div>

  <h2 class="wrapper__title dx-widget">Label - static</h2>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" label="Label" labelMode="static"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" label="Label" labelMode="static"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" label="Label" labelMode="static"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [readOnly]="true" label="Label" labelMode="static"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [readOnly]="true" label="Label" labelMode="static"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [readOnly]="true" label="Label" labelMode="static"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [disabled]="true" label="Label" labelMode="static"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [disabled]="true" label="Label" labelMode="static"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [disabled]="true" label="Label" labelMode="static"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" [isValid]="false" label="Label" labelMode="static">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" [isValid]="false" label="Label" labelMode="static">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" [isValid]="false" label="Label" labelMode="static">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
  </div>

  <h2 class="wrapper__title dx-widget">Label - floating</h2>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" label="Label" labelMode="floating"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" label="Label" labelMode="floating"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" label="Label" labelMode="floating"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [readOnly]="true" label="Label" labelMode="floating"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [readOnly]="true" label="Label" labelMode="floating"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [readOnly]="true" label="Label" labelMode="floating"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [disabled]="true" label="Label" labelMode="floating"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [disabled]="true" label="Label" labelMode="floating"></dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [disabled]="true" label="Label" labelMode="floating"></dx-select-box>
  </div>
  <div class="flex">
    <dx-select-box meSelectBox [dataSource]="dataSource" size="small" [isValid]="false" label="Label" labelMode="floating">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" [isValid]="false" label="Label" labelMode="floating">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
    <dx-select-box meSelectBox [dataSource]="dataSource" size="large" [isValid]="false" label="Label" labelMode="floating">
      <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
    </dx-select-box>
  </div>

  <h2 class="wrapper__title dx-widget">Label - outside (top)</h2>
  <div class="flex">
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small"></dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium"></dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large"></dx-select-box>
    </div>
  </div>
  <div class="flex">
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [readOnly]="true"></dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [readOnly]="true"></dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [readOnly]="true"></dx-select-box>
    </div>
  </div>
  <div class="flex">
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [disabled]="true"></dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [disabled]="true"></dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [disabled]="true"></dx-select-box>
    </div>
  </div>
  <div class="flex">
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" [isValid]="false">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" [isValid]="false">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-select-box>
    </div>
    <div meLabel>
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large" [isValid]="false">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-select-box>
    </div>
  </div>

  <h2 class="wrapper__title dx-widget">Label - outside (left)</h2>
  <div class="flex">
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" [isValid]="true"></dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium"></dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large"></dx-select-box>
    </div>
  </div>
  <div class="flex">
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [readOnly]="true"></dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [readOnly]="true"></dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [readOnly]="true"></dx-select-box>
    </div>
  </div>
  <div class="flex">
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" value="Пункт 1" [disabled]="true"></dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" value="Пункт 1" [disabled]="true"></dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large" value="Пункт 1" [disabled]="true"></dx-select-box>
    </div>
  </div>
  <div class="flex">
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="small" [isValid]="false">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="medium" [isValid]="false">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-select-box>
    </div>
    <div meLabel labelPosition="left">
      <label #meLabel>Label</label>
      <dx-select-box meSelectBox [dataSource]="dataSource" size="large" [isValid]="false">
        <dx-validator><dxi-validation-rule type="pattern" pattern="^[a-zA-Z]+$" [message]="errorMessage"></dxi-validation-rule></dx-validator>
      </dx-select-box>
    </div>
  </div>
</div>
