<div class="wrapper">
  <div class="wrapper__main-title dx-widget">Text area</div>
  <div class="textarea-wrapper">
    <dx-text-area
      meTextArea
      [activeStateEnabled]="activeStateEnabled"
      [label]="label"
      [placeholder]="placeholder"
      [size]="size"
      [readOnly]="readOnly"
      [disabled]="disabled"
      [width]="width"
      [value]="value"
      [isValid]="isValid"
      [validationError]="validationError"
      [autoResizeEnabled]="autoResizeEnabled"
      [validationMessageMode]="validationMessageMode"
      [validationMessagePosition]="validationMessagePosition"
      [inputAttr]="{ 'aria-label': 'Notes' }"
    >
      <dx-validator>
        <dxi-validation-rule type="required" message="Required"> </dxi-validation-rule>
      </dx-validator>
    </dx-text-area>
  </div>
</div>
