@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/loadIndicator';

// adduse

.dx-loadindicator {
  background-color: transparent;
}

.dx-loadindicator-image {
  background-image: $loadindicator-image-bg;
}

.dx-loadindicator-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .dx-loadindicator-segment {
    position: absolute;
    width: 5.8px;
    height: 5.8px;
    left: 41%;
    top: 41.5%;
    opacity: 0;
    background: $loadindicator-bg;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    // box-shadow: 0 0 3px $loadindicator-segment-shadow-color;
    animation: dx-generic-loadindicator-opacity 1s linear infinite;
  }

  @keyframes dx-generic-loadindicator-opacity {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.55;
    }
  }

  .dx-loadindicator-segment0 {
    transform: rotate(0deg) translate(0, -222%);
    animation-delay: 0s;
  }

  .dx-loadindicator-segment1 {
    transform: rotate(45deg) translate(0, -222%);
    animation-delay: -0.875s;
  }

  .dx-loadindicator-segment2 {
    transform: rotate(90deg) translate(0, -222%);
    animation-delay: -0.75s;
  }

  .dx-loadindicator-segment3 {
    transform: rotate(135deg) translate(0, -222%);
    animation-delay: -0.625s;
  }

  .dx-loadindicator-segment4 {
    transform: rotate(180deg) translate(0, -222%);
    animation-delay: -0.5s;
  }

  .dx-loadindicator-segment5 {
    transform: rotate(225deg) translate(0, -222%);
    animation-delay: -0.375s;
  }

  .dx-loadindicator-segment6 {
    transform: rotate(270deg) translate(0, -222%);
    animation-delay: -0.25s;
  }

  .dx-loadindicator-segment7 {
    transform: rotate(315deg) translate(0, -222%);
    animation-delay: -0.125s;
  }

  .dx-loadindicator-segment8,
  .dx-loadindicator-segment9,
  .dx-loadindicator-segment10,
  .dx-loadindicator-segment11,
  .dx-loadindicator-segment12,
  .dx-loadindicator-segment13,
  .dx-loadindicator-segment14,
  .dx-loadindicator-segment15 {
    display: none;
  }
}

.dx-rtl .dx-loadindicator-icon {
  right: 15%;
  left: 0;
}


.me-load-indicator-small {
	width: 20px;
	height: 20px;

	.dx-loadindicator-icon .dx-loadindicator-segment {
		width: 3.63px; 
		height: 3.63px;
		left: 41%;
		top: 41%;
	}
}

.me-load-indicator-medium {
	width: 24px;
	height: 24px;
	

	.dx-loadindicator-icon .dx-loadindicator-segment {
		width: 4.35px;
		 height: 4.35px;
		left: 41%;
		top: 41%;
		
	}
}

.me-load-indicator-large {
	width: 32px;
	height: 32px;
	

	.dx-loadindicator-icon .dx-loadindicator-segment {
		width: 5.8px;
		 height: 5.8px;
		left: 41%;
		top: 41%;
		
	}
}

.me-load-indicator-color-default {
	.dx-loadindicator-icon .dx-loadindicator-segment {
		background: $loadindicator-color-default;

	}
}
.me-load-indicator-color-normal {
	.dx-loadindicator-icon .dx-loadindicator-segment {
		background: $loadindicator-color-normal;

	}
}
.me-load-indicator-color-accent {
	.dx-loadindicator-icon .dx-loadindicator-segment {
		background: $loadindicator-color-accent;

	}
}
