@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Background color
* $type color
*/
$radiogroup-checked-bg: null !default;
$radiogroup-border-color: null !default;
$radiogroup-bg: null !default;

/**
* $name 40. Active state background color
* $type color
*/
$radiobutton-active-bg: null !default;
$radiogroup-hover-border-color: null !default;
$radiobutton-focused-border-color: null !default;
$radiobutton-invalid-hover-border-color: $base-invalid-color !default;
$radiobutton-invalid-focused-border-color: $base-invalid-color !default;
$radiobutton-invalid-faded-border-color: $base-invalid-faded-border-color !default;
$radiogroup-readonly-border-color: null !default;
$radiogroup-readonly-bg: null !default;
$radiogroup-checked-hover-bg: null !default;
$radiogroup-disabled-border-color: null !default;
$radiobutton-readonly-bg: null !default;
$radiobutton-active-border: null !default;

@if $color == "light" {
  $radiogroup-disabled-border-color: #91aaea;
  $radiobutton-readonly-bg: #dedfe6;
  $radiogroup-border-color: #3257dc;
  $radiogroup-checked-hover-bg: #4970ff;
  $radiogroup-checked-bg: $base-accent !default;
  $radiogroup-bg: transparent;
  // $radiobutton-active-bg: color.change(
  //   darken($radiogroup-bg, 62.5%),
  //   $alpha: 0.2
  // ) !default;
  $radiogroup-hover-border-color: #4970ff;
  $radiobutton-focused-border-color: #7eb9ff;
  $radiogroup-readonly-border-color: #dedfe6;
  $radiobutton-active-border: #2544b3;
  // $radiogroup-readonly-bg: $radiogroup-bg !default;
}

@if $color == "dark" {
  $radiogroup-disabled-border-color: #27376e;
  $radiobutton-readonly-bg: #202124;
  $radiogroup-border-color: #3565e2;
  $radiogroup-checked-hover-bg: #4a7cff;
  $radiogroup-checked-bg: $base-accent !default;
  $radiogroup-bg: transparent;
  // $radiobutton-active-bg: color.change(
  //   darken($radiogroup-bg, 62.5%),
  //   $alpha: 0.2
  // ) !default;
  $radiogroup-hover-border-color: #4a7cff;
  $radiobutton-focused-border-color: #94c5ff;
  $radiogroup-readonly-border-color: #202124;
  $radiobutton-active-border: #264fb8;
  // $radiogroup-readonly-bg: $radiogroup-bg !default;
}
