<dx-select-box [dataSource]="products" [value]="products[currentIndex]" fieldTemplate="field" [dropDownOptions]="dropDownOptions" width="200px">
  <div *dxTemplate="let data of 'field'">
    <div>
      <dx-text-box [value]="data && data.Name" [readOnly]="true"></dx-text-box>
    </div>
  </div>
  <div *dxTemplate="let data of 'popupContent'">
    <dx-list [items]="products" showScrollbar="true" (onItemClick)="chooseElement($event)" itemTemplate="list-item" selectionMode="single">
      <div *dxTemplate="let data of 'list-item'">{{ data.Name }}</div></dx-list
    >
  </div>
</dx-select-box>
