@use './mixins' as *;

// adduse

.dx-buttongroup {
  display: inline-block;
}

.dx-buttongroup-wrapper {
  @include flex-container(row, nowrap);

  height: 100%;
  width: 100%;
}

.dx-buttongroup-item {
  flex: 0 1 auto;

  &.dx-button-mode-outlined,
  &.dx-button-mode-contained {
    border-left-width: 0;

    &.dx-button {
      border-radius: 0;
    }
  }

  &.dx-button-mode-text:not(.me-button) {
    margin-left: 1px;
  }
}

.me-dropdownbutton.me-split-button .dx-buttongroup-item {
  &.dx-button-mode-text:not(.me-button) {
    margin-left: 0;
  }

  &.dx-dropdownbutton-action.dx-button {
    border-radius: 4px 0 0 4px;
  }

  &.dx-dropdownbutton-toggle.dx-button {
    border-radius: 0 4px 4px 0;
  }
}

.dx-buttongroup-item-has-width {
  flex: 1 1 auto;
}
