@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Bar background color
* $type color
*/
$progressbar-bg: null !default;
$progressbar-border-color: null !default;

/**
* $name 20. Selected range background color
* $type color
*/
$progressbar-range-bg: null !default;
$progressbar-range-border-color: $base-accent !default;
$progressbar-range-disabled-bg: color.change(
  $base-accent,
  $alpha: 0.6
) !default;
$progressbar-range-indeterminate-color: $base-accent !default;

@if $color == "light" {
  $progressbar-bg: #ecedf4;
  $progressbar-range-bg: #3257dc;
  $progressbar-border-color: #3257dc;
}

@if $color == "dark" {
  $progressbar-bg: #1d1e1f;
  $progressbar-range-bg: #5d9eff;
  $progressbar-border-color: #5d9eff;
}
