@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


.lights-out {
  background: #1b1c1d !important;
}

.lights-on {
  background-color: #f8f8f8 !important;
}

/* Составляющие документации */
.lights-out .sbdocs {
  background-color: #1b1c1d !important;
}

.lights-out .sbdocs code {
  background-color: transparent;
  color: #c9cdcf;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.lights-out .sbdocs h1:not(.sb-story h1),
.lights-out .sbdocs h2:not(.sb-story h2),
.lights-out .sbdocs h3:not(.sb-story h3),
.lights-out .sbdocs p:not(.sb-story p),
/* .lights-out .sbdocs span:not(.sb-story span), */
.lights-out .sbdocs li:not(.sb-story li) {
  color: #c9cdcf;
}

/*  sbdocs sbdocs-preview sb-unstyled css-s230ta */
.lights-out .sbdocs div:not(.sb-story div) {
  color: #c9cdcf;
  border-color: rgba(255, 255, 255, 0.1);
  background: none;
}

.lights-out .sbdocs div:not(.sb-story div) button {
  background: #1b1c1d;
  color: #ffffff;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

/* Составляющие таблицы параметров */
.lights-out .docblock-argstable table,
.lights-out .docblock-argstable tr:not([title]) td {
  background: #1b1c1d !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
}

.lights-out .docblock-argstable label {
  background-color: transparent;
}

.lights-out .docblock-argstable span {
  color: #c9cdcf;
  background-color: transparent;
}

.lights-out
  .docblock-argstable
  input[type="checkbox"]:checked
  ~ span:last-of-type {
  background-color: #2e2e2f;
  color: #ffffff;
}

.lights-out
  .docblock-argstable
  input[type="checkbox"]:not(:checked)
  ~ span:first-of-type {
  background-color: #2e2e2f;
  color: #ffffff;
}

.lights-out .docblock-argstable select,
.lights-out .docblock-argstable textarea,
.lights-out .docblock-argstable tr:not([title]) button,
.lights-out .docblock-argstable input:not([type="checkbox"], [type="radio"]) {
  background-color: #1b1c1d;
  color: #ffffff;
  box-shadow: rgba(255, 255, 255, 0.1) 0 0 0 1px inset;
}

.lights-out .docblock-argstable tr:not([title]) button:hover {
  background-color: #2e3438;
}

.lights-out .docblock-argstable tr[title] td {
  background-color: #222425 !important;
}

.lights-out .docblock-argstable tr[title] svg {
  color: #c9cdcf;
}

.lights-out .docblock-argstable tr[title]:hover td {
  background-color: #232526 !important;
}

/* Значения при редактировании обьектов в параметрах */
.lights-out .rejt-collapsed-text {
  color: #c9cdcf !important;
}

.lights-out .rejt-value {
  color: #c9cdcf !important;
}

.lights-out .rejt-value:hover,
.lights-out .rejt-value-node:hover .rejt-value {
  background-color: #2e3438 !important;
}
