@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/toast';

// adduse
@use '../overlay';

$generic-toast-shadow: 0 4px 10px 0 $toast-shadow-color;

.dx-toast-content {
  color: $toast-color;
  font-size: $generic-base-font-size;
  font-weight: 600;
  line-height: $generic-toast-line-height;
  padding: $generic-toast-content-padding;
  box-shadow: $generic-toast-shadow;
  border-radius: $toast-border-radius;
}

.dx-overlay-wrapper.dx-toast-wrapper {
  .dx-toast-success {
    background-color: var(--Background-Success);
  }
  .dx-toast-error {
    background-color: var(--Background-Error);
  }

  .dx-toast-warning {
    background-color: var(--Background-Attention);
  }

  .dx-toast-info {
    background-color: var(--Background-Content);
  }

  .dx-toast-icon {
    display: none;
  }

  .dx-toast-message {
    display: none;
  }
}

// Стили для базового класса
.dx-toast.me-toast {
  &.dx-toast-content {
    background-color: var(--Background-Content);
  }

  &.me-toast-warning {
    background-color: var(--Background-Attention);
  }

  &.me-toast-success {
    background-color: var(--Background-Success);
  }

  &.me-toast-error {
    background-color: var(--Background-Error);
  }

  .dx-toast-content {
    background: inherit;
  }
}
