@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/toast';
@use '../overlay';

$generic-toast-shadow: 0 4px 10px 0 $toast-shadow-color;

.dx-toast-content {
  color: $toast-color;
  font-size: $generic-base-font-size;
  font-weight: 600;
  line-height: $generic-toast-line-height;
  padding: $generic-toast-content-padding;
  box-shadow: $generic-toast-shadow;
  border-radius: $toast-border-radius;
}

@mixin toast-icon(
  $icon: var(--material-icon),
  $innerSize: var(--material-icon-inner-size, 20px),
  $color: var(--status-icon-color)
) {
  content: $icon;

  font-family: var(--me-symbols-family);
  font-size: $innerSize;
  line-height: $innerSize;
  font-weight: 300;
  color: var(--status-icon-color);
}

.dx-toast-wrapper {
  &:not(.me-toast) {
    --toast-message-line-height: 20px;
    --toast-message-font-size: 12px;

    --toast-content-message-gap: 8px;

    --material-icon-size: 20px;
    --material-icon-inner-size: 20px;
  }

  &:not(.me-toast),
  &.me-toast.me-show-icon:not(:has(.me-toast-content)) {
    .dx-toast-info-inverted {
      &::before {
        @include toast-icon();

        width: var(--material-icon-size);
        height: var(--material-icon-size);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .dx-toast {
    &-info {
      --status-background-color: var(--Background-Content);
      --status-icon-color: var(--Controls-Content-In-Controls-Accent-Default);
      --material-icon: 'info';
    }

    &-info-inverted {
      --status-background-color: var(--Background-Alert);
      --status-icon-color: var(--Controls-Content-In-Controls-Accent-Default);
      --material-icon: 'info';
      --text-color: var(--Text-Alert);
      --toast-divider-color: var(--Dividers-Borders-On-Alert);
    }

    &-warning {
      --status-background-color: var(--Background-Attention);
      --status-icon-color: var(--Controls-Content-In-Controls-Attention-Default);
      --material-icon: 'warning';
    }

    &-success {
      --status-background-color: var(--Background-Success);
      --status-icon-color: var(--Controls-Content-In-Controls-Success-Default);
      --material-icon: 'check_circle';
    }

    &-error {
      --status-background-color: var(--Background-Error);
      --status-icon-color: var(--Controls-Content-In-Controls-Danger-Default);
      --material-icon: 'error';
    }
  }

  .dx-toast-info-inverted .me-toast-close-button {
    @if $color == 'dark' {
      @include light-theme();
    } @else {
      @include dark-theme();
    }
  }

  .me-toast-header-message,
  .dx-toast-message {
    font-size: var(--toast-message-font-size);
    line-height: var(--toast-message-line-height);
    font-weight: 400;
    width: 100%;
  }

  .dx-toast-message {
    &:empty {
      display: none;
    }
  }

  .dx-toast-content {
    position: relative;
    padding: 8px;
    background-color: var(--status-background-color);
    color: var(--text-color, var(--Controls-Content-In-Controls-Main-Default));
  }

  .dx-toast-icon {
    width: var(--material-icon-size);
    height: var(--material-icon-size);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    &::before {
      @include toast-icon();
    }
  }

  &:not(:has(.me-toast-content)) {
    &.me-toast:not(.me-show-icon) {
      .dx-toast-icon {
        display: none;
      }
    }

    .dx-toast-content {
      gap: var(--toast-content-message-gap);
    }

    .dx-toast-message {
      color: var(--text-color, var(--Controls-Content-In-Controls-Main-Default));
    }
  }
}

.me-toast {
  &.me-toast-small {
    --toast-content-message-gap: 2px;
    --toast-message-font-size: 12px;
    --toast-message-line-height: 16px;
    --toast-title-font-size: 16px;
    --toast-title-line-height: 20px;
    --material-icon-size: 20px;
    --material-icon-inner-size: 20px;
  }

  &.me-toast-large {
    --toast-content-message-gap: 4px;
    --toast-message-font-size: 14px;
    --toast-message-line-height: 20px;
    --toast-title-font-size: 20px;
    --toast-title-line-height: 24px;
    --material-icon-size: 24px;
    --material-icon-inner-size: 24px;
  }

  &:has(.me-toast-content) {
    &.me-toast-small {
      --toast-content-right-offset: 32px;
    }

    &.me-toast-large {
      --toast-content-right-offset: 40px;
    }

    .dx-toast-icon {
      display: none;
    }

    .me-toast-content {
      gap: 16px;
      display: flex;
      flex-direction: column;

      .me-toast-header {
        display: flex;
        align-items: flex-start;

        .me-toast-header-content {
          gap: var(--toast-content-message-gap);
          display: flex;
          align-items: flex-start;
          width: 100%;
          padding-right: var(--toast-content-right-offset);

          &:not(:has(.me-toast-header-title)):has(.me-toast-header-message) {
            .me-toast-header-text-content {
              align-self: center;
            }
          }

          .me-toast-header-text-content {
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            gap: var(--toast-content-message-gap);

            .me-toast-header-title {
              font-size: var(--toast-title-font-size);
              line-height: var(--toast-title-line-height);
              font-weight: 600;
            }
          }
        }

        .me-toast-close-button {
          position: absolute;
          right: 4px;
          top: 4px;
        }

        .me-toast-icon {
          color: var(--status-icon-color);

          & > * {
            color: inherit;
          }
        }
      }

      .me-toast-divider {
        height: 1px;
        width: 100%;
        background: var(--toast-divider-color, var(--Dividers-Borders-On-Bg));
        margin: 0;
        border: none;
      }

      .me-toast-actions {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
      }
    }
  }
}
