@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/toast';
@use '../overlay';

$generic-toast-shadow: 0 4px 10px 0 $toast-shadow-color;

.dx-toast-content {
  color: $toast-color;
  font-size: $generic-base-font-size;
  font-weight: 600;
  line-height: $generic-toast-line-height;
  padding: $generic-toast-content-padding;
  box-shadow: $generic-toast-shadow;
  border-radius: $toast-border-radius;
}

.me-toast {

  // Status
  .dx-toast {
    &-info {
      --status-background-color: var(--Background-Content);
      --status-icon-color: var(--Controls-Content-In-Controls-Accent-Default);
    }

    &-info-inverted {
      --status-background-color: var(--Background-Alert);
      --status-icon-color: var(--Controls-Content-In-Controls-Accent-Default);

      --text-color: var(--Text-Alert);
      --toast-divider-color: var(--Dividers-Borders-On-Alert);

      .me-toast-close-button {
        @if $color == 'dark' {
          @include light-theme();
        } @else {
          @include dark-theme();
        }
      }
    }

    &-warning {
      --status-background-color: var(--Background-Attention);
      --status-icon-color: var(--Controls-Content-In-Controls-Attention-Default);
    }

    &-success {
      --status-background-color: var(--Background-Success);
      --status-icon-color: var(--Controls-Content-In-Controls-Success-Default);
    }

    &-error {
      --status-background-color: var(--Background-Error);
      --status-icon-color: var(--Controls-Content-In-Controls-Danger-Default);
    }

  }

  // Sizes

  &.me-toast {
    &-small {
      --toast-content-message-gap: 2px;

      --toast-message-font-size: 12px;
      --toast-message-line-height: 16px;
      --toast-title-font-size: 16px;
      --toast-title-line-height: 20px;

      --material-icon-size: 20px;
      --material-icon-inner-size: 16px;

      .me-toast-header {
        gap: 8px;
      }
    }

    &-large {
      --toast-content-message-gap: 4px;

      --toast-message-font-size: 14px;
      --toast-message-line-height: 20px;
      --toast-title-font-size: 20px;
      --toast-title-line-height: 24px;

      --material-icon-inner-size: 20px;
      --material-icon-size: 24px;

      .me-toast-header {
        gap: 10px;
      }
    }
  }

  .dx-toast-content {
    position: relative;
    padding: 8px;
    background-color: var(--status-background-color);
    color: var(--text-color, var(--Controls-Content-In-Controls-Main-Default));
  }

  .me-toast-header-message,
  .dx-toast-message {
    font-size: var(--toast-message-font-size);
    line-height: var(--toast-message-line-height);
    font-weight: 400;
  }

  // Toast without content

  &:not(:has(.me-toast-content)) {
    .dx-toast-icon {
      display: none;
    }

    &.me-show-icon {
      .dx-toast {

        &-info,
        &-info-inverted {
          --material-icon: 'info';
        }

        &-warning {
          --material-icon: 'warning';
        }

        &-error {
          --material-icon: 'error';
        }

        &-success {
          --material-icon: 'check-circle';
        }
      }

      .dx-toast-icon {
        width: var(--material-icon-size);
        height: var(--material-icon-size);

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;

        &::before {
          font-family: var(--me-symbols-family);
          font-size: var(--material-icon-inner-size);
          line-height: var(--material-icon-inner-size);

          content: var(--material-icon);
        }

      }
    }

    .dx-toast-content {
      gap: var(--toast-content-message-gap);
    }

    .dx-toast-message {
      color: var(--text-color, var(--Controls-Content-In-Controls-Main-Default));
    }
  }

  // Toast with content

  &:has(.me-toast-content) {
    .dx-toast-icon {
      display: none;
    }

    .me-toast-header-title {
      font-size: var(--toast-title-font-size);
      line-height: var(--toast-title-line-height);
      font-weight: 600;
    }

    .me-toast-header-content {
      gap: var(--toast-content-message-gap);
    }

    .me-toast-content {
      gap: 16px;
      display: flex;
      flex-direction: column;

      .me-toast-header {
        display: flex;
        align-items: flex-start;

        .me-toast-header-content {
          margin: 0;
          display: flex;
          flex-direction: column;
        }

        .me-toast-close-button {
          position: absolute;
          right: 4px;
          top: 4px;
        }

        .me-toast-icon {
          color: var(--status-icon-color);

          &>* {
            color: inherit;
          }
        }
      }

      .me-toast-divider {
        height: 1px;
        width: 100%;
        background: var(--toast-divider-color, var(--Dividers-Borders-On-Bg));
        margin: 0;
        border: none;
      }

      .me-toast-actions {
        display: flex;
        gap: 8px;
        justify-content: flex-end;
      }
    }
  }

}
