.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20px repeat(3, 50px);
  align-items: start;
  align-self: center;
  gap: 10px 20px;
}
.grid_row-title {
  display: inline-flex;
  height: 28px;
  align-items: center;
}
.grid_column-title {
  display: inline-flex;
  justify-content: flex-start;
  font-size: 16px;
  font-weight: 600;
}
.wrapper__title--warning{
  color: var(--button-warning-icon-color);

}
.wrapper__title--normal{
  color: var(--button-normal-icon-color);
}
.wrapper__title--danger{
  color: var(--button-danger-icon-color);

}
.wrapper__title--success{
  color: var(--button-success-icon-color);

}
.wrapper__title--default{
  color: var(--button-default-icon-color);
}
.wrapper__title {
  align-self: flex-start;
  margin-left: 80px;
}