<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">ButtonGroup</h1>
  <h2 class="wrapper__title wrapper__title--default dx-widget">Default</h2>
  <div class="grid">
    <span></span>
    <span class="dx-widget grid_column-title">28</span>
    <span class="dx-widget grid_column-title">32</span>
    <span class="dx-widget grid_column-title">40</span>
    <span class="dx-widget grid_row-title">Contained</span>
    <dx-button-group meButtonGroup size="small" [items]="itemDataDefault"></dx-button-group>
    <dx-button-group meButtonGroup [items]="itemDataDefault"></dx-button-group>
    <dx-button-group meButtonGroup size="large" [items]="itemDataDefault"></dx-button-group>
    <span class="dx-widget grid_row-title">Outlined</span>
    <dx-button-group meButtonGroup size="small" stylingMode="outlined" [items]="itemDataDefault"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataDefault"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="outlined" [items]="itemDataDefault"></dx-button-group>
    <span class="dx-widget grid_row-title">Text</span>
    <dx-button-group meButtonGroup size="small" stylingMode="text" [items]="itemDataDefault"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataDefault"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="text" [items]="itemDataDefault"></dx-button-group>
  </div>
  <h2 class="wrapper__title wrapper__title--normal dx-widget">Normal</h2>
  <div class="grid">
    <span></span>
    <span class="dx-widget grid_column-title">28</span>
    <span class="dx-widget grid_column-title">32</span>
    <span class="dx-widget grid_column-title">40</span>
    <span class="dx-widget grid_row-title">Contained</span>
    <dx-button-group meButtonGroup size="small" [items]="itemDataNormal"></dx-button-group>
    <dx-button-group meButtonGroup [items]="itemDataNormal"></dx-button-group>
    <dx-button-group meButtonGroup size="large" [items]="itemDataNormal"></dx-button-group>
    <span class="dx-widget grid_row-title">Outlined</span>
    <dx-button-group meButtonGroup size="small" stylingMode="outlined" [items]="itemDataNormal"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataNormal"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="outlined" [items]="itemDataNormal"></dx-button-group>
    <span class="dx-widget grid_row-title">Text</span>
    <dx-button-group meButtonGroup size="small" stylingMode="text" [items]="itemDataNormal"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataNormal"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="text" [items]="itemDataNormal"></dx-button-group>
  </div>
  <h2 class="wrapper__title wrapper__title--danger dx-widget">Danger</h2>
  <div class="grid">
    <span></span>
    <span class="dx-widget grid_column-title">28</span>
    <span class="dx-widget grid_column-title">32</span>
    <span class="dx-widget grid_column-title">40</span>
    <span class="dx-widget grid_row-title">Contained</span>
    <dx-button-group meButtonGroup size="small" [items]="itemDataDanger"></dx-button-group>
    <dx-button-group meButtonGroup [items]="itemDataDanger"></dx-button-group>
    <dx-button-group meButtonGroup size="large" [items]="itemDataDanger"></dx-button-group>
    <span class="dx-widget grid_row-title">Outlined</span>
    <dx-button-group meButtonGroup size="small" stylingMode="outlined" [items]="itemDataDanger"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataDanger"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="outlined" [items]="itemDataDanger"></dx-button-group>
    <span class="dx-widget grid_row-title">Text</span>
    <dx-button-group meButtonGroup size="small" stylingMode="text" [items]="itemDataDanger"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataDanger"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="text" [items]="itemDataDanger"></dx-button-group>
  </div>
  <h2 class="wrapper__title wrapper__title--success dx-widget">Success</h2>
  <div class="grid">
    <span></span>
    <span class="dx-widget grid_column-title">28</span>
    <span class="dx-widget grid_column-title">32</span>
    <span class="dx-widget grid_column-title">40</span>
    <span class="dx-widget grid_row-title">Contained</span>
    <dx-button-group meButtonGroup size="small" [items]="itemDataSuccess"></dx-button-group>
    <dx-button-group meButtonGroup [items]="itemDataSuccess"></dx-button-group>
    <dx-button-group meButtonGroup size="large" [items]="itemDataSuccess"></dx-button-group>
    <span class="dx-widget grid_row-title">Outlined</span>
    <dx-button-group meButtonGroup size="small" stylingMode="outlined" [items]="itemDataSuccess"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataSuccess"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="outlined" [items]="itemDataSuccess"></dx-button-group>
    <span class="dx-widget grid_row-title">Text</span>
    <dx-button-group meButtonGroup size="small" stylingMode="text" [items]="itemDataSuccess"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataSuccess"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="text" [items]="itemDataSuccess"></dx-button-group>
  </div>
  <h2 class="wrapper__title wrapper__title--warning dx-widget">Warning</h2>
  <div class="grid">
    <span></span>
    <span class="dx-widget grid_column-title">28</span>
    <span class="dx-widget grid_column-title">32</span>
    <span class="dx-widget grid_column-title">40</span>
    <span class="dx-widget grid_row-title">Contained</span>
    <dx-button-group meButtonGroup size="small" [items]="itemDataWarning"></dx-button-group>
    <dx-button-group meButtonGroup [items]="itemDataWarning"></dx-button-group>
    <dx-button-group meButtonGroup size="large" [items]="itemDataWarning"></dx-button-group>
    <span class="dx-widget grid_row-title">Outlined</span>
    <dx-button-group meButtonGroup size="small" stylingMode="outlined" [items]="itemDataWarning"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataWarning"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="outlined" [items]="itemDataWarning"></dx-button-group>
    <span class="dx-widget grid_row-title">Text</span>
    <dx-button-group meButtonGroup size="small" stylingMode="text" [items]="itemDataWarning"></dx-button-group>
    <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataWarning"></dx-button-group>
    <dx-button-group meButtonGroup size="large" stylingMode="text" [items]="itemDataWarning"></dx-button-group>
  </div>
  <!-- 
  <dx-button-group meButtonGroup [items]="itemDataDefault"></dx-button-group>
  <dx-button-group meButtonGroup [items]="itemDataNormal"></dx-button-group>
  <dx-button-group meButtonGroup [items]="itemDataSuccess"></dx-button-group>
  <dx-button-group meButtonGroup [items]="itemDataWarning"></dx-button-group>
  <dx-button-group meButtonGroup [items]="itemDataDanger"></dx-button-group>

  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataDefault"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataNormal"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataSuccess"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataWarning"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataDanger"></dx-button-group>

  <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataDefault"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataNormal"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataSuccess"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataWarning"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataDanger"></dx-button-group>

  <h2 class="wrapper__title dx-widget">stylingMode = contained</h2>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (иконка и текст)</h3>
  <dx-button-group meButtonGroup size="small" [items]="itemData"></dx-button-group>
  <dx-button-group meButtonGroup [items]="itemData"></dx-button-group>
  <dx-button-group meButtonGroup size="large" [items]="itemData"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (текст)</h3>
  <dx-button-group meButtonGroup size="small" [items]="itemDataOnlyText"></dx-button-group>
  <dx-button-group meButtonGroup [items]="itemDataOnlyText"></dx-button-group>
  <dx-button-group meButtonGroup size="large" [items]="itemDataOnlyText"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (иконка)</h3>
  <dx-button-group meButtonGroup keyExpr="iconOnly" size="small" [items]="itemDataOnlyIcon"></dx-button-group>
  <dx-button-group meButtonGroup keyExpr="iconOnly" [items]="itemDataOnlyIcon"></dx-button-group>
  <dx-button-group meButtonGroup keyExpr="iconOnly" size="large" [items]="itemDataOnlyIcon"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">disabled = true</h3>
  <dx-button-group meButtonGroup [items]="itemData" [disabled]="true"></dx-button-group>

  <h2 class="wrapper__title dx-widget">stylingMode = outlined</h2>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (иконка и текст)</h3>
  <dx-button-group meButtonGroup stylingMode="outlined" size="small" [items]="itemData"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemData"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" size="large" [items]="itemData"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (текст)</h3>
  <dx-button-group meButtonGroup stylingMode="outlined" size="small" [items]="itemDataOnlyText"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemDataOnlyText"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="outlined" size="large" [items]="itemDataOnlyText"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (иконка)</h3>
  <dx-button-group meButtonGroup keyExpr="iconOnly" stylingMode="outlined" size="small" [items]="itemDataOnlyIcon"></dx-button-group>
  <dx-button-group meButtonGroup keyExpr="iconOnly" stylingMode="outlined" [items]="itemDataOnlyIcon"></dx-button-group>
  <dx-button-group meButtonGroup keyExpr="iconOnly" stylingMode="outlined" size="large" [items]="itemDataOnlyIcon"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">disabled = true</h3>
  <dx-button-group meButtonGroup stylingMode="outlined" [items]="itemData" [disabled]="true"></dx-button-group>

  <h2 class="wrapper__title dx-widget">stylingMode = text</h2>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (иконка и текст)</h3>
  <dx-button-group meButtonGroup stylingMode="text" size="small" [items]="itemData"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemData"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" size="large" [items]="itemData"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (текст)</h3>
  <dx-button-group meButtonGroup stylingMode="text" size="small" [items]="itemDataOnlyText"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemDataOnlyText"></dx-button-group>
  <dx-button-group meButtonGroup stylingMode="text" size="large" [items]="itemDataOnlyText"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">Размерный ряд (иконка)</h3>
  <dx-button-group meButtonGroup keyExpr="iconOnly" stylingMode="text" size="small" [items]="itemDataOnlyIcon"></dx-button-group>
  <dx-button-group meButtonGroup keyExpr="iconOnly" stylingMode="text" [items]="itemDataOnlyIcon"></dx-button-group>
  <dx-button-group meButtonGroup keyExpr="iconOnly" stylingMode="text" size="large" [items]="itemDataOnlyIcon"></dx-button-group>
  <h3 class="wrapper__subtitle dx-widget">disabled = true</h3>
  <dx-button-group meButtonGroup stylingMode="text" [items]="itemData" [disabled]="true"></dx-button-group> -->
</div>
