<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">RadioGroup</h1>
  <h2 class="wrapper__title dx-widget">Layout - horizontal</h2>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="small" [value]="dataSource[0]"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="small" [value]="dataSource[0]" [readOnly]="true"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="small" [value]="dataSource[0]" [disabled]="true"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="medium" [value]="dataSource[0]"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="medium" [value]="dataSource[0]" [readOnly]="true"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="medium" [value]="dataSource[0]" [disabled]="true"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="large" [value]="dataSource[0]"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="large" [value]="dataSource[0]" [readOnly]="true"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="horizontal" size="large" [value]="dataSource[0]" [disabled]="true"></dx-radio-group>
  <h2 class="wrapper__title dx-widget">Layout - vertical</h2>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="vertical" size="small" [value]="dataSource[0]"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="vertical" size="medium" [value]="dataSource[0]"></dx-radio-group>
  <dx-radio-group meRadioGroup [dataSource]="dataSource" layout="vertical" size="large" [value]="dataSource[0]"></dx-radio-group>
</div>
