@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Item background color
* $type color
*/
$selectbox-list-bg: null !default;

@if $color == "light" {
  $selectbox-list-bg: #FFFFFF;
}

@if $color == "dark" {
  $selectbox-list-bg: #2E2E2F;
}
