@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../../base/selectBox';
@use '../common/mixins' as *;

.me-selectbox.dx-selectbox {
  border-radius: 3px;
  background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
  border: 0;

  .dx-clear-button-area {
    display: flex;
    align-items: center;
  }

  &.dx-state-hover {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
    border-color: #dfe0ed;
  }

  &.dx-state-focused:not(.dx-invalid) {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Accent-Default);
      border-radius: 3px;
    }

    .dx-label {
      span {
        color: var(--Controls-Content-In-Controls-Accent-Default);
      }
    }
  }

  &.me-state-focus {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }

  &.dx-invalid {
    &.me-selectbox-large .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }
    .dx-dropdowneditor-input-wrapper.dx-selectbox-container {
      box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Danger-Default);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
    .dx-label {
      span {
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }
  }

  &.dx-state-disabled {
    .dx-texteditor-input {
      color: var(--Controls-Content-In-Controls-Main-Disabled);
    }
  }

  .dx-texteditor-container {
    padding-inline: 8px;
    width: 100%;
    gap: 16px;
    align-items: center;

    .dx-texteditor-input-container {
      *,
      *::before {
        padding: 0;
      }

      .dx-texteditor-input {
        font-weight: var(--me-regular-font-weight);

        &::placeholder {
          color: transparent;
        }
      }

      .dx-placeholder {
        font-weight: var(--me-regular-font-weight);
        color: var(--Controls-Content-In-Controls-Main-Disabled);
      }
    }

    .dx-texteditor-buttons-container {
      height: 20px;
      width: 20px;
      color: var(--Controls-Content-In-Controls-Main-Default);

      .dx-clear-button-area {
        margin: 0;

        .dx-icon.dx-icon-clear {
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .dx-texteditor-label {
    align-items: center;

    .dx-label {
      span {
        font-size: 12px;
        font-weight: var(--me-regular-font-weight);
        line-height: 16px;
        text-align: left;
      }
    }
  }

  &.dx-texteditor-label-outside.dx-texteditor-with-label {
    &.me-selectbox-small,
    &.me-selectbox-medium {
      margin-top: 20px;

      .dx-texteditor-label {
        height: 16px;
        margin-top: 0;
        top: -20px;
        color: var(--Controls-Content-In-Controls-Main-Default);
      }
    }

    &.me-selectbox-large {
      margin-top: 24px;

      .dx-texteditor-label {
        height: 20px;
        margin-top: 0;
        top: -24px;
        color: var(--Controls-Content-In-Controls-Main-Default);
      }
    }
  }

  &.dx-texteditor-with-floating-label {
    margin-top: 20px;

    .dx-texteditor-label {
      padding: 0;
      align-items: center;
      height: 16px;
      margin-top: -8.5px !important;
    }

    &.dx-state-focused,
    &:not(.dx-texteditor-empty) {
      .dx-texteditor-label {
        top: -12px;
        left: -9px;
      }

      &.me-selectbox-large {
        .dx-texteditor-label {
          top: -14px;
        }
      }
    }
  }

  //small
  &.me-selectbox-small {
    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside) {
      .dx-label-before {
        min-width: 8px;
      }
      .dx-texteditor-container {
        padding-block: 13px 3px;
      }
    }

    .dx-texteditor-container {
      padding-block: 4px;

      .dx-texteditor-input-container {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }

  //medium
  &.me-selectbox-medium {
    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside) {
      .dx-label-before {
        min-width: 8px;
      }
      .dx-texteditor-container {
        padding-block: 17px 3px;
      }
    }

    .dx-texteditor-container {
      padding-block: 6px;

      .dx-texteditor-input-container {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  //large
  &.me-selectbox-large {
    border-radius: 4px;

    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside) {
      .dx-texteditor-label {
        padding-top: 3px;
      }
      .dx-label-before {
        min-width: 12px;
      }
      .dx-texteditor-container {
        padding-block: 19px 5px;
      }
    }

    .dx-texteditor-container {
      padding-inline: 12px;
      padding-block: 8px;

      .dx-texteditor-input-container {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .dx-texteditor-buttons-container {
        height: 24px;
        width: 24px;

        .dx-clear-button-area {
          width: 24px;

          .dx-icon.dx-icon-clear {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .dx-texteditor-label {
      .dx-label {
        span {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

.me-dropdownlist {
  .dx-list-item-selected {
    background: var(--Controls-Informative-BG-Selected-Element) !important;
  }

  .dx-state-active {
    background: var(--Controls-BG-Secondary-Elements-BG-Pressed) !important;
  }
}

.me-selectbox.dx-selectbox {
  &.dx-state-readonly {
    .dx-texteditor-container {
      .dx-texteditor-buttons-container {
        font-size: 19px;
        line-height: 20px;
        font-family: var(--me-icon-family);
        color: var(--Controls-Content-In-Controls-Main-Default);

        &::before {
          content: var(--me-icon-lock);
        }
      }
    }
  }

  &.me-selectbox-large.dx-state-readonly {
    .dx-texteditor-container {
      .dx-texteditor-buttons-container {
        width: 24px;
        height: 24px;

        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.me-dropdownlist.dx-selectbox-popup-wrapper {
  .dx-list-items {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .dx-item-content {
      gap: 0;
    }
  }
  &.dx-overlay-wrapper.dx-popup-wrapper.dx-dropdowneditor-overlay .dx-overlay-content {
    border: none;
    background: none;
    box-shadow: none;
    overflow: visible;
  }
  &.me-dropdownlist-small {
    .dx-item.dx-list-item {
      .dx-item-content {
        padding-block: 6px;
      }
    }
  }
  &.me-dropdownlist-medium {
    .dx-item.dx-list-item {
      .dx-item-content {
        padding-block: 4px;
      }
    }
  }
  &.me-dropdownlist-large {
    .dx-item.dx-list-item {
      .dx-item-content {
        padding-block: 10px;
      }
    }
  }
}
