@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../../base/selectBox';
@use '../list/mixins' as *;
@use '../common/mixins' as *;

.select-box-desc {
  margin-top: 0 !important;
}

.me-inputs.me-selectbox {
  background-color: transparent !important;

  .dx-dropdowneditor-input-wrapper {
    background: transparent;

    .dx-texteditor-container {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
    }
  }

  &.dx-state-disabled {
    .dx-dropdowneditor-input-wrapper {
      .dx-texteditor-container {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Disabled);
      }
    }
  }

  &.dx-state-readonly {
    .dx-dropdowneditor-input-wrapper {
      .dx-texteditor-container {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Disabled);
      }
    }
  }

  &.me-inputs {
    &-small {
      --me-selectbox-input-gap: 4px;

      &.me-selectbox-label-mode-outside {
        .dx-dropdowneditor-input-wrapper {
          height: 28px;
          background: transparent;

          .dx-texteditor-container {
            height: 28px;
          }
        }

        &.me-keyboard-focused {
          .dx-dropdowneditor-input-wrapper {
            height: 28px !important;
          }
        }
      }

      &.me-selectbox-label-mode-floating,
      &.me-selectbox-label-mode-static {
        .dx-dropdowneditor-input-wrapper {
          height: 36px;

          .dx-texteditor-container {
            height: 36px;
          }
        }

        &.me-keyboard-focused {
          .dx-dropdowneditor-input-wrapper {
            height: 36px !important;
          }
        }
      }

      //hidden
      &.me-selectbox-label-mode-hidden {
        .dx-dropdowneditor-input-wrapper {
          height: 28px !important;

          .dx-texteditor-container {
            height: 28px;
          }
        }

        &.me-keyboard-focused:not(.dx-dropdowneditor-active) {
          .dx-dropdowneditor-input-wrapper {
            height: 28px !important;
          }
        }
      }
    }

    &-medium {
      --me-selectbox-input-gap: 4px;

      &.me-selectbox-label-mode-outside {
        .dx-dropdowneditor-input-wrapper {
          height: 32px;
          background: transparent;

          .dx-texteditor-container {
            height: 32px;
          }
        }

        &.me-keyboard-focused {
          .dx-dropdowneditor-input-wrapper {
            height: 32px !important;
          }
        }
      }

      &.me-selectbox-label-mode-floating,
      &.me-selectbox-label-mode-static {
        .dx-dropdowneditor-input-wrapper {
          height: 40px;

          .dx-texteditor-container {
            height: 40px;
          }
        }

        &.me-keyboard-focused {
          .dx-dropdowneditor-input-wrapper {
            height: 40px !important;
          }
        }
      }

      //hidden
      &.me-selectbox-label-mode-hidden {
        .dx-dropdowneditor-input-wrapper {
          height: 32px !important;

          .dx-texteditor-container {
            height: 32px;
          }
        }

        &.me-keyboard-focused:not(.dx-dropdowneditor-active) {
          .dx-dropdowneditor-input-wrapper {
            height: 32px !important;
          }
        }
      }
    }

    &-large {
      --me-selectbox-input-gap: 8px;

      &.me-selectbox-label-mode-outside {
        .dx-dropdowneditor-input-wrapper {
          height: 40px;
          background: transparent;

          .dx-texteditor-container {
            height: 40px;
          }
        }

        &.me-keyboard-focused {
          .dx-dropdowneditor-input-wrapper {
            height: 40px !important;
          }
        }
      }

      &.me-selectbox-label-mode-floating,
      &.me-selectbox-label-mode-static {
        .dx-dropdowneditor-input-wrapper {
          height: 48px;

          .dx-texteditor-container {
            height: 48px;
          }
        }

        &.me-keyboard-focused {
          .dx-dropdowneditor-input-wrapper {
            height: 48px !important;
          }
        }
      }

      //hidden
      &.me-selectbox-label-mode-hidden {
        .dx-dropdowneditor-input-wrapper {
          height: 40px !important;

          .dx-texteditor-container {
            height: 40px;
          }
        }

        &.me-keyboard-focused:not(.dx-dropdowneditor-active) {
          .dx-dropdowneditor-input-wrapper {
            height: 40px !important;
          }
        }
      }
    }
  }

  .me-selectbox-left-icon {
    margin-right: var(--me-selectbox-input-gap);
  }
}

.me-selectbox.me-keyboard-focused:not(.dx-dropdowneditor-active) {
  &.dx-state-focused {
    .dx-selectbox-container {
      outline: 2px solid var(--Dividers-Borders-Focus);
      outline-offset: 2px;
      border-radius: 3px;
    }
  }
}

.me-dropdownlist.me-keyboard-focused {
  .dx-state-focused {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: -2px;
  }
}

.me-dropdownlist.dx-selectbox-popup-wrapper {
  .dx-list {
    .dx-list-items {
      --divider-inline-offset: 8px;

      .me-list-item-divider {
        @include list-item-divider();
        margin-inline: var(--divider-inline-offset);
      }
    }
  }

  .dx-list-items {
    display: flex;
    flex-direction: column;

    .dx-item-content {
      gap: 0;
    }
  }

  &.dx-overlay-wrapper.dx-popup-wrapper.dx-dropdowneditor-overlay .dx-overlay-content {
    border: none;
    background: none;
    box-shadow: none;
    overflow: visible;
  }

  &.me-dropdownlist-small {
    .dx-item.dx-list-item {
      .dx-item-content {
        padding-block: 6px;
      }
    }
  }

  &.me-dropdownlist-medium {
    .dx-item.dx-list-item {
      .dx-item-content {
        padding-block: 4px;
      }
    }
  }

  &.me-dropdownlist-large {
    .dx-item.dx-list-item {
      .dx-item-content {
        padding-block: 10px;
      }
    }
  }
}

.me-select-box-multi-select > .dx-overlay-content > .dx-popup-content {
  .dx-list:last-child {
    display: none;
  }
}

.me-select-box-multi-select {
  &.me-dropdownlist-small > .dx-overlay-content > .dx-popup-content {
    .dx-list-item-before-bag {
      width: 14px;
    }

    .dx-checkbox-icon {
      width: 12px;
      height: 12px;
    }

    .dx-checkbox-checked .dx-checkbox-icon {
      font-size: 10px;
      line-height: 10px;

      &::before {
        width: 10px;
        margin-top: -5px;
        margin-left: -5px;
      }
    }
  }

  &.me-dropdownlist-medium > .dx-overlay-content > .dx-popup-content {
    .dx-list-item-before-bag {
      width: 22px;
    }

    .dx-item-content {
      font-size: 14px;
      line-height: 20px;
    }

    .dx-checkbox-icon {
      width: 20px;
      height: 20px;
    }
  }

  &.me-dropdownlist-large > .dx-overlay-content > .dx-popup-content {
    .dx-list-item-before-bag {
      width: 30px;
    }

    .dx-item-content {
      font-size: 16px;
      line-height: 20px;
    }

    .dx-checkbox-icon {
      width: 24px;
      height: 24px;
    }
  }
}

.selectbox-active.dx-editor-outlined {
  outline: 1px solid #3257dc;
}
