<div class="container">
  <dx-menu [adaptivityEnabled]="toggle">
    <dxi-item icon="home"> </dxi-item>
    <dxi-item text="About"> </dxi-item>
    <dxi-item text="Products">
      <dxi-item text="Product 1"> </dxi-item>
      <dxi-item text="Category">
        <dxi-item text="Product 2"> </dxi-item>
        <dxi-item [beginGroup]="true" text="Product 3"> </dxi-item>
        <dxi-item text="Product 4"> </dxi-item>
      </dxi-item>
      <dxi-item [disabled]="true" text="Product 5"> </dxi-item>
    </dxi-item>
    <dxi-item icon="cart"> </dxi-item>
  </dx-menu>
  <dx-check-box text="Enable adaptivity" (onValueChanged)="onValueChanged($event)"> </dx-check-box>
</div>

<div class="container">
  <div class="form">
    <dx-tree-view id="simple-treeview" [items]="products" [width]="300" (onItemClick)="selectItem($event)"></dx-tree-view>
    <div id="product-details" *ngIf="currentItem.price">
      <img [src]="currentItem.image" />
      <div class="name">{{ currentItem.text }}</div>
      <div class="price">{{ "$" + currentItem.price }}</div>
    </div>
  </div>
</div>

<div class="container">
  <dx-accordion [dataSource]="employees" [collapsible]="true" [multiple]="true" [animationDuration]="450" itemTemplate="item" itemTitleTemplate="title">
    <div *dxTemplate="let data of 'title'">
      {{ data.FirstName + " " + data.LastName }}
    </div>
    <div *dxTemplate="let data of 'item'">
      {{ data.Position + " from " + data.State }}
    </div>
  </dx-accordion>
</div>
