.wrapper {
	padding: 20px;
	background-color: var(--test-bg-color);
}

.wrapper__main-title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 24px;
	color: #333;
}

.tabpanel-demo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	/* Добавим промежуток между двумя панелями */
}

.widget-container {
	max-width: 800px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: var(--test-bg-color);
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget-title {
	margin-bottom: 15px;
	font-size: 20px;
	color: #555;
	text-align: center;
}

.tabpanel-item {
	padding: 1px;
	margin-bottom: 10px;
	border-radius: 4px;
}

.task-item {
	display: flex;
	justify-content: space-between;
	padding: 8px 16px;
	flex-direction: column;
	border-radius: 3px;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.239);
	text-align: start;
}

.task-item:not(:last-child) {
	margin-bottom: 8px;
}

.task-item.high {
	color: red;
}

.task-item.medium {
	color: orange;
}

.task-item.low {
	color: green;
}

.task-item-text {
	font-weight: bold;
}

.task-item-info {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	margin-bottom: 2px;
}

.tabpanel-content {
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	border-radius: 4px;
}

*/ .custom-class {
	border: 2px solid #00aaff;
	border-radius: 5px;
}