@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$overlay-content-shadow-color: null !default;
$overlay-border-color: $base-border-color !default;

/**
* $name 10. Content background color
* $type color
*/
$overlay-content-bg: null !default;

/**
* $name 20. Shader background color
* $type color
*/
$overlay-shader-bg: null !default;

/**
* $name 30. Focus border color
* $type color
*/
$overlay-focus-border-color: null !default;

@if $color == "light" {
  $overlay-content-bg: #ffffff;

  $overlay-content-shadow-color: color.change(
    $base-shadow-color,
    $alpha: 0.175
  ) !default;
  $overlay-shader-bg: #ffffff;
  $overlay-focus-border-color: $base-border-color !default;
}

@if $color == "dark" {
  $overlay-content-bg: #2e2e2f;

  $overlay-content-shadow-color: color.change(
    $base-shadow-color,
    $alpha: 0.3
  ) !default;
  $overlay-shader-bg: #2e2e2f;
  $overlay-focus-border-color: $base-border-color !default;
}
