@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../overlay/colors" as *;

// adduse

$popover-arrow-bg: null !default;

@if $color == "light" {
  $popover-arrow-bg: $overlay-content-bg !default;
}

@if $color == "dark" {
  $popover-arrow-bg: $overlay-content-bg !default;
}
