@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../overlay/colors" as *;

// adduse

$popover-arrow-bg: null !default;
$popover-bg: null !default;
$popover-color: null !default;

@if $color == "light" {
  $popover-bg: #1d1e1f;
  $popover-color: #ffffff;

  $popover-arrow-bg: $overlay-content-bg !default;
}

@if $color == "dark" {
  $popover-bg: #ffffff;
  $popover-color: #18181a;

  $popover-arrow-bg: $overlay-content-bg !default;
}
