@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use '../popup/colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../overlay/colors' as *;
@use '../textEditor/colors' as *;
@use '../../base/popover';

// adduse

$generic-popover-toolbar-padding: 15px;

.dx-popover-wrapper {
  // &.dx-position-bottom .dx-popover-arrow::after {
  //   background: $popover-arrow-bg;
  // }

  .dx-popup-title {
    margin: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &.dx-toolbar {
      padding-left: $generic-popover-toolbar-padding;
    }
  }

  .dx-popover-arrow::after,
  &.dx-popover-without-title .dx-popover-arrow::after {
    background: $popover-arrow-bg;
  }
}

.dx-popover-arrow::after {
  border: 1px solid $overlay-border-color;
}

.dx-popover-wrapper {
  // stylelint-disable-line no-duplicate-selectors
  .dx-rtl.dx-popup-title {
    &.dx-toolbar {
      padding-right: $generic-popover-toolbar-padding;
      padding-left: 0;
    }
  }
}

.dx-popup-wrapper {
  & .me-popover {
    border: 1px solid $popover-bg;
    background: $popover-bg;
    box-shadow: none;
    border-radius: 4px;
  }
}

.me-popover {
  & .dx-popup-title {
    background-color: $popover-bg;
    color: $popover-color;
    border-radius: 4px;
    border-bottom: none;
  }

  & .dx-popup-content {
    background-color: $popover-bg;
    color: $popover-color;
    border-radius: 4px;
  }
}

.me-popover .dx-popover-wrapper .dx-popover-arrow::after,
.dx-popover-wrapper.dx-popover-without-title .dx-popover-arrow::after {
  background: $popover-bg;
  border: 1px solid $popover-bg;
}

.dx-popover-wrapper .dx-popover-arrow::after,
.dx-popover-wrapper.dx-popover-without-title .dx-popover-arrow::after {
  background: $popover-bg;
  border: 1px solid $popover-bg;
}

.me-popover.me-popover-small {
  padding: 12px;

  & .dx-popup-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 2px 0;
  }

  & .dx-popup-content {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
  }
}

.me-popover.me-popover-medium {
  padding: 12px;

  & .dx-popup-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 0 0 4px 0;
  }

  & .dx-popup-content {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }
}

.me-popover.me-popover-large {
  padding: 12px;

  & .dx-popup-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    padding: 0 0 4px 0;
  }

  & .dx-popup-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
  }
}
