// Импорт необходимых модулей
@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../overlay/colors" as *;

// Определение переменной для фона стрелки
$popover-arrow-bg: $overlay-content-bg !default;

// Миксин для создания стилей Popover
@mixin dx-popover-styling {
  .me-popover {
    &.dx-popover-wrapper {
      .dx-popup-wrapper {
        .dx-overlay-content {
          background-color: $overlay-content-bg;
          border-color: $overlay-border-color;

          .dx-popover-arrow {
            background-color: $popover-arrow-bg;
            border-color: $overlay-border-color;
          }

          .dx-popup-content {
            color: $base-text-color;
          }

          .dx-popup-title {
            background-color: color.scale($overlay-content-bg, $lightness: -5%);
            color: $base-text-color;

            .dx-popup-title-text {
              color: inherit;
            }
          }

          .dx-button.dx-closebutton {
            background-color: transparent;
            color: $base-icon-color;

            &:hover {
              background-color: color.scale($overlay-content-bg, $lightness: -10%);
            }
          }
        }
      }
    }
  }
}
