// Импорт необходимых модулей
@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use './colors' as *;
@use '../overlay/colors' as *;
@use '../../base/popover';

.me-popover .dx-overlay-content.dx-popup-normal {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: visible;
  padding: 16px;

  @include standardColors;

  background-color: var(--popover-background);
  color: var(--popover-color);
  border: 1px solid var(--popover-border);

  .dx-popup-title {
    color: var(--popover-color);
  }

  .dx-popover-arrow::after {
    background-color: var(--popover-background);
    border: 1px solid var(--popover-border);
  }

  & > *:not(.dx-popover-arrow, :last-child) {
    margin-bottom: 16px;
  }
  & > * {
    padding: 0;
  }

  .dx-toolbar.dx-popup-title, .dx-popup-title {
    border: none;
    .dx-toolbar-items-container {
      height: 100%;
    }
    .dx-item-content {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      text-align: left;
    }

    .dx-button.dx-closebutton {
      border: none;
      left: 0;
      .dx-button-content {
        height: 24px;
        width: 24px;
        padding: 0;
        align-content: center;
        .dx-icon.dx-icon-close {
          color: var(--Icon-Secondary);
          font-size: 18px;
        }
      }
    }
  }

  .dx-template-wrapper.dx-popup-title {
    border-bottom: none;
  }

  .dx-popup-content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .dx-toolbar.dx-popup-bottom {
    background-color: var(--popover-background);
    .dx-toolbar-items-container {
      min-height: 32px;
      height: 32px;
    }
  }
}

.me-popover.me-popover-alternate .dx-overlay-content.dx-popup-normal {
  @include alternateColors;
}
.me-popover.me-popover-light .dx-overlay-content.dx-popup-normal {
  @if $color == 'light' {
    @include alternateColors;
  } @else {
    @include standardColors;
  }
}
.me-popover.me-popover-dark .dx-overlay-content.dx-popup-normal {
  @if $color == 'dark' {
    @include alternateColors;
  } @else {
    @include standardColors;
  }
}

@mixin close-button-size($iconWidth, $buttonWidth) {
  .dx-button.dx-button-has-icon {
    .dx-button-content {
      height: $buttonWidth;
      width: $buttonWidth;
      padding: calc(($buttonWidth - $iconWidth) / 2);

      .dx-icon.dx-icon-close {
        font-size: $iconWidth;
        line-height: $iconWidth;
      }
    }
  }
}

//sizes
.me-popover {
  &.me-popover-small {
    padding: 12px;

    .dx-overlay-content > *:not(.dx-popover-arrow, :last-child) {
      margin-bottom: 12px;
    }

    .dx-toolbar.dx-popup-title, .dx-popup-title {
      .dx-item-content {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      @include close-button-size(10px, 28px);
    }

    .dx-popup-content {
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }

    .dx-toolbar.dx-popup-bottom {
      .dx-toolbar-items-container {
        min-height: 28px;
        height: 28px;
      }
    }
  }
  &.me-popover-medium {
    .dx-toolbar.dx-popup-title, .dx-popup-title {
      @include close-button-size(10px, 32px);
    }
  }
  &.me-popover-large {
    padding: 20px;
    .dx-toolbar.dx-popup-title, .dx-popup-title {
      .dx-item-content {
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
      }

      @include close-button-size(14px, 40px);
    }

    .dx-popup-content {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .dx-toolbar.dx-popup-bottom {
      .dx-toolbar-items-container {
        min-height: 40px;
        height: 40px;
      }
    }
  }

}

//////////////////////////////////
.me-popover {
  .dx-toolbar.dx-popup-title {
    .dx-toolbar-items-container {
      .dx-button.dx-closebutton {
        .dx-button-content {
          .dx-icon.dx-icon-close {
            height: 24px;
            width: 24px;
            align-content: center;
            text-align: center;
          }
        }
      }
    }
  }
  &.me-popover-small {
    .dx-toolbar.dx-popup-title {
      .dx-toolbar-items-container {
        .dx-button.dx-closebutton {
          .dx-button-content {
            .dx-icon.dx-icon-close {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}
