<div class="wrapper-vertical">
  <dx-date-box meDateBox size="small" label="Date Box"></dx-date-box>
  <dx-date-range-box meDateRangeBox size="small"></dx-date-range-box>
  <dx-number-box meNumberBox size="small" label="Number Box"></dx-number-box>
  <dx-select-box meSelectBox size="small" label="Select Box"></dx-select-box>
  <dx-tag-box meTagBox size="small" label="Tag Box"></dx-tag-box>
  <dx-text-box
    meTextBox
    size="small"
    placeholder="Enter full name here..."
    [showClearButton]="true"
    label="Text Box"
  ></dx-text-box>
  <dx-text-area
    meTextArea
    size="small"
    [inputAttr]="{ 'aria-label': 'Notes' }"
    label="Text Area"
  ></dx-text-area>
  <dx-drop-down-box
    meDropDownBox
    displayExpr="name"
    valueExpr="id"
    size="small"
    label="Dropdown Box with Tree View"
    labelMode="outside"
  >
    <dx-tree-view
      meTreeView
      dataStructure="plain"
      keyExpr="id"
      parentIdExpr="categoryId"
      selectionMode="multiple"
      showCheckBoxesMode="normal"
      [selectNodesRecursive]="false"
      displayExpr="name"
      [selectByClick]="true"
    ></dx-tree-view>
  </dx-drop-down-box>
  <dx-drop-down-box
    meDropDownBox
    displayExpr="name"
    valueExpr="id"
    size="small"
    label="Dropdown Box with Data Grid"
    labelMode="outside"
  >
    <dx-data-grid
      meDataGrid
      [columns]="['id', 'name']"
      [selection]="{ mode: 'multiple' }"
      [hoverStateEnabled]="true"
      [filterRow]="{ visible: true }"
      [height]="300"
    ></dx-data-grid>
  </dx-drop-down-box>
</div>

<div class="wrapper-horizontal">
  <dx-date-box meDateBox size="small" label="Date Box"></dx-date-box>
  <dx-date-range-box meDateRangeBox size="small"></dx-date-range-box>
  <dx-number-box meNumberBox size="small" label="Number Box"></dx-number-box>
  <dx-select-box meSelectBox size="small" label="Select Box"></dx-select-box>
  <dx-tag-box meTagBox size="small" label="Tag Box"></dx-tag-box>
  <dx-text-box
    meTextBox
    size="small"
    placeholder="Enter full name here..."
    [showClearButton]="true"
    label="Text Box"
  ></dx-text-box>
  <dx-text-area
    meTextArea
    size="small"
    [inputAttr]="{ 'aria-label': 'Notes' }"
    label="Text Area"
  ></dx-text-area>
  <dx-drop-down-box
    meDropDownBox
    displayExpr="name"
    valueExpr="id"
    size="small"
    label="Dropdown Box with Tree View"
    labelMode="outside"
  >
    <dx-tree-view
      meTreeView
      dataStructure="plain"
      keyExpr="id"
      parentIdExpr="categoryId"
      selectionMode="multiple"
      showCheckBoxesMode="normal"
      [selectNodesRecursive]="false"
      displayExpr="name"
      [selectByClick]="true"
    ></dx-tree-view>
  </dx-drop-down-box>
  <dx-drop-down-box
    meDropDownBox
    displayExpr="name"
    valueExpr="id"
    size="small"
    label="Dropdown Box with Data Grid"
    labelMode="outside"
  >
    <dx-data-grid
      meDataGrid
      [columns]="['id', 'name']"
      [selection]="{ mode: 'multiple' }"
      [hoverStateEnabled]="true"
      [filterRow]="{ visible: true }"
      [height]="300"
    ></dx-data-grid>
  </dx-drop-down-box>
</div>
