.wrapper-vertical {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 600px;
  justify-self: center;
  align-items: center;
}

.wrapper-horizontal {
  display: flex;
  gap: 16px;

  margin: 16px;
}
