@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

/**
* $name 10. Tab text color
* $type color
*/
$tabs-tab-color: $base-text-color !default;

/**
* $name 20. Selected tab text color
* $type color
*/
$tabs-tab-selected-color: null !default;

/**
* $name 30. Tab background color
* $type color
*/
$tabs-tab-bg: null !default;

/**
* $name 40. Selected tab background color
* $type color
*/
$tabs-tab-selected-bg: null !default;
$tabs-tab-icon-color: null !default;
$tabs-tab-icon-selected-color: null !default;
$tabs-tab-button-disabled-opacity: $button-disabled-icon-opacity !default;

/**
* $name 30. Border color
* $type color
*/
$tabs-border-color: $base-border-color !default;

/**
* $name 40. Focus border color
* $type color
*/
$tabs-focused-border-color: null !default;

/**
* $name 50. Hover background color
* $type color
*/
$tabs-tab-hover-bg: null !default;
$tabs-tab-active-bg: null !default;
$tabs-hover-border-color: null !default;
$tabs-disabled-border-color: null !default;
$tabs-disabled-color: null !default;

@if $color == "light" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: #ecedf3;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: #3257dc;
  $tabs-tab-hover-bg: #3c65f81f;
  $tabs-hover-border-color: #18181a;
  $tabs-disabled-border-color: #18181a66;
  $tabs-disabled-color: #18181a66;

  $tabs-tab-active-bg: #3c71f833;
}

@if $color == "dark" {
  $tabs-tab-selected-color: $base-text-color !default;
  $tabs-tab-bg: #43444c;
  $tabs-tab-selected-bg: $base-bg !default;
  $tabs-tab-icon-color: $tabs-tab-color !default;
  $tabs-tab-icon-selected-color: $tabs-tab-selected-color !default;
  $tabs-focused-border-color: #3565e2;
  $tabs-tab-hover-bg: #3c65f840;
  $tabs-hover-border-color: #ffffff;
  $tabs-disabled-border-color: #ffffff4d;
  $tabs-disabled-color: #ffffff4d;

  $tabs-tab-active-bg: #3c65f866;
}
