@use "sass:math";
@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../button/colors" as *;
@use "../../base/icons" as *;
@use "../../base/tabs";

// adduse
@use "../scrollable";
@use "../badge";

// @mixin dx-tabs-border-mixin($border-horizontal, $border-top, $border-bottom) {
//   &::after {
//     content: "";
//     pointer-events: none;
//     position: absolute;
//     top: 0px;
//     bottom: 0px;
//     right: 0px;
//     left: 0px;
//     border-right: $border-horizontal;
//     border-left: $border-horizontal;
//     border-top: $border-top;
//     border-bottom: $border-bottom;
//     border-radius: 4px 4px 0 0;
//     z-index: 0;
//   }
// }

.me-tabs .dx-tab-selected {
  font-weight: 500;
}

.me-tabs .dx-button-content {
  align-items: center;
}

.dx-tab:focus:not(:focus-visible) {
  outline: none;
}

.me-tabs-bottom.dx-tabs {
  box-shadow: 0px -1px 0px 0px #dfe0ed;

  .dx-tab {
    top: -1px;
  }

  .dx-tab-selected {
    border-bottom-color: #dfe0ed;
    border-left-color: #dfe0ed;
    border-right-color: #dfe0ed;
    border-top-color: #fff;
    border-radius: 0 0 4px 4px;
  }

  .dx-state-hover:not(.dx-tab-selected) {
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $tabs-hover-border-color;
    border-bottom: 0;
  }

  .dx-state-active {
    border-radius: 0 0 4px 4px;
    border-top: 1px solid $tabs-hover-border-color;
    border-bottom: 0;
  }
  .dx-state-focused {
    position: relative;

    &::before {
      border-radius: 0 0 6px 6px;
      top: 0px;
    }

    &::after {
      border-radius: 0 0 4px 4px;
      top: 0px;
    }
  }
}

.me-tabs-bottom.dx-tabs.me-tabs-inside {
  .dx-tab-selected {
    box-shadow: 0 0 0 0;

    &:not(.dx-state-focused) {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
      box-shadow: 0 -2px 0 0 $tabs-hover-border-color;
    }
  }

  .dx-state-focused {
    .dx-tab-selected {
      box-shadow: 0 0 0 0 $tabs-hover-border-color;
    }
    border: 2px solid #7eb9ff;

    &::before {
      height: 0%;
      width: 0%;
      border-radius: 0;
      left: 0;
      top: 0;
    }
    &::after {
      height: 0%;
      width: 0%;
      border-radius: 0;
      left: 0;
      top: 0;
    }
  }
}

.me-tabs-inside.dx-tabs {
  .dx-tab-selected {
    &:not(.dx-state-focused) {
      border-left: 0;
      border-right: 0;
      border-top: 0;
      box-shadow: 0 2px 0 0 $tabs-hover-border-color;
    }
  }

  .dx-state-focused {
    .dx-tab-selected {
      box-shadow: 0 0 0 0 $tabs-hover-border-color;
    }
    border: 2px solid #7eb9ff;

    &::before {
      height: 0%;
      width: 0%;
      border-radius: 0;
      left: 0;
      top: 0;
    }
    &::after {
      height: 0%;
      width: 0%;
      border-radius: 0;
      left: 0;
      top: 0;
    }
  }
}

.me-tabs-small {
  height: 28px;
  font-weight: 400;
  font-size: 13px;

  .dx-tab {
    padding: 3px 6px;
  }
  .dx-tab-text {
    line-height: 16px;
  }

  .dx-tab .dx-icon {
    margin-right: 4px;
    font-size: 20px;
  }
}

.me-tabs-medium {
  height: 32px;
  font-weight: 400;
  font-size: 14px;

  .dx-tab {
    padding: 5px 8px;
  }
  .dx-tab-text {
    line-height: 20px;
  }
  .dx-tab .dx-icon {
    font-size: 20px;
  }
}

.me-tabs-large {
  height: 40px;
  font-weight: 400;
  font-size: 16px;

  .dx-tab-text {
    line-height: 20px;
  }

  .dx-tab .dx-icon {
    font-size: 24px;
  }
}

.dx-tabs {
  position: relative;
  box-shadow: 0 1px 0px 0px $tabs-border-color;
}

.dx-tabs-scrollable {
  margin: -$generic-tabs-border-width;
  height: calc(100% + 2px);

  .dx-tabs-wrapper {
    .dx-tabs-nav-buttons & {
      border-left: $generic-tabs-transparent-border;
      border-right: $generic-tabs-transparent-border;
    }
  }
}

.dx-tabs-nav-button {
  border: none;
  background-color: $tabs-tab-bg;
  border-radius: 0;
  box-shadow: none;

  .dx-button-content {
    padding: 0;
  }

  &.dx-state-active {
    border: none;
  }

  // &.dx-state-disabled {
  //   opacity: 1;

  //   .dx-button-content {
  //     opacity: $tabs-tab-button-disabled-opacity;
  //   }
  // }
}

.dx-tab {
  padding: $generic-tabs-item-padding;
  background-color: transparent;
  color: $tabs-tab-color;
  position: relative;
  top: 1px;
  // @include dx-tabs-border-mixin(none, none, $generic-tabs-border);
  border-radius: 4px 4px 0 0;
  border: 1px solid transparent;

  &:focus {
    background-color: $tabs-tab-hover-bg;

    &::after {
      border-bottom: 1px solid $tabs-hover-border-color;
    }
  }

  .dx-icon {
    color: $tabs-tab-icon-color;
    display: inline-block;
    vertical-align: middle;

    @include dx-icon-sizing($generic-base-icon-size);
    @include dx-icon-margin(math.div($generic-base-icon-size, 2));
  }

  &.dx-state-hover:not(.dx-tab-selected) {
    background-color: $tabs-tab-hover-bg;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $tabs-hover-border-color;
  }

  &.dx-state-disabled {
    .dx-icon {
      color: $tabs-disabled-color;
    }

    .dx-tab-content {
      color: $tabs-disabled-color;
    }
  }

  &.dx-tab-selected {
    background-color: $tabs-tab-selected-bg;
    color: $tabs-tab-selected-color;
    border-top-color: $tabs-border-color;
    border-left-color: $tabs-border-color;
    border-right-color: $tabs-border-color;
    border-bottom-color: $tabs-tab-selected-bg;
  }

  &.dx-state-active {
    background-color: $tabs-tab-active-bg;
    color: $tabs-tab-selected-color;
    border-bottom: 1px solid $tabs-hover-border-color;
  }
}

.dx-tab-selected {
  // @include dx-tabs-border-mixin(
  //   $generic-tabs-border,
  //   $generic-tabs-border,
  //   none
  // );

  .dx-icon {
    color: $tabs-tab-icon-selected-color;
  }

  &:not(.dx-state-focused) {
    & + & {
      &::after {
        border-left: $generic-tabs-transparent-border;

        .dx-rtl & {
          border-left: $generic-tabs-border;
          border-right: $generic-tabs-transparent-border;
        }
      }
    }
  }
}

.dx-tab-text {
  vertical-align: middle;
  line-height: $generic-tab-text-line-height;
}

.dx-tabpanel-tabs .dx-tab.dx-state-hover:not(.dx-tab-selected) {
  border-bottom-color: $tabpanel-tabs-hover-border-color;
}

.dx-tab.dx-state-focused {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 4px);
    background-color: #7eb9ff;
    border-color: transparent;
    border-radius: 6px 6px 0 0;
    left: -4px;
    top: -4px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 2px);
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
    border: none;
    left: -2px;
    top: -2px;
    z-index: -1;
  }
}

.dx-state-disabled {
  .dx-tab-text {
    color: $tabs-disabled-color;
  }
  .dx-icon {
    color: $tabs-disabled-color;
  }
}
