@use 'sass:math';
@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../button/colors' as *;
@use '../../base/icons' as *;
@use '../../base/tabs';

// adduse
@use '../scrollable';
@use '../badge';

// @mixin dx-tabs-border-mixin($border-horizontal, $border-top, $border-bottom) {
//   &::after {
//     content: "";
//     pointer-events: none;
//     position: absolute;
//     top: 0px;
//     bottom: 0px;
//     right: 0px;
//     left: 0px;
//     border-right: $border-horizontal;
//     border-left: $border-horizontal;
//     border-top: $border-top;
//     border-bottom: $border-bottom;
//     border-radius: 4px 4px 0 0;
//     z-index: 0;
//   }
// }

.dx-tabs {
  position: relative;
  box-shadow: 0 1px 0px 0px $tabs-border-color;
}

.dx-tabs-scrollable {
  margin: -$generic-tabs-border-width;
  height: calc(100% + 2px);

  .dx-tabs-wrapper {
    .dx-tabs-nav-buttons & {
      border-left: $generic-tabs-transparent-border;
      border-right: $generic-tabs-transparent-border;
    }
  }
}

.dx-tabs-nav-button {
  border: none;
  background-color: $tabs-tab-bg;
  border-radius: 0;
  box-shadow: none;

  .dx-button-content {
    padding: 0;
  }

  &.dx-state-active {
    border: none;
  }

  // &.dx-state-disabled {
  //   opacity: 1;

  //   .dx-button-content {
  //     opacity: $tabs-tab-button-disabled-opacity;
  //   }
  // }
}

.dx-tab {
  padding: $generic-tabs-item-padding;
  background-color: transparent;
  color: $tabs-tab-color;
  position: relative;
  top: 1px;
  // @include dx-tabs-border-mixin(none, none, $generic-tabs-border);
  border-radius: 4px 4px 0 0;
  border: 1px solid transparent;

  &:focus {
    background-color: $tabs-tab-hover-bg;

    &::after {
      border-bottom: 1px solid $tabs-hover-border-color;
    }
  }

  .dx-icon {
    color: $tabs-tab-icon-color;
    display: inline-block;
    vertical-align: middle;

    @include dx-icon-sizing($generic-base-icon-size);
    @include dx-icon-margin(math.div($generic-base-icon-size, 2));
  }

  &.dx-state-hover:not(.dx-tab-selected) {
    background-color: $tabs-tab-hover-bg;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid $tabs-hover-border-color;
  }

  &.dx-state-disabled {
    .dx-icon {
      color: $tabs-disabled-color;
    }

    .dx-tab-content {
      color: $tabs-disabled-color;
    }
  }

  &.dx-tab-selected {
    background-color: $tabs-tab-selected-bg;
    color: $tabs-tab-selected-color;
    border-top-color: $tabs-border-color;
    border-left-color: $tabs-border-color;
    border-right-color: $tabs-border-color;
    border-bottom-color: $tabs-tab-selected-bg;
  }

  &.dx-state-active {
    background-color: $tabs-tab-active-bg;
    color: $tabs-tab-selected-color;
    border-bottom: 1px solid $tabs-hover-border-color;
  }
}

.dx-tab-selected {
  // @include dx-tabs-border-mixin(
  //   $generic-tabs-border,
  //   $generic-tabs-border,
  //   none
  // );

  .dx-icon {
    color: $tabs-tab-icon-selected-color;
  }

  &:not(.dx-state-focused) {
    & + & {
      &::after {
        border-left: $generic-tabs-transparent-border;

        .dx-rtl & {
          border-left: $generic-tabs-border;
          border-right: $generic-tabs-transparent-border;
        }
      }
    }
  }
}

.dx-tab-text {
  vertical-align: middle;
  line-height: $generic-tab-text-line-height;
}

.dx-tabpanel-tabs .dx-tab.dx-state-hover:not(.dx-tab-selected) {
  border-bottom-color: $tabpanel-tabs-hover-border-color;
}

.dx-tab.dx-state-focused {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 4px);
    background-color: #7eb9ff;
    border-color: transparent;
    border-radius: 6px 6px 0 0;
    left: -4px;
    top: -4px;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 2px);
    background-color: #ffffff;
    border-radius: 4px 4px 0 0;
    border: none;
    left: -2px;
    top: -2px;
    z-index: -1;
  }
}
