@use "colors" as *;
@use '../../base/tabs';

// New color variables
$tabs-hover-bg: rgba(60, 101, 248, 0.12);
$tabs-active-bg: rgba(60, 113, 248, 0.2);

.me-tabs-small {
  height: var(--me-tabs-small-height);
  font-weight: 400;
  font-size: var(--me-tabs-small-font-size);

  .dx-tab {
    padding: var(--me-tabs-small-tab-padding);
  }

  .dx-tab-text {
    line-height: var(--me-tabs-small-line-height);
  }

  .dx-tab .dx-icon {
    margin-right: var(--me-tabs-small-icon-margin-right);
    font-size: var(--me-tabs-small-icon-font-size);
  }
}

.me-tabs-medium {
  height: var(--me-tabs-medium-height);
  font-weight: 400;
  font-size: var(--me-tabs-medium-font-size);

  .dx-tab {
    padding: var(--me-tabs-medium-tab-padding);
  }

  .dx-tab-text {
    line-height: var(--me-tabs-medium-line-height);
  }

  .dx-tab .dx-icon {
    font-size: var(--me-tabs-medium-icon-font-size);
  }
}

.me-tabs-large {
  height: var(--me-tabs-large-height);
  font-weight: 400;
  font-size: var(--me-tabs-large-font-size);

  .dx-tab-text {
    line-height: var(--me-tabs-large-line-height);
  }

  .dx-tab .dx-icon {
    font-size: var(--me-tabs-large-icon-font-size);
  }
}

.dx-tabs {
  height: auto;
}

.dx-tabs-styling-mode-primary {
  .dx-tab.dx-state-active {
    background-color: $tabs-tab-active-bg;
  }

  &.dx-tab-indicator-position-top .dx-tab::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $tabs-disabled-color;
  }

  &.dx-tab-indicator-position-bottom .dx-tab::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $tabs-disabled-color;
  }

  &.dx-tab-indicator-position-bottom,
  &.dx-tab-indicator-position-top {
    .dx-tab-selected {
      &::after,
      &.dx-state-focused::after {
        background-color: $tabs-hover-border-color;
        height: 2px;
      }

      &.dx-state-hover::after,
      &.dx-state-active::after {
        background-color: $tabs-hover-border-color;
      }

      &.dx-state-disabled::after {
        background-color: $tabs-hover-border-color;
      }
    }
  }

  &.dx-tab-indicator-position-right .dx-tab::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background-color: $tabs-disabled-color;
  }

  &.dx-tab-indicator-position-left .dx-tab::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 2px;
  }

  &.dx-tab-indicator-position-left,
  &.dx-tab-indicator-position-right {
    .dx-tab {
      &.dx-state-hover::after,
      &.dx-state-active::after {
        background-color:$tabs-disabled-border-color;
      }
    }

    .dx-tab-selected {
      &::after,
      &.dx-state-focused::after,
      &.dx-state-hover::after,
      &.dx-state-active::after {
        background-color: $tabs-hover-border-color;
        width: 2px;
      }

      &.dx-state-disabled::after {
        background-color: $tabs-disabled-border-color;
      }
    }
  }
}

.me-tabs-top.dx-tabs-styling-mode-primary.dx-tab-indicator-position-bottom .dx-tab::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $tabs-disabled-border-color;
}

.me-tabs-top.dx-tabs-styling-mode-primary.dx-tab-indicator-position-bottom .dx-tab.dx-tab-selected::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $tabs-hover-border-color;
}

.dx-tabs-styling-mode-secondary.me-tabs-bottom.dx-tabs-vertical .dx-tab.dx-tab-selected {
  border-radius: 4px 0 0 4px;
}

.dx-tabs-styling-mode-secondary {
  &.me-tabs-bottom.dx-tabs-horizontal .dx-tab {
    border-width: 1px;
    border-style: solid;
    border-top-color: $tabs-disabled-border-color;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 0 0 4px 4px;

    &.dx-tab-selected {
      border-radius: 0 0 4px 4px;
      border-width: 1px;
      border-style: solid;
      border-top-color: transparent;
      border-bottom-color: $tabs-disabled-border-color;
      border-left-color: $tabs-disabled-border-color;
      border-right-color: $tabs-disabled-border-color;
    }
  }

  &.me-tabs-top .dx-tab {
    border-width: 1px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: $tabs-disabled-border-color;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 4px 4px 0 0;

    &.dx-tab-selected {
      border-radius: 4px 4px 0 0;
      border-width: 1px;
      border-style: solid;
      border-top-color: $tabs-disabled-border-color;
      border-bottom-color: transparent;
      border-left-color: $tabs-disabled-border-color;
      border-right-color: $tabs-disabled-border-color;
    }
  }

  &.me-tabs-bottom .dx-tab {
    border-width: 1px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: $tabs-disabled-border-color;
    border-radius: 0;

    &.dx-tab-selected {
      border-radius: 4px 4px 0 0;
      border-width: 1px;
      border-style: solid;
      border-top-color: $tabs-disabled-border-color;
      border-bottom-color: $tabs-disabled-border-color;
      border-left-color: $tabs-disabled-border-color;
      border-right-color: transparent;
    }
  }
}

.dx-tabs-vertical.dx-tabs-styling-mode-secondary.me-tabs-top {
  .dx-tab {
    border-width: 1px;
    border-style: solid;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: $tabs-disabled-border-color;
    border-radius: 0;

    &.dx-tab-selected {
      border-radius: 4px 0 0 4px;
      border-width: 1px;
      border-style: solid;
      border-top-color: $tabs-disabled-border-color;
      border-bottom-color: $tabs-disabled-border-color;
      border-left-color: $tabs-disabled-border-color;
      border-right-color: transparent;
    }

    &.dx-tab-selected::after,
    &.dx-state-hover::after,
    &.dx-state-active::after {
      background-color: transparent;
    }
  }
}

.dx-tab {
  gap: 4px;
  padding: 12px 10px;
  background-color: transparent;
  color: #242424;

  &.dx-state-hover {
    background-color: $tabs-hover-bg;
  }

  &.dx-state-active {
    background-color: $tabs-active-bg;
  }

  &.dx-tab-selected {
    color: #242424;

    .dx-icon {
      color: $tabs-hover-border-color;
    }

    .dx-tab-text .dx-tab-text-span {
      visibility: visible;

      .dx-tab-text-span-pseudo {
        visibility: hidden;
      }
    }
  }

  &.dx-state-disabled {
    color: $tabs-disabled-border-color;

    .dx-icon,
    .dx-tab-text .dx-tab-text-span-pseudo {
      color: $tabs-disabled-border-color;
    }
  }

  .dx-tab-text {
    column-gap: 8px;
    row-gap: 4px;
    line-height: 1.428571;

    .dx-tab-text-span {
      position: relative;
      display: block;
      font-weight: 500;
      visibility: hidden;
    }

    .dx-tab-text-span-pseudo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
      color: #242424;
      font-weight: 400;
      visibility: visible;
    }
  }

  .dx-icon {
    color: #242424;
    visibility: visible;
    background-position: 0 0;
    background-size: 20px 20px;
    padding: 0;
    font-size: 20px;
    text-align: center;
    width: 1em;
    height: 1em;
    line-height: 1;
  }

  .dx-tabs-item-badge {
    align-self: center;
    min-width: 20px;
    min-height: 20px;
  }
}
