<div class="wrapper">
  <h1 class="dx-widget wrapper__title">Buttons</h1>
  <div class="flex-row">
    <div class="flex-column">
      <p class="dx-widget">Contained buttons</p>
      <div class="flex">
        <dx-button stylingMode="contained" type="default" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="default" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="normal" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="normal" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="success" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="success" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="danger" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="danger" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites" [disabled]="true"></dx-button>
      </div>
    </div>
    <div class="flex-column">
      <p class="dx-widget">Outlined buttons</p>
      <div class="flex">
        <dx-button stylingMode="outlined" type="default" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="default" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="default" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="default" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="default" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="default" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="normal" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="normal" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="normal" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="normal" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="normal" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="normal" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="success" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="success" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="success" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="success" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="success" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="success" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="danger" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="danger" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="danger" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="danger" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="danger" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="danger" icon="favorites" [disabled]="true"></dx-button>
      </div>
    </div>
    <div class="flex-column">
      <p class="dx-widget">Text buttons</p>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="default" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="default" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="default" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="default" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="default" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="default" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="normal" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="normal" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="normal" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="normal" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="normal" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="normal" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="success" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="success" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="success" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="success" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="success" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="success" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="danger" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="danger" text="Button"></dx-button>
        <dx-button stylingMode="dx-widget" type="danger" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="dx-widget" type="danger" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="danger" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="dx-widget" type="danger" icon="favorites" [disabled]="true"></dx-button>
      </div>
    </div>
  </div>
</div>
