@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../button/colors' as *;
@use '../color' as extcolor;

// adduse

/**
* $name 10. Active spin buttons color
* $type color
*/
$numberbox-spin-active-bg: null !default;
$numberbox-spin-active-color: null !default;

/**
* $name 20. Hovered spin buttons border color
* $type color
*/
$numberbox-spin-hover-border-color: null !default;
$numberbox-spin-hover-bg: null !default;
$numberbox-spin-container-border-radius: $base-border-radius !default;
$numberbox-spin-icon-border-radius: null !default;
$numberbox-spin-focused-hover-bg: null !default;

/**
* $name 10. Spin icon color
* $type color
*/
$numberbox-spin-icon-color: $base-icon-color !default;

@if $color == 'light' {
  $numberbox-spin-active-bg: #3c71f833;
  $numberbox-spin-active-color: #18181a;
  $numberbox-spin-hover-border-color: #3c65f81f;
  $numberbox-spin-hover-bg: #3c65f81f;
  $numberbox-spin-focused-hover-bg: #3c65f81f;
  $numberbox-spin-icon-border-radius: $base-border-radius-small !default;
}

@if $color == 'dark' {
  $numberbox-spin-active-bg: #3c65f866;
  $numberbox-spin-active-color: #ffffff;
  $numberbox-spin-hover-border-color: #3c65f840;
  $numberbox-spin-hover-bg: #3c65f840;
  $numberbox-spin-focused-hover-bg: #3c65f840;
  $numberbox-spin-icon-border-radius: $base-border-radius-small !default;
}
