<div class="wrapper">
  <div class="flex-row">
    <div class="flex-column">
      <p class="text">Contained buttons</p>
      <div class="flex">
        <dx-button stylingMode="contained" type="default" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="default" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="default" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="normal" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="normal" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="normal" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="success" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="success" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="success" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="danger" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="contained" type="danger" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="contained" type="danger" icon="favorites" [disabled]="true"></dx-button>
      </div>
    </div>
    <div class="flex-column">
      <p class="text">Outlined buttons</p>
      <div class="flex">
        <dx-button stylingMode="outlined" type="default" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="default" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="default" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="default" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="default" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="default" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="normal" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="normal" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="normal" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="normal" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="normal" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="normal" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="success" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="success" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="success" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="success" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="success" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="success" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="danger" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="danger" text="Button"></dx-button>
        <dx-button stylingMode="outlined" type="danger" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="outlined" type="danger" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="danger" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="outlined" type="danger" icon="favorites" [disabled]="true"></dx-button>
      </div>
    </div>
    <div class="flex-column">
      <p class="text">Text buttons</p>
      <div class="flex">
        <dx-button stylingMode="text" type="default" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="text" type="default" text="Button"></dx-button>
        <dx-button stylingMode="text" type="default" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="default" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="default" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="default" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="normal" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="text" type="normal" text="Button"></dx-button>
        <dx-button stylingMode="text" type="normal" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="normal" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="normal" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="normal" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="success" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="text" type="success" text="Button"></dx-button>
        <dx-button stylingMode="text" type="success" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="success" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="success" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="success" icon="favorites" [disabled]="true"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="danger" icon="favorites" text="Button"></dx-button>
        <dx-button stylingMode="text" type="danger" text="Button"></dx-button>
        <dx-button stylingMode="text" type="danger" icon="favorites"></dx-button>
      </div>
      <div class="flex">
        <dx-button stylingMode="text" type="danger" icon="favorites" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="danger" text="Button" [disabled]="true"></dx-button>
        <dx-button stylingMode="text" type="danger" icon="favorites" [disabled]="true"></dx-button>
      </div>
    </div>
  </div>
</div>
