@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../color' as extcolor;

// adduse

/**
* $name 130. Badge text color
* $type color
*/
$badge-color: #ffffff;

/**
* $name 140. Badge background color
* $type color
*/
$badge-bg: null !default;

@if $color == 'dark' {
  $badge-bg: #476398;
}

@if $color == 'light' {
  $badge-bg: #6e86c3;
}
