@use 'sass:color';
@use '../colors' as *;

// Переменные для бейджа
$badge-text-color: null !default;
$badge-font-family: null !default;

// Цвета для разных состояний
$badge-default-bg: null !default;
$badge-secondary-bg: null !default;
$badge-success-bg: null !default;
$badge-attention-bg: null !default;
$badge-error-bg: null !default;

// Светлая тема
@if $color == 'light' {
  $badge-text-color: var(--Controls-Content-In-Controls-On-BG-Default); // #ffffff
  $badge-font-family: var(--font-family);
}

// Темная тема
@if $color == 'dark' {
  $badge-text-color: var(--Controls-Content-In-Controls-On-BG-Default); // #ffffff
  $badge-font-family: var(--font-family);
}

// Базовые стили бейджа
me-badge {
  display: inline-flex;
  width: var(--badge-width);

  .badge {
    font-family: 'Roboto Mono';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    font-weight: var(--me-regular-font-weight);
    color: $badge-text-color;
    border-radius: 10px; // Используем px вместо 50% для возможности растягивания
    min-width: var(--badge-size);
    height: var(--badge-size);
    padding: 0 4px;
    box-sizing: border-box;
    transition: all 0.2s ease;
    width: 100%;

    &-content {
      font-family: 'Roboto Mono';
      display: inline-block;
      align-items: center;
      width: 100%;
      height: 100%;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    // Размеры
    &.size-small {
      --badge-size: 16px;
      font-size: 12px;
      line-height: 16px;
      min-width: var(--badge-size);

      &.extended {
        padding: 0 4px;
      }
    }

    &.size-large {
      --badge-size: 20px;
      font-size: 14px;
      line-height: 20px;
      min-width: var(--badge-size);
      border-radius: var(--badge-size);

      &.extended {
        padding: 0 6px;
      }
    }

    // Цвета
    &.color-default {
      background-color: var(--Badge-Blue-Gray);
    }

    &.color-secondary {
      background-color: var(--Badge-Blue);
    }

    &.color-success {
      background-color: var(--Badge-Green);
    }

    &.color-success-light {
      background-color: var(--Badge-Green-Light);
      color: var(--Text-Default);
    }

    &.color-attention {
      background-color: var(--Badge-Yellow);
    }

    &.color-attention-light {
      background-color: var(--Badge-Yellow-Light);
      color: var(--Text-Default);
    }

    &.color-error {
      background-color: var(--Badge-Red);
    }

    &.color-blue-gray {
      background-color: var(--Badge-Blue-Gray);
    }
    &.color-blue {
      background-color: var(--Badge-Blue);
    }
    &.color-red {
      background-color: var(--Badge-Red);
    }
    &.color-green {
      background-color: var(--Badge-Green);
    }
    &.color-green-light {
      background-color: var(--Badge-Green-Light);
    }
    &.color-yellow {
      background-color: var(--Badge-Yellow);
    }
    &.color-yellow-light {
      background-color: var(--Badge-Yellow-Light);
    }
  }


}

.badge-title {
  color: var(--Text-Default);
  font-family: 'Roboto Mono';
}
