@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/badge';

// adduse

.dx-badge {
  background-color: $badge-bg;
  color: $badge-color;
  font-size: $generic-base-font-size - 1px;
  padding: 0 $generic-badge-horizontal-padding 2px;
  line-height: normal;
}

.badge.size-24 {
  --badge-size: 24px;
  font-size: 14px;
  line-height: 20px;
  min-width: 24px;
  border-radius: 24px;
}