@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$button-icon-color: $base-icon-color !default;
$button-border-radius: $base-border-radius !default;
$button-disabled-text-opacity: 0.5 !default;
$button-disabled-icon-opacity: 0.6 !default;

/**
* $name 10. Text color
* $type color
*/
$button-normal-color: $base-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-normal-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$button-normal-border-color: null !default;
$button-special-hover: null !default;
$button-normal-bg-inverted: null !default;
$button-normal-contained-bg-hover: null !default;
$button-normal-contained-bg-focused: null !default;
$button-normal-contained-bg-active: null !default;
$button-normal-outlined-bg-hover: null !default;
$button-normal-outlined-bg-focused: null !default;
$button-normal-outlined-bg-active: null !default;
$button-normal-text-bg-hover: null !default;
$button-normal-text-bg-focused: null !default;
$button-normal-text-bg-active: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-default-color: $base-inverted-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-default-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$button-default-border-color: null !default;
$button-default-contained-bg-hover: null !default;
$button-default-contained-bg-focused: null !default;
$button-default-contained-bg-active: null !default;
$button-default-outlined-bg-hover: null !default;
$button-default-outlined-bg-focused: null !default;
$button-default-outlined-bg-active: null !default;
$button-default-text-bg-hover: null !default;
$button-default-text-bg-focused: null !default;
$button-default-text-bg-active: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-danger-color: $base-inverted-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-danger-bg: $base-danger !default;

/**
* $name 30. Border color
* $type color
*/
$button-danger-border-color: null !default;
$button-danger-contained-bg-hover: null !default;
$button-danger-contained-bg-focused: null !default;
$button-danger-contained-bg-active: null !default;
$button-danger-outlined-bg-hover: null !default;
$button-danger-outlined-bg-focused: null !default;
$button-danger-outlined-bg-active: null !default;
$button-danger-text-bg-hover: null !default;
$button-danger-text-bg-focused: null !default;
$button-danger-text-bg-active: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-success-color: $base-inverted-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-success-bg: $base-success;

/**
* $name 30. Border color
* $type color
*/
$button-success-border-color: null !default;
$button-success-contained-bg-hover: null !default;
$button-success-contained-bg-focused: null !default;
$button-success-contained-bg-active: null !default;
$button-success-outlined-bg-hover: null !default;
$button-success-outlined-bg-focused: null !default;
$button-success-outlined-bg-active: null !default;
$button-success-text-bg-hover: null !default;
$button-success-text-bg-focused: null !default;
$button-success-text-bg-active: null !default;

// Custom
$button-default-contained-bg-disabled: null !default;
$button-default-outlined-bg-disabled: null !default;
$button-default-text-bg-disabled: null !default;

$button-normal-bg-disabled: null !default;

$button-success-bg-disabled: null !default;

$button-danger-contained-bg-disabled: null !default;
$button-danger-outlined-bg-disabled: null !default;
$button-danger-text-bg-disabled: null !default;

@if $color == "light" {
  $button-normal-bg: #ffffff;
  $button-normal-border-color: #dfe0ed;
  $button-special-hover: transparent !default;
  $button-normal-bg-inverted: darken($button-normal-bg, 100%) !default;
  $button-normal-contained-bg-hover: darken($button-normal-bg, 4%) !default;
  $button-normal-contained-bg-focused: darken($button-normal-bg, 8%) !default;
  $button-normal-contained-bg-active: darken($button-normal-bg, 24%) !default;
  $button-normal-outlined-bg-hover: color.change($button-normal-bg-inverted, $alpha: 0.04) !default;
  $button-normal-outlined-bg-focused: color.change($button-normal-bg-inverted, $alpha: 0.08) !default;
  $button-normal-outlined-bg-active: color.change($button-normal-bg-inverted, $alpha: 0.24) !default;
  $button-normal-text-bg-hover: color.change($button-normal-bg-inverted, $alpha: 0.04) !default;
  $button-normal-text-bg-focused: color.change($button-normal-bg-inverted, $alpha: 0.08) !default;
  $button-normal-text-bg-active: color.change($button-normal-bg-inverted, $alpha: 0.24) !default;
  $button-normal-bg-disabled: #18181a66;

  $button-default-bg: #3257dc;
  $button-default-border-color: #3257dc;
  $button-default-contained-bg-hover: #4970ff;
  $button-default-contained-bg-focused: #4970ff;
  $button-default-contained-bg-active: #2544b3;
  $button-default-outlined-bg-hover: #3c65f81f;
  $button-default-outlined-bg-focused: #3c65f81f;
  $button-default-outlined-bg-active: #3c71f833;
  $button-default-text-bg-hover: #3c65f81f;
  $button-default-text-bg-focused: #3c65f81f;
  $button-default-text-bg-active: #3c71f833;
  $button-default-contained-bg-disabled: #91aaea;
  $button-default-outlined-bg-disabled: #91aaea;
  $button-default-text-bg-disabled: #91aaea;

  $button-danger-border-color: #d50f3f;
  $button-danger-contained-bg-hover: darken($button-danger-bg, 9%) !default;
  $button-danger-contained-bg-focused: darken($button-danger-bg, 12%) !default;
  $button-danger-contained-bg-active: darken($button-danger-bg, 23%) !default;
  $button-danger-outlined-bg-hover: color.change($button-danger-border-color, $alpha: 0.1) !default;
  $button-danger-outlined-bg-focused: color.change($button-danger-border-color, $alpha: 0.1) !default;
  $button-danger-outlined-bg-active: color.change($button-danger-border-color, $alpha: 0.4) !default;
  $button-danger-text-bg-hover: $button-danger-outlined-bg-hover !default;
  $button-danger-text-bg-focused: $button-danger-outlined-bg-focused !default;
  $button-danger-text-bg-active: $button-danger-outlined-bg-active !default;
  $button-danger-contained-bg-disabled: #f19cb0;
  $button-danger-outlined-bg-disabled: #e5a5b5;
  $button-danger-text-bg-disabled: #e5a5b5;

  $button-success-border-color: #00993d;
  $button-success-contained-bg-hover: darken($button-success-bg, 9%) !default;
  $button-success-contained-bg-focused: darken($button-success-bg, 12%) !default;
  $button-success-contained-bg-active: darken($button-success-bg, 23%) !default;
  $button-success-outlined-bg-hover: color.change($button-success-border-color, $alpha: 0.1) !default;
  $button-success-outlined-bg-focused: color.change($button-success-border-color, $alpha: 0.1) !default;
  $button-success-outlined-bg-active: color.change($button-success-border-color, $alpha: 0.4) !default;
  $button-success-text-bg-hover: $button-success-outlined-bg-hover !default;
  $button-success-text-bg-focused: $button-success-outlined-bg-focused !default;
  $button-success-text-bg-active: $button-success-outlined-bg-active !default;
  $button-success-bg-disabled: #6dc48f;
}

@if $color == "dark" {
  $button-normal-bg: #2e2e2f;
  $button-normal-border-color: #3f4044;
  $button-special-hover: transparent !default;
  $button-normal-bg-inverted: lighten($button-normal-bg, 100%) !default;
  $button-normal-contained-bg-hover: lighten($button-normal-bg, 4%) !default;
  $button-normal-contained-bg-focused: lighten($button-normal-bg, 8%) !default;
  $button-normal-contained-bg-active: #264fb8;
  $button-normal-outlined-bg-hover: color.change($button-normal-bg-inverted, $alpha: 0.04) !default;
  $button-normal-outlined-bg-focused: color.change($button-normal-bg-inverted, $alpha: 0.08) !default;
  $button-normal-outlined-bg-active: color.change($button-normal-bg-inverted, $alpha: 0.24) !default;
  $button-normal-text-bg-hover: color.change($button-normal-bg-inverted, $alpha: 0.04) !default;
  $button-normal-text-bg-focused: color.change($button-normal-bg-inverted, $alpha: 0.08) !default;
  $button-normal-text-bg-active: color.change($button-normal-bg-inverted, $alpha: 0.24) !default;
  $button-normal-bg-disabled: #ffffff4d;

  $button-default-bg: #3565e2;
  $button-default-border-color: #5d9eff;
  $button-default-contained-bg-hover: #4a7cff;
  $button-default-contained-bg-focused: #4a7cff;
  $button-default-contained-bg-active: #264fb8;
  $button-default-outlined-bg-hover: #3c65f840;
  $button-default-outlined-bg-focused: #3c65f840;
  $button-default-outlined-bg-active: #3c65f866;
  $button-default-text-bg-hover: #3c65f840;
  $button-default-text-bg-focused: #3c65f840;
  $button-default-text-bg-active: #3c65f866;
  $button-default-contained-bg-disabled: #27376e;
  $button-default-outlined-bg-disabled: #4c6fb3;
  $button-default-text-bg-disabled: #4c6fb3;

  $button-danger-border-color: #fa6488;
  $button-danger-contained-bg-hover: lighten($button-danger-bg, 9%) !default;
  $button-danger-contained-bg-focused: lighten($button-danger-bg, 12%) !default;
  $button-danger-contained-bg-active: lighten($button-danger-bg, 23%) !default;
  $button-danger-outlined-bg-hover: color.change($button-danger-border-color, $alpha: 0.1) !default;
  $button-danger-outlined-bg-focused: color.change($button-danger-border-color, $alpha: 0.1) !default;
  $button-danger-outlined-bg-active: color.change($button-danger-border-color, $alpha: 0.4) !default;
  $button-danger-text-bg-hover: $button-danger-outlined-bg-hover !default;
  $button-danger-text-bg-focused: $button-danger-outlined-bg-focused !default;
  $button-danger-text-bg-active: $button-danger-outlined-bg-active !default;
  $button-danger-contained-bg-disabled: #821b34;
  $button-danger-outlined-bg-disabled: #7e4653;
  $button-danger-text-bg-disabled: #7e4653;

  $button-success-border-color: #00b955;
  $button-success-contained-bg-hover: lighten($button-success-bg, 9%) !default;
  $button-success-contained-bg-focused: lighten($button-success-bg, 12%) !default;
  $button-success-contained-bg-active: lighten($button-success-bg, 23%) !default;
  $button-success-outlined-bg-hover: color.change($button-success-border-color, $alpha: 0.1) !default;
  $button-success-outlined-bg-focused: color.change($button-success-border-color, $alpha: 0.1) !default;
  $button-success-outlined-bg-active: color.change($button-success-border-color, $alpha: 0.4) !default;
  $button-success-text-bg-hover: $button-success-outlined-bg-hover !default;
  $button-success-text-bg-focused: $button-success-outlined-bg-focused !default;
  $button-success-text-bg-active: $button-success-outlined-bg-active !default;
  $button-success-bg-disabled: #13542d;
}
