@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Background color
* $type color
*/
$toolbar-bg: $base-bg !default;
$toolbar-color: $base-text-color !default;
$toolbar-border: null !default;
$toolbar-separator: null !default;

@if $color == "light" {
  $toolbar-border: #dfe0ed;
  $toolbar-separator: #d5d6df;
}

@if $color == "dark" {
  $toolbar-border: #3f4044;
  $toolbar-separator: #535459;
}
