@use 'sass:math';
@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../typography/sizes' as *;
@use '../../base/accordion';

// adduse

$generic-accordion-disabled-opacity: 0.5;

.dx-accordion {
  width: 379px;
  background-color: $accordion-background-color;
  color: $accordion-color;
  padding: 16px;
}

.dx-accordion-item {
  border-radius: 3px 3px 0 0;
  border-inline: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:last-child {
    border-bottom: 1px solid $accordion-item-border-color;
  }

  &.dx-state-active:not(.dx-accordion-item-opened) {
    .dx-icon {
      color: $accordion-icon-active-color;
    }

    & > .dx-accordion-item-title {
      color: $accordion-title-active-color;
      background-color: $accordion-title-active-bg;
    }
  }

  &.dx-state-hover {
    & > .dx-accordion-item-title {
      background-color: $accordion-item-hover-bg;
    }

    &:not(.dx-accordion-item-opened) {
      border-radius: 3px;
      border-color: transparent;
    }

    &:not(:last-child):not(.dx-accordion-item-opened):not(.dx-state-focused) {
      border-bottom-color: $accordion-item-hover-bg;
    }
  }
}

.dx-accordion-item-opened {
  border-radius: 3px;
  border: 1px solid $accordion-item-border-color;

  &.dx-state-hover {
    & > .dx-accordion-item-title {
      background-color: $accordion-item-title-opened-bg;
    }
  }

  & > .dx-accordion-item-title {
    background-color: $accordion-item-title-opened-bg;

    &::before {
      content: '\f014';
    }
  }

  + .dx-accordion-item {
    border-top-color: transparent;

    &.dx-state-hover:not(.dx-state-focused) {
      border-top-color: $accordion-item-hover-bg;
    }
  }
}

.dx-accordion-item-title {
  color: $accordion-title-color;
  padding: $generic-accordion-title-padding;
  font-size: $generic-s-font-size;

  &::before {
    content: '\f016';
    position: absolute;
    font-family: DXIcons; // stylelint-disable-line font-family-no-missing-generic-family-keyword, font-family-name-quotes
    font-size: $generic-base-icon-size;
    font-weight: normal;
    color: $accordion-icon-color;
    line-height: $generic-accordion-arrow-line-height;
    margin-left: math.div($generic-base-icon-size, 2);
    margin-right: 0;
    right: 15px;
  }

  .dx-icon {
    @include dx-icon-sizing($generic-base-icon-size);
    display: inline-block;
    color: $accordion-icon-color;
  }

  .dx-accordion-item-title-caption .dx-icon {
    @include dx-icon-margin($accordion-title-icon-margin);
    vertical-align: top;
    position: relative;
    top: $accordion-title-icon-top-offset;
  }
}

.dx-accordion-item-title-caption {
  margin-inline-end: $generic-base-icon-size;
}

.dx-state-disabled {
  &.dx-accordion-item {
    opacity: $generic-accordion-disabled-opacity;
  }
}

.me-keyboard-focused .dx-state-focused {
  &.dx-accordion-item {
    border: 1px solid $accordion-item-focused-border-color;
    border-radius: 3px;
    box-shadow: 0 0 0 1px $accordion-item-focused-border-color;
  }
}

.dx-accordion-item-body {
  padding: $generic-accordion-body-padding;
  font-size: $generic-base-font-size;
}

.dx-rtl {
  .dx-accordion-item-title {
    &::before {
      margin-left: 0;
      margin-right: math.div($generic-base-icon-size, 2);
    }
  }
}

/* Общие стили для заголовка */
.dx-accordion-item-title .custom-header-container {
  display: flex;
  align-items: flex-start;
}

.dx-accordion-item-title .custom-header-icon {
  margin-right: var(--accordion-icon-margin-right);
  color: var(--accordion-icon-color);
  position: relative;
}

.dx-accordion-item-title .custom-header-title {
  font-family: var(--accordion-font-family);
  font-weight: bold;
}

.dx-accordion-item-title .custom-header-description {
  font-family: var(--accordion-font-family);
  color: var(--accordion-description-color);
}

.me-accordion-small {
  min-width: 206px;

  .custom-header-icon {
    font-size: var(--accordion-icon-size-small);
  }

  .custom-header-title {
    font-size: var(--accordion-title-font-size-small);
    line-height: var(--accordion-title-line-height-small);
  }

  .custom-header-description {
    font-weight: var(--accordion-description-font-weight-small);
    font-size: var(--accordion-description-font-size-small);
    line-height: var(--accordion-description-line-height-small);
  }

  .dx-accordion-item-title > * {
    padding: 8px 0;
    font-family: var(--accordion-title-font-family);
    font-weight: var(--accordion-title-font-weight-small);
    font-size: var(--accordion-title-font-size-small);
    line-height: var(--accordion-title-line-height-small);
  }

  .dx-accordion-item-body {
    padding: 0 12px 12px 12px;

    p {
      text-align: start;
      font-family: var(--accordion-body-font-family);
      font-weight: var(--accordion-body-font-weight-small);
      font-size: var(--accordion-body-font-size-small);
      line-height: var(--accordion-body-line-height-small);
    }
  }
}

.me-accordion-medium {
  min-width: 300px;

  .custom-header-icon {
    font-size: var(--accordion-icon-size-medium);
    top: 1px;
  }

  .custom-header-description {
    font-weight: var(--accordion-description-font-weight-medium);
    font-size: var(--accordion-description-font-size-medium);
    line-height: var(--accordion-description-line-height-medium);
  }

  .custom-header-icon {
    font-size: var(--accordion-icon-size-medium);
  }
  .dx-accordion-item-title > * {
    padding: 8px 0;
    font-family: var(--accordion-title-font-family);
    font-weight: var(--accordion-title-font-weight-medium);
    font-size: var(--accordion-title-font-size-medium);
    line-height: var(--accordion-title-line-height-medium);
  }

  .dx-accordion-item-body {
    padding: 0 12px 12px 12px;

    p {
      text-align: start;
      font-family: var(--accordion-body-font-family);
      font-weight: var(--accordion-body-font-weight-medium);
      font-size: var(--accordion-body-font-size-medium);
      line-height: var(--accordion-body-line-height-medium);
    }
  }
}

.me-accordion-large {
  min-width: 300px;

  .custom-header-icon {
    font-size: var(--accordion-icon-size-medium);
    top: 3px;
  }

  .custom-header-description {
    font-weight: var(--accordion-description-font-weight-large);
    font-size: var(--accordion-description-font-size-large);
    line-height: var(--accordion-description-line-height-large);
  }
  .custom-header-icon {
    font-size: var(--accordion-icon-size-medium);
  }

  .custom-header-icon {
    font-size: var(--accordion-icon-size-medium);
  }

  .dx-accordion-item-title > * {
    padding: 8px 0;
    font-family: var(--accordion-title-font-family);
    font-weight: var(--accordion-title-font-weight-large);
    font-size: var(--accordion-title-font-size-large);
    line-height: var(--accordion-title-line-height-large);
  }

  .dx-accordion-item-body {
    padding: 0 16px 16px 16px;

    p {
      text-align: start;
      font-family: var(--accordion-body-font-family);
      font-weight: var(--accordion-body-font-weight-large);
      font-size: var(--accordion-body-font-size-large);
      line-height: var(--accordion-body-line-height-large);
    }
  }
}
