@use "sass:math";
@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/icons" as *;
@use "../typography/sizes" as *;
@use "../../base/accordion";

// adduse

$generic-accordion-disabled-opacity: 0.5;

.dx-accordion {
  width: 379px;
  background-color: $accordion-background-color;
  color: $accordion-color;
  padding: 16px;
}

.dx-accordion-item {
  border-radius: 3px 3px 0 0;
  border-inline: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;

  &:last-child {
    border-bottom: 1px solid $accordion-item-border-color;
  }

  &.dx-state-active:not(.dx-accordion-item-opened) {
    .dx-icon {
      color: $accordion-icon-active-color;
    }

    & > .dx-accordion-item-title {
      color: $accordion-title-active-color;
      background-color: $accordion-title-active-bg;
    }
  }

  &.dx-state-hover {
    & > .dx-accordion-item-title {
      background-color: $accordion-item-hover-bg;
    }

    &:not(.dx-accordion-item-opened) {
      border-radius: 3px;
      border-color: transparent;
    }

    &:not(:last-child):not(.dx-accordion-item-opened):not(.dx-state-focused) {
      border-bottom-color: $accordion-item-hover-bg;
    }
  }
}

.dx-accordion-item-opened {
  border-radius: 3px;
  border: 1px solid $accordion-item-border-color;

  &.dx-state-hover {
    & > .dx-accordion-item-title {
      background-color: $accordion-item-title-opened-bg;
    }
  }

  & > .dx-accordion-item-title {
    background-color: $accordion-item-title-opened-bg;

    &::before {
      content: "\f014";
    }
  }

  + .dx-accordion-item {
    border-top-color: transparent;

    &.dx-state-hover:not(.dx-state-focused) {
      border-top-color: $accordion-item-hover-bg;
    }
  }
}

.dx-accordion-item-title {
  color: $accordion-title-color;
  padding: $generic-accordion-title-padding;
  font-size: $generic-s-font-size;

  &::before {
    content: "\f016";
    position: absolute;
    font-family: DXIcons; // stylelint-disable-line font-family-no-missing-generic-family-keyword, font-family-name-quotes
    font-size: $generic-base-icon-size;
    font-weight: normal;
    color: $accordion-icon-color;
    line-height: $generic-accordion-arrow-line-height;
    margin-left: math.div($generic-base-icon-size, 2);
    margin-right: 0;
    right: 15px;
  }

  .dx-icon {
    @include dx-icon-sizing($generic-base-icon-size);
    display: inline-block;
    color: $accordion-icon-color;
  }

  .dx-accordion-item-title-caption .dx-icon {
    @include dx-icon-margin($accordion-title-icon-margin);
    vertical-align: top;
    position: relative;
    top: $accordion-title-icon-top-offset;
  }
}

.dx-accordion-item-title-caption {
  margin-inline-end: $generic-base-icon-size;
}

.dx-state-disabled {
  &.dx-accordion-item {
    opacity: $generic-accordion-disabled-opacity;
  }
}

.dx-state-focused {
  &.dx-accordion-item {
    border: 1px solid $accordion-item-focused-border-color;
    border-radius: 3px;
    box-shadow: 0 0 0 1px $accordion-item-focused-border-color;
  }
}

.dx-accordion-item-body {
  padding: $generic-accordion-body-padding;
  font-size: $generic-base-font-size;
}

.dx-rtl {
  .dx-accordion-item-title {
    &::before {
      margin-left: 0;
      margin-right: math.div($generic-base-icon-size, 2);
    }
  }
}

.me-accordion-small {
  min-width: 206px;

  .dx-accordion-item-title > * {
    padding: 8px 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  .dx-accordion-item-body {
    padding: 0 12px 12px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    p {
      text-align: start;
    }
  }
}

.me-accordion-medium {
  min-width: 300px;

  .dx-accordion-item-title > * {
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  .dx-accordion-item-body {
    padding: 0 12px 12px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    p {
      text-align: start;
    }
  }
}

.me-accordion-large {
  min-width: 300px;

  .dx-accordion-item-title > * {
    padding: 8px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }

  .dx-accordion-item-body {
    padding: 0 16px 16px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    p {
      text-align: start;
    }
  }
}
