@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../menuBase/sizes' as *;
@use '../menu/colors' as *;
@use '../../base/contextMenu';

// adduse
@use '../overlay';
@use '../menuBase' as *; // need as private

$generic-menu-popup-border: 1px solid $menu-popup-border-color;

.dx-context-menu {
  color: $menu-color;

  .dx-submenu {
    background-color: $menu-popup-bg;
    border: $generic-menu-popup-border;
    box-shadow: 0 2px 2px $menu-container-shadow-color;
  }

  .dx-menu-item-popout {
    @include dx-icon(spinright);
    @include dx-icon-font-centered-sizing($generic-base-icon-size);
  }

  .dx-menu-separator {
    background-color: $menu-separator-bg;
  }

  .dx-menu-no-icons
    > .dx-menu-item-wrapper
    > .dx-menu-item
    > .dx-menu-item-content
    .dx-menu-item-text {
    padding-left: $generic-menu-item-padding-base;

    @at-root #{selector-append(".dx-rtl", &)},
      .dx-rtl & {
      padding-right: $generic-menu-item-padding-base;
      padding-left: $generic-menu-padding-big;
    }
  }

  &.dx-rtl {
    .dx-menu-item-content {
      padding: $generic-menu-item-padding-base $generic-menu-item-padding-reduced
        $generic-menu-item-padding-base $generic-menu-item-padding-base;

      .dx-menu-item-text {
        padding: $generic-menu-item-padding-top-base $generic-menu-item-padding-base +
          $generic-base-icon-size $generic-menu-item-padding-base $generic-menu-padding-big;
      }
    }
  }
}

.me-context-menu-submenu {
  .dx-scrollable-container {
    .dx-scrollable-scroll-content {
      border-radius: 10px;
    }
    .dx-scrollbar-vertical.dx-scrollable-scrollbar {
      width: auto;
      padding: 0;
      .dx-scrollable-scroll {
        width: 8px;
      }
    }
    .dx-scrollable-scrollbar.dx-state-hover {
      background: transparent;
    }
  }

  &.dx-submenu {
    border-radius: 4px;
    border: 1px solid $base-border-color;
    box-shadow: 0px 5px 8px 0px #00000033;

    .dx-menu-items-container {
      padding: 0;
      display: flex;
      flex-direction: column;

      .dx-menu-separator {
        margin: 4px 12px;
        background-color: var(--Dividers-Borders-Short);
      }

      .dx-menu-item-wrapper {
        .dx-item.dx-menu-item {
          border-radius: 0;
          display: flex;
          padding: 4px 12px;

          &.dx-state-disabled {
            padding-top: 16px;
            padding-bottom: 8px;
            opacity: 1;
            .dx-item-content.dx-menu-item-content {
              .dx-menu-item-text {
                font-weight: var(--me-bold-font-weight);
                color: $base-text-color;
              }
            }
          }

          &.dx-state-active {
            background-color: var(--Controls-BG-Secondary-Elements-BG-Pressed);
          }

          &.dx-menu-item-selected {
            background-color: var(--Controls-Informative-BG-Selected-Element);
          }

          .dx-item-content.dx-menu-item-content {
            padding: 0;
            display: flex;
            align-items: center;
            gap: 8px;

            .dx-icon {
              margin: 0;
              width: 24px;
              height: 24px;
            }
            .dx-menu-item-text {
              padding: 0;
              color: $base-text-color;
              font-size: 16px;
              line-height: 20px;
              font-weight: var(--me-regular-font-weight);
            }
            .dx-menu-item-popout-container {
              position: relative;
              margin-left: auto;
              .dx-menu-item-popout {
                font-family: var(--me-icon-family);
              }
              .dx-menu-item-popout::before {
                content: var(--me-icon-chevron-right);
                font-size: 24px;
              }
            }
          }

          &.dx-state-active {
            background-color: $menu-item-active-bg;
          }

          .dx-template-wrapper.dx-item-content.dx-menu-item-content {
            .item-template-container {
              display: flex;
              align-items: center;
              gap: 8px;
              width: 100%;
              .dx-menu-item-text {
                padding: 0;
                color: $base-text-color;
                font-size: 16px;
                line-height: 20px;
                font-weight: var(--me-regular-font-weight);
              }
            }
          }
        }
      }
    }
    .dx-item.dx-menu-item {
      .dx-submenu {
        position: fixed;
      }
    }
  }
}
