.header {
  background: var(--Background-Content);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--small {
    padding: 8px 16px;
  }

  &--large {
    padding: 16px;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__divider {
    width: 1px;
    height: 24px;
    background: var(--Dividers-Borders-Short);
  }

  &__app-info {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--Text-Secondary);
  }

  &__app-info-item {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__tooltip-btn .dx-button-content {
    padding: 0;
  }

  &__app-info--tooltip {
    display: flex;
    align-items: center;
    color: var(--Text-Default);
    gap: 2px;
  }
}
