@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../overlay/colors' as *;
@use '../color' as extcolor;

// adduse

/**
* $name 10. Text color
* $type color
*/
$tooltip-color: null !default;

/**
* $name 20. Background color
* $type color
*/
$tooltip-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$tooltip-border-color: null !default;
$tooltip-shadow-color: null !default;
$tooltip-border-radius: $base-border-radius !default;

@if $color == 'light' {
  $tooltip-color: #ffffff;
  $tooltip-bg: #1d1e1f;
  $tooltip-border-color: #dfe0ed;
  $tooltip-shadow-color: color.change(darken($tooltip-bg, 100%), $alpha: 0.1) !default;
}

@if $color == 'dark' {
  $tooltip-color: #18181a;
  $tooltip-bg: #ffffff;
  $tooltip-border-color: #3f4044;
  $tooltip-shadow-color: $overlay-content-shadow-color !default;
}
