@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../color' as extcolor;

$tooltip-border-radius: $base-border-radius !default;

@mixin baseColors($border) {
  --tooltip-background: var(--Background-Accent-in-the-content);
  --tooltip-color: var(--Text-Default);
  --tooltip-border: $border;
}

@mixin standardColors {
  @if $color =='dark' {
    @include baseColors(var(--dividers-borders-long));
  }

  @else {
    @include baseColors(transparent);
  }
}

@mixin alternateColors {
  @if $color =='dark' {
    @include lightColors();
    @include baseColors(transparent);
  }

  @else {
    @include darkColors();
    @include baseColors(var(--dividers-borders-long));
  }
}

@mixin lightColors {
  @include baseColors(var(--dividers-borders-long));
}

@mixin darkColors {
  @include baseColors(transparent);
}