@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/tooltip";

// adduse

.dx-tooltip-wrapper {
  .dx-overlay-content {
    border: 1px solid transparent;
    background-color: $tooltip-bg;
    color: $tooltip-color;
    box-shadow: none;
    border-radius: $tooltip-border-radius;
  }

  &.dx-popover-wrapper .dx-popover-arrow {
    &::after {
      border: 1px solid transparent;
      background: $tooltip-bg;
    }
  }
}
