@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/tooltip';

// adduse

.dx-tooltip-wrapper {
  .dx-overlay-content {
    border: 1px solid $tooltip-border-color;
    background-color: $tooltip-bg;
    color: $tooltip-color;
    box-shadow: 0 2px 4px $tooltip-shadow-color;
    border-radius: $tooltip-border-radius;
    overflow: visible;
  }

  &.dx-popover-wrapper {
    &.dx-position-bottom .dx-popover-arrow {
      top: -10px;

      &::after {
        bottom: -1px;
        right: -3px;
      }
    }

    &.dx-position-top .dx-popover-arrow {
      bottom: -10px;

      &::after {
        top: -7px;
        right: 3px;
        transform: rotate(135deg);
        transform-origin: top right;
      }
    }

    &.dx-position-left .dx-popover-arrow {
      right: -10px;
      width: 10px;
      height: 20px;

      &::after {
        right: 10px;
        top: 12px;
        transform: rotate(45deg);
        transform-origin: top left;
      }
    }

    &.dx-position-right .dx-popover-arrow {
      left: -10px;
      width: 10px;
      height: 20px;

      &::after {
        right: 10px;
        top: 12px;
        transform: rotate(-135deg);
        transform-origin: top right;
      }
    }

    .dx-popover-arrow {
      position: absolute;
      z-index: 2000;
      width: 20px;
      height: 10px;
      overflow: hidden;

      &::after {
        border: 1px solid $tooltip-border-color;
        background: $tooltip-bg;
        display: block;
        width: 14.1422712488px;
        height: 14.1422712488px;
        overflow: hidden;
        content: ' ';
        transform: rotate(-45deg);
        position: absolute;
        transform-origin: bottom right;
      }
    }
  }
}
