@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../menuBase/sizes" as *;
@use "../../base/icons" as *;

// adduse
@use "../menuBase" as *;
@use "../../base/menu";

.dx-context-menu-container-border {
  background-color: transparent;
  border: $generic-menu-popup-border;
  box-shadow: 0 1px 1px $menu-container-shadow-color;
}

.dx-context-menu-content-delimiter {
  background-color: $menu-popup-bg;
}

.dx-menu {
  color: $menu-color;

  .dx-menu-item-expanded {
    background-color: $menu-popup-bg;
  }

  .dx-menu-item-has-icon.dx-menu-item-has-submenu {
    .dx-icon {
      margin: 0 $generic-menu-padding-small 0 $generic-menu-item-padding-reduced;
    }
  }

  .dx-menu-item-has-text {
    .dx-menu-item-text {
      padding: $generic-menu-item-padding-top-base
        $generic-menu-item-padding-base $generic-menu-item-padding-base
        $generic-menu-item-padding-base;
    }

    &.dx-menu-item-has-icon {
      .dx-icon {
        margin: 0 $generic-menu-item-padding-reduced;
      }
    }

    &.dx-menu-item-has-submenu {
      .dx-menu-item-text {
        padding: $generic-menu-item-padding-top-base $generic-menu-padding-small
          $generic-menu-item-padding-base $generic-menu-item-padding-base;
      }
    }
  }

  .dx-menu-horizontal {
    .dx-menu-item-popout {
      @include dx-icon(spindown);
      @include dx-icon-font-centered-sizing($generic-base-icon-size);
    }
  }

  .dx-menu-vertical {
    .dx-menu-item-popout {
      @include dx-icon(spinright);
      @include dx-icon-font-centered-sizing($generic-base-icon-size);
    }
  }

  &.dx-rtl {
    .dx-menu-item-has-icon.dx-menu-item-has-submenu {
      .dx-icon {
        margin: 0 $generic-menu-item-padding-reduced 0
          $generic-menu-padding-small;
      }
    }

    .dx-menu-item-has-text {
      .dx-menu-item-text {
        padding: $generic-menu-item-padding-top-base
          $generic-menu-item-padding-base $generic-menu-item-padding-base 0;
      }

      &.dx-menu-item-has-submenu {
        .dx-menu-item-text {
          padding: $generic-menu-item-padding-top-base
            $generic-menu-item-padding-base $generic-menu-item-padding-base
            $generic-menu-padding-small;
        }
      }
    }
  }
}

.dx-menu-adaptive-mode {
  background-color: $menu-popup-bg;

  .dx-treeview {
    border: 1px solid $menu-popup-border-color;
    border-radius: $base-border-radius;

    &,
    &.dx-state-focused {
      box-shadow: 0 3px 10px color.change($base-shadow-color, $alpha: 0.1);
    }
  }

  .dx-treeview-toggle-item-visibility {
    font-size: 18px;
  }

  .dx-treeview-node {
    &.dx-state-focused {
      .dx-treeview-node .dx-treeview-toggle-item-visibility {
        color: inherit;
      }

      .dx-treeview-toggle-item-visibility {
        color: $menu-popup-bg;
      }
    }
  }

  .dx-treeview-node-container:first-child > .dx-treeview-node {
    border-bottom: 1px solid $menu-popup-border-color;
  }
}

.me-menu {
  &.dx-menu .dx-menu-item-has-text.dx-menu-item-has-icon .dx-icon {
    margin: 0;
  }

  .dx-submenu .dx-menu-item-wrapper {
    &:first-child {
      & > .dx-item {
        border-radius: 3px 3px 0 0;
      }
    }

    &:last-child {
      & > .dx-item {
        border-radius: 0 0 3px 3px;
      }
    }
  }

  .dx-item {
    &.dx-state-active {
      background-color: $menu-item-active-bg;
    }
  }

  .dx-context-menu-container-border {
    box-shadow: none;
    border: none;
  }

  .dx-context-menu-content-delimiter {
    display: none !important;
  }

  &.dx-menu-base .dx-item .dx-menu-item-text {
    line-height: 20px;
  }
}

.me-menu-large {
  &.dx-menu-base .dx-menu-item .dx-menu-item-content {
    padding: 8px 12px;
  }

  .dx-menu-horizontal
    .dx-menu-items-container
    .dx-menu-item-wrapper:not(:last-child) {
    margin-right: 8px;
  }

  .dx-menu-vertical
    .dx-menu-items-container
    .dx-menu-item-wrapper:not(:last-child) {
    margin-bottom: 8px;
  }
}

.me-menu-small {
  &.dx-menu-base .dx-menu-item .dx-menu-item-content {
    padding: 4px 12px;
  }

  .dx-menu-horizontal
    .dx-menu-items-container
    .dx-menu-item-wrapper:not(:last-child) {
    margin-right: 4px;
  }

  .dx-menu-vertical
    .dx-menu-items-container
    .dx-menu-item-wrapper:not(:last-child) {
    margin-bottom: 4px;
  }

  &.dx-menu-base .dx-menu-item .dx-menu-item-content {
    font-size: 14px;

    .dx-menu-item-popout-container {
      width: 20px;
      height: 20px;
    }

    .dx-icon {
      width: 20px;
      height: 20px;
    }
  }
}
