<div class="flex-column">
  <div class="flex-row">
    <div class="flex-column">
      <p class="dx-widget">Contained button group</p>
      <dx-button-group [items]="defaultAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="defaultAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [items]="normalAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="normalAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [items]="successAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="successAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [items]="dangerAlignments" stylingMode="contained"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="dangerAlignments" stylingMode="contained"></dx-button-group>
    </div>
    <div class="flex-column">
      <p class="dx-widget">Outlined button group</p>
      <dx-button-group [items]="defaultAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="defaultAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [items]="normalAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="normalAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [items]="successAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="successAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [items]="dangerAlignments" stylingMode="outlined"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="dangerAlignments" stylingMode="outlined"></dx-button-group>
    </div>
    <div class="flex-column">
      <p class="dx-widget">Text button group</p>
      <dx-button-group [items]="defaultAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="defaultAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [items]="normalAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="normalAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [items]="successAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="successAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [items]="dangerAlignments" stylingMode="text"></dx-button-group>
      <dx-button-group [disabled]="true" [items]="dangerAlignments" stylingMode="text"></dx-button-group>
    </div>
  </div>
</div>
