@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$checkbox-border-color: null !default;
$checkbox-checked-color: null !default;
$checkbox-indeterminate-bg: null !default;

/**
* $name 70. Focused state border color
* $type color
*/
$checkbox-focused-borderd-color: null !default;

/**
* $name 40. Background color
* $type color
*/
$checkbox-bg: null !default;

/**
* $name 20. Hovered state border color
* $type color
*/
$checkbox-hover-border-color: null !default;

/**
* $name 80. Active state background color
* $type color
*/
$checkbox-active-icon-bg: null !default;
$checkbox-readonly-border-color: null !default;
$checkbox-icon-border-radius: null !default;
$checkbox-invalid-focused-border-color: $base-invalid-color !default;
$checkbox-invalid-faded-border-color: $base-invalid-faded-border-color !default;

@if $color == "light" {
  $checkbox-border-color: #3257dc;

  $checkbox-checked-color: $base-accent !default;
  $checkbox-indeterminate-bg: $base-accent !default;
  $checkbox-focused-borderd-color: #3257dc;
  $checkbox-bg: #ffffff;
  $checkbox-hover-border-color: #4970ff;
  $checkbox-active-icon-bg: #3c71f833;
  $checkbox-readonly-border-color: lighten($checkbox-border-color, 9%) !default;
  $checkbox-icon-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "dark" {
  $checkbox-border-color: #3565e2;

  $checkbox-checked-color: $base-accent !default;
  $checkbox-indeterminate-bg: $base-accent !default;
  $checkbox-focused-borderd-color: #3565e2;
  $checkbox-bg: #2e2e2f;
  $checkbox-hover-border-color: #4a7cff;
  $checkbox-active-icon-bg: #3c65f866;
  $checkbox-readonly-border-color: darken($checkbox-border-color, 9%) !default;
  $checkbox-icon-border-radius: $base-border-radius-exsmall !default;
}

$checkbox-readonly-bg: $checkbox-bg !default;
