@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$checkbox-border-color: null !default;
$checkbox-checked-color: null !default;
$checkbox-indeterminate-bg: null !default;

/**
* $name 70. Focused state border color
* $type color
*/
$checkbox-focused-borderd-color: null !default;

/**
* $name 40. Background color
* $type color
*/
$checkbox-bg: null !default;

/**
* $name 20. Hovered state border color
* $type color
*/
$checkbox-hover-border-color: null !default;

/**
* $name 80. Active state background color
* $type color
*/
$checkbox-active-icon-bg: null !default;
$checkbox-readonly-border-color: null !default;
$checkbox-icon-border-radius: null !default;
$checkbox-invalid-focused-border-color: $base-invalid-color !default;
$checkbox-invalid-faded-border-color: $base-invalid-faded-border-color !default;

/**
* Custom
*/
$checkbox-checked-bg: null !default;
$checkbox-disabled-border-color: null !default;
$checkbox-disabled-color: null !default;
$checkbox-readonly-indeterminate-color: null !default;
$checkbox-checked-icon-image-bg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzM4XzkwNzQiIHN0eWxlPSJtYXNrLXR5cGU6YWxwaGEiIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CjxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI0Q5RDlEOSIvPgo8L21hc2s+CjxnIG1hc2s9InVybCgjbWFzazBfMzhfOTA3NCkiPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTExLjQ2NTYgMi4zNjA5TDQuMjMyNzkgMTAuMTUwMUwwIDUuNTkxNjdMMS40NjU1OSA0LjIzMDc3TDQuMjMyNzkgNy4yMTA4NEwxMCAxTDExLjQ2NTYgMi4zNjA5WiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8L3N2Zz4K');
$checkbox-indeterminate-icon-image-bg: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzM4XzkxMzEiIHN0eWxlPSJtYXNrLXR5cGU6YWxwaGEiIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CjxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI0Q5RDlEOSIvPgo8L21hc2s+CjxnIG1hc2s9InVybCgjbWFzazBfMzhfOTEzMSkiPgo8cGF0aCBkPSJNMSA3VjVIMTFWN0gxWiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8L3N2Zz4K');
$me-checkbox-opacity: null !default;
$me-checkbox-disabled-label: null !default;
$checkbox-checked-icon-image-bg-disabled: null !default;
$checkbox-indeterminate-icon-image-bg-disabled: null !default;

@if $color == 'light' {
  $checkbox-border-color: #3257dc;

  $checkbox-checked-color: #ffffff;
  // $checkbox-indeterminate-bg: $base-accent !default;
  $checkbox-readonly-indeterminate-color: #18181a;

  $checkbox-focused-borderd-color: #7eb9ff;
  $checkbox-bg: #ffffff;
  $checkbox-checked-bg: #3257dc;
  $checkbox-hover-border-color: #4970ff;
  $checkbox-active-icon-bg: #2544b3;
  $checkbox-readonly-border-color: #dedfe6;
  $checkbox-icon-border-radius: $base-border-radius-exsmall !default;
  $checkbox-disabled-border-color: #91aaea;
  $checkbox-disabled-color: #ffffffbf;
  $me-checkbox-opacity: 0.75;
  $me-checkbox-disabled-label: #18181a66;
  $checkbox-checked-icon-image-bg-disabled: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS40NjU2IDEuMzYwOUw0LjIzMjc5IDkuMTUwMDdMMCA0LjU5MTY3TDEuNDY1NTkgMy4yMzA3N0w0LjIzMjc5IDYuMjEwODRMMTAgMEwxMS40NjU2IDEuMzYwOVoiIGZpbGw9IndoaXRlIiBmaWxsLW9wYWNpdHk9IjAuNzUiLz4KPC9zdmc+Cg==');
  $checkbox-indeterminate-icon-image-bg-disabled: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzM0NzhfMTc2OTI0IiBzdHlsZT0ibWFzay10eXBlOmFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMTIiIGhlaWdodD0iMTIiPgo8cmVjdCB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIGZpbGw9IiNEOUQ5RDkiLz4KPC9tYXNrPgo8ZyBtYXNrPSJ1cmwoI21hc2swXzM0NzhfMTc2OTI0KSI+CjxwYXRoIGQ9Ik0xIDdWNUgxMVY3SDFaIiBmaWxsPSJ3aGl0ZSIgZmlsbC1vcGFjaXR5PSIwLjc1Ii8+CjwvZz4KPC9zdmc+Cg==');
}

@if $color == 'dark' {
  $checkbox-border-color: #3565e2;

  $checkbox-checked-color: #ffffff;
  // $checkbox-indeterminate-bg: $base-accent !default;
  $checkbox-readonly-indeterminate-color: #ffffff;

  $checkbox-focused-borderd-color: #94c5ff;
  $checkbox-bg: #2e2e2f;
  $checkbox-checked-bg: #3565e2;
  $checkbox-hover-border-color: #4a7cff;
  $checkbox-active-icon-bg: #264fb8;
  $checkbox-readonly-border-color: #202124;
  $checkbox-icon-border-radius: $base-border-radius-exsmall !default;
  $checkbox-disabled-border-color: #27376e;
  $checkbox-disabled-color: #ffffff80;
  $me-checkbox-opacity: 0.5;
  $me-checkbox-disabled-label: #ffffff4d;
  $checkbox-checked-icon-image-bg-disabled: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMS40NjU2IDEuMzYwOUw0LjIzMjc5IDkuMTUwMDdMMCA0LjU5MTY3TDEuNDY1NTkgMy4yMzA3N0w0LjIzMjc5IDYuMjEwODRMMTAgMEwxMS40NjU2IDEuMzYwOVoiIGZpbGw9IndoaXRlIiBmaWxsLW9wYWNpdHk9IjAuNSIvPgo8L3N2Zz4K');
  $checkbox-indeterminate-icon-image-bg-disabled: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzM0ODVfMzY3OTEiIHN0eWxlPSJtYXNrLXR5cGU6YWxwaGEiIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+CjxyZWN0IHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgZmlsbD0iI0Q5RDlEOSIvPgo8L21hc2s+CjxnIG1hc2s9InVybCgjbWFzazBfMzQ4NV8zNjc5MSkiPgo8cGF0aCBkPSJNMSA3VjVIMTFWN0gxWiIgZmlsbD0id2hpdGUiIGZpbGwtb3BhY2l0eT0iMC41Ii8+CjwvZz4KPC9zdmc+Cg==');
}

$checkbox-readonly-bg: $checkbox-bg !default;
