@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$checkbox-border-color: null !default;
$checkbox-checked-color: null !default;
$checkbox-indeterminate-bg: null !default;

/**
* $name 70. Focused state border color
* $type color
*/
$checkbox-focused-borderd-color: null !default;

/**
* $name 40. Background color
* $type color
*/
$checkbox-bg: null !default;

/**
* $name 20. Hovered state border color
* $type color
*/
$checkbox-hover-border-color: null !default;

/**
* $name 80. Active state background color
* $type color
*/
$checkbox-active-icon-bg: null !default;
$checkbox-readonly-border-color: null !default;
$checkbox-icon-border-radius: null !default;
$checkbox-invalid-focused-border-color: $base-invalid-color !default;
$checkbox-invalid-faded-border-color: $base-invalid-faded-border-color !default;

/**
* Custom
*/
$checkbox-checked-bg: null !default;
$checkbox-disabled-border-color: null !default;
$checkbox-disabled-color: null !default;
$checkbox-readonly-indeterminate-color: null !default;

@if $color == "light" {
  $checkbox-border-color: #3257dc;

  $checkbox-checked-color: #ffffff;
  // $checkbox-indeterminate-bg: $base-accent !default;
  $checkbox-readonly-indeterminate-color: #18181a;

  $checkbox-focused-borderd-color: #7eb9ff;
  $checkbox-bg: #ffffff;
  $checkbox-checked-bg: #3257dc;
  $checkbox-hover-border-color: #4970ff;
  $checkbox-active-icon-bg: #2544b3;
  $checkbox-readonly-border-color: #dedfe6;
  $checkbox-icon-border-radius: $base-border-radius-exsmall !default;
  $checkbox-disabled-border-color: #91aaea;
  $checkbox-disabled-color: #ffffffbf;
}

@if $color == "dark" {
  $checkbox-border-color: #3565e2;

  $checkbox-checked-color: #ffffff;
  // $checkbox-indeterminate-bg: $base-accent !default;
  $checkbox-readonly-indeterminate-color: #ffffff;

  $checkbox-focused-borderd-color: #94c5ff;
  $checkbox-bg: #2e2e2f;
  $checkbox-checked-bg: #3565e2;
  $checkbox-hover-border-color: #4a7cff;
  $checkbox-active-icon-bg: #264fb8;
  $checkbox-readonly-border-color: #202124;
  $checkbox-icon-border-radius: $base-border-radius-exsmall !default;
  $checkbox-disabled-border-color: #27376e;
  $checkbox-disabled-color: #ffffff80;
}

$checkbox-readonly-bg: $checkbox-bg !default;
