@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/icons' as *;
@use '../../base/checkBox';

// adduse

$generic-checkbox-disable-opacity: 0.4;

.dx-checkbox {
  line-height: 0;

  &.dx-state-readonly {
    &.dx-checkbox-checked,
    &.dx-checkbox-indeterminate {
      .dx-checkbox-icon {
        background-color: $checkbox-readonly-border-color;
        color: $checkbox-readonly-indeterminate-color;
      }
    }

    .dx-checkbox-icon {
      border-color: $checkbox-readonly-border-color;
      background-color: $checkbox-readonly-bg;
    }
  }

  &.dx-state-hover:not(.dx-state-readonly) {
    .dx-checkbox-icon {
      border: 1px solid $checkbox-hover-border-color;
    }

    &.dx-checkbox-checked,
    &.dx-checkbox-indeterminate {
      .dx-checkbox-icon {
        background-color: $checkbox-hover-border-color;
      }
    }
  }

  &.me-state-focus {
    border-radius: 2px;
    outline-offset: 2px;
  }

  &.dx-state-focused:not(.dx-state-readonly) {
    .dx-checkbox-icon {
      // border: 1px solid $checkbox-focused-borderd-color;
    }
  }

  &.dx-state-active:not(.dx-state-readonly) {
    &.dx-checkbox-checked,
    &.dx-checkbox-indeterminate {
      .dx-checkbox-icon {
        background-color: $checkbox-active-icon-bg;
      }
    }

    .dx-checkbox-icon {
      border-color: $checkbox-active-icon-bg;
    }
  }
}

.dx-checkbox-icon {
  width: $generic-checkbox-size;
  height: $generic-checkbox-size;
  border-radius: $checkbox-icon-border-radius;
  border: 1px solid $checkbox-border-color;
  background-color: $checkbox-bg;

  .dx-checkbox-checked & {
    @include dx-icon(check);

    color: $checkbox-checked-color;
    background-color: $checkbox-checked-bg;

    @include dx-icon-font-centered-sizing($generic-checkbox-arrow-icon-size);
  }

  .dx-checkbox-indeterminate & {
    color: $checkbox-indeterminate-bg;
    background-color: $checkbox-checked-bg;

    @include dx-icon-font-centered-sizing($generic-checkbox-indeterminate-icon-size);

    &::before {
      content: '';
      background-color: $checkbox-checked-color;
      border-radius: 2px;
      height: $generic-checkbox-indeterminate-icon-size;
    }
  }

  .dx-state-readonly.dx-checkbox-indeterminate &::before {
    background-color: $checkbox-readonly-indeterminate-color;
  }

  .dx-checkbox-indeterminate.dx-state-disabled & {
    // &::before {
    //   content: "";
    //   width: 14px;
    //   height: 2px;
    //   transform: translate(-50%, -50%);
    //   margin: 0;
    //   background-color: $checkbox-disabled-color;
    // }
  }
}

.me-editor-medium .dx-checkbox-icon,
.me-list .dx-checkbox-icon,
.me-tree-view-small .dx-checkbox-icon {
  width: 20px;
  height: 20px;
}

.me-editor-small .dx-checkbox-icon {
  width: 16px;
  height: 16px;
}

.me-editor-large .dx-checkbox-icon,
.me-tree-view-large .dx-checkbox-icon {
  width: 24px;
  height: 24px;
}

.me-editor .dx-checkbox-icon,
.me-list .dx-checkbox-icon,
.me-tree-view .dx-checkbox-icon {
  &::before {
    content: none;
  }
}

.me-editor .dx-checkbox-icon,
.me-list .dx-checkbox-icon,
.me-tree-view .dx-checkbox-icon {
  background-position: 50% 50%;
  background-size: 12px 12px;
}

.dx-state-disabled.me-editor.dx-checkbox-checked .dx-checkbox-icon,
.dx-state-readonly.me-editor.dx-checkbox-checked .dx-checkbox-icon,
.me-list .dx-state-disabled .dx-checkbox-checked .dx-checkbox-icon,
.me-list .dx-state-readonly .dx-checkbox-checked .dx-checkbox-icon,
.me-tree-view .dx-state-disabled .dx-checkbox-checked .dx-checkbox-icon,
.me-tree-view .dx-state-readonly .dx-checkbox-checked .dx-checkbox-icon {
  background-image: $checkbox-checked-icon-image-bg-disabled;
}

.dx-state-disabled.me-editor.dx-checkbox-indeterminate .dx-checkbox-icon,
.dx-state-readonly.me-editor.dx-checkbox-indeterminate .dx-checkbox-icon,
.me-list .dx-state-disabled .dx-checkbox-indeterminate .dx-checkbox-icon,
.me-list .dx-state-readonly .dx-checkbox-indeterminate .dx-checkbox-icon,
.me-tree-view .dx-state-disabled .dx-checkbox-indeterminate .dx-checkbox-icon,
.me-tree-view .dx-state-readonly .dx-checkbox-indeterminate .dx-checkbox-icon {
  background-image: $checkbox-indeterminate-icon-image-bg-disabled;
}

.me-editor-large .dx-checkbox-icon,
.me-tree-view-large .dx-checkbox-icon {
  background-position: 50% 50%;
  background-size: 16px 16px;
}

.me-editor.dx-checkbox-checked .dx-checkbox-icon,
.me-list .dx-checkbox-checked .dx-checkbox-icon,
.me-tree-view .dx-checkbox-checked .dx-checkbox-icon {
  background-image: $checkbox-checked-icon-image-bg;
}

.me-editor.dx-checkbox-indeterminate .dx-checkbox-icon,
.me-list .dx-checkbox-indeterminate .dx-checkbox-icon,
.me-tree-view .dx-checkbox-indeterminate .dx-checkbox-icon {
  background-image: $checkbox-indeterminate-icon-image-bg;
}

.dx-checkbox-text {
  margin-left: -$generic-checkbox-size;
  padding-left: $generic-checkbox-size + 5px;

  .dx-state-disabled & {
    color: $me-checkbox-disabled-label;
  }

  .me-editor-small &,
  .me-editor-medium & {
    margin-left: 0;
    padding-left: 8px;
    font-size: 13px;
    line-height: 16px;
  }

  .me-editor-medium & {
    font-size: 14px;
    line-height: 20px;
  }

  .me-editor-large & {
    margin-left: 0;
    padding-left: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  @at-root #{selector-append(".dx-rtl", &)},
    .dx-rtl & {
    margin-right: -$generic-checkbox-size;
    padding-right: $generic-checkbox-size + 5px;
  }
}

.dx-state-disabled,
.dx-state-readonly {
  &.dx-checkbox,
  .dx-checkbox {
    // opacity: 1;

    .dx-checkbox-icon {
      // opacity: $generic-checkbox-disable-opacity;
    }

    .dx-checkbox-icon {
      border: 1px solid $checkbox-disabled-border-color;
      color: $checkbox-disabled-color;
    }

    &.dx-checkbox-checked,
    &.dx-checkbox-indeterminate {
      .dx-checkbox-icon {
        background-color: $checkbox-disabled-border-color;
      }
    }
  }

  .dx-checkbox-text {
    // opacity: $generic-checkbox-disable-opacity;
  }
}

.dx-invalid {
  .dx-checkbox-container {
    .dx-checkbox-icon {
      border: 1px solid $checkbox-invalid-faded-border-color;
    }
  }

  &.dx-state-focused {
    .dx-checkbox-container {
      .dx-checkbox-icon {
        border-color: $checkbox-invalid-focused-border-color;
      }
    }
  }
}
