<div class="wrapper">
  <h1 class="dx-widget wrapper__title">DataGrid</h1>
  <dx-data-grid
    id="grid-container"
    [dataSource]="sales"
    keyExpr="orderId"
    [showBorders]="true"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [hoverStateEnabled]="true"
    [focusedRowEnabled]="true"
  >
    <dxo-column-chooser [enabled]="true" mode="dragAndDrop"> </dxo-column-chooser>
    <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode" mode="multiple"></dxo-selection>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxi-column dataField="orderId" caption="Order ID" [width]="90"></dxi-column>
    <dxi-column dataField="city"></dxi-column>
    <dxi-column dataField="country" [width]="180"></dxi-column>
    <dxi-column dataField="region"></dxi-column>
    <dxi-column dataField="date" dataType="date"></dxi-column>
    <dxi-column dataField="amount" format="currency" [width]="90"></dxi-column>
  </dx-data-grid>
</div>
