@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

/**
* $name 20. Header background color
* $type color
*/
$sidepage-bg: null !default;
$sidepage-border-color: null !default;

@if $color == 'light' {
  $sidepage-bg: #ffffff;
  $sidepage-border-color: #dfe0ed;
}

@if $color == 'dark' {
  $sidepage-bg: #2e2e2f;
  $sidepage-border-color: #3f4044;
}
