@use 'sass:color';
@use 'colors' as *;
@use '../overlay/colors' as *;

.me-sidepage {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  background-color: $sidepage-bg;
}

.me-sidepage .dx-scrollbar-vertical {
  right: -16px;
}

.me-sidepage {
  transition: transform 0.3s ease;

  &.me-sidepage-open {
    box-shadow: 0 4px 10px $overlay-content-shadow-color;
    border-radius: 0;
  }

  .dx-popup-wrapper {
    &.me-popup > .dx-overlay-content {
      box-shadow: none;
    }
  }

  & .dx-toolbar-items-container {
    display: flex;
  }
}

.me-sidepage-footer {
  display: flex;
  padding: 20px 16px;
  gap: 12px;
}

.me-sidepage-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.me-sidepage-header {
  padding: 16px 12px 12px 16px;
  border-bottom: 1px solid $sidepage-border-color;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;

  & .dx-button.me-button {
    margin-left: auto;
    align-self: flex-start;
    margin-top: -3px;
  }

  .me-sidepage-title {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.me-sidepage.dx-popup {
  .dx-popup-title.dx-toolbar {
    padding: 12px 20px;
  }

  .dx-toolbar-before {
    .dx-item.dx-toolbar-item.dx-toolbar-button {
      padding-right: 8px;
    }
  }
}

.me-sidepage .me-toolbar.dx-toolbar:not(.dx-popup-title) {
  .dx-toolbar-items-container {
    padding: 0px;
    height: 32px;

    .dx-toolbar-before {
      left: 0;
      border-spacing: 0;
    }

    .dx-toolbar-after {
      right: 0;
      border-spacing: 0;
    }
  }
}

.me-sidepage-content {
  overflow: hidden;
  padding: 16px 16px 0px 16px;
}

.me-overlay {
  position: absolute;
  inset: 0;
  display: none;
  background: $overlay-shader-bg;
}
