@use 'sass:math';
@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/mixins' as *;
@use '../../base/icons' as *;
@use '../gridBase' as *;
@use '../gridBase/colors' as *;
@use '../gridBase/sizes' as *;
@use '../../base/treeList' as baseTreeList with (
  $datagrid-border: $datagrid-border,
  $datagrid-drag-header-border-color: $datagrid-drag-header-border-color,
  $datagrid-row-error-bg: $datagrid-row-error-bg,
  $datagrid-base-color: $datagrid-base-color,
  $datagrid-base-background-color: $datagrid-base-background-color,
  $datagrid-border-color: $datagrid-border-color,
  $datagrid-focused-border-color: $datagrid-focused-border-color,
  $datagrid-text-stub-background-image-path: $datagrid-text-stub-background-image-path,
  $datagrid-row-error-color: $datagrid-row-error-color,
  $header-filter-color: $header-filter-color,
  $header-filter-color-empty: $header-filter-color-empty,
  $base-focus-color: $base-focus-color
);

// adduse

@include grid-base(treelist);

$treelist-empty-space-width: 14px;
$treelist-select-all-checkbox-margin-top: floor(
  math.div(
    round($generic-base-line-height * $generic-base-font-size) -
      $generic-grid-base-checkbox-icon-size,
    2
  )
);
$treelist-checkbox-offset-left: $treelist-empty-space-width + $generic-grid-base-cell-padding;
$treelist-checkbox-offset-left-rtl: $treelist-checkbox-offset-left +
  $generic-grid-base-checkbox-icon-size;
$treelist-editor-cell-padding-left: $treelist-checkbox-offset-left-rtl +
  $generic-grid-base-cell-padding;
$treelist-icon-container-padding-right: $generic-grid-base-checkbox-icon-size +
  $generic-grid-base-cell-padding;

.dx-treelist-rowsview {
  .dx-treelist-empty-space {
    position: relative;
    display: inline-block;
    width: $treelist-empty-space-width;

    @include dx-icon(spinright);

    &::before {
      visibility: hidden;
    }
  }

  tr:not(.dx-row-focused) .dx-treelist-empty-space {
    color: $treelist-spin-icon-color;
  }

  .dx-treelist-expanded span {
    @include dx-icon(spindown);
    @include dx-icon-font-centered-sizing($generic-base-icon-size);

    cursor: pointer;

    &::before {
      left: 0;
      margin-left: -$treelist-expanded-icon-margin-left;
      margin-top: -$treelist-icon-margin-top;
    }
  }

  .dx-treelist-collapsed span {
    @include dx-icon(spinright);
    @include dx-icon-font-centered-sizing($generic-base-icon-size);

    cursor: pointer;

    &::before {
      left: 0;
      margin-left: -$treelist-collapsed-icon-margin-left;
      margin-top: -$treelist-icon-margin-top;
    }
  }

  tr:not(.dx-row-focused).dx-selection {
    .dx-treelist-empty-space {
      color: $treelist-selection-spin-icon-color;
    }
  }

  .dx-treelist-cell-expandable {
    white-space: nowrap;

    .dx-treelist-text-content {
      white-space: normal;
    }
  }

  &.dx-treelist-nowrap .dx-treelist-table {
    .dx-treelist-cell-expandable {
      .dx-treelist-text-content {
        white-space: nowrap;
      }
    }
  }
}

.dx-treelist-checkbox-size {
  line-height: 0;
}

.dx-treelist-cell-expandable,
.dx-treelist-select-all {
  .dx-checkbox {
    position: absolute;
  }
}

.dx-treelist-icon-container.dx-editor-inline-block {
  position: relative;
  padding-right: $treelist-icon-container-padding-right;

  .dx-checkbox {
    top: 50%;
    margin-top: math.div(-$generic-grid-base-checkbox-icon-size, 2);
  }
}

.dx-treelist-select-all {
  position: relative;

  .dx-checkbox {
    left: $treelist-checkbox-offset-left;
    margin-top: $treelist-select-all-checkbox-margin-top;
  }
}

.dx-treelist-headers .dx-header-row > .dx-treelist-select-all {
  padding-left: $treelist-editor-cell-padding-left;
}

.dx-rtl {
  .dx-treelist-rowsview {
    .dx-treelist-expanded,
    .dx-treelist-collapsed {
      @include flip-horizontally();
    }

    .dx-treelist-table-fixed {
      .dx-treelist-icon-container {
        float: right;
      }
    }
  }

  .dx-treelist-select-all .dx-checkbox {
    left: calc(100% - #{$treelist-checkbox-offset-left-rtl});
  }

  .dx-treelist-headers .dx-header-row > .dx-treelist-select-all {
    padding-right: $treelist-editor-cell-padding-left;
    padding-left: $generic-grid-base-cell-padding;
  }

  .dx-treelist-icon-container.dx-editor-inline-block {
    padding-left: $treelist-icon-container-padding-right;
    padding-right: 0;
  }
}

.dx-treelist-filter-panel {
  .dx-icon-filter,
  .dx-treelist-filter-panel-text,
  .dx-treelist-filter-panel-clear-filter {
    color: $base-accent;
  }
}

//meTreeList

.me-tree-list {
  .dx-row > td {
    padding: 8px;
  }
  .dx-treelist-container.dx-gridbase-container {
    padding: 16px;
    td:not(.dx-command-edit.dx-command-edit-with-icons) {
      text-align: left !important;
    }
    //header panel
    .dx-treelist-header-panel {
      .dx-toolbar.dx-collection {
        margin-bottom: 16px;
        .dx-toolbar-items-container {
          height: 28px;
          min-height: 28px;
          .dx-toolbar-after {
            .dx-item.dx-toolbar-item.dx-toolbar-button {
              .dx-item-content.dx-toolbar-item-content {
                .dx-widget.dx-button.dx-button-has-icon.dx-treelist-toolbar-button.dx-edit-button.dx-treelist-addrow-button {
                  height: 28px;
                  width: 28px;
                  border-radius: 3px;
                  .dx-button-content {
                    padding: 0;
                    align-items: center;
                    .dx-icon.dx-icon-edit-button-addrow {
                      height: 22px;
                    }
                    .dx-icon.dx-icon-edit-button-addrow::before {
                      font-size: 13px;
                      height: 28px;
                      align-content: center;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    //table header
    .dx-treelist-headers {
      border-radius: 4px 4px 0 0;
      border-bottom: none;
      .dx-treelist-content {
        border-radius: 3px 3px 0 0;
        .dx-treelist-table {
          .dx-row.dx-column-lines.dx-header-row {
            min-height: 36px;
            .dx-treelist-action {
              align-content: center;
              .dx-treelist-text-content {
                font-size: 13px;
                font-weight: 600;
                line-height: 16px;
                color: $base-text-color;
                margin-right: 4px;
              }
              .dx-column-indicators {
                display: flex;
                .dx-sort {
                  &::before {
                    font-family: 'Material Symbols Outlined';
                    height: 15px;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                  }
                }
                .dx-sort-up {
                  &::before {
                    content: var(--me-icon-sort-up);
                  }
                }
                .dx-sort-down {
                  &::before {
                    content: var(--me-icon-sort-up);
                    transform: rotate(180deg);
                  }
                }
              }
              .dx-checkbox-indeterminate {
                .dx-checkbox-icon {
                  &::before {
                    height: 2px;
                    width: 10px;
                    margin-top: -1px;
                    margin-left: -5px;
                  }
                }
              }
            }
            .dx-command-edit {
              background-color: $base-bg;
              padding: 8px;
            }
          }
        }
      }
    }
    //table rows
    .dx-treelist-rowsview {
      border-radius: 0 0 3px 3px;
      .dx-treelist-table {
        .dx-row.dx-data-row.dx-row-lines.dx-column-lines {
          min-height: 30px;
          td {
            padding: 5px 8px;
            font-size: 13px;
            line-height: normal;
            font-weight: 400;
            align-content: center;
            min-height: 30px;

            .dx-texteditor {
              background: transparent;
            }
            .dx-texteditor-input {
              padding: 0;
              min-height: 20px;
              font-size: 13px;
              font-family: 'Roboto';
              text-align: left !important;
              background: transparent;
            }
            .dx-datebox {
              .dx-texteditor-buttons-container {
                .dx-button-content {
                  .dx-dropdowneditor-icon {
                    line-height: 16px;
                    font-size: 18px;
                    font-family: 'Material Symbols Outlined';
                    color: var(--Controls-Content-In-Controls-Accent-Default);
                    &::before {
                      content: '\e935';
                    }
                  }
                }
              }
            }
          }
          .dx-treelist-text-content {
            line-height: 19px;
          }
          .dx-treelist-icon-container {
            .dx-treelist-empty-space {
              margin-right: 4px;
              width: 20px;
              span::before {
                left: 50%;
                margin-left: -9px;
                margin-top: -8px;
              }
            }
            .dx-treelist-collapsed {
              span::before {
                content: '\f002';
              }
            }
          }
          //edit-button icons
          .dx-command-edit {
            color: $base-accent;
            .dx-link {
              font-family: 'Material Symbols Outlined';
            }
            .dx-link-edit {
              &::before {
                content: '\e3c9';
              }
            }
            .dx-link-delete {
              &::before {
                content: '\e872';
              }
            }
            .dx-link-save {
              &::before {
                content: '\e161';
              }
            }
            .dx-link-cancel {
              &::before {
                content: '\e166';
              }
            }
            .dx-link-icon.dx-link {
              line-height: 16px;
              height: 18px;
              font-size: 18px;
              display: inline-flex;
              align-items: center;
              color: var(--Controls-Content-In-Controls-Accent-Default);
            }
          }
          .dx-focused {
            background-color: $tree-list-focused-bg;
            & * {
              background-color: transparent;
            }
          }
          .dx-treelist-invalid {
            &::after {
              border: 1px solid $tree-list-invalid-border-color;
            }
          }
        }
      }
      .dx-overlay-wrapper.dx-invalid-message.dx-treelist-invalid-message {
        .dx-overlay-content {
          font-size: 12px;
          font-weight: 400;
          line-height: 16px;
          border-radius: 3px;
          padding: 2px 8px;
          top: -1px !important;
          background-color: $error-message-bg;
          color: $error-message-color;
        }
      }
      .dx-treelist-focus-overlay {
        box-shadow: inset 0 0 0 1px $base-accent;
        border-top: none;
        border-left: none;
        border-right: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
    }
  }
  .dx-gridbase-a11y-status-container {
    display: none;
  }
}
