@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../common/mixins" as *;
@use "mixins" as *;

// adduse
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("fonts/Roboto-300.woff2") format("woff2"),
    url("fonts/Roboto-300.woff") format("woff"),
    url("fonts/Roboto-300.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("fonts/Roboto-400.woff2") format("woff2"),
    url("fonts/Roboto-400.woff") format("woff"),
    url("fonts/Roboto-400.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("fonts/Roboto-500.woff2") format("woff2"),
    url("fonts/Roboto-500.woff") format("woff"),
    url("fonts/Roboto-500.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("fonts/Roboto-700.woff2") format("woff2"),
    url("fonts/Roboto-700.woff") format("woff"),
    url("fonts/Roboto-700.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  src: local("RobotoMono"), local("RobotoMono-Regular"),
    url("fonts/RobotoMono-300.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoMono"), local("RobotoMono-Regular"),
    url("fonts/RobotoMono-400.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  src: local("RobotoMono"), local("RobotoMono-Regular"),
    url("fonts/RobotoMono-500.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: local("RobotoMono"), local("RobotoMono-Regular"),
    url("fonts/RobotoMono-700.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 300;
  src: local("NotoKufiArabic"), local("NotoKufiArabic-Light"),
    url("fonts/NotoKufiArabic-300.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 400;
  src: local("NotoKufiArabic"), local("NotoKufiArabic-Regular"),
    url("fonts/NotoKufiArabic-400.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 500;
  src: local("NotoKufiArabic"), local("NotoKufiArabic-Medium"),
    url("fonts/NotoKufiArabic-500.ttf") format("truetype");
}
@font-face {
  font-family: "Noto Kufi Arabic";
  font-style: normal;
  font-weight: 700;
  src: local("NotoKufiArabic"), local("NotoKufiArabic-Bold"),
    url("fonts/NotoKufiArabic-700.ttf") format("truetype");
}

.dx-theme-generic-typography {
  background-color: $typography-bg;

  @include dx-base-typography();

  h1,
  .dx-font-xl {
    font-weight: 200;
    font-size: $generic-xl-font-size;
  }

  h2,
  .dx-font-l {
    font-weight: normal;
    font-size: $generic-l-font-size;
  }

  h3 {
    font-weight: normal;
    font-size: $generic-h3-font-size;
  }

  .dx-font-m {
    font-weight: normal;
    font-size: $generic-m-font-size;
  }

  h4,
  .dx-font-s {
    @include dx-s-font-mixin();
  }

  h5 {
    font-weight: 700;
    font-size: $generic-h5-font-size;
  }

  h6,
  small,
  .dx-font-xs {
    font-weight: 800;
    font-size: $generic-xs-font-size;
  }

  a {
    color: $typography-link-color;
  }
}

.me-title-display1 {
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: $typography-color;
}

.me-title-display2 {
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: $typography-color;
}

.me-title-header1 {
  //styleName: Title/Header 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: $typography-color;
}

.me-title-header2 {
  //styleName: Title/Header 2;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}

.me-title-subheader1 {
  //styleName: Title/Subheader 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}

.me-text-accent1 {
  //styleName: Text/Accent 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: $typography-color;
}

.me-text-body1 {
  //styleName: Text/Body 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: $typography-color;
}

.me-text-body2,
%me-text-body2 {
  //styleName: Text/Body 2;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}

.me-strikethrough {
  //styleName: Text/Strikethrough;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: line-through;
  color: $typography-color;
}

.me-text-caption {
  //styleName: Text/Caption;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}

.me-text-description1 {
  //styleName: Text/Description 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}

.me-text-description2 {
  //styleName: Text/Description 2;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}

.me-text-numbers1 {
  //styleName: Text/Numbers 1;
  font-family: "RobotoMonoFallback", "Roboto Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}

.me-text-numbers2 {
  //styleName: Text/Numbers 2;
  font-family: "RobotoMonoFallback", "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}

.me-action-med1 {
  //styleName: Action/Action Med 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}
.me-action-reg1 {
  //styleName: Action/Action Reg 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}
.me-action-med2 {
  //styleName: Action/Action Med 2;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}
.me-action-reg2 {
  //styleName: Action/Action Reg 2;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
}
.me-action-med3 {
  //styleName: Action/Action Med 3;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}
.me-action-reg3 {
  //styleName: Action/Action Reg 3;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}
.me-action-med4 {
  //styleName: Action/Action 4;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}
.me-action-link1 {
  //styleName: Action/Link 1;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $typography-color;
  text-decoration-line: underline;
}
.me-action-link2 {
  //styleName: Action/Link 2;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
  text-decoration-line: underline;
}
.me-tables-row-text {
  //styleName: Tables/Row text;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}
.me-tables-strikethrough {
  //styleName: Tables/Strikethrough;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-decoration-line: line-through;
  color: $typography-color;
}
.me-tables-numbers {
  //styleName: Tables/Numbers;
  font-family: "RobotoMonoFallback", "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}
.me-tables-column-title {
  //styleName: Tables/Column title;
  font-family: "RobotoFallback", "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  color: $typography-color;
}
.me-left-padding-28 {
  padding-left: 28px;
}
.me-left-padding-32 {
  padding-left: 32px;
}
