@use 'sizes' as *;

@mixin dx-s-font-mixin() {
  font-weight: 500;
  font-size: $generic-s-font-size;
}

@mixin me-action-med1 {
  //styleName: Action/Action Med 1;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

@mixin me-action-med2 {
  //styleName: Action/Action Med 2;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}

@mixin me-action-med3 {
  //styleName: Action/Action Med 3;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

@mixin me-action-med4 {
  //styleName: Action/Action 4;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
}

@mixin me-action-reg1 {
  //styleName: Action/Action Reg 1;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

@mixin me-action-reg2 {
  //styleName: Action/Action Reg 2;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

@mixin me-action-reg3 {
  //styleName: Action/Action Reg 3;
  font-family: 'RobotoFallback', 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
