<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">DropDownButton</h1>
  <h2 class="wrapper__title dx-widget">splitButton = false</h2>
  <h2 class="wrapper__title dx-widget">type = normal</h2>
  <dx-drop-down-button meDropDownButton icon="arrowback" text="Кнопка" [items]="menuItems"></dx-drop-down-button>
  <div class="flex">
    <dx-drop-down-button size="small" meDropDownButton icon="arrowback" text="Кнопка" stylingMode="contained" [items]="menuItems"> </dx-drop-down-button>
    <dx-drop-down-button meDropDownButton icon="arrowback" text="Кнопка" stylingMode="contained" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button size="large" meDropDownButton icon="arrowback" text="Кнопка" stylingMode="contained" [items]="menuItems"></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button size="small" meDropDownButton icon="arrowback" text="Кнопка" stylingMode="outlined" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton icon="arrowback" text="Кнопка" stylingMode="outlined" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button size="large" meDropDownButton icon="arrowback" text="Кнопка" stylingMode="outlined" [items]="menuItems"></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button size="small" meDropDownButton icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button size="large" meDropDownButton icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
  </div>
  <h2 class="wrapper__title dx-widget">type = default</h2>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton type="default" icon="arrowback" text="Кнопка" stylingMode="contained" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton type="default" icon="arrowback" text="Кнопка" stylingMode="outlined" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button size="small" meDropDownButton type="default" icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton type="default" icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button size="large" meDropDownButton type="default" icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
  </div>
  <h2 class="wrapper__title dx-widget">splitButton = true</h2>
  <h2 class="wrapper__title dx-widget">type = normal</h2>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      [splitButton]="true"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton [splitButton]="true" icon="arrowback" text="Кнопка" stylingMode="contained" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      [splitButton]="true"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      [splitButton]="true"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton [splitButton]="true" icon="arrowback" text="Кнопка" stylingMode="outlined" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      [splitButton]="true"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      [splitButton]="true"
      icon="arrowback"
      text="Кнопка"
      stylingMode="text"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button meDropDownButton [splitButton]="true" icon="arrowback" text="Кнопка" stylingMode="text" [items]="menuItems"></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      [splitButton]="true"
      icon="arrowback"
      text="Кнопка"
      stylingMode="text"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <h2 class="wrapper__title dx-widget">type = default</h2>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="contained"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="outlined"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <div class="flex">
    <dx-drop-down-button
      size="small"
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="text"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="text"
      [items]="menuItems"
    ></dx-drop-down-button>
    <dx-drop-down-button
      size="large"
      meDropDownButton
      [splitButton]="true"
      type="default"
      icon="arrowback"
      text="Кнопка"
      stylingMode="text"
      [items]="menuItems"
    ></dx-drop-down-button>
  </div>
  <!-- <dx-drop-down-button
    meDropDownButton
    icon="arrowback"
    text="Кнопка"
    stylingMode="contained"
    type="normal"
    [items]="menuItems"
    [splitButton]="true"
  ></dx-drop-down-button>
  <h2 class="wrapper__title dx-widget">Styling Mode = outlined</h2>
  <dx-drop-down-button meDropDownButton icon="arrowleft" text="Кнопка" stylingMode="outlined" type="default" [items]="menuItems"></dx-drop-down-button>
  <dx-drop-down-button
    meDropDownButton
    icon="arrowleft"
    text="Кнопка"
    stylingMode="outlined"
    type="normal"
    [items]="menuItems"
    [splitButton]="true"
  ></dx-drop-down-button>
  <h2 class="wrapper__title dx-widget">Styling Mode = text</h2>
  <dx-drop-down-button meDropDownButton icon="arrowleft" text="Кнопка" stylingMode="text" type="default" [items]="menuItems"></dx-drop-down-button>
  <dx-drop-down-button
    meDropDownButton
    icon="arrowleft"
    text="Кнопка"
    stylingMode="text"
    type="normal"
    [items]="menuItems"
    [splitButton]="true"
  ></dx-drop-down-button> -->
</div>
