@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$switch-border-color: null !default;

/**
* $name 10. 'ON' label color
* $type color
*/
$switch-on-color: null !default;
$switch-bg: null !default;
$switch-handle-bg: null !default;
$switch-handle-border-radius: $base-border-radius - 2px !default;

$switch-handle-active-bg: null !default;
$switch-hover-border-color: null !default;
$switch-focused-border-color: null !default;

/**
* $name 30. Active state background color
* $type color
*/
$switch-container-active-bg: null !default;
$switch-hover-bg: null !default;
$switch-active-border-color: null !default;

/**
* $name 20. 'OFF' label color
* $type color
*/
$switch-off-color: null !default;
$switch-handle-off-bg: null !default;
$switch-readonly-bg-color: null !default;
$switch-container-readonly-bg: null !default;
$switch-border-radius: null !default;

/**
* Custom
*/
$switch-bg-on: null !default;
$switch-bg-off: null !default;
$switch-handle-hover-bg: null !default;
$switch-handle-disabled: null !default;
$switch-bg-disabled: null !default;
$switch-active-border-on-value-color: null !default;
$switch-handle-off-readonly-bg: null !default;
$switch-off-hover-bg: null !default;
$switch-off-bg-disabled: null !default;
$switch-handle-readonly: null !default;

@if $color == "light" {
  $switch-border-color: #3257dc;
  $switch-on-color: #ffffff;
  $switch-bg-on: #ffffff;
  $switch-bg-off: #9f9fa1;
  $switch-handle-hover-bg: #4970ff;
  $switch-handle-disabled: #ffffffbf;
  $switch-bg-disabled: #91aaea;
  $switch-bg: #3257dc;
  $switch-handle-bg: #ffffff;
  $switch-handle-active-bg: #ffffff;
  // $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: #7eb9ff;
  $switch-container-active-bg: #bfc1d0;
  $switch-hover-bg: #4970ff;
  $switch-active-border-color: #2544b3;
  $switch-off-color: #91aaea;
  $switch-handle-off-bg: #ffffff;
  $switch-readonly-bg-color: #91aaea;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
  $switch-active-border-on-value-color: #2544b3;
  $switch-handle-off-readonly-bg: #dedfe6;
  $switch-off-hover-bg: #b4b6ba;
  $switch-off-bg-disabled: #e6e7f0;
  $switch-handle-readonly: #18181a66;
}

@if $color == "dark" {
  $switch-border-color: #3565e2;
  $switch-on-color: #ffffff;
  $switch-bg-on: transparent;
  $switch-bg-off: #b0b0bb;
  $switch-handle-hover-bg: #4a7cff;
  $switch-handle-disabled: #ffffff80;
  $switch-bg-disabled: #27376e;
  $switch-bg: #5d9eff;
  $switch-handle-bg: #ffffff;
  $switch-handle-active-bg: #ffffff;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: #94c5ff;
  $switch-container-active-bg: #2e2f35;
  $switch-hover-bg: #4a7cff;
  $switch-active-border-color: #264fb8;
  $switch-off-color: #4c6fb3;
  $switch-handle-off-bg: #ffffff;
  $switch-readonly-bg-color: #27376e;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
  $switch-active-border-on-value-color: #264fb8;
  $switch-handle-off-readonly-bg: #202124;
  $switch-off-hover-bg: #73737a;
  $switch-off-bg-disabled: #28292d;
  $switch-handle-readonly: #ffffff4d;
}
