@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$switch-border-color: null !default;

/**
* $name 10. 'ON' label color
* $type color
*/
$switch-on-color: null !default;
$switch-bg: null !default;
$switch-handle-bg: null !default;
$switch-handle-border-radius: $base-border-radius - 2px !default;

$switch-handle-active-bg: null !default;
$switch-hover-border-color: null !default;
$switch-focused-border-color: null !default;

/**
* $name 30. Active state background color
* $type color
*/
$switch-container-active-bg: null !default;
$switch-hover-bg: null !default;
$switch-active-border-color: null !default;

/**
* $name 20. 'OFF' label color
* $type color
*/
$switch-off-color: null !default;
$switch-handle-off-bg: null !default;
$switch-readonly-border-color: null !default;
$switch-container-readonly-bg: null !default;
$switch-border-radius: null !default;

/**
* Custom
*/
$switch-bg-on: null !default;
$switch-handle-hover-bg: null !default;
$switch-handle-disabled: null !default;
$switch-handle-border-disabled: null !default;
$switch-handle-on-disabled: null !default;
$switch-active-border-on-value-color: null !default;
$switch-handle-off-readonly-bg: null !default;

@if $color == "light" {
  $switch-border-color: #3257dc;
  $switch-on-color: #ffffff;
  $switch-bg-on: #ffffff;
  $switch-handle-hover-bg: #4970ff;
  $switch-handle-disabled: #91aaea;
  $switch-handle-border-disabled: #91aaea;
  $switch-handle-on-disabled: #ffffffbf;
  $switch-bg: #3257dc;
  $switch-handle-bg: #ffffff;
  $switch-handle-active-bg: #2544b3;
  // $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: #7eb9ff;
  $switch-container-active-bg: #ffffff;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: #2544b3;
  $switch-off-color: #91aaea;
  $switch-handle-off-bg: #3257dc;
  $switch-readonly-border-color: #dedfe6;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
  $switch-active-border-on-value-color: #2544b3;
  $switch-handle-off-readonly-bg: #dedfe6;
}

@if $color == "dark" {
  $switch-border-color: #3565e2;
  $switch-on-color: #ffffff;
  $switch-bg-on: transparent;
  $switch-handle-hover-bg: #4a7cff;
  $switch-handle-disabled: #4c6fb3;
  $switch-handle-border-disabled: #27376e;
  $switch-handle-on-disabled: #ffffff80;
  $switch-bg: #3565e2;
  $switch-handle-bg: #ffffff;
  $switch-handle-active-bg: #264fb8;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: #94c5ff;
  $switch-container-active-bg: transparent;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: #264fb8;
  $switch-off-color: #4c6fb3;
  $switch-handle-off-bg: #3565e2;
  $switch-readonly-border-color: #202124;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
  $switch-active-border-on-value-color: #264fb8;
  $switch-handle-off-readonly-bg: #202124;
}
