@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Border color
* $type color
*/
$switch-border-color: null !default;

/**
* $name 10. 'ON' label color
* $type color
*/
$switch-on-color: null !default;
$switch-bg: null !default;
$switch-handle-bg: null !default;
$switch-handle-border-radius: $base-border-radius - 2px !default;

$switch-handle-active-bg: null !default;
$switch-hover-border-color: null !default;
$switch-focused-border-color: null !default;

/**
* $name 30. Active state background color
* $type color
*/
$switch-container-active-bg: null !default;
$switch-hover-bg: null !default;
$switch-active-border-color: null !default;

/**
* $name 20. 'OFF' label color
* $type color
*/
$switch-off-color: null !default;
$switch-handle-off-bg: null !default;
$switch-readonly-border-color: null !default;
$switch-container-readonly-bg: null !default;
$switch-border-radius: null !default;

@if $color == "light" {
  $switch-border-color: #3257dc;
  $switch-on-color: #3257dc;

  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: darken($switch-handle-bg, 17%) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: #3c65f81f;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: #91aaea;
  $switch-handle-off-bg: lighten($switch-handle-bg, 15%) !default;
  $switch-readonly-border-color: lighten($switch-border-color, 9%) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}

@if $color == "dark" {
  $switch-border-color: #3565e2;
  $switch-on-color: #5d9eff;

  $switch-bg: $base-element-bg !default;
  $switch-handle-bg: $base-accent !default;
  $switch-handle-active-bg: lighten($switch-handle-bg, 17%) !default;
  $switch-hover-border-color: $base-accent !default;
  $switch-focused-border-color: $base-focus-bg !default;
  $switch-container-active-bg: #3c65f840;
  $switch-hover-bg: transparent !default;
  $switch-active-border-color: $base-accent !default;
  $switch-off-color: #4c6fb3;
  $switch-handle-off-bg: darken($switch-handle-bg, 15%) !default;
  $switch-readonly-border-color: darken($switch-border-color, 9%) !default;
  $switch-container-readonly-bg: $switch-bg !default;
  $switch-border-radius: $base-border-radius-exsmall !default;
}
