<h1 class="wrapper__main-title dx-widget flex">Toolbar</h1>
<dx-resizable class="resizable-container flex-column" [minWidth]="500" [minHeight]="150" [maxHeight]="370" handles="right" area=".widget-container">
  <dx-toolbar meToolbar size="small">
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="undo" location="before"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="redo" location="before"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="small"
          width="100%"
          displayExpr="text"
          keyExpr="size"
          itemTemplate="fontSizeTemplate"
          [items]="fontSizes"
          [selectedItemKey]="fontSizes[2].size"
          [useSelectMode]="true"
          stylingMode="contained"
        >
          <div *dxTemplate="let data of 'fontSizeTemplate'">
            <div [style.fontSize]="data.size + 'px'">{{ data.text }}</div>
          </div>
        </dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="small"
          width="100%"
          displayExpr="text"
          keyExpr="lineHeight"
          [items]="lineHeights"
          [useSelectMode]="true"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="small"
          width="100%"
          text="Font"
          [useSelectMode]="false"
          displayExpr="text"
          keyExpr="text"
          [items]="fontFamilies"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button-group
          meButtonGroup
          size="small"
          displayExpr="text"
          keyExpr="icon"
          stylingMode="outlined"
          selectionMode="multiple"
          [items]="fontStyles"
          stylingMode="contained"
        ></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" locationInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item widget="dxButtonGroup" location="before" locateInMenu="auto" menuItemTemplate="menuTextAlignTemplate">
      <div *dxTemplate>
        <dx-button-group
          meButtonGroup
          size="small"
          keyExpr="alignment"
          stylingMode="outlined"
          [items]="textAlignItems"
          [(selectedItemKeys)]="selectedTextAlign"
          stylingMode="contained"
        ></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" widget="dxButtonGroup">
      <div *dxTemplate>
        <dx-button-group meButtonGroup size="small" keyExpr="alignment" stylingMode="outlined" [items]="listTypes" stylingMode="contained"></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="small"
          width="100%"
          text="Normal Text"
          [useSelectMode]="false"
          displayExpr="text"
          keyExpr="text"
          [items]="headings"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="link" text="Link"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" showText="inMenu" widget="dxButton">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="add_photo_alternate" text="Add image"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="ink_eraser" text="Clear formating"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="code" text="Code block"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="format_quote" text="Blockquote"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="after" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="attach_file" text="Attach"></dx-button>
      </div>
    </dxi-item>

    <dxi-item locateInMenu="always" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="small" iconOnly="help" text="About"></dx-button>
      </div>
    </dxi-item>

    <div *dxTemplate="let data of 'menuSeparatorTemplate'">
      <div class="me-toolbar-menu-separator"></div>
    </div>

    <div *dxTemplate="let data of 'menuTextAlignTemplate'">
      <dx-button-group
        meButtonGroup
        size="small"
        keyExpr="alignment"
        stylingMode="outlined"
        [items]="textAlignItemsExtended"
        [selectedItemKeys]="selectedTextAlign"
      ></dx-button-group>
    </div>
  </dx-toolbar>

  <dx-toolbar meToolbar>
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button meButton iconOnly="undo" location="before"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button meButton iconOnly="redo" location="before"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          width="100%"
          displayExpr="text"
          keyExpr="size"
          itemTemplate="fontSizeTemplate"
          [items]="fontSizes"
          [selectedItemKey]="fontSizes[2].size"
          [useSelectMode]="true"
          stylingMode="contained"
        >
          <div *dxTemplate="let data of 'fontSizeTemplate'">
            <div [style.fontSize]="data.size + 'px'">{{ data.text }}</div>
          </div>
        </dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          width="100%"
          displayExpr="text"
          keyExpr="lineHeight"
          [items]="lineHeights"
          [useSelectMode]="true"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          width="100%"
          text="Font"
          [useSelectMode]="false"
          displayExpr="text"
          keyExpr="text"
          [items]="fontFamilies"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button-group
          meButtonGroup
          displayExpr="text"
          keyExpr="icon"
          stylingMode="outlined"
          selectionMode="multiple"
          [items]="fontStyles"
          stylingMode="contained"
        ></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" locationInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item widget="dxButtonGroup" location="before" locateInMenu="auto" menuItemTemplate="menuTextAlignTemplate">
      <div *dxTemplate>
        <dx-button-group
          meButtonGroup
          keyExpr="alignment"
          stylingMode="outlined"
          [items]="textAlignItems"
          [(selectedItemKeys)]="selectedTextAlign"
          stylingMode="contained"
        ></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" widget="dxButtonGroup">
      <div *dxTemplate>
        <dx-button-group meButtonGroup keyExpr="alignment" stylingMode="outlined" [items]="listTypes" stylingMode="contained"></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          width="100%"
          text="Normal Text"
          [useSelectMode]="false"
          displayExpr="text"
          keyExpr="text"
          [items]="headings"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton iconOnly="link" text="Link"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" showText="inMenu" widget="dxButton">
      <div *dxTemplate>
        <dx-button meButton iconOnly="add_photo_alternate" text="Add image"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton iconOnly="ink_eraser" text="Clear formating"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton iconOnly="code" text="Code block"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton iconOnly="format_quote" text="Blockquote"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="after" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton iconOnly="attach_file" text="Attach"></dx-button>
      </div>
    </dxi-item>

    <dxi-item locateInMenu="always" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton iconOnly="help" text="About"></dx-button>
      </div>
    </dxi-item>

    <div *dxTemplate="let data of 'menuSeparatorTemplate'">
      <div class="me-toolbar-menu-separator"></div>
    </div>

    <div *dxTemplate="let data of 'menuTextAlignTemplate'">
      <dx-button-group
        meButtonGroup
        keyExpr="alignment"
        stylingMode="outlined"
        [items]="textAlignItemsExtended"
        [selectedItemKeys]="selectedTextAlign"
      ></dx-button-group>
    </div>
  </dx-toolbar>

  <dx-toolbar meToolbar size="large">
    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="undo" location="before"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="redo" location="before"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="large"
          width="100%"
          displayExpr="text"
          keyExpr="size"
          itemTemplate="fontSizeTemplate"
          [items]="fontSizes"
          [selectedItemKey]="fontSizes[2].size"
          [useSelectMode]="true"
          stylingMode="contained"
        >
          <div *dxTemplate="let data of 'fontSizeTemplate'">
            <div [style.fontSize]="data.size + 'px'">{{ data.text }}</div>
          </div>
        </dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="large"
          width="100%"
          displayExpr="text"
          keyExpr="lineHeight"
          [items]="lineHeights"
          [useSelectMode]="true"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="large"
          width="100%"
          text="Font"
          [useSelectMode]="false"
          displayExpr="text"
          keyExpr="text"
          [items]="fontFamilies"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before">
      <div *dxTemplate>
        <dx-button-group
          meButtonGroup
          size="large"
          displayExpr="text"
          keyExpr="icon"
          stylingMode="outlined"
          selectionMode="multiple"
          [items]="fontStyles"
          stylingMode="contained"
        ></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" locationInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item widget="dxButtonGroup" location="before" locateInMenu="auto" menuItemTemplate="menuTextAlignTemplate">
      <div *dxTemplate>
        <dx-button-group
          meButtonGroup
          size="large"
          keyExpr="alignment"
          stylingMode="outlined"
          [items]="textAlignItems"
          [(selectedItemKeys)]="selectedTextAlign"
          stylingMode="contained"
        ></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" widget="dxButtonGroup">
      <div *dxTemplate>
        <dx-button-group meButtonGroup size="large" keyExpr="alignment" stylingMode="outlined" [items]="listTypes" stylingMode="contained"></dx-button-group>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
      <div *dxTemplate>
        <dx-drop-down-button
          meDropDownButton
          size="large"
          width="100%"
          text="Normal Text"
          [useSelectMode]="false"
          displayExpr="text"
          keyExpr="text"
          [items]="headings"
          [selectedItemKey]="lineHeight"
          stylingMode="contained"
        ></dx-drop-down-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="link" text="Link"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" showText="inMenu" widget="dxButton">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="add_photo_alternate" text="Add image"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="ink_eraser" text="Clear formating"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="code" text="Code block"></dx-button>
      </div>
    </dxi-item>
    <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="format_quote" text="Blockquote"></dx-button>
      </div>
    </dxi-item>

    <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
      <div *dxTemplate>
        <div class="me-toolbar-separator"></div>
      </div>
    </dxi-item>

    <dxi-item location="after" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="attach_file" text="Attach"></dx-button>
      </div>
    </dxi-item>

    <dxi-item locateInMenu="always" widget="dxButton" showText="inMenu">
      <div *dxTemplate>
        <dx-button meButton size="large" iconOnly="help" text="About"></dx-button>
      </div>
    </dxi-item>

    <div *dxTemplate="let data of 'menuSeparatorTemplate'">
      <div class="me-toolbar-menu-separator"></div>
    </div>

    <div *dxTemplate="let data of 'menuTextAlignTemplate'">
      <dx-button-group
        meButtonGroup
        size="large"
        keyExpr="alignment"
        stylingMode="outlined"
        [items]="textAlignItemsExtended"
        [selectedItemKeys]="selectedTextAlign"
      ></dx-button-group>
    </div>
  </dx-toolbar>
</dx-resizable>
