@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

/**
* $name 20. Header background color
* $type color
*/
$popup-title-bg: null !default;
$popup-bottom-bg: null !default;
$popup-title-color: $base-text-color !default;
$popup-title-border-color: null !default;
$popup-bottom-color: $base-text-color !default;
$popup-border-radius: null !default;
$popup-close-icon-image: null !default;

@if $color == 'light' {
  $popup-title-border-color: #dfe0ed;

  $popup-title-bg: transparent !default; // Header background title
  $popup-bottom-bg: #ffffff;
  $popup-border-radius: $base-border-radius-large !default;
  $popup-close-icon-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMDYyNSAxMEwwIDguOTM3NUwzLjkzNzUgNUwwIDEuMDYyNUwxLjA2MjUgMEw1IDMuOTM3NUw4LjkzNzUgMEwxMCAxLjA2MjVMNi4wNjI1IDVMMTAgOC45Mzc1TDguOTM3NSAxMEw1IDYuMDYyNUwxLjA2MjUgMTBaIiBmaWxsPSIjMTgxODFBIi8+Cjwvc3ZnPgo=');
}

@if $color == 'dark' {
  $popup-title-border-color: #3f4044;

  $popup-title-bg: transparent !default; // Header background title
  $popup-bottom-bg: #2e2e2f;
  $popup-border-radius: $base-border-radius-large !default;
  $popup-close-icon-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMCAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMDYyNSAxMEwwIDguOTM3NUwzLjkzNzUgNUwwIDEuMDYyNUwxLjA2MjUgMEw1IDMuOTM3NUw4LjkzNzUgMEwxMCAxLjA2MjVMNi4wNjI1IDVMMTAgOC45Mzc1TDguOTM3NSAxMEw1IDYuMDYyNUwxLjA2MjUgMTBaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K');
}
