@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 20. Header background color
* $type color
*/
$popup-title-bg: null !default;
$popup-bottom-bg: null !default;
$popup-title-color: $base-text-color !default;
$popup-title-border-color: null !default;
$popup-bottom-color: $base-text-color !default;
$popup-border-radius: null !default;

@if $color == "light" {
  $popup-title-border-color: #dfe0ed;

  $popup-title-bg: transparent !default; // Header background title
  $popup-bottom-bg: #ffffff;
  $popup-border-radius: $base-border-radius-large !default;
}

@if $color == "dark" {
  $popup-title-border-color: #3f4044;

  $popup-title-bg: transparent !default; // Header background title
  $popup-bottom-bg: #2e2e2f;
  $popup-border-radius: $base-border-radius-large !default;
}
