@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/icons" as *;
@use "../overlay/colors" as *;
@use "../toolbar/mixins" as *;
@use "../toolbar/sizes" as *;
@use "../button/mixins" as *;
@use "../typography/sizes" as *;
@use "../../base/popup";

// adduse
@use "../overlay";

$generic-popup-toolbar-height: $generic-base-inline-widget-height;
$generic-popup-toolbar-label-font-size: $generic-m-font-size;

// .me-sidepage .dx-popup-wrapper .dx-overlay-content {
// }

.dx-popup-wrapper {
  &.me-popup > .dx-overlay-content {
    // border: none;
    box-shadow: 0 4px 10px $overlay-content-shadow-color;
    border-radius: 4px;
  }

  & > .dx-overlay-content {
    border: 1px solid transparent;
    background: $overlay-content-bg;
    box-shadow: 0 6px 12px $overlay-content-shadow-color;
    border-radius: $popup-border-radius;
  }

  & > .dx-popup-fullscreen {
    border-radius: 0;
  }
}

.dx-popup-title {
  position: relative;
  padding: $generic-popup-toolbartop-padding;
  min-height: 28px;
  border-bottom: 1px solid $popup-title-border-color;
  background: $popup-title-bg;
  color: $popup-title-color;

  &.dx-toolbar {
    @include dx-toolbar-sizing(
      $generic-popup-toolbar-height,
      $generic-popup-toolbartop-padding,
      $generic-popup-toolbar-label-font-size,
      $generic-popup-toolbar-item-spacing
    );

    box-shadow: none;

    &.dx-has-close-button {
      .dx-toolbar-after {
        .dx-toolbar-button:nth-last-child(2) {
          padding-right: 0;

          .dx-rtl & {
            padding-left: 0;
          }
        }
      }
    }
  }

  .dx-closebutton {
    display: block;
    position: relative;
    left: $generic-popup-closebutton-offset;

    .dx-rtl & {
      left: 0;
      right: $generic-popup-closebutton-offset;
    }

    .dx-icon {
      box-sizing: border-box;
    }

    @include dx-button-styling();
  }
}

.dx-popup-content {
  padding: $generic-popup-content-padding;

  .me-popup-medium & {
    padding: 12px 20px 0;
  }

  .me-popup-large & {
    padding: 16px 24px 0;
  }

  & > .dx-button {
    margin: $generic-popup-button-margin;
  }
}

.dx-popup-bottom {
  background: $popup-bottom-bg;
  color: $popup-bottom-color;

  &.dx-toolbar {
    @include dx-toolbar-sizing(
      $generic-popup-toolbar-height,
      $generic-popup-toolbarbottom-padding,
      $generic-popup-toolbar-label-font-size,
      $generic-popup-toolbar-item-spacing
    );

    .dx-device-mobile & {
      @include dx-toolbar-sizing(
        $generic-popup-toolbar-height,
        $generic-popup-toolbarbottom-padding,
        $generic-popup-toolbar-label-font-size,
        $generic-popup-toolbar-item-spacing
      );
    }
  }

  .dx-button:not(.me-button) {
    min-width: 100px;
  }
}

.dx-popup-content.dx-dialog-content {
  min-width: 220px - 2 * $generic-popup-content-padding;
  padding: $generic-popup-content-padding;
}

.dx-dialog-message {
  padding: 0;
}

// .me-popup .me-popup .dx-closebutton {
//   padding: 5px;

//   & .dx-button-content {
//     display: flex;
//     padding: 5px;
//     height: auto;

//     & .dx-icon-close {
//       background-image: $popup-close-icon-image;
//       background-position: center center;
//       background-repeat: no-repeat;
//       background-size: contain;
//       width: 10px;
//       height: 10px;
//     }
//   }
// }

.me-popup-medium {
  & .dx-toolbar {
    & .dx-toolbar-item {
      padding: 0 8px 0 0;
    }
  }

  & .dx-popup-title.dx-toolbar {
    padding: 12px 12px 8px 20px;

    & .dx-toolbar-label {
      line-height: 24px;
      font-weight: 600;

      & div {
        margin: 0;
        padding: 0;
      }
    }

    & .dx-toolbar-after {
      display: flex;
      gap: 8px;
      height: 32px;
    }

    & .dx-toolbar-before {
      height: 32px;
    }

    & .dx-toolbar-items-container {
      height: 32px;
    }
  }

  & .dx-popup-title .dx-button {
    position: static;
    padding: 6px;

    & .dx-button-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      padding: 0;

      & .dx-icon-close {
        background-image: $popup-close-icon-image;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 10px;

        &::before {
          content: none;
        }
      }
    }
  }

  & .dx-popup-bottom.dx-toolbar {
    & .dx-toolbar-items-container {
      height: 32px;
    }

    & .dx-toolbar-after,
    & .dx-toolbar-before {
      display: flex;
      gap: 12px;
    }

    & .dx-toolbar-item {
      padding: 0;
    }
  }
}

.me-popup-large {
  & .dx-toolbar {
    & .dx-toolbar-item {
      padding: 0 8px 0 0;
    }
  }

  & .dx-popup-title.dx-toolbar {
    padding: 15px 15px 11px 24px;

    & .dx-toolbar-label {
      font-size: 24px;
      line-height: 30px;
      font-weight: 600;

      & div {
        margin: 0;
        padding: 0;
      }
    }

    & .dx-toolbar-after {
      display: flex;
      gap: 8px;
      height: 40px;
    }

    & .dx-toolbar-before {
      height: 40px;
    }

    & .dx-toolbar-items-container {
      height: 40px;
    }
  }

  & .dx-popup-title .dx-button {
    position: static;
    padding: 7px;

    & .dx-button-content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;
      padding: 0;

      & .dx-icon-close {
        background-image: $popup-close-icon-image;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 14px;
        height: 14px;

        &::before {
          content: none;
        }
      }
    }
  }

  & .dx-popup-bottom.dx-toolbar {
    padding: 24px;

    & .dx-toolbar-items-container {
      height: 40px;
    }

    & .dx-toolbar-after,
    & .dx-toolbar-before {
      display: flex;
      gap: 12px;
    }

    & .dx-toolbar-item {
      padding: 0;
    }
  }
}

// .dx-popup-normal {
//   transition: transform 0.3s !important;
// }

.me-overlay {
  position: absolute;
  inset: 0;
  display: none;
  background: $overlay-shader-bg;
}

.me-sidepage {
  position: relative;
  transition: transform 0.3s ease;

  &.me-sidepage-open .dx-popup-wrapper {
    &.me-popup > .dx-overlay-content {
      box-shadow: 0 4px 10px $overlay-content-shadow-color;
      border-radius: 0;
    }
  }

  .dx-popup-wrapper {
    &.me-popup > .dx-overlay-content {
      box-shadow: none;
    }
  }

  & .dx-toolbar-items-container {
    display: flex;
  }
}
