@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$treeview-color: null !default;

/**
* $name 10. Focused state background color
* $type color
*/
$treeview-focused-bg: null !default;
$treeview-focus-color: null !default;

/**
* $name 90. Hovered state background color
* $type color
*/
$treeview-hover-bg: null !default;
$treeview-item-hover-color: null !default;

/**
* $name 100. Border color
* $type color
*/
$treeview-border-color: $base-border-color !default;

/**
* $name 110. Selected item text color
* $type color
*/
$treeview-item-selected-color: null !default;
$treeview-item-selected-bg: null !default;
$treeview-item-selected-hover-bg: null !default;

/**
* $name 120. Spin icon color
* $type color
*/
$treeview-spin-icon-color: null !default;

@if $color == "light" {
  $treeview-color: $base-text-color !default;
  $treeview-focused-bg: #3257dc;
  $treeview-focus-color: $base-focus-color !default;
  $treeview-hover-bg: #d8daea;
  $treeview-item-hover-color: $treeview-color !default;
  $treeview-item-selected-color: $treeview-color !default;
  $treeview-item-selected-bg: color.change(#000, $alpha: 0.1) !default;
  $treeview-item-selected-hover-bg: color.change(#000, $alpha: 0.07) !default;
  $treeview-spin-icon-color: $base-icon-color !default;
}

@if $color == "dark" {
  $treeview-color: $base-text-color !default;
  $treeview-focused-bg: #3565e2;
  $treeview-focus-color: $base-focus-color !default;
  $treeview-hover-bg: #565665;
  $treeview-item-hover-color: $base-hover-color !default;
  $treeview-item-selected-color: $treeview-color !default;
  $treeview-item-selected-bg: color.change(#fff, $alpha: 0.12) !default;
  $treeview-item-selected-hover-bg: color.change(#fff, $alpha: 0.09) !default;
  $treeview-spin-icon-color: $base-icon-color !default;
}
