@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

$treeview-color: null !default;

/**
* $name 10. Focused state background color
* $type color
*/
$treeview-focused-bg: null !default;
$treeview-focus-color: null !default;

/**
* $name 90. Hovered state background color
* $type color
*/
$treeview-hover-bg: null !default;
$treeview-item-hover-color: null !default;

/**
* $name 100. Border color
* $type color
*/
$treeview-border-color: $base-border-color !default;

/**
* $name 110. Selected item text color
* $type color
*/
$treeview-item-selected-color: null !default;
$treeview-item-selected-bg: null !default;
$treeview-item-selected-hover-bg: null !default;
$treeview-item-disabled-opacity: null !default;

/**
* $name 120. Spin icon color
* $type color
*/
$treeview-spin-icon-color: null !default;
$treeview-toggle-item-visibility: null !default;
$treeview-item-active-bg: null !default;
$treeview-disabled-color: null !default;

@if $color == 'light' {
  $treeview-color: $base-text-color !default;
  $treeview-focused-bg: #c4d8ff;
  $treeview-focus-color: $base-focus-color !default;
  $treeview-hover-bg: #3c65f81f;
  $treeview-item-hover-color: $treeview-color !default;
  $treeview-item-selected-color: $treeview-color !default;
  $treeview-item-selected-bg: #c4d8ff;
  $treeview-item-selected-hover-bg: color.change(#000, $alpha: 0.07) !default;
  $treeview-spin-icon-color: $base-icon-color !default;
  $treeview-toggle-item-visibility: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzYxOF8yNTMxMCIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSIjRDlEOUQ5Ii8+CjwvbWFzaz4KPGcgbWFzaz0idXJsKCNtYXNrMF82MThfMjUzMTApIj4KPHBhdGggZD0iTTEwIDE3VjdMMTUgMTJMMTAgMTdaIiBmaWxsPSIjMTgxODFBIi8+CjwvZz4KPC9zdmc+Cg==');
  $treeview-item-active-bg: #3c71f833;
  $treeview-item-disabled-opacity: 0.4;
  $treeview-disabled-color: #91aaea;
}

@if $color == 'dark' {
  $treeview-color: $base-text-color !default;
  $treeview-focused-bg: #2c4483;
  $treeview-focus-color: $base-focus-color !default;
  $treeview-hover-bg: #3c65f840;
  $treeview-item-hover-color: $base-hover-color !default;
  $treeview-item-selected-color: $treeview-color !default;
  $treeview-item-selected-bg: #2c4483;
  $treeview-item-selected-hover-bg: color.change(#fff, $alpha: 0.09) !default;
  $treeview-spin-icon-color: $base-icon-color !default;
  $treeview-toggle-item-visibility: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzUzMDhfODMxOTgiIHN0eWxlPSJtYXNrLXR5cGU6YWxwaGEiIG1hc2tVbml0cz0idXNlclNwYWNlT25Vc2UiIHg9IjAiIHk9IjAiIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+CjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iI0Q5RDlEOSIvPgo8L21hc2s+CjxnIG1hc2s9InVybCgjbWFzazBfNTMwOF84MzE5OCkiPgo8cGF0aCBkPSJNMTAgMTdWN0wxNSAxMkwxMCAxN1oiIGZpbGw9IndoaXRlIi8+CjwvZz4KPC9zdmc+Cg==');
  $treeview-item-active-bg: #3c65f866;
  $treeview-item-disabled-opacity: 0.3;
  $treeview-disabled-color: #4c6fb3;
}
