<div [class.dark]="isDark">
  <header class="header" [class.header--dark]="isDark">
    <div class="flex flex--space container">
      <dx-select-box placeholder="Выбор компонента" [dataSource]="components" width="200px" (onValueChanged)="onRouteChanged($event)"></dx-select-box>
      <dx-select-box placeholder="Выбор темы" [dataSource]="themes" width="150px" (onValueChanged)="onThemeChanged($event)"></dx-select-box>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
