<div class="flex-column">
  <div class="flex">
    <dx-button stylingMode="contained" type="default">Button</dx-button>
    <dx-button stylingMode="outlined" type="default">Button</dx-button>
    <dx-button stylingMode="text" type="default">Button</dx-button>
  </div>
  <div class="flex">
    <dx-button stylingMode="contained" type="success">Button</dx-button>
    <dx-button stylingMode="outlined" type="success">Button</dx-button>
    <dx-button stylingMode="text" type="success">Button</dx-button>
  </div>
  <div class="flex">
    <dx-button stylingMode="contained" type="success">Button</dx-button>
    <dx-button stylingMode="outlined" type="success">Button</dx-button>
    <dx-button stylingMode="text" type="success">Button</dx-button>
  </div>
  <div class="flex">
    <dx-button stylingMode="contained" type="success">Button</dx-button>
    <dx-button stylingMode="outlined" type="success">Button</dx-button>
    <dx-button stylingMode="text" type="success">Button</dx-button>
  </div>
  <div class="flex">
    <dx-button stylingMode="contained" type="success">Button</dx-button>
    <dx-button stylingMode="outlined" type="success">Button</dx-button>
    <dx-button stylingMode="text" type="success">Button</dx-button>
  </div>
</div>
