<div [class.dark]="isDark" class="test-app">
  <header class="header" [class.header--dark]="isDark">
    <div class="flex flex--space container">
      <dx-select-box
        meSelectBox
        stylingMode="filled"
        placeholder="Выбор компонента"
        [dataSource]="componentsName"
        [(value)]="currentComponent"
        (onValueChanged)="handleComponentChange($event)"
        width="200px"
      >
      </dx-select-box>
      <div meLabel labelDirection="row">
        <dx-switch meSwitch [value]="isDark" (onValueChanged)="handleThemeChange()"></dx-switch>
        Тёмная тема
      </div>
    </div>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
