<div class="wrapper">
  <div class="wrapper__main-title dx-widget">Tag Box</div>
  <dx-tag-box
    meTagBox
    [items]="items"
    [size]="size"
    [(label)]="label"
    [(activeStateEnabled)]="activeStateEnabled"
    [(disabled)]="disabled"
    [(hoverStateEnabled)]="hoverStateEnabled"
    [(focusStateEnabled)]="focusStateEnabled"
    [(isValid)]="isValid"
    [validationMessageMode]="validationMessageMode"
    [validationMessagePosition]="validationMessagePosition"
    [(grouped)]="grouped"
    [height]="height"
    [width]="width"
    [(hideSelectedItems)]="hideSelectedItems"
    [(placeholder)]="placeholder"
    [(readOnly)]="readOnly"
    [(searchEnabled)]="searchEnabled"
    [(showClearButton)]="showClearButton"
    [(showSelectionControls)]="showSelectionControls"
  >
    <!-- [(labelMode)]="labelMode" -->
    <!-- [(applyValueMode)]="applyValueMode" -->
    <dx-validator>
      <dxi-validation-rule type="required" message="Required"> </dxi-validation-rule>
    </dx-validator>
  </dx-tag-box>
</div>
