@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$scrollable-bg: $base-bg !default;

/**
* $name 10. Scroller background color
* $type color
*/
$scrollable-scroll-bg: null !default;
$scrollable-scroll-active-bg: null !default;
$scrollable-scroll-shadow-color: null !default;
$scrollable-scrollbar-bg: null !default;

/**
* $name 20. Scrollbar background color
* $type color
*/
$scrollable-scrollbar-active-bg: null !default;

$scrollable-scroll-hover-bg: null !default;

@if $color == "light" {
  $scrollable-scroll-bg: #18181a1f;
  $scrollable-scroll-hover-bg: #18181a3d;

  $scrollable-scroll-active-bg: #18181a7a;
  $scrollable-scroll-shadow-color: transparent !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(
    darken($scrollable-bg, 25%),
    $alpha: 0.2
  ) !default;
}

@if $color == "dark" {
  $scrollable-scroll-bg: #ffffff1f;
  $scrollable-scroll-hover-bg: #ffffff3d;

  $scrollable-scroll-active-bg: #ffffff7a;
  $scrollable-scroll-shadow-color: transparent !default;
  $scrollable-scrollbar-bg: transparent !default;
  $scrollable-scrollbar-active-bg: color.change(
    lighten($scrollable-bg, 25%),
    $alpha: 0.2
  ) !default;
}
