@use './accordion';
@use './actionSheet';
@use './autocomplete';
@use './badge';
@use './box';
@use './breadcrumbs';
@use './button';
@use './buttonGroup';
@use './calendar';
@use './card';
@use './checkBox';
@use './chips';
@use './colorBox';
@use './contextMenu';
@use './dataGrid';
@use './dateBox';
@use './dateRangeBox';
@use './deferRendering';
@use './diagram';
@use './drawer';
@use './dropDownBox';
@use './dropDownButton';
@use './fileManager';
@use './fileUploader';
@use './filterBuilder';
@use './form';
@use './gallery';
@use './gantt';
@use './htmlEditor';
@use './label';
@use './list';
@use './loadIndicator';
@use './loadPanel';
@use './lookup';
@use './map';
@use './me-inputs';
@use './menu-left';
@use './menu';
@use './multiView';
@use './navBar';
@use './numberBox';
@use './pagination';
@use './pivotGrid';
@use './popover';
@use './popup';
@use './progressBar';
@use './radioGroup';
@use './rangeSlider';
@use './responsiveBox';
@use './scheduler';
@use './scrollView';
@use './selectBox';
@use './sidepage';
@use './skeleton';
@use './slideOut';
@use './slideOutView';
@use './slider';
@use './sortable';
@use './speedDialAction';
@use './status-bar';
@use './switch';
@use './tabPanel';
@use './tabs';
@use './tagBox';
@use './textArea';
@use './textBox';
@use './tileView';
@use './toast';
@use './toolbar';
@use './tooltip';
@use './treeList';
@use './treeView';
@use './validation';

.me-state-focused {
  .dx-state-focused {
    border: 1px solid var(--Dividers-Borders-Focus);
    border-radius: 3px;
    box-shadow: 1px 0 0 1px var(--Dividers-Borders-Focus);
  }
}
