@use 'sass:color';
@use './colors' as *;

//Icons
@font-face {
  font-family: 'Material Icons Outlined';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons Outlined'),
    url('/assets/fonts/MaterialIconsOutlined-Regular.otf') format('opentype');
}

//Symbols
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: local('Material Symbols Outlined'),
    url('/assets/fonts/MaterialSymbolsOutlined-VariableFont_FILL,GRAD,opsz,wght.ttf')
      format('opentype');
}

.material-icons {
  font-family: 'Material Symbols Outlined', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;

  // Для outlined версии не нужны variation settings, так как это отдельный шрифт
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: $typography-color;
}
