@use 'sass:color';
@use './colors' as *;

$pagination-bg: null !default;
$pagination-text-color: null !default;
$pagination-active-bg: null !default;
$pagination-hover-bg: null !default;
$pagination-disabled-bg: null !default;
$pagination-disabled-text: null !default;
$pagination-focus-border: null !default;

// Светлая тема
@if $color == 'light' {
  $pagination-bg: var(--Background-Content);
  $pagination-text-color: var(--Text-Default);
  $pagination-active-bg: var(--Controls-Informative-BG-Selected-Element);
  $pagination-hover-bg: var(--Background-Canvas);
  $pagination-disabled-bg: var(--Controls-BG-Secondary-Elements-BG-Disabled);
  $pagination-disabled-text: var(--Controls-Content-In-Controls-Main-Disabled);
  $pagination-focus-border: var(--Controls-BG-Accent-Accent-BG-Default);
}

// Темная тема
@if $color == 'dark' {
  $pagination-bg: var(--Charts-Graphs-Gray-Dark);
  $pagination-text-color: var(--Controls-Content-In-Controls-On-BG-Default);
  $pagination-active-bg: var(--Controls-BG-Accent-Accent-BG-Default);
  $pagination-hover-bg: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $pagination-disabled-bg: var(--Controls-BG-Secondary-Elements-BG-Disabled);
  $pagination-disabled-text: var(--Controls-Content-In-Controls-On-BG-Disabled);
  $pagination-focus-border: var(--Controls-BG-Accent-Accent-BG-Default);
}

.me-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // Варианты фона
  &--filled {
    background-color: var(--Background-Content);

    .dx-button {
      &.dx-button-mode-outlined {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Default);

        &.dx-state-hover {
          background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
        }
      }
    }
  }

  &--transparent {
    background-color: transparent;

    .dx-button {
      &.dx-button-mode-outlined {
        background-color: transparent;

        &.dx-state-hover {
          background-color: var(--Controls-BG-Secondary-Elements-BG-Hover) !important;
        }

        &.dx-state-active {
          background-color: var(--Controls-BG-Secondary-Elements-BG-Pressed) !important;
        }
      }

      &.dx-button-mode-text {
        &:not(.dx-state-disabled) {
          &.dx-state-hover {
            background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
          }
        }
      }
    }
  }

  // Size Modifiers
  &--small {
    padding: 4px 8px;
  }

  &--medium {
    padding: 8px 8px;
  }

  &--large {
    padding: 12px 12px;
  }

  &__size-controls {
    display: flex;
    align-items: center;
    margin-right: 16px;
    font-weight: 500;

    &.small {
      .dx-button,
      .dx-selectbox {
        height: 28px;
        width: 28px;
        font-size: 12px;
      }
    }

    &.medium {
      .dx-button,
      .dx-selectbox {
        height: 32px;
        width: 32px;
        font-size: 14px;
      }
    }

    &.large {
      .dx-button,
      .dx-selectbox {
        height: 40px;
        width: 40px;
        font-size: 16px;
      }
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

    &.small .dx-button {
      height: 28px;
      width: 28px;
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;

      .dx-icon {
        font-size: 12px;
        line-height: 12px;
      }
    }

    &.medium .dx-button {
      height: 32px;
      width: 32px;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;

      .dx-icon {
        font-size: 14px;
        line-height: 18px;
      }
    }

    &.large .dx-button {
      height: 40px;
      width: 40px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      .dx-icon {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__info {
    font-size: 14px;
    color: $pagination-text-color;
    margin: 0 16px;
    font-family: 'Roboto', sans-serif;
  }

  &__ellipsis {
    font-size: 14px;
    color: $pagination-text-color;
    padding: 0 8px 0 0;
  }

  &__per-page {
    font-size: 14px;
    color: $pagination-text-color;
  }

  // Button Base Styles
  .dx-button {
    height: 32px;
    padding: 0;
    border-radius: 4px;
    margin-right: 8px;
    border: none;

    &.dx-button-mode-outlined {
      .dx-button-content {
        .dx-button-text {
          color: $pagination-text-color;
        }
      }
    }

    &.dx-button-mode-contained.dx-button-default {
      background-color: var(--Controls-Informative-BG-Selected-Element);

      .dx-button-content {
        .dx-button-text {
          color: if(
            $color == 'light',
            $pagination-text-color,
            var(--Controls-Content-In-Controls-On-BG-Default)
          );
        }
      }

      &.dx-state-hover {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
      }
    }

    &.dx-state-focused {
      outline: none !important;
    }

    &.dx-state-disabled {
      background-color: transparent;

      .dx-button-content {
        .dx-button-text {
          color: $pagination-disabled-text;
        }
      }
    }

    &.dx-button-has-text {
      .dx-button-content {
        padding: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--Text-Default);
      }
    }

    // Button Sizes
    &.small {
      height: 28px;
      width: 28px;
    }

    &.medium {
      height: 32px;
      width: 32px;
    }

    &.large {
      height: 40px;
      width: 40px;
    }
  }

  // SelectBox Styles
  .dx-selectbox {
    width: 80px;
    background-color: transparent;

    &.dx-state-focused {
      outline: none;
    }

    .dx-texteditor-input {
      color: $pagination-text-color;
      text-align: center;
    }

    &.dx-state-hover {
      background-color: $pagination-hover-bg;
    }

    &.dx-state-disabled {
      background-color: $pagination-disabled-bg;

      .dx-texteditor-input {
        color: $pagination-disabled-text;
      }
    }
  }
}
