// set the variables for generic them
:root {
  /* Small tabs */
  --me-tabs-small-height: 28px;
  --me-tabs-small-font-size: 13px;
  --me-tabs-small-tab-padding: 3px 6px;
  --me-tabs-small-line-height: 16px;
  --me-tabs-small-icon-margin-right: 4px;
  --me-tabs-small-icon-font-size: 20px;

  /* Medium tabs */
  --me-tabs-medium-height: 40px;
  --me-tabs-medium-font-size: 14px;
  --me-tabs-medium-tab-padding: 10px 8px;
  --me-tabs-medium-line-height: 20px;
  --me-tabs-medium-icon-font-size: 20px;

  /* Large tabs */
  --me-tabs-large-height: 40px;
  --me-tabs-large-font-size: 16px;
  --me-tabs-large-line-height: 20px;
  --me-tabs-large-icon-font-size: 24px;

  /* Icon content */
  --me-icon-straight: '\eb95';
}

:root {
  /* Общие шрифты */
  --accordion-font-family: 'Roboto', sans-serif;

  /* Иконки */
  --accordion-icon-color: #000000;
  --accordion-icon-margin-right: 10px;

  /* Размеры иконок */
  --accordion-icon-size-small: 16px;
  --accordion-icon-size-medium: 20px;
  --accordion-icon-size-large: 20px;

  /* Описание заголовка */
  --accordion-description-color: rgba(128, 128, 132, 1);

  /* Маленький размер */
  --accordion-title-font-weight-small: 600;
  --accordion-title-font-size-small: 14px;
  --accordion-title-line-height-small: 20px;

  --accordion-description-font-weight-small: 400;
  --accordion-description-font-size-small: 12px;
  --accordion-description-line-height-small: 16px;

  /* Средний размер */
  --accordion-title-font-weight-medium: 600;
  --accordion-title-font-size-medium: 20px;
  --accordion-title-line-height-medium: 24px;

  --accordion-description-font-weight-medium: 400;
  --accordion-description-font-size-medium: 14px;
  --accordion-description-line-height-medium: 20px;

  /* Большой размер */
  --accordion-title-font-weight-large: 600;
  --accordion-title-font-size-large: 24px;
  --accordion-title-line-height-large: 30px;

  --accordion-description-font-weight-large: 400;
  --accordion-description-font-size-large: 16px;
  --accordion-description-line-height-large: 24px;
}

:root {
  /* Общие шрифты */
  --accordion-font-family: 'Roboto', sans-serif;

  /* Иконки */
  --accordion-icon-color: #000000;
  --accordion-icon-margin-right: 10px;

  /* Размеры иконок */
  --accordion-icon-size-small: 16px;
  --accordion-icon-size-medium: 20px;
  --accordion-icon-size-large: 20px;

  /* Описание заголовка */
  --accordion-description-color: rgba(128, 128, 132, 1);

  /* Маленький размер */
  --accordion-title-font-weight-small: 600;
  --accordion-title-font-size-small: 14px;
  --accordion-title-line-height-small: 20px;

  --accordion-description-font-weight-small: 400;
  --accordion-description-font-size-small: 12px;
  --accordion-description-line-height-small: 16px;

  /* Средний размер */
  --accordion-title-font-weight-medium: 600;
  --accordion-title-font-size-medium: 20px;
  --accordion-title-line-height-medium: 24px;

  --accordion-description-font-weight-medium: 400;
  --accordion-description-font-size-medium: 14px;
  --accordion-description-line-height-medium: 20px;

  /* Большой размер */
  --accordion-title-font-weight-large: 600;
  --accordion-title-font-size-large: 24px;
  --accordion-title-line-height-large: 30px;

  --accordion-description-font-weight-large: 400;
  --accordion-description-font-size-large: 16px;
  --accordion-description-line-height-large: 24px;
}

:root {
  /* Общие шрифты */
  --accordion-font-family: 'Roboto', sans-serif;

  /* Иконки */
  --accordion-icon-color: #000000;
  --accordion-icon-margin-right: 10px;

  /* Размеры иконок */
  --accordion-icon-size-small: 16px;
  --accordion-icon-size-medium: 20px;
  --accordion-icon-size-large: 20px;

  /* Описание заголовка */
  --accordion-description-color: rgba(128, 128, 132, 1);

  /* Маленький размер */
  --accordion-title-font-weight-small: 600;
  --accordion-title-font-size-small: 14px;
  --accordion-title-line-height-small: 20px;

  --accordion-description-font-weight-small: 400;
  --accordion-description-font-size-small: 12px;
  --accordion-description-line-height-small: 16px;

  /* Средний размер */
  --accordion-title-font-weight-medium: 600;
  --accordion-title-font-size-medium: 20px;
  --accordion-title-line-height-medium: 24px;

  --accordion-description-font-weight-medium: 400;
  --accordion-description-font-size-medium: 14px;
  --accordion-description-line-height-medium: 20px;

  /* Большой размер */
  --accordion-title-font-weight-large: 600;
  --accordion-title-font-size-large: 24px;
  --accordion-title-line-height-large: 30px;

  --accordion-description-font-weight-large: 400;
  --accordion-description-font-size-large: 16px;
  --accordion-description-line-height-large: 24px;
}
