// set the variables for generic them
:root {
  /* Small tabs */
  --me-tabs-small-height: 28px;
  --me-tabs-small-font-size: 13px;
  --me-tabs-small-tab-padding: 3px 6px;
  --me-tabs-small-line-height: 16px;
  --me-tabs-small-icon-margin-right: 4px;
  --me-tabs-small-icon-font-size: 20px;

  /* Medium tabs */
  --me-tabs-medium-height: 32px;
  --me-tabs-medium-font-size: 14px;
  --me-tabs-medium-tab-padding: 5px 8px;
  --me-tabs-medium-line-height: 20px;
  --me-tabs-medium-icon-font-size: 20px;

  /* Large tabs */
  --me-tabs-large-height: 40px;
  --me-tabs-large-font-size: 16px;
  --me-tabs-large-line-height: 20px;
  --me-tabs-large-icon-font-size: 24px;
}
