@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../scrollable/colors' as *;

// adduse
@use '../scrollable';
@use '../../base/scrollView';

.dx-scrollview-pull-down-image {
  background: $scrollview-pull-down-bg;
  background-size: 100%;
}

.dx-scrollable-native.dx-scrollable-native-android .dx-scrollview-pull-down {
  background-color: $scrollable-bg;
  box-shadow: 0 1px 4px 0 $scrollview-shadow-color;
}

.dx-scrollview-scrollbottom-loading {
  .dx-scrollview-scrollbottom-image {
    width: 24px;
    height: 24px;
  }
}

//me-scroll-view
.me-scroll-view {
  .dx-scrollable-container {
    .dx-scrollable-scroll {
      .dx-scrollable-scroll-content {
        border-radius: 100px;
      }
    }

    .dx-scrollbar-vertical.dx-scrollable-scrollbar.dx-widget {
      padding-inline: 2px;

      &.dx-state-hover {
        padding-inline: 2px;
      }

      &.dx-scrollable-scrollbar-active {
        padding-inline: 2px;
      }
    }

    .dx-scrollbar-horizontal.dx-scrollable-scrollbar.dx-widget {
      padding-block: 2px;

      &.dx-state-hover {
        padding-block: 2px;
      }

      &.dx-scrollable-scrollbar-active {
        padding-block: 2px;
      }
    }

    .dx-scrollable-scrollbar {
      &.dx-state-hover {
        background-color: transparent;

        .dx-scrollable-scroll-content {
          background-color: var(--Scrollable-Scroll-Hover-Bg);
        }
      }

      &.dx-scrollable-scrollbar-active {
        .dx-scrollable-scroll-content {
          background-color: var(--Scrollable-Scroll-Active-Bg);
        }
      }

      .dx-scrollable-scroll {
        .dx-scrollable-scroll-content {
          border-radius: 100px;
        }
      }
    }

    .dx-scrollbar-vertical.dx-scrollable-scrollbar {
      width: auto;
      padding-block: 0;
      padding-inline: 4px 6px;
      transition: all 0.2s linear;

      .dx-scrollable-scroll {
        padding: 0;
        width: auto;

        .dx-scrollable-scroll-content {
          width: 4px;
          transition: all 0.2s linear;
        }
      }

      &.dx-state-hover,
      &.dx-scrollable-scrollbar-active {
        padding-inline: 4px 6px;
        transition: all 0.2s linear;

        .dx-scrollable-scroll {
          .dx-scrollable-scroll-content {
            width: 8px;
            transition: all 0.2s linear;
          }
        }
      }
    }

    .dx-scrollbar-horizontal.dx-scrollable-scrollbar {
      height: auto;
      padding-inline: 4px;
      padding-block: 5px;
      transition: all 0.2s linear;

      .dx-scrollable-scroll {
        padding: 0;
        height: auto;
        transition: all 0.2s linear;

        .dx-scrollable-scroll-content {
          height: 4px;
          transition: all 0.2s linear;
        }
      }

      &.dx-state-hover,
      &.dx-scrollable-scrollbar-active {
        height: auto;
        padding-block: 3px;
        transition: all 0.2s linear;

        .dx-scrollable-scroll {
          height: auto;

          .dx-scrollable-scroll-content {
            height: 8px;
            transition: all 0.2s linear;
          }
        }
      }
    }

    .dx-scrollview-content {
      color: $base-text-color;
    }
  }
}
