@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;

// adduse
@use '../dropDownEditor';

.me-drop-down-box {
  --Input-height: 28px;
  --Input-outlined-height: 36px;

  width: 100%;
  box-sizing: border-box;
  height: var(--Input-height);

  &-label-mode-static, &-label-mode-floating {
    height: var(--Input-outlined-height);
  }

  .dx-texteditor-container {
    width: 100%;
    align-items: center;
  }

  &.dx-dropdownbox {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Default);

    &.dx-state-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
      border: 1px solid transparent;
    }

    &.dx-dropdowneditor-active {
      border: 1px solid var(--Controls-BG-Accent-Accent-BG-Default);
      background-color: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
    }

    &.me-keyboard-focused {
      border: 1px solid var(--Controls-BG-Accent-Accent-BG-Default);
      background: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
      outline: 2px solid var(--Dividers-Borders-Focus);
      outline-offset: 2px;
      border-radius: 3px;
    }

    &.dx-state-readonly {
      background: var(--Controls-BG-Secondary-Elements-BG-Default);
    }

    &.dx-state-disabled {
      background: var(--Controls-BG-Secondary-Elements-BG-Disabled);
    }
  }

  .dx-texteditor-buttons-container {
    .dx-button-content {
      display: flex;
      .dx-dropdowneditor-icon::before {
        content: '\f016';
      }
    }

    .dx-clear-button-area {
      align-content: center;
      text-align: center;
    }
  }

  &-small {
    .dx-texteditor-container {
      .dx-texteditor-input-container {
        .dx-texteditor-input {
          padding: 4px 0 4px 8px;
          font-size: 13px;
          line-height: 16px;
        }
      }

      .dx-texteditor-buttons-container {
        .dx-dropdowneditor-button {
          padding: 4px;
        }
      }

      .me-selectbox-left-icon {
        margin: 0 4px 0 8px;
      }
    }
  }

  &-medium {
    --Input-height: 32px;
    --Input-outlined-height: 40px;

    .dx-texteditor-input-container {
      .dx-texteditor-input {
        padding: 6px 0 6px 8px;
        font-size: 14px;
        line-height: 20px;
      }
    }

    .dx-texteditor-buttons-container {
      .dx-dropdowneditor-button {
        padding: 6px 4px;
      }
    }

    .me-selectbox-left-icon {
      margin: 0 4px 0 8px;
    }
  }

  &-large {
    --Input-height: 40px;
    --Input-outlined-height: 48px;

    .dx-texteditor-input-container {
      .dx-texteditor-input {
        padding: 8px 0 8px 12px;
        font-size: 16px;
        line-height: 20px;
      }
    }

    .dx-texteditor-buttons-container {
      .dx-dropdowneditor-button {
        padding: 8px 4px;
      }
    }

    .me-selectbox-left-icon {
      margin: 0 8px 0 12px;
    }
  }
}

.me-drop-down-box-wrapper-popup {
  --Search-icon-size: 20px;
  --Search-icon-line-height: 18px;
  --Search-input-inline-padding: 0 8px;
  --Search-input-height: 28px;
  --Clear-icon-size: 12px;
  --Texteditor-input-padding: 0 4px 0 32px;

  &-medium {
    &.dx-overlay-wrapper.dx-popup-wrapper .dx-overlay-content {
      .dx-popup-content:has(> .me-tree-view) {
        --Search-input-height: 32px;
      }
    }
  }

  &-large {
    &.dx-overlay-wrapper.dx-popup-wrapper .dx-overlay-content {
      .dx-popup-content:has(> .me-tree-view-large) {
        --Search-icon-size: 24px;
        --Search-icon-line-height: 24px;
        --Search-input-inline-padding: 0 12px;
        --Search-input-height: 40px;
        --Clear-icon-size: 16px;
        --Texteditor-input-padding: 0 4px 0 40px;
      }
    }
  }

  &.dx-overlay-wrapper.dx-popup-wrapper .dx-overlay-content {
    padding: 16px;

    .dx-popup-content:has(> .me-tree-view) {
      padding: 0;

      .me-tree-view {
        padding: 0;
        height: 100%;

        .dx-treeview-search {
          background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
          margin-bottom: 4px;

          &.dx-state-hover {
            background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
            border: 1px solid transparent;
          }

          &.dx-state-focused {
            border: 1px solid var(--Controls-BG-Accent-Accent-BG-Default);
            background: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
          }

          &.dx-state-readonly {
            background: var(--Controls-BG-Secondary-Elements-BG-Default);
          }

          &.dx-state-disabled {
            background: var(--Controls-BG-Secondary-Elements-BG-Disabled);
          }

          .dx-texteditor-container {
            padding: var(--Search-input-inline-padding);
            height: var(--Search-input-height);

            .dx-texteditor-input-container {
              .dx-placeholder::before {
                padding: var(--Texteditor-input-padding);
              }

              .dx-icon-search {
                width: auto;
                height: auto;
                font-size: var(--Search-icon-size);
                line-height: var(--Search-icon-line-height);
                margin-top: 0;
                padding: 0;
                transform: translateY(-50%);
              }
            }

            .dx-texteditor-input {
              padding: var(--Texteditor-input-padding);
            }

            .dx-placeholder::before {
              padding-block: 0;
            }

            .dx-texteditor-buttons-container {
              .dx-clear-button-area {
                width: auto;
                min-width: auto;

                .dx-icon-clear {
                  font-size: var(--Clear-icon-size);
                }
              }
            }
          }
        }

        .dx-scrollable-scroll {
          padding: 4px 0 4px 4px;
        }

        .dx-treeview-item {
          margin-right: 15px;
        }
      }
    }

    .dx-popup-content:has(> .me-data-grid) {
      padding: 0;

      .me-data-grid {
        .dx-scrollable-scroll {
          padding: 4px 0 4px 4px;
        }

        &.me-data-grid-cell-small {
          table {
            tbody {
              .dx-header-row,
              .dx-data-row {
                .dx-command-select {
                  padding: 0 4px;

                  .dx-checkbox {
                    width: 16px;

                    .dx-checkbox-container .dx-checkbox-icon {
                      width: 16px;
                      height: 16px;

                      &::before {
                        width: 10px;
                        margin-left: -5px;
                      }
                    }
                  }
                }
              }

              .dx-header-row,
              .dx-data-row
                .dx-command-select
                .dx-checkbox
                .dx-checkbox-container
                .dx-checkbox-icon::before {
                margin-left: -6px;
              }
            }
          }
        }

        .dx-datagrid {
          .dx-datagrid-focus-overlay {
            display: none;
          }

          table {
            tbody {
              .dx-header-row,
              .dx-data-row {
                .dx-command-select {
                  padding: 0 8px;
                }
              }

              .dx-datagrid-filter-row {
                td {
                  background: var(--Background-Accent-in-the-content);

                  .dx-texteditor-container {
                    background: var(--Background-Accent-in-the-content);

                    input {
                      background: var(--Controls-BG-Secondary-Elements-BG-Default);
                      margin: 2px 4px 2px 36px;
                      padding: 4px;
                      height: 28px;
                      box-sizing: border-box;
                      border-radius: 3px;
                      min-height: 0;
                    }
                  }

                  .dx-editor-with-menu {
                    .dx-menu {
                      border-radius: 3px;
                      background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
                      margin: 0;
                      height: fit-content;
                      top: 50%;
                      transform: translateY(-50%);
                      left: 4px;

                      .dx-menu-item-content {
                        padding: 0;
                        width: 28px;
                        height: 28px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .dx-icon {
                          color: var(--Icon-Default);
                        }
                      }

                      .dx-context-menu-container-border {
                        display: none;
                      }

                      .dx-menu-item-expanded {
                        background-color: var(--Controls-BG-Secondary-Elements-BG-Selected);
                        border-top-right-radius: 3px;
                        border-top-left-radius: 3px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &-large {
    .dx-popup-content:has(> .me-data-grid-medium) {
      .me-data-grid.me-data-grid-medium {
        .dx-datagrid {
          table {
            tbody {
              .dx-datagrid-filter-row {
                td {
                  .dx-texteditor-container {
                    input {
                      margin: 4px 8px 4px 40px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.dx-overlay-wrapper {
  .dx-overlay-content.dx-datagrid {
    .dx-submenu {
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
