@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

/**
* $name 20. Item border color
* $type color
*/
$list-border-color: null !default;

/**
* $name 20. Group header text color
* $type color
*/
$list-group-color: null !default;

/**
* $name 30. Group header background color
* $type color
*/
$list-group-header-bg: null !default;

/**
* $name 10. Item text color
* $type color
*/
$list-normal-color: $base-text-color !default;

/**
* $name 30. Hovered item background color
* $type color
*/
$list-item-hover-bg: null !default;

/**
* $name 40. Selected item state background color
* $type color
*/
$list-item-selected-bg: null !default;
$list-item-selected-hover-bg: null !default;

/**
* $name 50. Focused selected item state background color
* $type color
*/
$list-item-focused-selected-bg: null !default;

/**
* $name 60. Focused item state background color
* $type color
*/
$list-focused-bg: null !default;
$list-item-color: $base-text-color !default;
$list-item-hover-color: null !default;
$list-item-selected-color: null !default;
$list-item-focus-color: null !default;
$list-item-active-color: null !default;

/**
* $name 50. Active state item background color
* $type color
*/
$list-item-active-bg: null !default;
$list-holdmenu-bg: $base-bg !default;
$list-holdmenu-border-color: null !default;
$list-holdmenu-shadow-color: null !default;
$list-menu-button-default-color: $button-default-color !default;
$list-menu-button-default-bg: $button-default-bg !default;
$list-menu-button-delete-color: $button-danger-color !default;
$list-menu-button-delete-bg: $button-danger-bg !default;
$list-item-ghost-bg: null !default;
$list-chevron-focus-color: $base-inverted-text-color !default;
$list-item-ghost-color: null !default;
$list-item-ghost-border-color: null !default;
$list-item-ghost-shadow-color: #0006143d;
$list-icon-color: $base-icon-color !default;
$list-group-header-border-bottom: null !default;
$list-group-header-default-padding-top: null !default;
$list-group-header-compact-padding-top: null !default;
$list-item-chevron-icon-color: $base-icon-color !default;

/**
* Custom
*/
$listsearch-filled-bg: null !default;
$listsearch-hover-border-color: null !default;
$listsearch-hover-bg: null !default;
$listsearch-focused-bg: null !default;
$list-item-ghost-border-color: null !default;

@if $color == "light" {
  $list-normal-color: #18181a;
  $list-border-color: #dfe0ed;
  $list-group-color: #18181a;
  $list-group-header-bg: #eeeeee0d;
  $list-item-hover-bg: #3c65f81f;
  $list-item-selected-bg: #c4d8ff;
  $list-item-selected-hover-bg: color.change(#000, $alpha: 0.07) !default;
  $list-item-focused-selected-bg: #d8daea;
  $list-focused-bg: #d8daea;
  $list-item-hover-color: $base-hover-color !default;
  $list-item-selected-color: $base-select-color !default;
  $list-item-focus-color: $base-focus-color !default;
  $list-item-active-color: #18181a;
  $list-item-active-bg: #3c71f833;
  $list-holdmenu-border-color: $list-border-color !default;
  $list-holdmenu-shadow-color: color.change(
    $base-shadow-color,
    $alpha: 0.1
  ) !default;
  $list-item-ghost-color: #18181a66;
  $list-item-ghost-border-color: $base-accent !default;
  $list-group-header-border-bottom: 2px solid $list-border-color !default;
  $list-group-header-default-padding-top: 20px !default;
  $list-group-header-compact-padding-top: 10px !default;
  $listsearch-hover-bg: #d8daea;
  $listsearch-filled-bg: #ecedf3;
  $listsearch-focused-bg: #3257dc1f;
  $listsearch-hover-border-color: #3257dc;
  $list-item-ghost-border-color: #7eb9ff;
  $list-item-ghost-bg: #ffffff;
}

@if $color == "dark" {
  $list-normal-color: #ffffff;
  $list-border-color: #3f4044;
  $list-group-color: #ffffff;
  $list-group-header-bg: #3b3b3b0d;
  $list-item-hover-bg: #3c65f840;
  $list-item-selected-bg: #2c4483;
  $list-item-selected-hover-bg: color.change(#fff, $alpha: 0.09) !default;
  $list-item-focused-selected-bg: #565665;
  $list-focused-bg: #565665;
  $list-item-hover-color: $base-hover-color !default;
  $list-item-selected-color: $base-select-color !default;
  $list-item-focus-color: $base-focus-color !default;
  $list-item-active-color: #ffffff;
  $list-item-active-bg: #3c65f866;
  $list-holdmenu-border-color: $list-border-color !default;
  $list-holdmenu-shadow-color: color.change(
    $base-shadow-color,
    $alpha: 0.1
  ) !default;
  $list-item-ghost-color: #ffffff4d;
  $list-item-ghost-border-color: $base-accent !default;
  $list-group-header-border-bottom: 2px solid $list-border-color !default;
  $list-group-header-default-padding-top: 20px !default;
  $list-group-header-compact-padding-top: 10px !default;
  $listsearch-hover-bg: #565665;
  $listsearch-filled-bg: #43444c;
  $listsearch-focused-bg: #3565e21f;
  $listsearch-hover-border-color: #5d9eff;
  $list-item-ghost-border-color: #94c5ff;
  $list-item-ghost-bg: #2e2e2f;
}
