@mixin list-item-divider(
  $margin-block: 4px,
  $height: 1px,
  $background: var(--Dividers-Borders-Short)
) {
  display: flex;
  height: $height;
  margin-block: $margin-block;

  background: $background;
}
