@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../colorView/colors' as *;
@use '../../base/colorBox';

// adduse
@use '../colorView';
@use '../dropDownEditor';

.me-color-box.me-inputs.dx-dropdowneditor {
  --Color-Box-Preview-Size: 20px;
  --Label-Padding-Left-Static: 32px;
  --Placeholder-Padding-Left-Static: 24px;
  --Input-Gap: 4px;

  &.dx-texteditor-empty.dx-textbox.dx-texteditor:not(.dx-state-focused) {
    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside):not(.dx-texteditor-label-outside), &.dx-texteditor-empty.dx-texteditor-with-floating-label {
      .dx-colorbox-input-container.dx-colorbox-color-is-not-defined .dx-dropdowneditor-input-wrapper .dx-texteditor-container .dx-texteditor-input-container {
        padding-block: 0;

        .dx-placeholder {
          padding-left: var(--Placeholder-Padding-Left-Static);
        }
      }
    }

    .dx-texteditor-label {
      .dx-label {
        padding-left: var(--Label-Padding-Left-Static);
      }
    }

    &:has(> .dx-colorbox-color-is-not-defined){
      .dx-texteditor-label {
        .dx-label {
          padding-left: var(--Label-Padding-Left-Static);
        }
      }
    }
  }

  & > .dx-colorbox-input-container {
    .dx-dropdowneditor-input-wrapper .dx-texteditor-container .dx-texteditor-input-container {
      display: flex;
      flex-direction: row-reverse;
      gap: var(--Input-Gap);
      padding-left: var(--Placeholder-Padding-Left-Static);

      .dx-colorbox-color-result-preview {
        width: var(--Color-Box-Preview-Size);
        height: var(--Color-Box-Preview-Size);
        left: 0;
        border: 1px solid var(--Dividers-Borders-Short);
        border-radius: 20%;
      }
    }

    &.dx-colorbox-color-is-not-defined .dx-dropdowneditor-input-wrapper .dx-texteditor-container .dx-texteditor-input-container {
      .dx-colorbox-color-result-preview {
        background-color: var(--Icon-Default);
      }
    }
  }
}
