<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Buttons</h1>
  <h2 class="wrapper__title dx-widget">Type = default</h2>
  <h3 class="wrapper__subtitle dx-widget">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Кнопка" size="small" type="default"></dx-button>
    <dx-button meButton text="Кнопка" size="small" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Кнопка" size="small" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Кнопка" size="small" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="small" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Кнопка" size="medium" type="default"></dx-button>
    <dx-button meButton text="Кнопка" size="medium" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Кнопка" size="medium" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Кнопка" size="medium" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="medium" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Кнопка" size="large" type="default"></dx-button>
    <dx-button meButton text="Кнопка" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Кнопка" size="large" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Кнопка" size="large" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="large" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Кнопка" size="large" type="default"></dx-button>
    <dx-button meButton [disabled]="true" text="Кнопка" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" text="Кнопка" size="large" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" text="Кнопка" size="large" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" size="large" type="default" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="small" type="default"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="small" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="small" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="small" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="small" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Кнопка" type="default"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="medium" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="medium" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="medium" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="medium" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="large" type="default"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="large" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Кнопка" size="large" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="large" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Кнопка" size="large" type="default"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Кнопка" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Кнопка" size="large" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Кнопка" size="large" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" size="large" type="default" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Кнопка" size="small" type="default"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="small" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="small" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="small" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="small" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Кнопка" type="default"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="medium" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="medium" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="medium" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="medium" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Кнопка" size="large" type="default"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="large" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Кнопка" size="large" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="large" type="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="text" text="Кнопка" size="large" type="default"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Кнопка" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Кнопка" size="large" type="default" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Кнопка" size="large" type="default" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" size="large" type="default" iconOnly="add"></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = normal</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" type="normal"></dx-button>
    <dx-button meButton text="Small" size="small" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Small" size="small" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Small" size="small" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="small" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" type="normal"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="medium" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" type="normal"></dx-button>
    <dx-button meButton text="Large" size="large" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Large" size="large" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Large" size="large" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="large" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Large" size="large" type="normal"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" size="large" type="normal" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="normal"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="small" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="normal"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="medium" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="normal"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="large" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="normal"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" size="large" type="normal" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Small" size="small" type="normal"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="small" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="normal"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="medium" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Large" size="large" type="normal"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="large" type="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="normal"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="normal" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="normal" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="normal" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" size="large" type="normal" iconOnly="add"></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = success</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" type="success"></dx-button>
    <dx-button meButton text="Small" size="small" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Small" size="small" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Small" size="small" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="small" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" type="success"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="medium" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" type="success"></dx-button>
    <dx-button meButton text="Large" size="large" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Large" size="large" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Large" size="large" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="large" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Large" size="large" type="success"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" size="large" type="success" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="success"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="small" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="success"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="medium" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="success"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="large" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="success"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" size="large" type="success" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Small" size="small" type="success"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="small" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="success"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="medium" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Large" size="large" type="success"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="large" type="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="success"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="success" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="success" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="success" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" size="large" type="success" iconOnly="add"></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = danger</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" type="danger"></dx-button>
    <dx-button meButton text="Small" size="small" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Small" size="small" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Small" size="small" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="small" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" type="danger"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="medium" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" type="danger"></dx-button>
    <dx-button meButton text="Large" size="large" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Large" size="large" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Large" size="large" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="large" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Large" size="large" type="danger"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" size="large" type="danger" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="danger"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="small" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="danger"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="medium" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="danger"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="large" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="danger"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" size="large" type="danger" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Small" size="small" type="danger"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="small" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="danger"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="medium" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Large" size="large" type="danger"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="large" type="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="danger"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="danger" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="danger" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="danger" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" size="large" type="danger" iconOnly="add"></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = warning</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" type="warning"></dx-button>
    <dx-button meButton text="Small" size="small" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Small" size="small" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Small" size="small" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="small" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" type="warning"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Normal" size="medium" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="medium" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" type="warning"></dx-button>
    <dx-button meButton text="Large" size="large" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Large" size="large" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton text="Large" size="large" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton size="large" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Large" size="large" type="warning"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" text="Large" size="large" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" size="large" type="warning" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="warning"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Small" size="small" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="small" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="warning"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Normal" size="medium" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="medium" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="warning"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="outlined" text="Large" size="large" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="outlined" size="large" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="warning"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" text="Large" size="large" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="outlined" size="large" type="warning" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Small" size="small" type="warning"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Small" size="small" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="small" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="warning"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Normal" size="medium" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="medium" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Large" size="large" type="warning"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton stylingMode="text" text="Large" size="large" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton stylingMode="text" size="large" type="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="warning"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="warning" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="warning" leftIcon="arrowback"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" text="Large" size="large" type="warning" rightIcon="arrowforward"></dx-button>
    <dx-button meButton [disabled]="true" stylingMode="text" size="large" type="warning" iconOnly="add"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">С возможностью вжатия</h3>
  <div class="flex">
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="contained" text="Small" size="small" type="default"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="outlined" text="Small" size="small" type="default"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="text" text="Small" size="small" type="default"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="contained" text="Small" size="small" type="normal"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="outlined" text="Small" size="small" type="normal"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="text" text="Small" size="small" type="normal"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="contained" text="Small" size="small" type="success"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="outlined" text="Small" size="small" type="success"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="text" text="Small" size="small" type="success"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="contained" text="Small" size="small" type="danger"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="outlined" text="Small" size="small" type="danger"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="text" text="Small" size="small" type="danger"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="contained" text="Small" size="small" type="warning"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="outlined" text="Small" size="small" type="warning"></dx-button>
    <dx-button meButton [selectionStateEnable]="true" [isSelected]="true" stylingMode="text" text="Small" size="small" type="warning"></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">Пользовательская кнопка</h3>
  <div class="flex">
    <dx-button
      meButton
      text="Normal"
      size="small"
      type="default"
      [leftIcon]="customCancel"
      [rightIcon]="customCached"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      type="default"
      [leftIcon]="customCancel"
      [rightIcon]="customCached"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="large"
      type="default"
      [leftIcon]="customCancel"
      [rightIcon]="customCached"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
  </div>
</div>
