<div class="wrapper">
  <h3 class="dx-widget" style="font-size: '18px'; margin-top: '30px'">Реализация размерного ряда кнопок</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" type="default"></dx-button>
    <dx-button meButton text="Normal" size="normal" type="default"></dx-button>
    <dx-button meButton text="Large" size="large" type="default"></dx-button>
  </div>
  <pre>
    <code class="dx-widget dx-button-mode-text dx-button-normal dx-state-hover code-highlight">
      &lt;dx-button meButton text="Small" size="small" type="default"&gt;&lt;/dx-button&gt;     
      &lt;dx-button meButton text="Normal" size="normal" type="default"&gt;&lt;/dx-button&gt;     
      &lt;dx-button meButton text="Large" size="large" type="default"&gt;&lt;/dx-button&gt;     
    </code>
  </pre>
  <h3 class="dx-widget" style="font-size: '18px'; margin-top: '30px'">Реализация размерного ряда кнопок с иконками из готового набора</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Normal" size="normal" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
    <dx-button meButton text="Large" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"></dx-button>
  </div>
  <pre>
    <code class="dx-widget dx-button-mode-text dx-button-normal dx-state-hover code-highlight">
      &lt;dx-button meButton text="Small" size="small" type="default" leftIcon="arrowback" rightIcon="arrowforward"&gt;&lt;/dx-button&gt;     
      &lt;dx-button meButton text="Normal" size="normal" type="default" leftIcon="arrowback" rightIcon="arrowforward"&gt;&lt;/dx-button&gt;     
      &lt;dx-button meButton text="Large" size="large" type="default" leftIcon="arrowback" rightIcon="arrowforward"&gt;&lt;/dx-button&gt;     
    </code>
  </pre>
  <h3 class="dx-widget" style="font-size: '18px'; margin-top: '30px'">Реализация кнопок с иконкой, без текста</h3>
  <div class="flex">
    <dx-button meButton size="small" type="default" iconOnly="add"></dx-button>
    <dx-button meButton size="normal" type="default" iconOnly="add"></dx-button>
    <dx-button meButton size="large" type="default" iconOnly="add"></dx-button>
  </div>
  <pre>
    <code class="dx-widget dx-button-mode-text dx-button-normal dx-state-hover code-highlight">
      &lt;dx-button meButton size="small" type="default" iconOnly="add"&gt;&lt;/dx-button&gt;     
      &lt;dx-button meButton size="normal" type="default" iconOnly="add"&gt;&lt;/dx-button&gt;     
      &lt;dx-button meButton size="large" type="default" iconOnly="add"&gt;&lt;/dx-button&gt;     
    </code>
  </pre>
  <h3 class="dx-widget" style="font-size: '18px'; margin-top: '30px'">Реализация кнопок с иконками из готового набора и цветом из css-переменных</h3>
  <div class="flex">
    <dx-button
      meButton
      text="Normal"
      size="normal"
      type="default"
      leftIcon="cancel"
      rightIcon="cached"
      leftIconSize="20"
      rightIconSize="24"
      leftIconColor="var(--color-red)"
      rightIconColor="var(--color-aqua)"
    ></dx-button>
  </div>
  <pre>
    <code class="dx-widget dx-button-mode-text dx-button-normal dx-state-hover code-highlight">
      &lt;dx-button
          meButton
          text="Normal"
          size="normal"
          type="default"
          leftIcon="cancel"
          rightIcon="cached"
          leftIconSize="20"
          rightIconSize="24"
          leftIconColor="var(--color-red)"
          rightIconColor="var(--color-aqua)"      
      &gt;&lt;/dx-button&gt;
    </code>
  </pre>
  <h3 class="dx-widget" style="font-size: '18px'; margin-top: '30px'">Реализация кнопок с иконками из папки "assets/icons"</h3>
  <div class="dx-widget">
    <dx-button
      meButton
      text="Normal"
      size="normal"
      type="default"
      leftIconName="cancel.svg"
      rightIconName="cached.svg"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
  </div>
  <pre>
    <code class="dx-widget dx-button-mode-text dx-button-normal dx-state-hover code-highlight">
      &lt;dx-button
          meButton
          text="Normal"
          size="normal"
          type="default"
          leftIconName="cancel.svg"
          rightIconName="cached.svg"     
          leftIconSize="20"
          rightIconSize="24"   
      &gt;&lt;/dx-button&gt;
    </code>
  </pre>
</div>
<br /><br /><br />
