<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Buttons</h1>
  <h2 class="wrapper__title dx-widget">Type = default</h2>
  <h3 class="wrapper__subtitle dx-widget">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Кнопка" size="small" buttonType="default"></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="small"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="small"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="small"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="small" buttonType="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Кнопка" size="medium" buttonType="default"></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="medium"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="medium"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="medium"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="medium" buttonType="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Кнопка" size="large" buttonType="default"></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Кнопка"
      size="large"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="large" buttonType="default" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      text="Кнопка"
      size="large"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Кнопка"
      size="large"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      size="large"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="small"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="small"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="small"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="small"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="small"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="outlined" text="Кнопка" buttonType="default"></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="medium"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="medium"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="medium"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="medium"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="large"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Кнопка"
      size="large"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      size="large"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="small"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="small"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="small"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="small"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="small"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton stylingMode="text" text="Кнопка" buttonType="default"></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="medium"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="medium"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="medium"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="medium"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="large"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Кнопка"
      size="large"
      buttonType="default"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      size="large"
      buttonType="default"
      iconOnly="add"
    ></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = normal</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" buttonType="normal"></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="small" buttonType="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" buttonType="normal"></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="medium" buttonType="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" buttonType="normal"></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="large" buttonType="normal" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Large" size="large" buttonType="normal"></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      size="large"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="small"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="medium"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="large"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      size="large"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="small"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="medium"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="large"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="normal"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      size="large"
      buttonType="normal"
      iconOnly="add"
    ></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = success</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" buttonType="success"></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="small" buttonType="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" buttonType="success"></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="medium" buttonType="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" buttonType="success"></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="large" buttonType="success" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      size="large"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="small"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="medium"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="large"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      size="large"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="small"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="medium"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="large"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="success"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      size="large"
      buttonType="success"
      iconOnly="add"
    ></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = danger</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" buttonType="danger"></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="small" buttonType="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" buttonType="danger"></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="medium" buttonType="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" buttonType="danger"></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="large" buttonType="danger" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton [disabled]="true" text="Large" size="large" buttonType="danger"></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      size="large"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="small"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="medium"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="large"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      size="large"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="small"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="medium"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="large"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      buttonType="danger"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      size="large"
      buttonType="danger"
      iconOnly="add"
    ></dx-button>
  </div>

  <h2 class="wrapper__title dx-widget">Type = warning</h2>
  <h3 class="dx-widget wrapper__subtitle">stylingMode = contained</h3>
  <div class="flex">
    <dx-button meButton text="Small" size="small" [buttonType]="warning"></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Small"
      size="small"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="small" [buttonType]="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Normal" size="medium" [buttonType]="warning"></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="medium" [buttonType]="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button meButton text="Large" size="large" [buttonType]="warning"></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      text="Large"
      size="large"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button meButton size="large" [buttonType]="warning" iconOnly="add"></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      text="Large"
      size="large"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      size="large"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = outlined</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Small"
      size="small"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="small"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Normal"
      size="medium"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="medium"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="outlined"
      size="large"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      text="Large"
      size="large"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="outlined"
      size="large"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">stylingMode = text</h3>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Small"
      size="small"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="small"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Normal"
      size="medium"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="medium"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      stylingMode="text"
      size="large"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
      leftIcon="arrowback"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      text="Large"
      size="large"
      [buttonType]="warning"
      rightIcon="arrowforward"
    ></dx-button>
    <dx-button
      meButton
      [disabled]="true"
      stylingMode="text"
      size="large"
      [buttonType]="warning"
      iconOnly="add"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">С возможностью вжатия</h3>
  <div class="flex">
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="contained"
      text="Small"
      size="small"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="default"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="contained"
      text="Small"
      size="small"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="normal"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="contained"
      text="Small"
      size="small"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="success"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="success"
    ></dx-button>
  </div>
  <div class="flex">
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="contained"
      text="Small"
      size="small"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="outlined"
      text="Small"
      size="small"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="text"
      text="Small"
      size="small"
      buttonType="danger"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="contained"
      text="Small"
      size="small"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="outlined"
      text="Small"
      size="small"
      [buttonType]="warning"
    ></dx-button>
    <dx-button
      meButton
      [selectionStateEnable]="true"
      [isSelected]="true"
      stylingMode="text"
      text="Small"
      size="small"
      [buttonType]="warning"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">Пользовательская кнопка</h3>
  <div class="flex">
    <dx-button
      meButton
      text="Normal"
      size="small"
      buttonType="default"
      [leftIcon]="customCancel"
      [rightIcon]="customCached"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="medium"
      buttonType="default"
      [leftIcon]="customCancel"
      [rightIcon]="customCached"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
    <dx-button
      meButton
      text="Normal"
      size="large"
      buttonType="default"
      [leftIcon]="customCancel"
      [rightIcon]="customCached"
      leftIconSize="20"
      rightIconSize="24"
    ></dx-button>
  </div>

  <h3 class="dx-widget wrapper__subtitle">Кастомный темплейт</h3>
  <dx-button meButton text="Custom template" size="large" buttonType="default" template="custom">
    <div *dxTemplate="let data of 'custom'">
      {{ data.text }}
    </div>
  </dx-button>
  <h3 class="dx-widget wrapper__subtitle">Путь к файлу</h3>
  <dx-button
    meButton
    text="Normal"
    size="large"
    buttonType="default"
    leftIcon="../../../assets/bundles/images/Watch.svg"
    rightIcon="../../../assets/bundles/images/Logo1.png"
    leftIconSize="20"
    rightIconSize="24"
  ></dx-button>
</div>
