@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

//main

//toggle
$sidebar_menu_toggle_back: #d8daea;
$sidebar_menu_resize_handle_back: #ecedf3;
//hover
$sidebar_menu_toggle_hover: #d8daea;
$sidebar_menu_item_hover: #d8daea;
//badge
$sidebar_menu_badge_background: #6e86c3;
$sidebar_menu_badge_text: #ffffff;
//item
$sidebar_menu_selected_item: #c4d8ff;
$sidebar_menu_item_color: #18181a;
$sidebar_menu_item_keyboard_focused_background: #ffffff;

$sidebar_menu_header_icon_notification_color: #666666 !default;
$sidebar_menu_header_text_notification_color: #666666 !default;
$sidebar_menu_menu_divider_color: #dfe0ed !default;
$sidebar_menu_menu_item_active_background: #bfc1d0;

/**
 * Определение цветовых переменных
 */

/**
 * Цветовые переменные для светлой темы
 */

$light-sidebar_menu_toggle_back: #d8daea;
$light-sidebar_menu_resize_handle_back: #ecedf3;
//$light-sidebar_menu_expanded_back: #ecedf3;
$light-sidebar_menu_toggle_hover: #d8daea;
$light-sidebar_menu_item_hover: #d8daea;
$light-sidebar_menu_badge_background: #6e86c3;
$light-sidebar_menu_badge_text: #ffffff;
$light-sidebar_menu_selected_item: #c4d8ff;
$light-sidebar_menu_item_color: #18181a;
$light-sidebar_menu_item_keyboard_focused_background: #ffffff;
$light-sidebar_menu_header_icon_notification_color: #18181a;
$light-sidebar_menu_header_text_notification_color: #18181a;
$light-sidebar_menu_menu_divider_color: #dfe0ed;
$light-sidebar_menu_menu_item_active_background: #bfc1d0;

/**
 * Цветовые переменные для темной темы
 */
$dark-sidebar_menu_toggle_back: #565665;
$dark-sidebar_menu_resize_handle_back: #43444c;
$dark-sidebar_menu_toggle_hover: #565665;
$dark-sidebar_menu_item_hover: #565665;
$dark-sidebar_menu_badge_background: #476398;
$dark-sidebar_menu_badge_text: #ffffff;
$dark-sidebar_menu_selected_item: #2c4483;
$dark-sidebar_menu_item_color: #ffffff;
$dark-sidebar_menu_item_keyboard_focused_background: #3f4044;
$dark-sidebar_menu_header_icon_notification_color: #ffffff;
$dark-sidebar_menu_header_text_notification_color: #ffffff;
$dark-sidebar_menu_menu_divider_color: #3f4044;
$dark-sidebar_menu_menu_item_active_background: #565665;

/**
 * Применение темы в зависимости от выбранного цвета
 */
@if $color == 'light' {
  $sidebar_menu_toggle_back: $light-sidebar_menu_toggle_back;
  $sidebar_menu_resize_handle_back: $light-sidebar_menu_resize_handle_back;
  $sidebar_menu_toggle_hover: $light-sidebar_menu_toggle_hover;
  $sidebar_menu_item_hover: $light-sidebar_menu_item_hover;
  $sidebar_menu_badge_background: $light-sidebar_menu_badge_background;
  $sidebar_menu_badge_text: $light-sidebar_menu_badge_text;
  $sidebar_menu_selected_item: $light-sidebar_menu_selected_item;
  $sidebar_menu_item_color: $light-sidebar_menu_item_color;
  $sidebar_menu_item_keyboard_focused_background: $light-sidebar_menu_item_keyboard_focused_background;
  $sidebar_menu_header_icon_notification_color: $light-sidebar_menu_header_icon_notification_color;
  $sidebar_menu_header_text_notification_color: $light-sidebar_menu_header_text_notification_color;
  $sidebar_menu_menu_divider_color: $light-sidebar_menu_menu_divider_color;
  $sidebar_menu_menu_item_active_background: $light-sidebar_menu_menu_item_active_background;
}

@if $color == 'dark' {
  $sidebar_menu_toggle_back: $dark-sidebar_menu_toggle_back;
  $sidebar_menu_resize_handle_back: $dark-sidebar_menu_resize_handle_back;
  $sidebar_menu_toggle_hover: $dark-sidebar_menu_toggle_hover;
  $sidebar_menu_item_hover: $dark-sidebar_menu_item_hover;
  $sidebar_menu_badge_background: $dark-sidebar_menu_badge_background;
  $sidebar_menu_badge_text: $dark-sidebar_menu_badge_text;
  $sidebar_menu_selected_item: $dark-sidebar_menu_selected_item;
  $sidebar_menu_item_color: $dark-sidebar_menu_item_color;
  $sidebar_menu_item_keyboard_focused_background: $dark-sidebar_menu_item_keyboard_focused_background;
  $sidebar_menu_header_icon_notification_color: $dark-sidebar_menu_header_icon_notification_color;
  $sidebar_menu_header_text_notification_color: $dark-sidebar_menu_header_text_notification_color;
  $sidebar_menu_menu_divider_color: $dark-sidebar_menu_menu_divider_color;
  $sidebar_menu_menu_item_active_background: $dark-sidebar_menu_menu_item_active_background;
}
