@use '../sizes' as *;

// adduse
$sidebar_menu_collapsed_width: 72px;
$sidebar_menu_width: 336px;
$sidebar_menu_header_height: 56px;

//Шрифты
$sidebar_menu_header_text: 20px;
$sidebar_menu_text_size: 14px;
