@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 150. Pager selected item text color
* $type color
*/
$pager-page-selected-color: null !default;

/**
* $name 160. Pager selected item background color
* $type color
*/
$pager-page-selected-bg: null !default;
$pager-page-selected-border-color: null !default;
$pager-page-border-radius: $base-border-radius - 1px !default;

@if $color == "light" {
  $pager-page-selected-color: #18181a;
  $pager-page-selected-bg: #c4d8ff;
  $pager-page-selected-border-color: transparent !default;
}

@if $color == "dark" {
  $pager-page-selected-color: #ffffff;
  $pager-page-selected-bg: #2c4483;
  $pager-page-selected-border-color: transparent !default;
}
