@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

/**
* $name 10. Selected item text color
* $type color
*/
$button-group-normal-selected-color: null !default;
$button-group-normal-contained-selected-bg: null !default;
$button-group-normal-contained-selected-bg-hover: null !default;
$button-group-normal-contained-selected-bg-focused: null !default;

$button-group-default-contained-selected-bg: null !default;
$button-group-default-contained-selected-bg-hover: null !default;
$button-group-default-contained-selected-bg-focused: null !default;
/**
* $name 20. Selected item background color
* $type color
*/
$button-group-normal-selected-bg: null !default;
$button-group-normal-selected-bg-hover: null !default;
$button-group-normal-selected-bg-focused: null !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-group-default-selected-color: null !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-group-default-contained-bg: null !default;
$button-group-success-contained-bg: null !default;
$button-group-danger-contained-bg: null !default;
$button-group-danger-contained-bg-hover: null !default;
$button-group-danger-contained-bg-focused: null !default;
$button-group-success-contained-bg-hover: null !default;
$button-group-success-contained-bg-focused: null !default;

$button-group-default-selected-bg: null !default;
$button-group-default-selected-bg-hover: null !default;
$button-group-default-selected-bg-focused: null !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-group-danger-selected-color: null !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-group-danger-selected-bg: null !default;
$button-group-danger-selected-bg-hover: null !default;
$button-group-danger-selected-bg-focused: null !default;
$button-group-danger-contained-selected-bg: null !default;
$button-group-danger-contained-selected-bg-hover: null !default;
$button-group-danger-contained-selected-bg-focused: null !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-group-success-selected-color: null !default;
$button-group-success-contained-selected-bg: null !default;
$button-group-success-contained-selected-bg-hover: null !default;
$button-group-success-contained-selected-bg-focused: null !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-group-success-selected-bg: null !default;
$button-group-success-selected-bg-hover: null !default;
$button-group-success-selected-bg-focused: null !default;

@if $color == "light" {
  $button-group-normal-selected-color: $base-text-color !default;

  // $button-group-normal-contained-selected-bg: #2544b3;
  $button-group-normal-contained-selected-bg-hover: #dadcef;
  $button-group-normal-contained-selected-bg-focused: #a5a7b7;

  $button-group-normal-selected-bg: #bfc1d0;

  $button-group-normal-selected-bg-hover: #dadcef;
  $button-group-normal-selected-bg-focused: #a5a7b7;

  $button-group-default-contained-bg: #3257dc;
  $button-group-default-contained-selected-bg: #2544b3;
  $button-group-default-contained-selected-bg-hover: #597dff;
  $button-group-default-contained-selected-bg-focused: #2346c4;

  $button-group-default-selected-color: $button-default-bg !default;

  $button-group-default-selected-bg: #3c71f833;
  $button-group-default-selected-bg-hover: #3c65f82e;
  $button-group-default-selected-bg-focused: #3c65f84d;

  $button-group-danger-contained-bg: #d50f3f;
  $button-group-danger-contained-bg-hover: #e93d66;
  $button-group-danger-contained-bg-focused: #e93d66;
  $button-group-danger-selected-color: $button-danger-bg !default;

  $button-group-danger-contained-selected-bg: #b80631;
  $button-group-danger-contained-selected-bg-hover: #fa4672;
  $button-group-danger-contained-selected-bg-focused: #a1072c;

  $button-group-danger-selected-bg: #c0002f33;
  $button-group-danger-selected-bg-hover: #d50f3f2e;
  $button-group-danger-selected-bg-focused: #c0002f4d;

  $button-group-success-contained-bg: #009b3e;
  $button-group-success-contained-bg-hover: #00c34e;
  $button-group-success-contained-bg-focused: #00c34e;
  $button-group-success-selected-color: $button-success-bg !default;

  $button-group-success-contained-selected-bg: #008033;
  $button-group-success-contained-selected-bg-hover: #00d254;
  $button-group-success-contained-selected-bg-focused: #00702d;

  $button-group-success-selected-bg: #00752f33;
  $button-group-success-selected-bg-hover: #00993d2e;
  $button-group-success-selected-bg-focused: #00752f4d;
}

@if $color == "dark" {
  $button-group-normal-selected-color: $base-text-color !default;

  // $button-group-normal-contained-selected-bg: #264fb8;
  $button-group-normal-contained-selected-bg-hover: #6c6c7e;
  $button-group-normal-contained-selected-bg-focused: #121216;

  $button-group-normal-selected-bg: #28292f;

  $button-group-normal-selected-bg-hover: #6c6c7e;
  $button-group-normal-selected-bg-focused: #121216;

  $button-group-default-contained-bg: #3565e2;
  $button-group-default-contained-selected-bg: #264fb8;
  $button-group-default-contained-selected-bg-hover: #5f8cff;
  $button-group-default-contained-selected-bg-focused: #2452c8;

  $button-group-default-selected-color: $button-default-bg !default;

  $button-group-default-selected-bg: #3c65f866;
  $button-group-default-selected-bg-hover: #3c65f852;
  $button-group-default-selected-bg-focused: #3c65f87a;

  $button-group-danger-contained-bg: #bf002e;
  $button-group-danger-contained-bg-hover: #ce274f;
  $button-group-danger-contained-bg-focused: #ce274f;
  $button-group-danger-selected-color: $button-danger-bg !default;

  $button-group-danger-contained-selected-bg: #990025;
  $button-group-danger-contained-selected-bg-hover: #ea3762;
  $button-group-danger-contained-selected-bg-focused: #880021;

  $button-group-danger-selected-bg: #ab002a4d;
  $button-group-danger-selected-bg-hover: #d50f3f52;
  $button-group-danger-selected-bg-focused: #ab002a7a;

  $button-group-success-contained-bg: #008736;
  $button-group-success-contained-bg-hover: #0cba52;
  $button-group-success-contained-bg-focused: #0cba52;
  $button-group-success-selected-color: $button-success-bg !default;

  $button-group-success-contained-selected-bg: #006f2d;
  $button-group-success-contained-selected-bg-hover: #0fd25d;
  $button-group-success-contained-selected-bg-focused: #005f26;

  $button-group-success-selected-bg: #008b404d;
  $button-group-success-selected-bg-hover: #00b95552;
  $button-group-success-selected-bg-focused: #008b407a;
}
