@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

//main
//toggle - button
$menu-left_toggle_normal: #ecedf3 !default;
$menu-left_toggle_hover: #d8daea;
$menu-left_toggle_active: #bfc1d0;
$menu-left_toggle_tab: #ecedf3;

//toggle
$menu-left_resize_handle_back: #ecedf3;
//hover
$menu-left_item_hover: #d8daea;
//badge
$menu-left_badge_background: #6e86c3;
$menu-left_badge_text: #ffffff;
//item
$menu-left_selected_item: #c4d8ff;
$menu-left_item_color: #18181a;
$menu-left_item_keyboard_focused_background: #ffffff;

$menu-left_header_icon_notification_color: #666666 !default;
$menu-left_header_text_notification_color: #666666 !default;
$menu-left_menu_divider_color: #dfe0ed !default;
$menu-left_menu_item_active_background: #bfc1d0;

/**
 * Определение цветовых переменных
 */

/**
 * Цветовые переменные для светлой темы
 */

$light-menu_left_toggle_normal: #ecedf3;
$light-menu_left_toggle_back: #d8daea;
$light-menu_left_toggle_active: #bfc1d0;
$light-menu_left_resize_handle_back: #ecedf3;
$light-menu_left_toggle_hover: #d8daea;
$light-menu_left_item_hover: #d8daea;
$light-menu_left_badge_background: #6e86c3;
$light-menu_left_badge_text: #ffffff;
$light-menu_left_selected_item: #c4d8ff;
$light-menu_left_item_color: #18181a;
$light-menu_left_item_keyboard_focused_background: #ffffff;
$light-menu_left_header_icon_notification_color: #18181a;
$light-menu_left_header_text_notification_color: #18181a;
$light-menu_left_menu_divider_color: #dfe0ed;
$light-menu_left_menu_item_active_background: #bfc1d0;

/**
 * Цветовые переменные для темной темы
 */
$dark-menu_left_toggle_normal: #43444c;
$dark-menu_left_toggle_active: #28292f;
$dark-menu_left_toggle_back: #565665;
$dark-menu_left_resize_handle_back: #43444c;
$dark-menu_left_toggle_hover: #565665;
$dark-menu_left_item_hover: #565665;
$dark-menu_left_badge_background: #476398;
$dark-menu_left_badge_text: #ffffff;
$dark-menu_left_selected_item: #2c4483;
$dark-menu_left_item_color: #ffffff;
$dark-menu_left_item_keyboard_focused_background: #3f4044;
$dark-menu_left_header_icon_notification_color: #ffffff;
$dark-menu_left_header_text_notification_color: #ffffff;
$dark-menu_left_menu_divider_color: #3f4044;
$dark-menu_left_menu_item_active_background: #565665;

/**
 * Применение темы в зависимости от выбранного цвета
 */
@if $color =='light' {
  $menu-left_toggle_normal: $light-menu_left_toggle_normal;
  $menu-left_toggle_active: $light-menu_left_toggle_active;
  $menu-left_toggle_back: $light-menu_left_toggle_back;
  $menu-left_resize_handle_back: $light-menu_left_resize_handle_back;
  $menu-left_toggle_hover: $light-menu_left_toggle_hover;
  $menu-left_item_hover: $light-menu_left_item_hover;
  $menu-left_badge_background: $light-menu_left_badge_background;
  $menu-left_badge_text: $light-menu_left_badge_text;
  $menu-left_selected_item: $light-menu_left_selected_item;
  $menu-left_item_color: $light-menu_left_item_color;
  $menu-left_item_keyboard_focused_background: $light-menu_left_item_keyboard_focused_background;
  $menu-left_header_icon_notification_color: $light-menu_left_header_icon_notification_color;
  $menu-left_header_text_notification_color: $light-menu_left_header_text_notification_color;
  $menu-left_menu_divider_color: $light-menu_left_menu_divider_color;
  $menu-left_menu_item_active_background: $light-menu_left_menu_item_active_background;
}

@if $color =='dark' {
  $menu-left_toggle_normal: $dark-menu_left_toggle_normal;
  $menu-left_toggle_active: $dark-menu_left_toggle_active;
  $menu-left_toggle_back: $dark-menu_left_toggle_back;
  $menu-left_resize_handle_back: $dark-menu_left_resize_handle_back;
  $menu-left_toggle_hover: $dark-menu_left_toggle_hover;
  $menu-left_item_hover: $dark-menu_left_item_hover;
  $menu-left_badge_background: $dark-menu_left_badge_background;
  $menu-left_badge_text: $dark-menu_left_badge_text;
  $menu-left_selected_item: $dark-menu_left_selected_item;
  $menu-left_item_color: $dark-menu_left_item_color;
  $menu-left_item_keyboard_focused_background: $dark-menu_left_item_keyboard_focused_background;
  $menu-left_header_icon_notification_color: $dark-menu_left_header_icon_notification_color;
  $menu-left_header_text_notification_color: $dark-menu_left_header_text_notification_color;
  $menu-left_menu_divider_color: $dark-menu_left_menu_divider_color;
  $menu-left_menu_item_active_background: $dark-menu_left_menu_item_active_background;
}