@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Slider bar background color
* $type color
*/
$slider-bar-bg: null !default;

/**
* $name 30. Selected range background color
* $type color
*/
$slider-range-bg: $base-accent !default;
$slider-range-border-color: $slider-range-bg !default;
$slider-handle-bg: null !default;
$slider-handle-border-color: transparent;
$slider-handle-focused-border-color: null !default;
$slider-handle-active-bg: null !default;
$slider-handle-hover-bg: null !default;
$slider-handle-focused-bg: null !default;
$slider-invalid-handle-accent-bg: null !default;
$slider-handle-border-radius: $base-border-radius - 1px !default;
$slider-disabled-bg: null !default;

@if $color == "light" {
  $slider-bar-bg: #ecedf3;
  $slider-disabled-bg: #91aaea;
  $slider-handle-focused-border-color: #7eb9ff;

  $slider-handle-bg: $base-accent !default;
  $slider-handle-active-bg: #2544b3;
  $slider-handle-hover-bg: #4970ff;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: darken($base-danger, 10%) !default;
}

@if $color == "dark" {
  $slider-bar-bg: #43444c;
  $slider-disabled-bg: #27376e;
  $slider-handle-focused-border-color: #94c5ff;

  $slider-handle-bg: $base-accent !default;
  $slider-handle-active-bg: #264fb8;
  $slider-handle-hover-bg: #4a7cff;
  $slider-handle-focused-bg: $slider-handle-hover-bg !default;
  $slider-invalid-handle-accent-bg: lighten($base-danger, 10%) !default;
}
