<div class="tabs-demo">
  <div class="widget-container">
    <div [ngClass]="widgetWrapperClasses">
      <dx-tabs
        #withText
        [width]="width"
        [selectedIndex]="0"
        [scrollByContent]="scrollByContent"
        [showNavButtons]="showNavButtons"
        [dataSource]="tabsWithText"
      ></dx-tabs>

      <dx-tabs
        #withIconAndText
        [width]="width"
        [selectedIndex]="0"
        [scrollByContent]="scrollByContent"
        [showNavButtons]="showNavButtons"
        [dataSource]="tabsWithIconAndText"
      ></dx-tabs>
    </div>
  </div>
</div>
