@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

$button-icon-color: $base-icon-color !default;
$button-border-radius: $base-border-radius !default;
$button-disabled-text-opacity: 1 !default;
$button-disabled-icon-opacity: 1 !default;

/**
* $name 10. Text color
* $type color
*/
$button-normal-color: var(--Text-Default) !default;

/**
* $name 20. Background color
* $type color
*/
$button-normal-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$button-normal-border-color: null !default;
$button-special-hover: null !default;
$button-normal-bg-inverted: null !default;
$button-normal-contained-bg-hover: null !default;
$button-normal-contained-bg-focused: null !default;
$button-normal-contained-bg-active: null !default;
$button-normal-outlined-bg-hover: null !default;
$button-normal-outlined-bg-focused: null !default;
$button-normal-outlined-bg-active: null !default;
$button-normal-text-bg-hover: null !default;
$button-normal-text-bg-focused: null !default;
$button-normal-text-bg-active: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-default-color: $base-inverted-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-default-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$button-default-border-color: null !default;
$button-default-contained-bg-hover: null !default;
$button-default-contained-bg-focused: null !default;
$button-default-contained-bg-active: null !default;
$button-default-outlined-bg-hover: null !default;
$button-default-outlined-bg-focused: null !default;
$button-default-outlined-bg-active: null !default;
$button-default-text-bg-hover: null !default;
$button-default-text-bg-focused: null !default;
$button-default-text-bg-active: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-danger-color: $base-inverted-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-danger-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$button-danger-border-color: null !default;
$button-danger-contained-bg-hover: null !default;
$button-danger-contained-bg-focused: null !default;
$button-danger-contained-bg-active: null !default;
$button-danger-outlined-bg-hover: null !default;
$button-danger-outlined-bg-focused: null !default;
$button-danger-outlined-bg-active: null !default;
$button-danger-text-bg-hover: null !default;
$button-danger-text-bg-focused: null !default;
$button-danger-text-bg-active: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-success-color: $base-inverted-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-success-bg: null !default;

/**
* $name 30. Border color
* $type color
*/
$button-success-border-color: null !default;
$button-success-contained-bg-hover: null !default;
$button-success-contained-bg-focused: null !default;
$button-success-contained-bg-active: null !default;
$button-success-outlined-bg-hover: null !default;
$button-success-outlined-bg-focused: null !default;
$button-success-outlined-bg-active: null !default;
$button-success-text-bg-hover: null !default;
$button-success-text-bg-focused: null !default;
$button-success-text-bg-active: null !default;

// Custom
$button-normal-contained-bg-disabled: null !default;
$button-normal-contained-border-disabled: null !default;

// $button-normal-contained-bg-disabled: null !default;
// $button-danger-contained-bg-disabled: null !default;
$button-default-bg-disabled: null !default;
$button-default-text-bg-disabled: null !default;
$button-default-border-color-hover: null !default;
$button-default-border-color-focused: null !default;
$button-default-outlined-border-disabled: null !default;
$button-default-border-disabled: null !default;

// $button-default-contained-bg-disabled: null !default;
// $button-default-outlined-bg-disabled: null !default;
// $button-default-text-bg-disabled: null !default;

// $button-normal-bg-disabled: null !default;

$button-success-contained-bg-disabled: null !default;
$button-success-contained-text-disabled: null !default;
$button-success-bg-disabled: null !default;
$button-success-outlined-border-disabled: null !default;
$button-success-text-border-disabled: null !default;

// $button-danger-contained-bg-disabled: null !default;
// $button-danger-outlined-bg-disabled: null !default;
$button-danger-bg-disabled: null !default;
$button-danger-contained-bg-disabled: null !default;
$button-danger-contained-border-disabled: null !default;
$button-danger-border-disabled: null !default;

$button-warning-bg: null !default;
$button-warning-contained-bg-hover: null !default;
$button-warning-contained-bg-focused: null !default;
$button-warning-contained-bg-active: null !default;
$button-warning-contained-bg-disabled: null !default;
$button-warning-contained-text-disabled: null !default;
$button-warning-border-color: null !default;
$button-warning-outlined-bg-hover: null !default;
$button-warning-outlined-bg-focused: null !default;
$button-warning-outlined-bg-active: null !default;
$button-warning-border-disabled: null !default;

@if $color == 'light' {
  $button-normal-bg: var(--Controls-BG-Secondary-Elements-BG-Default);
  $button-normal-border-color: var(--Controls-Content-In-Controls-Main-Default);
  $button-normal-contained-bg-hover: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-contained-bg-focused: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-contained-bg-active: var(--Controls-BG-Secondary-Elements-BG-Selected);
  $button-normal-outlined-bg-hover: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-outlined-bg-focused: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-outlined-bg-active: var(--Controls-BG-Secondary-Elements-BG-Pressed);
  $button-normal-text-bg-hover: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-text-bg-focused: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-text-bg-active: var(--Controls-BG-Secondary-Elements-BG-Pressed);
  $button-normal-contained-bg-disabled: var(--Controls-BG-Secondary-Elements-BG-Disabled);
  $button-normal-contained-border-disabled: var(--Controls-Content-In-Controls-Main-Disabled);

  $button-default-bg: var(--Controls-BG-Accent-Accent-BG-Default);
  $button-default-border-color: var(--Controls-BG-Accent-Accent-BG-Default);
  $button-default-bg-disabled: var(--Controls-BG-Accent-Accent-BG-Disabled);
  $button-default-contained-bg-hover: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-contained-bg-focused: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-contained-bg-active: var(--Controls-BG-Accent-Accent-BG-Pressed);
  $button-default-outlined-bg-hover: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-outlined-bg-focused: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-outlined-bg-active: var(--Controls-BG-Flat-Button-Main-BG-Pressed);
  $button-default-text-bg-hover: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-text-bg-focused: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-text-bg-active: var(--Controls-BG-Flat-Button-Main-BG-Pressed);
  $button-default-text-bg-disabled: var(--Controls-BG-Accent-Accent-BG-Disabled);
  $button-default-border-color-hover: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-border-color-focused: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-outlined-border-disabled: var(--Controls-Content-In-Controls-Accent-Disabled);
  $button-default-border-disabled: var(--Controls-Content-In-Controls-On-BG-Disabled);

  $button-danger-bg: var(--Controls-BG-Accent-Danger-BG-Default);
  $button-danger-border-color: var(--Controls-BG-Accent-Danger-BG-Default);
  $button-danger-contained-bg-hover: var(--Controls-BG-Accent-Danger-BG-Hover);
  $button-danger-contained-bg-focused: var(--Controls-BG-Accent-Danger-BG-Hover);
  $button-danger-contained-bg-active: var(--Controls-BG-Accent-Danger-BG-Pressed);
  $button-danger-outlined-bg-hover: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-outlined-bg-focused: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-outlined-bg-active: var(--Controls-BG-Flat-Button-Danger-BG-Pressed);
  $button-danger-text-bg-hover: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-text-bg-focused: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-text-bg-active: var(--Controls-BG-Flat-Button-Danger-BG-Pressed);
  $button-danger-contained-bg-disabled: var(--Controls-BG-Accent-Danger-BG-Disabled);
  $button-danger-contained-border-disabled: var(--Controls-Content-In-Controls-On-BG-Disabled);
  $button-danger-border-disabled: var(--Controls-Content-In-Controls-Danger-Disabled);

  $button-success-bg: var(--Controls-BG-Accent-Success-BG-Default);
  $button-success-border-color: var(--Controls-Content-In-Controls-Success-Default);
  $button-success-contained-bg-hover: var(--Controls-BG-Accent-Success-BG-Hover);
  $button-success-contained-bg-focused: var(--Controls-BG-Accent-Success-BG-Hover);
  $button-success-contained-bg-active: var(--Controls-BG-Accent-Success-BG-Pressed);
  $button-success-outlined-bg-hover: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-outlined-bg-focused: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-outlined-bg-active: var(--Controls-BG-Flat-Button-Success-BG-Pressed);
  $button-success-text-bg-hover: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-text-bg-focused: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-text-bg-active: var(--Controls-BG-Flat-Button-Success-BG-Pressed);
  $button-success-contained-bg-disabled: var(--Controls-BG-Accent-Success-BG-Disabled);
  $button-success-outlined-border-disabled: var(--Controls-Content-In-Controls-Success-Disabled);
  $button-success-text-border-disabled: var(--Controls-Content-In-Controls-Success-Disabled);

  $button-warning-bg: var(--Controls-BG-Accent-Attention-BG-Default);
  $button-warning-contained-bg-hover: var(--Controls-BG-Accent-Attention-BG-Hover);
  $button-warning-contained-bg-focused: var(--Controls-BG-Accent-Attention-BG-Hover);
  $button-warning-contained-bg-active: var(--Controls-BG-Accent-Attention-BG-Pressed);
  $button-warning-contained-bg-disabled: var(--Controls-BG-Accent-Attention-BG-Disabled);
  $button-warning-border-color: var(--Controls-Content-In-Controls-Attention-Default);
  $button-warning-outlined-bg-hover: var(--Controls-BG-Flat-Button-Attention-Hover);
  $button-warning-outlined-bg-focused: var(--Controls-BG-Flat-Button-Attention-Hover);
  $button-warning-outlined-bg-active: var(--Controls-BG-Flat-Button-Attention-Pressed);
  $button-warning-border-disabled: var(--Controls-Content-In-Controls-Attention-Disabled);
}

@if $color == 'dark' {
  $button-normal-bg: var(--Controls-BG-Secondary-Elements-BG-Default);
  $button-normal-border-color: var(--Controls-Content-In-Controls-Main-Default);
  $button-normal-contained-bg-hover: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-contained-bg-focused: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-contained-bg-active: var(--Controls-BG-Secondary-Elements-BG-Selected);
  $button-normal-outlined-bg-hover: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-outlined-bg-focused: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-outlined-bg-active: var(--Controls-BG-Secondary-Elements-BG-Pressed);
  $button-normal-text-bg-hover: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-text-bg-focused: var(--Controls-BG-Secondary-Elements-BG-Hover);
  $button-normal-text-bg-active: var(--Controls-BG-Secondary-Elements-BG-Pressed);
  $button-normal-contained-bg-disabled: var(--Controls-BG-Secondary-Elements-BG-Disabled);
  $button-normal-contained-border-disabled: var(--Controls-Content-In-Controls-Main-Disabled);

  $button-default-bg: var(--Controls-BG-Accent-Accent-BG-Default);
  $button-default-border-color: var(--Controls-BG-Accent-Accent-BG-Default);
  $button-default-bg-disabled: var(--Controls-BG-Accent-Accent-BG-Disabled);
  $button-default-contained-bg-hover: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-contained-bg-focused: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-contained-bg-active: var(--Controls-BG-Accent-Accent-BG-Pressed);
  $button-default-outlined-bg-hover: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-outlined-bg-focused: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-outlined-bg-active: var(--Controls-BG-Flat-Button-Main-BG-Pressed);
  $button-default-text-bg-hover: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-text-bg-focused: var(--Controls-BG-Flat-Button-Main-BG-Hover);
  $button-default-text-bg-active: var(--Controls-BG-Flat-Button-Main-BG-Pressed);
  $button-default-text-bg-disabled: var(--Controls-BG-Accent-Accent-BG-Disabled);
  $button-default-border-color-hover: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-border-color-focused: var(--Controls-BG-Accent-Accent-BG-Hover);
  $button-default-outlined-border-disabled: var(--Controls-Content-In-Controls-Accent-Disabled);
  $button-default-border-disabled: var(--Controls-Content-In-Controls-On-BG-Disabled);

  $button-danger-bg: var(--Controls-BG-Accent-Danger-BG-Default);
  $button-danger-border-color: var(--Controls-BG-Accent-Danger-BG-Default);
  $button-danger-contained-bg-hover: var(--Controls-BG-Accent-Danger-BG-Hover);
  $button-danger-contained-bg-focused: var(--Controls-BG-Accent-Danger-BG-Hover);
  $button-danger-contained-bg-active: var(--Controls-BG-Accent-Danger-BG-Pressed);
  $button-danger-outlined-bg-hover: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-outlined-bg-focused: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-outlined-bg-active: var(--Controls-BG-Flat-Button-Danger-BG-Pressed);
  $button-danger-text-bg-hover: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-text-bg-focused: var(--Controls-BG-Flat-Button-Danger-BG-Hover);
  $button-danger-text-bg-active: var(--Controls-BG-Flat-Button-Danger-BG-Pressed);
  $button-danger-contained-bg-disabled: var(--Controls-BG-Accent-Danger-BG-Disabled);
  $button-danger-contained-border-disabled: var(--Controls-Content-In-Controls-On-BG-Disabled);
  $button-danger-border-disabled: var(--Controls-Content-In-Controls-Danger-Disabled);

  $button-success-bg: var(--Controls-BG-Accent-Success-BG-Default);
  $button-success-border-color: var(--Controls-Content-In-Controls-Success-Default);
  $button-success-contained-bg-hover: var(--Controls-BG-Accent-Success-BG-Hover);
  $button-success-contained-bg-focused: var(--Controls-BG-Accent-Success-BG-Hover);
  $button-success-contained-bg-active: var(--Controls-BG-Accent-Success-BG-Pressed);
  $button-success-outlined-bg-hover: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-outlined-bg-focused: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-outlined-bg-active: var(--Controls-BG-Flat-Button-Success-BG-Pressed);
  $button-success-text-bg-hover: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-text-bg-focused: var(--Controls-BG-Flat-Button-Success-BG-Hover);
  $button-success-text-bg-active: var(--Controls-BG-Flat-Button-Success-BG-Pressed);
  $button-success-contained-bg-disabled: var(--Controls-BG-Accent-Success-BG-Disabled);
  $button-success-outlined-border-disabled: var(--Controls-Content-In-Controls-Success-Disabled);
  $button-success-text-border-disabled: var(--Controls-Content-In-Controls-Success-Disabled);

  $button-warning-bg: var(--Controls-BG-Accent-Attention-BG-Default);
  $button-warning-contained-bg-hover: var(--Controls-BG-Accent-Attention-BG-Hover);
  $button-warning-contained-bg-focused: var(--Controls-BG-Accent-Attention-BG-Hover);
  $button-warning-contained-bg-active: var(--Controls-BG-Accent-Attention-BG-Pressed);
  $button-warning-contained-bg-disabled: var(--Controls-BG-Accent-Attention-BG-Disabled);
  $button-warning-border-color: var(--Controls-Content-In-Controls-Attention-Default);
  $button-warning-outlined-bg-hover: var(--Controls-BG-Flat-Button-Attention-Hover);
  $button-warning-outlined-bg-focused: var(--Controls-BG-Flat-Button-Attention-Hover);
  $button-warning-outlined-bg-active: var(--Controls-BG-Flat-Button-Attention-Pressed);
  $button-warning-border-disabled: var(--Controls-Content-In-Controls-Attention-Disabled);
}
