<dx-data-grid
  meDataGrid
  id="gridContainer"
  [dataSource]="dataSource"
  [size]="size"
  [allowColumnReordering]="true"
>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-paging [(pageSize)]="pageSize"></dxo-paging>
  <dxo-pager
    [showPageSizeSelector]="showPageSizeSelector"
    [displayMode]="displayMode"
    [showInfo]="showInfo"
    [infoText]="infoText"
    [showNavigationButtons]="showNavigationButtons"
  ></dxo-pager>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
</dx-data-grid>
