@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;
@use '../color' as extcolor;

// adduse

/**
* $name 10. Indicator background color
* $type color
*/
$gallery-indicator-bg: null !default;

/**
* $name 20. Selected indicator background color
* $type color
*/
$gallery-indicator-item-selected-bg: null !default;

/**
* $name 30. Focused indicator background color
* $type color
*/
$gallery-indicator-focused-bg: null !default;
$gallery-indicator-item-border-color: null !default;
$gallery-indicator-selected-border-color: null !default;
$gallery-navbutton-degradation-bg: null !default;

/**
* $name 30. Navigation button color
* $type color
*/
$gallery-navbutton-hover-color: null !default;

/**
* $name 40. Navigation icon color
* $type color
*/
$gallery-nav-arrow-color: null !default;

/**
* $name 50. Active navigation button color
* $type color
*/
$gallery-navbutton-active-color: null !default;
$gallery-navbutton-border-radius: $base-border-radius - 4px !default;

@if $color == 'light' {
  $gallery-indicator-bg: #ffffff;
  $gallery-indicator-item-selected-bg: #3257dc;
  $gallery-indicator-focused-bg: #4970ff;
  $gallery-indicator-item-border-color: $base-accent !default;
  $gallery-indicator-selected-border-color: color.change(
    $gallery-indicator-bg,
    $alpha: 0.8
  ) !default;
  $gallery-navbutton-degradation-bg: $gallery-indicator-bg !default;
  $gallery-navbutton-hover-color: #3c65f81f;
  $gallery-nav-arrow-color: #ffffff;
  $gallery-navbutton-active-color: #3c71f833;
}

@if $color == 'dark' {
  $gallery-indicator-bg: #2a2a2a;
  $gallery-indicator-item-selected-bg: #3565e2;
  $gallery-indicator-focused-bg: #4a7cff;
  $gallery-indicator-item-border-color: $base-accent !default;
  $gallery-indicator-selected-border-color: color.change(
    $gallery-indicator-bg,
    $alpha: 0.8
  ) !default;
  $gallery-navbutton-degradation-bg: $gallery-indicator-bg !default;
  $gallery-navbutton-hover-color: #3c65f840;
  $gallery-nav-arrow-color: #2a2a2a;
  $gallery-navbutton-active-color: #3c65f866;
}
