<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Tooltip</h1>
  <div class="tooltip-demo dx-widget">
    <div class="tooltip-group">
      <div class="tooltip-controls">
        <button class="tooltip-button"
                meTooltip
                tooltipContent="Это простой текстовый тултип"
                tooltipPosition="top">
          Простой тултип
        </button>
        <button class="tooltip-button"
                meTooltip
                [tooltipTemplateRef]="htmlTemplate"
                tooltipPosition="right">
          HTML-содержимое
        </button>
        <button class="tooltip-button"
                meTooltip
                tooltipContent="Тултип снизу"
                tooltipPosition="bottom">
          Позиционирование
        </button>
      </div>
    </div>

    <div class="tooltip-group">
      <div class="tooltip-controls">
        <button class="tooltip-button"
                meTooltip
                [tooltipTemplateRef]="interactiveTemplate"
                tooltipPosition="top"
                tooltipWidth="200">
          Интерактивный тултип
        </button>
        <button class="tooltip-button"
                meTooltip
                tooltipContent="Тултип с анимацией"
                tooltipPosition="left"
                [tooltipShowAnimation]="{ type: 'slide', from: { left: -100, opacity: 0 }, to: { opacity: 1, left: 0 } }"
                [tooltipHideAnimation]="{ type: 'pop', from: { scale: 1, opacity: 1 }, to: { opacity: 0, scale: 0.1 } }">
          Анимированный
        </button>
        <button class="tooltip-button"
                meTooltip
                [tooltipTemplateRef]="customStyleTemplate"
                tooltipPosition="bottom"
                tooltipClass="custom-tooltip">
          Пользовательские стили
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #htmlTemplate>
  <div>
    <h3>HTML в тултипе</h3>
    <p>Тултипы могут содержать <strong>форматированный текст</strong>, <em>списки</em> и другие HTML-элементы:</p>
    <ul>
      <li>Пункт 1</li>
      <li>Пункт 2</li>
    </ul>
  </div>
</ng-template>

<ng-template #interactiveTemplate>
  <div class="interactive-tooltip">
    <h3>Интерактивный тултип</h3>
    <p>Тултипы могут содержать интерактивные элементы:</p>
    <button>Нажми меня</button>
  </div>
</ng-template>

<ng-template #customStyleTemplate>
  <div class="custom-tooltip">
    <h3>Пользовательские стили</h3>
    <p>Этот тултип имеет особое оформление, заданное через CSS-класс.</p>
  </div>
</ng-template>
