@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse

/**
* $name 40. Popup background color
* $type color
*/
$menu-popup-bg: null !default;

/**
* $name 50. Hovered item background color
* $type color
*/
$menu-item-hover-bg: null !default;
$menu-item-focused-bg: null !default;

/**
* $name 10. Text color
* $type color
*/
$menu-color: $base-text-color !default;

/**
* $name 55. Hovered item text color
* $type color
*/
$menu-item-hovered-color: null !default;

/**
* $name 10. Expanded item text color
* $type color
*/
$menu-item-expanded-color: null !default;

/**
* $name 20. Selected item background color
* $type color
*/
$menu-item-selected-bg: null !default;

/**
* $name 20. Border color
* $type color
*/
$menu-popup-border-color: $base-border-color !default;
$menu-separator-bg: $base-border-color !default;
$menu-item-selected-color: null !default;
$menu-item-focused-selected-bg: null !default;
$menu-container-shadow-color: null !default;

$menu-item-active-bg: null !default;
$menu-item-popout-icon: null !default;
$menu-hamburger-button-icon: null !default;
$submenu-border-color: null !default;
$submenu-bg: null !default;

@if $color == 'light' {
  $menu-popup-bg: $base-bg !default;
  $menu-item-hover-bg: $base-hover-bg !default;
  $menu-item-focused-bg: #d8daea;
  $menu-item-hovered-color: $menu-color !default;
  $menu-item-expanded-color: $menu-color !default;
  $menu-item-selected-bg: #c4d8ff;
  $menu-item-selected-color: $base-text-color !default;
  $menu-item-focused-selected-bg: color.change($base-focus-bg, $alpha: 0.7) !default;
  $menu-container-shadow-color: color.change($base-shadow-color, $alpha: 0.15) !default;
  $menu-item-active-bg: #bfc1d0;
  $menu-item-popout-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzQ5NTlfNTQ5IiBzdHlsZT0ibWFzay10eXBlOmFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9IiNEOUQ5RDkiLz4KPC9tYXNrPgo8ZyBtYXNrPSJ1cmwoI21hc2swXzQ5NTlfNTQ5KSI+CjxwYXRoIGQ9Ik0xMi42IDEyTDggNy40TDkuNCA2TDE1LjQgMTJMOS40IDE4TDggMTYuNkwxMi42IDEyWiIgZmlsbD0iIzE4MTgxQSIvPgo8L2c+Cjwvc3ZnPgo=');
  $menu-hamburger-button-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzUyNzhfMTg1NyIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSIjRDlEOUQ5Ii8+CjwvbWFzaz4KPGcgbWFzaz0idXJsKCNtYXNrMF81Mjc4XzE4NTcpIj4KPHBhdGggZD0iTTMgMThWMTZIMjFWMThIM1pNMyAxM1YxMUgyMVYxM0gzWk0zIDhWNkgyMVY4SDNaIiBmaWxsPSIjMTgxODFBIi8+CjwvZz4KPC9zdmc+Cg==');
  $submenu-border-color: #dfe0ed;
  $submenu-bg: #fff;
}

@if $color == 'dark' {
  $menu-popup-bg: $base-bg !default;
  $menu-item-hover-bg: $base-hover-bg !default;
  $menu-item-hovered-color: $menu-color !default;
  $menu-item-expanded-color: $menu-color !default;
  $menu-item-selected-bg: #2c4483;
  $menu-item-selected-color: $base-text-color !default;
  $menu-item-focused-bg: #565665;
  $menu-item-focused-selected-bg: color.change($base-focus-bg, $alpha: 0.7) !default;
  $menu-container-shadow-color: color.change($base-shadow-color, $alpha: 0.175) !default;
  $menu-item-active-bg: #28292f;
  $menu-item-popout-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzQ5NTlfODY5IiBzdHlsZT0ibWFzay10eXBlOmFscGhhIiBtYXNrVW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4PSIwIiB5PSIwIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiPgo8cmVjdCB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIGZpbGw9IiNEOUQ5RDkiLz4KPC9tYXNrPgo8ZyBtYXNrPSJ1cmwoI21hc2swXzQ5NTlfODY5KSI+CjxwYXRoIGQ9Ik0xMi42IDEyTDggNy40TDkuNCA2TDE1LjQgMTJMOS40IDE4TDggMTYuNkwxMi42IDEyWiIgZmlsbD0id2hpdGUiLz4KPC9nPgo8L3N2Zz4K');
  $menu-hamburger-button-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPG1hc2sgaWQ9Im1hc2swXzUyNzhfMjM4NyIgc3R5bGU9Im1hc2stdHlwZTphbHBoYSIgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeD0iMCIgeT0iMCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ij4KPHJlY3Qgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0IiBmaWxsPSIjRDlEOUQ5Ii8+CjwvbWFzaz4KPGcgbWFzaz0idXJsKCNtYXNrMF81Mjc4XzIzODcpIj4KPHBhdGggZD0iTTMgMThWMTZIMjFWMThIM1pNMyAxM1YxMUgyMVYxM0gzWk0zIDhWNkgyMVY4SDNaIiBmaWxsPSJ3aGl0ZSIvPgo8L2c+Cjwvc3ZnPgo=');
  $submenu-border-color: #3f4044;
  $submenu-bg: #2e2e2f;
}
