@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 40. Popup background color
* $type color
*/
$menu-popup-bg: null !default;

/**
* $name 50. Hovered item background color
* $type color
*/
$menu-item-hover-bg: null !default;
$menu-item-focused-bg: null !default;

/**
* $name 10. Text color
* $type color
*/
$menu-color: $base-text-color !default;

/**
* $name 55. Hovered item text color
* $type color
*/
$menu-item-hovered-color: null !default;

/**
* $name 10. Expanded item text color
* $type color
*/
$menu-item-expanded-color: null !default;

/**
* $name 20. Selected item background color
* $type color
*/
$menu-item-selected-bg: null !default;

/**
* $name 20. Border color
* $type color
*/
$menu-popup-border-color: $base-border-color !default;
$menu-separator-bg: $base-border-color !default;
$menu-item-selected-color: null !default;
$menu-item-focused-selected-bg: null !default;
$menu-container-shadow-color: null !default;

@if $color == "light" {
  $menu-popup-bg: $base-bg !default;
  $menu-item-hover-bg: $base-hover-bg !default;
  $menu-item-focused-bg: #d8daea;
  $menu-item-hovered-color: $menu-color !default;
  $menu-item-expanded-color: $menu-color !default;
  $menu-item-selected-bg: #c4d8ff;
  $menu-item-selected-color: $base-text-color !default;
  $menu-item-focused-selected-bg: color.change(
    $base-focus-bg,
    $alpha: 0.7
  ) !default;
  $menu-container-shadow-color: color.change(
    $base-shadow-color,
    $alpha: 0.15
  ) !default;
}

@if $color == "dark" {
  $menu-popup-bg: $base-bg !default;
  $menu-item-hover-bg: $base-hover-bg !default;
  $menu-item-hovered-color: $menu-color !default;
  $menu-item-expanded-color: $menu-color !default;
  $menu-item-selected-bg: #2c4483;
  $menu-item-selected-color: $base-text-color !default;
  $menu-item-focused-bg: #565665;
  $menu-item-focused-selected-bg: color.change(
    $base-focus-bg,
    $alpha: 0.7
  ) !default;
  $menu-container-shadow-color: color.change(
    $base-shadow-color,
    $alpha: 0.175
  ) !default;
}
