@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../menuBase/sizes' as *;
@use '../../base/icons' as *;

// adduse
@use '../menuBase' as *;
@use '../../base/menu';

.dx-context-menu-container-border {
  background-color: transparent;
  border: $generic-menu-popup-border;
  box-shadow: 0 1px 1px $menu-container-shadow-color;
}

.dx-context-menu-content-delimiter {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $menu-popup-bg;
  }
}

.dx-menu {
  color: $menu-color;

  .dx-menu-item-expanded {
    color: $menu-item-expanded-color;
    background-color: $menu-popup-bg;
  }

  .dx-menu-item-has-icon.dx-menu-item-has-submenu {
    .dx-icon {
      margin-inline-end: $generic-menu-padding-small;
      margin-inline-start: $generic-menu-item-padding-reduced;
    }
  }

  .dx-menu-item-has-text {
    .dx-menu-item-text {
      padding: $generic-menu-item-padding-base;
      padding-top: $generic-menu-item-padding-top-base;
    }

    &.dx-menu-item-has-icon {
      .dx-icon {
        margin: 0 $generic-menu-item-padding-reduced;
      }
    }

    &.dx-menu-item-has-submenu {
      .dx-menu-item-text {
        padding-inline-end: $generic-menu-padding-small;
        padding-inline-start: $generic-menu-item-padding-base;
      }
    }
  }

  .dx-menu-horizontal {
    .dx-menu-item-popout {
      @include dx-icon(spindown);
      @include dx-icon-font-centered-sizing($generic-base-icon-size);
    }
  }

  .dx-menu-vertical {
    .dx-menu-item-popout {
      @include dx-icon(spinright);
      @include dx-icon-font-centered-sizing($generic-base-icon-size);
    }
  }
}

.dx-menu-adaptive-mode {
  background-color: $menu-popup-bg;

  .dx-treeview {
    border: 1px solid $menu-popup-border-color;
    border-radius: $base-border-radius;

    &,
    &.dx-state-focused {
      box-shadow: 0 3px 10px color.change($base-shadow-color, $alpha: 0.1);
    }
  }

  .dx-treeview-toggle-item-visibility {
    font-size: 18px;
  }

  .dx-treeview-node {
    &.dx-state-focused {
      .dx-treeview-node .dx-treeview-toggle-item-visibility {
        color: inherit;
      }

      .dx-treeview-toggle-item-visibility {
        color: $menu-popup-bg;
      }
    }
  }

  .dx-treeview-node-container:first-child > .dx-treeview-node {
    border-bottom: 1px solid $menu-popup-border-color;
  }
}

.dx-menu-adaptive-mode {
  background-color: $menu-popup-bg;

  .dx-treeview {
    border: 1px solid $menu-popup-border-color;
    border-radius: $base-border-radius;

    &,
    &.dx-state-focused {
      box-shadow: 0 3px 10px color.change($base-shadow-color, $alpha: 0.1);
    }
  }

  .dx-treeview-toggle-item-visibility {
    font-size: 18px;
  }

  .dx-treeview-node {
    &.dx-state-focused {
      .dx-treeview-node .dx-treeview-toggle-item-visibility {
        color: inherit;
      }

      .dx-treeview-toggle-item-visibility {
        color: $menu-popup-bg;
      }
    }
  }

  .dx-treeview-node-container:first-child > .dx-treeview-node {
    border-bottom: 1px solid $menu-popup-border-color;
  }
}

.me-menu {
  .dx-menu-horizontal {
    .dx-menu-items-container {
      flex-direction: row;
      .dx-menu-item-popout::before {
        content: var(--me-icon-chevron-down);
      }
    }
  }
  .dx-menu-vertical {
    .dx-menu-items-container {
      flex-direction: column;
      align-items: flex-start;
      .dx-menu-item-popout::before {
        content: var(--me-icon-chevron-right);
      }
    }
  }
  .dx-menu-items-container {
    gap: 8px;
    display: flex;

    .dx-menu-item-wrapper {
      .dx-item.dx-state-active {
        background-color: $menu-item-active-bg;
      }
      .dx-item-content.dx-menu-item-content {
        display: flex;
        align-items: center;
        gap: 8px;
        .dx-icon {
          margin: 0;
        }
        .dx-menu-item-text {
          padding: 0;
          color: $base-text-color;
        }
        .dx-menu-item-popout-container {
          position: relative;
          .dx-menu-item-popout {
            font-family: var(--me-icon-family);
          }
        }
      }
    }
  }

  .dx-state-focused {
    background-color: $me-menu-hovered-color;
  }

  &.me-menu-small {
    .dx-menu-item-wrapper {
      .dx-item-content.dx-menu-item-content {
        padding: 4px 12px;
        .dx-icon,
        .dx-menu-item-popout-container {
          height: 20px;
          width: 20px;
          .dx-menu-item-popout::before {
            width: 20px;
            height: 20px;
            padding-top: 2px;
            margin-top: -10px;
            margin-left: -10px;
            font-size: 20px;
          }
        }
        .dx-menu-item-text {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  &.me-menu-large {
    .dx-menu-item-wrapper {
      .dx-item-content.dx-menu-item-content {
        padding: 8px 12px;
        .dx-icon,
        .dx-menu-item-popout-container {
          height: 24px;
          width: 24px;
          .dx-menu-item-popout::before {
            width: 24px;
            height: 24px;
            padding-top: 4px;
            margin-top: -12px;
            margin-left: -12px;
            font-size: 24px;
          }
        }
        .dx-menu-item-text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }

  //////////////////////////////////////////////////////////
  .dx-menu-item-expanded {
    background-color: $menu-item-focused-bg;
  }

  &.dx-menu-base .dx-menu-item.dx-state-disabled {
    opacity: 1;
  }

  .dx-context-menu-container-border {
    box-shadow: none;
    border: none;
  }

  .dx-context-menu-content-delimiter {
    display: none !important;
  }

  &.dx-menu-base .dx-menu-adaptive-mode .dx-button-content .dx-icon {
    background: $menu-hamburger-button-icon;
    background-size: contain;

    &::before {
      content: none;
    }
  }

  .dx-menu-item-wrapper:has(.dx-state-disabled) {
    cursor: default;
  }
}

.me-menu-submenu {
  border: 1px solid $base-border-color;
  .dx-menu-item.dx-state-focused {
    box-shadow: inset 0px 0px 0px 2px var(--Dividers-Borders-Focus);
  }

  .dx-scrollable-container {
    .dx-scrollable-scroll-content {
      border-radius: 10px;
    }
    .dx-scrollbar-vertical.dx-scrollable-scrollbar {
      width: auto;
      padding: 0;
      .dx-scrollable-scroll {
        width: 8px;
      }
    }
    .dx-scrollable-scrollbar.dx-state-hover {
      background: transparent;
    }
  }

  &.dx-submenu {
    .dx-menu-items-container {
      padding: 0;
      display: flex;
      flex-direction: column;

      .dx-item.dx-menu-item {
        border-radius: 0;
        display: flex;

        .dx-item-content.dx-menu-item-content {
          padding: 0;
          display: flex;
          align-items: center;
          gap: 8px;

          .dx-icon {
            margin: 0;
          }
          .dx-menu-item-text {
            padding: 0;
            color: $base-text-color;
          }
          .dx-menu-item-popout-container {
            position: relative;
            margin-left: auto;
            .dx-menu-item-popout {
              font-family: var(--me-icon-family);
            }
            .dx-menu-item-popout::before {
              content: var(--me-icon-chevron-right);
            }
          }
        }

        &.dx-state-active {
          background-color: $menu-item-active-bg;
        }
      }
    }
  }

  &.me-menu-submenu-small {
    border-radius: 3px;

    .dx-menu-items-container {
      padding-block: 4px;
      gap: 4px;

      .dx-menu-item-wrapper {
        .dx-item.dx-menu-item {
          padding: 4px 12px;

          .dx-icon,
          .dx-menu-item-popout-container {
            height: 20px;
            width: 20px;
            .dx-menu-item-popout::before {
              width: 20px;
              height: 20px;
              padding-top: 2px;
              margin-top: -10px;
              margin-left: -10px;
              font-size: 20px;
            }
          }
          .dx-menu-item-text {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
    }
  }

  &.me-menu-submenu-large {
    border-radius: 4px;

    .dx-menu-items-container {
      padding-block: 2px;
      .dx-menu-item-wrapper {
        .dx-item.dx-menu-item {
          padding: 8px 12px;

          .dx-icon,
          .dx-menu-item-popout-container {
            height: 24px;
            width: 24px;
            .dx-menu-item-popout::before {
              width: 24px;
              height: 24px;
              padding-top: 4px;
              margin-top: -12px;
              margin-left: -12px;
              font-size: 24px;
            }
          }
          .dx-menu-item-text {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }

  &.me-menu-submenu-small,
  &.me-menu-submenu-large {
    .dx-item.dx-menu-item {
      .dx-submenu {
        position: fixed;
      }
    }
  }
}
