<div class="wrapper">
  <br /><br /><br />
  <h2 class="me-text-accent1">Стили текста для заголовков</h2>
  <span class="me-title-display1">me-title-display1</span>
  <span class="me-title-display2">me-title-display2</span>
  <span class="me-title-header1">me-title-header1</span>
  <span class="me-title-header2">me-title-header2</span>
  <span class="me-title-subheader1">me-title-subheader1</span>
  <br />
  <h2 class="me-text-accent1">Стили текста в теле</h2>
  <span class="me-text-accent1">me-text-accent1</span>
  <span class="me-text-body1">me-text-body1</span>
  <span class="me-text-body2">me-text-body2</span>
  <span class="me-strikethrough">me-strikethrough</span>
  <span class="me-text-caption">me-text-caption</span>

  <span class="me-text-description1">me-text-description1</span>
  <span class="me-text-description2">me-text-description2</span>
  <span class="me-text-numbers1">me-text-numbers1</span>
  <span class="me-text-numbers2">me-text-numbers2</span>

  <br />
  <h2 class="me-text-accent1">Стили текста в кликабельных элементах</h2>
  <span class="me-action-med1">me-action-med1</span>
  <span class="me-action-reg1">me-action-reg1</span>
  <span class="me-action-med2">me-action-med2</span>
  <span class="me-action-reg2">me-action-reg2</span>
  <span class="me-action-med3">me-action-med3</span>
  <span class="me-action-reg3">me-action-reg3</span>
  <span class="me-action-med4">me-action-med4</span>
  <span class="me-action-link1">me-action-link1</span>
  <span class="me-action-link2">me-action-link2</span>

  <br />
  <h2 class="me-text-accent1">Стили текста в таблицах</h2>
  <span class="me-tables-row-text">me-tables-row-text</span>
  <span class="me-tables-strikethrough">me-tables-strikethrough</span>
  <span class="me-tables-numbers">me-tables-numbers</span>
  <span class="me-tables-column-title">me-tables-column-title</span>

  <br />
  <h2 class="me-text-accent1">Шрифты</h2>
  <h3 class="me-title-header1">Roboto</h3>
  <div><span class="me-roboto-300">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto 300)</span></div>
  <div><span class="me-roboto">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto 400)</span></div>
  <div><span class="me-roboto-500">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto 500)</span></div>
  <div><span class="me-roboto-700">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto 700)</span></div>
  <h3 class="me-title-header1">Roboto Mono</h3>
  <div><span class="me-roboto-mono-300">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto Mono 300)</span></div>
  <div><span class="me-roboto-mono">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto Mono 400)</span></div>
  <div><span class="me-roboto-mono-500">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto Mono 500)</span></div>
  <div><span class="me-roboto-mono-700">Whereas recognition of the inherent dignity</span><span class="me-text-body1"> (Roboto Mono 700)</span></div>
  <h3 class="me-title-header1">Noto Kufi Arabic</h3>
  <div><span class="me-noto-kufi-300">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</span><span class="me-text-body1"> (Noto Kufi Arabic 300)</span></div>
  <div><span class="me-noto-kufi">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</span><span class="me-text-body1"> (Noto Kufi Arabic 400)</span></div>
  <div><span class="me-noto-kufi-500">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</span><span class="me-text-body1"> (Noto Kufi Arabic 500)</span></div>
  <div><span class="me-noto-kufi-700">لمّا كان الاعتراف بالكرامة المتأصلة في جميع</span><span class="me-text-body1"> (Noto Kufi Arabic 700)</span></div>
</div>
