.me-roboto-300 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto-500 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto-700 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-noto-kufi-300 {
  font-family: Noto Kufi Arabic;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-noto-kufi {
  font-family: Noto Kufi Arabic;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-noto-kufi-500 {
  font-family: Noto Kufi Arabic;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-noto-kufi-700 {
  font-family: Noto Kufi Arabic;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto-mono-300 {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto-mono {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto-mono-500 {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}
.me-roboto-mono-700 {
  font-family: Roboto Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: var(--me-icon-default);
}