@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../button/mixins' as *;
@use '../button/colors' as *;
@use '../typography/sizes' as *;
@use '../typography/mixins' as *;
@use '../../base/calendar';

// adduse

$generic-calendar-navigator-fontsize: $generic-h5-font-size;
$generic-calendar-navigator-line-height: 1.6;
$generic-calendar-width: $generic-calendar-body-width;
$generic-calendar-height: $generic-calendar-body-height + $generic-calendar-navigator-fontsize *
  $generic-calendar-navigator-line-height + $generic-calendar-navigator-vertical-padding * 2;

.dx-calendar {
  width: $generic-calendar-width;
  min-width: $generic-calendar-width;
  height: fit-content;
  min-height: $generic-calendar-height + 20px;
  background-color: $calendar-bg;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 1px solid transparent;

  &.dx-calendar-with-footer {
    height: $generic-calendar-height + $generic-calendar-footer-height + 10px + 20px;
    min-height: $generic-calendar-height + $generic-calendar-footer-height;

    .dx-calendar-body {
      bottom: $generic-calendar-footer-height + 10px;
    }

    .dx-calendar-footer {
      text-align: center;
      height: $generic-calendar-footer-height;
      width: 100%;

      .dx-button:not(.dx-calendar-today-button) {
        background: none;
      }
    }
  }

  &.dx-calendar-range {
    overflow: hidden;

    .dx-calendar-body {
      overflow: visible;
    }
  }
}

.dx-calendar-navigator {
  line-height: $generic-calendar-navigator-line-height;
  height: $generic-calendar-navigator-height;
  display: table;
  border-collapse: collapse;

  .dx-button {
    height: 100%;
    border-radius: 0;
    display: table-cell;

    .dx-icon {
      font-size: $generic-calendar-navigator-fontsize;
    }

    &.dx-calendar-disabled-navigator-link {
      border-collapse: collapse;
      visibility: visible;
      opacity: 1;

      .dx-button-content {
        opacity: 0.5;
      }
    }

    &.dx-state-active:not(.dx-calendar-disabled-navigator-link) {
      z-index: 1;
    }

    &.dx-state-hover:not(.dx-calendar-disabled-navigator-link) {
      z-index: 1;
    }
  }

  .dx-calendar-caption-button {
    font-size: $generic-calendar-navigator-fontsize;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    right: $generic-nav-button-width;
    left: $generic-nav-button-width;
    height: 32px;

    &.dx-button {
      .dx-button-content {
        padding: 0;
        color: $calendar-button-caption-color;
      }
    }
  }
}

.dx-calendar-navigator-previous-month {
  width: $generic-nav-button-width;
  background: none;

  &.dx-button {
    margin: 0 2px;
  }

  .dx-button-content {
    padding: 0;
  }

  &.dx-state-hover {
    z-index: 1;
  }
}

.dx-calendar-caption-button,
.dx-calendar-navigator-previous-month,
.dx-calendar-navigator-next-view,
.dx-calendar-today-button {
  background: none;
  border: none;

  &.dx-state-hover {
    background: $calendar-navigator-bg-hover;
  }

  &.dx-state-active {
    background: $calendar-navigator-bg-active;
  }
}

.dx-calendar-navigator-previous-month,
.dx-calendar-navigator-next-view {
  width: $generic-nav-button-width;

  &.dx-button {
    margin: 0 1px;
  }

  .dx-button-content {
    padding: 0;
  }
}

.dx-calendar-navigator-previous-view,
.dx-calendar-navigator-previous-month {
  left: 0;

  &.dx-button {
    border-radius: $calendar-navigator-border-radius 0 0 $calendar-navigator-border-radius;

    .dx-icon {
      color: $calendar-shevron-icon-color;
      margin-left: 10px;
    }
  }
}

.dx-calendar-navigator-next-view,
.dx-calendar-navigator-next-month {
  right: 0;

  &.dx-button {
    border-radius: 0 $calendar-navigator-border-radius $calendar-navigator-border-radius 0;

    .dx-icon {
      color: $calendar-shevron-icon-color;
    }
  }
}

.dx-calendar-body {
  top: $generic-calendar-body-top;

  thead {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;

    tr {
      height: 25px;
      padding-bottom: 10px;

      th {
        box-shadow: inset 0 -1px 0 $calendar-border-color;
        color: $calendar-header-color;
      }
    }
  }

  table {
    border-spacing: 0;

    th {
      color: $calendar-header-color;
      text-align: center;
      font-size: $generic-xs-font-size;
      padding: 1px 0 $generic-calendar-header-bottom-padding 0;
    }
  }
}

.dx-calendar-cell {
  text-align: center;
  padding: 1px $generic-calendar-cell-horizontal-padding 2px;
  color: $calendar-color;
  font-size: $generic-calendar-cell-font-size;
  border: 1px double transparent;
  width: 39px;
  border-radius: $calendar-cell-contoured-border-radius;

  &.dx-calendar-today {
    box-shadow: inset 0 0 0 2px $calendar-cell-selected-bg;
  }

  &.dx-state-hover {
    box-shadow: inset 0 -1px 0 1000px $calendar-hover-bg;
    color: $calendar-cell-hover-color;
  }

  &.dx-calendar-other-view:not(.dx-calendar-selected-date),
  &.dx-calendar-empty-cell:not(.dx-calendar-selected-date) {
    color: $calendar-cell-other-color;

    &.dx-state-hover,
    &.dx-state-active {
      color: $calendar-cell-other-hover-color;
    }
  }

  &.dx-calendar-empty-cell {
    cursor: default;

    &.dx-state-hover:not(.dx-calendar-selected-date) {
      box-shadow: none;
    }
  }

  &.dx-state-active {
    &:not(.dx-calendar-empty-cell) {
      &:not(.dx-calendar-selected-date) {
        box-shadow: inset 0 -1px 0 1000px $calendar-cell-active-bg;
      }
    }
  }

  &.dx-calendar-contoured-date:not(.dx-calendar-empty-cell) {
    box-shadow: inset 0 0 0 2px $calendar-cell-contoured-border-color;
    // inset 0 0 0 1000px $calendar-hover-bg;
  }

  &.dx-calendar-selected-date {
    &,
    &.dx-calendar-today {
      color: $base-inverted-text-color;
      box-shadow: inset 0 0 0 1000px $calendar-cell-selected-bg;
      font-weight: normal;

      &.dx-calendar-contoured-date {
        color: $calendar-color;
        box-shadow: inset 0 0 0 2px $calendar-cell-contoured-border-color;
        // inset 0 0 0 1000px $calendar-hover-bg;
      }
    }
  }
}

.dx-invalid {
  &.dx-calendar {
    border-color: $calendar-invalid-faded-border-color;

    &.dx-state-focused {
      border-color: $calendar-invalid-focused-border-color;
    }
  }
}

.dx-popup-wrapper {
  .dx-calendar {
    .dx-calendar-caption-button {
      margin: 0;
    }
  }
}

.dx-toolbar-item-content {
  .dx-button {
    border: none;
  }
}

.me-calendar.dx-calendar.dx-widget,
.dx-calendar.dx-widget {
  &.dx-calendar-view-month,
  &.dx-calendar-view-year,
  &.dx-calendar-view-decade,
  &.dx-calendar-view-century {
    padding: 4px 8px 8px 8px;
    border: 1px solid $calendar-border-color;
    border-radius: 4px;
    min-height: 292px;
    width: 288px;
    box-shadow: var(--select-box-box-shadow);

    &.me-calendar-with-time-controls {
      // min-height: 276px;
    }

    .dx-calendar-today-button {
      .dx-button-content {
        max-height: 32px;
        padding: 8px 12px;
        align-items: center;
      }
    }

    .dx-calendar-body {
      top: $generic-calendar-body-top;

      .dx-calendar-cell.dx-calendar-contoured-date:not(.dx-calendar-selected-date) {
        box-shadow: inset 0 0 0 2px var(--Dividers-Borders-Focus);
      }
    }

    .dx-button-text {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: capitalize;
    }

    .dx-calendar-navigator {
      .dx-calendar-caption-button {
        display: flex;
        align-items: center;
      }
    }

    .dx-calendar-navigator {
      height: 48px;
      gap: 8px;
      display: flex;
      padding-block: 8px;

      .dx-calendar-navigator-next-view,
      .dx-calendar-navigator-previous-view {
        margin: 0;
        .dx-button-content {
          .dx-icon {
            margin: 0;
          }
        }
      }

      .dx-button-text {
        display: flex;
        align-items: center;
      }
    }

    .dx-icon {
      font-size: 14px;
    }

    .dx-calendar-body {
      padding: 4px;
      top: 45px;

      table {
        // padding-right: 8px;
      }

      .dx-calendar-cell {
        height: 24px;
        word-spacing: 20px;
      }

      .dx-calendar-views-wrapper {
        .dx-widget:first-child {
          .dx-calendar-week-number-cell {
            background-color: $calendar-weeks-bg;
            border-radius: 0;
            box-shadow: 0px -4px 0 0 $calendar-weeks-bg;
          }
          tr:first-child {
            .dx-calendar-week-number-cell {
              border-radius: 3px 3px 0 0;
            }
          }
          tr:last-child {
            .dx-calendar-week-number-cell {
              border-radius: 0 0 3px 3px;
              box-shadow: 0px 4px 0 0 $calendar-weeks-bg;
            }
          }
        }

        .dx-widget:not(:first-child) {
          table > thead > tr > th {
            color: transparent;
          }
        }
      }

      thead {
        th {
          padding: 0;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          text-transform: capitalize;
          box-shadow: none;
        }

        tr {
          height: 24px;
        }
      }

      tbody {
        tr {
          td {
            padding: 4px;
            border-radius: 3px;
            height: 26px;
            text-align: center;
            span {
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
    .dx-state-disabled {
      *,
      .dx-button-content .dx-icon {
        color: $calendar-disabled-text-color;
      }

      .dx-calendar-views-wrapper {
        .dx-widget:first-child {
          .dx-calendar-week-number-cell {
            background-color: $calendar-disabled-weeks-bg-color;
          }
        }
      }

      .dx-calendar-cell {
        &.dx-calendar-today {
          box-shadow: none;
        }
      }
      .dx-calendar-cell {
        &.dx-calendar-selected-date {
          box-shadow: none;
          color: $calendar-color;
        }
      }
    }

    &.dx-state-disabled {
      .dx-button-content {
        .dx-icon,
        .dx-button-text {
          color: var(--Controls-Content-In-Controls-Accent-Disabled);
        }
      }
    }

    .dx-calendar-week-number-cell {
      span {
        width: 100%;
      }
    }

    .dx-calendar-cell.dx-calendar-selected-date,
    .dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today {
      color: var(--Controls-Content-In-Controls-On-BG-Default);
      box-shadow: inset 0 0 0 1000px $calendar-button-caption-color;
    }

    .dx-calendar-body .dx-widget {
      width: 102%;
      right: -5px;
    }
  }
}

.me-calendar-show-weeks-numbers {
  .dx-calendar-navigator {
    margin-left: 28px;
    width: 240px;
  }
}

.dx-overlay-wrapper {
  .dx-overlay-content.dx-popup-normal {
    .dx-popup-content {
      &:has(.dx-calendar) {
        margin: 0;
      }
    }
  }
}

.dx-calendar
  .dx-calendar-body
  .dx-calendar-views-wrapper
  .dx-widget.dx-state-disabled
  .dx-calendar-cell.dx-calendar-today.dx-calendar-selected-date {
  box-shadow: inset 0 0 0 1000px var(--Controls-BG-Accent-Accent-BG-Disabled);
}

.dx-calendar .dx-calendar-navigator .dx-calendar-caption-button,
.dx-calendar .dx-calendar-navigator .dx-calendar-navigator-previous-month,
.dx-calendar .dx-calendar-navigator .dx-calendar-navigator-next-month {
  border-radius: 4px;
}

.dx-calendar.dx-widget.dx-calendar.dx-widget.dx-calendar-view-month {
  .dx-calendar-body {
    .dx-calendar-cell.dx-calendar-today:not(.dx-calendar-selected-date) {
      box-shadow: inset 0 0 0 2px var(--Controls-BG-Accent-Accent-BG-Default);
    }
  }
}

// Small
.me-calendar.me-calendar--small.dx-calendar.dx-calendar {
  width: 248px;
  min-width: 248px;
  min-height: 248px;
  max-height: 248px;

  .dx-calendar-navigator {
    width: 204px;
    height: 36px;
    margin-left: auto;
    align-items: center;
    padding-block: 0;
    gap: 4px;

    .dx-button-text {
      @include me-action-med3;
    }

    .dx-calendar-navigator-previous-month,
    .dx-calendar-navigator-next-month {
      max-width: 28px;
      max-height: 28px;
    }
  }

  .dx-calendar-body {
    width: 232px;
    max-height: 200px;
    padding: 0;
    padding-bottom: 4px;

    .dx-widget {
      width: 100%;
      right: 0;
    }

    thead {
      th {
        @include me-action-med4;
        text-align: center;
      }
    }

    tbody {
      .dx-calendar-week-number-cell {
        span {
          @include me-action-reg3;
          text-align: center;
        }
      }

      .dx-calendar-cell {
        span {
          @include me-action-reg3;
          text-align: center;
        }
      }
    }
  }

  .time-controls {
    margin-top: 4px;

    .me-inputs {
      .dx-texteditor-container {
        .dx-texteditor-input-container {
          @include me-action-reg3;
        }
      }
    }
  }

  &.dx-calendar-view-year,
  &.dx-calendar-view-decade,
  &.dx-calendar-view-century {
    .dx-calendar-body {
      // padding: 3px;

      tbody {
        .dx-calendar-cell {
          span {
            line-height: 10px;
          }
        }
      }
    }
  }
}

.me-calendar.me-calendar--small.dx-calendar:has(.time-controls) {
  min-height: 280px;
  max-height: 280px;
}

.me-calendar.me-calendar--small.dx-calendar:not(.me-calendar-show-weeks-numbers) {
  width: 220px;
  min-width: 220px;

  .dx-calendar-body {
    width: 204px;
    max-height: 200px;
  }
}

// Medium
.me-calendar.me-calendar--medium.dx-calendar.dx-calendar {
  min-width: 288px;
  min-height: 292px;
  max-height: 292px;

  .dx-calendar-body {
    padding: 0;
    padding-bottom: 4px;

    .dx-widget {
      width: 100%;
      right: 0;
    }
  }

  .dx-calendar-navigator {
    width: 240px;
    height: 48px;
    margin-left: auto;
    align-items: center;
    padding-block: 0;
    gap: 8px;

    .dx-button-text {
      @include me-action-med2;
    }

    .dx-calendar-navigator-previous-month,
    .dx-calendar-navigator-next-month {
      max-width: 32px;
      max-height: 32px;
    }
  }

  .dx-calendar-footer {
    height: 30px;
  }

  .time-controls {
    margin-top: 8px;

    .me-inputs {
      .dx-texteditor-container {
        .dx-texteditor-input-container {
          height: 32px;

          @include me-action-reg2;
        }
      }
    }
  }

  &.dx-calendar-view-year,
  &.dx-calendar-view-decade,
  &.dx-calendar-view-century {
    .dx-calendar-body {
      padding-inline: 0;

      tbody {
        .dx-calendar-cell {
          span {
            line-height: 10px;
          }
        }
      }
    }
  }
}

.me-calendar.me-calendar--medium.dx-calendar:has(.time-controls) {
  min-height: 332px;
  max-height: 332px;
}

.me-calendar.me-calendar--medium.dx-calendar:not(.me-calendar-show-weeks-numbers) {
  min-width: 256px;
  width: 256px;
}

// Large
.me-calendar.me-calendar--large.dx-calendar.dx-calendar {
  min-width: 351px;
  min-height: 348px;
  max-height: 424px;
  height: fit-content;

  .dx-calendar-navigator {
    width: 296px;
    height: 56px;
    margin-left: auto;
    align-items: center;
    padding-block: 0;
    gap: 8px;

    .dx-calendar-caption-button {
      height: 40px;
    }

    .dx-button-text {
      @include me-action-med1;
    }

    .dx-calendar-navigator-previous-month,
    .dx-calendar-navigator-next-month {
      width: 40px;
      max-width: 40px;
      max-height: 40px;
    }
  }

  .dx-calendar-body {
    padding: 0;
    padding-bottom: 4px;

    .dx-widget {
      width: 100%;
      right: 0;
    }

    thead {
      th {
        @include me-action-med2;
        text-align: center;
      }
    }

    tbody {
      .dx-calendar-week-number-cell {
        span {
          @include me-action-reg1;
          text-align: center;
        }
      }

      .dx-calendar-cell {
        span {
          @include me-action-reg1;
          text-align: center;
        }
      }
    }
  }

  .time-controls {
    margin-top: 8px;

    .me-inputs {
      .dx-texteditor-container {
        .dx-texteditor-input-container {
          height: 40px;

          @include me-action-reg1;
        }
      }
    }
  }

  &.dx-calendar-view-year,
  &.dx-calendar-view-decade,
  &.dx-calendar-view-century {
    .dx-calendar-body {
      margin-bottom: auto;
      padding: 0;
      min-height: 260px;

      table {
        padding-right: 0;

        tbody {
          .dx-calendar-cell {
            padding: 10px;

            span {
              line-height: 12px;
            }
          }
        }
      }
    }
  }
}

.me-calendar.me-calendar--large.dx-calendar:has(.time-controls) {
  min-height: 396px;
  max-height: 396px;
}

.me-calendar.me-calendar--large.dx-calendar:not(.me-calendar-show-weeks-numbers) {
  min-width: 312px;
  width: 312px;
}

.me-calendar.dx-calendar {
  .dx-calendar-body {
    overflow: hidden;

    .dx-calendar-views-wrapper > .dx-widget > table > tbody > tr {
      .dx-calendar-cell-in-range:not(.dx-calendar-range-start-date):not(
          .dx-calendar-range-end-date
        ):not(.dx-calendar-other-view) {
        background-color: var(--Controls-Informative-BG-Selected-Element);
        border-radius: 0;
      }

      .dx-calendar-range-start-date {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: var(--Controls-BG-Accent-Accent-BG-Default);
      }

      .dx-calendar-range-end-date {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border: var(--Controls-BG-Accent-Accent-BG-Default);
      }
    }
  }
}
