<div class="wrapper">
  <h1 class="dx-widget wrapper__title">Toolbar</h1>
  <dx-toolbar [width]="500" class="toolbar">
    <dxi-item widget="dxTextBox" [options]="textBoxOptions"> </dxi-item>
    <dxi-item widget="dxButton" [options]="searchButtonOptions"> </dxi-item>
    <dxi-item location="before" widget="dxButton" [options]="backButtonOptions"> </dxi-item>
    <dxi-item location="after" widget="dxButton" [options]="aboutButtonOptions"> </dxi-item>
    <dxi-item location="after" widget="dxButton" locateInMenu="always" [options]="profileButtonOptions"> </dxi-item>
    <dxi-item location="after" widget="dxButton" locateInMenu="always" [options]="settingsButtonOptions"> </dxi-item>
  </dx-toolbar>
</div>
