<div class="widget-container">
  <dx-resizable class="resizable-container" [minWidth]="500" [minHeight]="150" [maxHeight]="370" handles="right" area=".widget-container">
    <dx-toolbar #toolbar>
      <dxi-item location="before" widget="dxButton">
        <div *dxTemplate>
          <dx-button icon="undo"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" widget="dxButton">
        <div *dxTemplate>
          <dx-button icon="redo"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
        <div *dxTemplate>
          <dx-drop-down-button
            displayExpr="text"
            keyExpr="size"
            itemTemplate="fontSizeTemplate"
            [items]="fontSizes"
            [selectedItemKey]="fontSizes[2].size"
            [useSelectMode]="true"
          >
            <div *dxTemplate="let data of 'fontSizeTemplate'">
              <div [style.fontSize]="data.size + 'px'">{{ data.text }}</div>
            </div>
          </dx-drop-down-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxDropDownButton">
        <div *dxTemplate>
          <dx-drop-down-button
            icon="indent"
            displayExpr="text"
            keyExpr="lineHeight"
            [items]="lineHeights"
            [useSelectMode]="true"
            [selectedItemKey]="lineHeight"
          ></dx-drop-down-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
        <div *dxTemplate>
          <dx-select-box placeholder="Font" displayExpr="text" [inputAttr]="{ 'aria-label': 'Font' }" [items]="fontFamilies"></dx-select-box>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item location="before" widget="dxButtonGroup">
        <div *dxTemplate>
          <dx-button-group displayExpr="text" keyExpr="icon" stylingMode="outlined" selectionMode="multiple" [items]="fontStyles"></dx-button-group>
        </div>
      </dxi-item>

      <dxi-item location="before">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item widget="dxButtonGroup" location="before" locateInMenu="auto" menuItemTemplate="menuTextAlignTemplate">
        <div *dxTemplate>
          <dx-button-group keyExpr="alignment" stylingMode="outlined" [items]="textAlignItems" [(selectedItemKeys)]="selectedTextAlign"></dx-button-group>
        </div>
      </dxi-item>

      <dxi-item location="before" widget="dxButtonGroup">
        <div *dxTemplate>
          <dx-button-group keyExpr="alignment" stylingMode="outlined" [items]="listTypes"></dx-button-group>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxSelectBox">
        <div *dxTemplate>
          <dx-select-box displayExpr="text" valueExpr="text" [inputAttr]="{ 'aria-label': 'Text Style' }" [value]="heading" [items]="headings"></dx-select-box>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="link" text="Link"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="image" text="Add image"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="clearformat" text="Clear formating"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="codeblock" text="Code block"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="blockquote" text="Blockquote"></dx-button>
        </div>
      </dxi-item>

      <dxi-item location="before" locateInMenu="auto" menuItemTemplate="menuSeparatorTemplate">
        <div *dxTemplate>
          <div class="toolbar-separator"></div>
        </div>
      </dxi-item>

      <dxi-item location="after" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="attach" text="Attach"></dx-button>
        </div>
      </dxi-item>

      <dxi-item locateInMenu="always" widget="dxButton" showText="inMenu">
        <div *dxTemplate>
          <dx-button icon="help" text="About"></dx-button>
        </div>
      </dxi-item>

      <div *dxTemplate="let data of 'menuSeparatorTemplate'">
        <div class="toolbar-menu-separator"></div>
      </div>

      <div *dxTemplate="let data of 'menuTextAlignTemplate'">
        <dx-button-group keyExpr="alignment" stylingMode="outlined" [items]="textAlignItemsExtended" [selectedItemKeys]="selectedTextAlign"></dx-button-group>
      </div>
    </dx-toolbar>
  </dx-resizable>
</div>
