<h2 class="wrapper__title dx-widget">Появление слева</h2>
<dx-button text="Open side page" (onClick)="toggleDrawer(3)"></dx-button>
<dx-popup meSidePage [(isOpen)]="isOpenSidePage3" [closeOnOverlayClick]="true" titleTemplate="me-title">
  <div *dxTemplate="let data of 'me-title'">
    <dx-toolbar meToolbar>
      <dxi-item location="before">
        <span meIcon icon="public" iconSize="20"></span>
      </dxi-item>
      <dxi-item location="before">
        <span class="me-title-header1">Заголовок</span>
      </dxi-item>
      <dxi-item location="after">
        <dx-button meButton iconOnly="close" stylingMode="text"></dx-button>
      </dxi-item>
    </dx-toolbar>
    <div class="me-text-body2 me-padding-28">Описание</div>
  </div>
  <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      {{ lorem500 }}
    </dx-scroll-view>
  </div>
  <div *dxTemplate="let data of 'confirmButton'">
    <dx-button meButton text="Принять" type="default" (onClick)="toggleDrawer(3)"></dx-button>
  </div>
</dx-popup>
