@use 'sass:color';
@use '../colors' as *;

@mixin small-size {
  --text-font-size: 13px;
  --text-line-height: 16px;

  --icon-width: 20px;
  --icon-arrow-size: 12px;

  --breadcrumb-min-height: 28px;
  --breadcrumb-gap: 6px;

  --menu-item-padding: 4px 10px;
  --menu-item-min-height: 28px;
  --menu-item-gap: 4px;

  --more-button-width: 28px;
  --more-button-offset: 4px;

  --divider-height: 20px;
}

@mixin medium-size {
  --text-font-size: 13px;
  --text-line-height: 16px;

  --icon-width: 20px;
  --icon-arrow-size: 12px;

  --breadcrumb-min-height: 32px;
  --breadcrumb-gap: 4px;
  --dropdown-size: 32px;

  --menu-item-padding: 4px 10px;
  --menu-item-min-height: 28px;
  --menu-item-gap: 4px;

  --more-button-width: 28px;
  --more-button-offset: 4px;

  --divider-height: 20px;
}

@mixin large-size {
  --text-font-size: 14px;
  --text-line-height: 20px;

  --icon-width: 24px;
  --icon-arrow-size: 14px;

  --breadcrumb-min-height: 40px;
  --breadcrumb-gap: 8px;
  --dropdown-size: 40px;

  --menu-item-padding: 4px 12px;
  --menu-item-min-height: 32px;
  --menu-item-gap: 8px;

  --more-button-width: 32px;
  --more-button-offset: 8px;

  --divider-height: 24px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 4px;

  .me-context-menu.dx-menu-base .dx-menu-item {
    min-height: var(--menu-item-min-height);
    border-radius: 3px;

    .menu-item.dx-template-wrapper.dx-item-content.dx-menu-item-content {
      display: flex;
      align-items: center;

      min-width: auto !important;
      gap: var(--menu-item-gap);

      i.dx-icon,
      .dx-icon,
      img,
      svg {
        font-size: var(--icon-width);
        line-height: var(--icon-width);
        width: var(--icon-width);
        height: var(--icon-width);

        &::before {
          display: flex;
        }
      }
    }

    display: flex;
    align-items: center;
  }

  .menu-item {
    .me-button {
      .dx-button-content {
        min-height: var(--breadcrumb-min-height);
        gap: 2px;
      }
    }

    .me-dropdownbutton {
      height: var(--dropdown-size);
      width: var(--dropdown-size);

      .dx-button {
        align-items: center;
      }
    }

    .me-dropdownbutton.dx-dropdownbutton
      .dx-buttongroup
      .dx-buttongroup-wrapper
      .dx-button.dx-button-has-icon.dx-item-content.dx-buttongroup-item-content
      .dx-button-content
      .dx-icon {
      font-size: var(--icon-arrow-size);
    }
  }

  .menu-item .me-dropdownbutton .dx-button {
    .dx-icon {
      transition: transform 0.2s;
    }

    &.dx-state-active {
      .dx-icon {
        transform: rotate(90deg);
      }
    }
  }

  .dx-menu-base .menu-item {
    padding: 0;
  }

  .dx-button-has-icon .dx-icon {
    font-size: var(--icon-width);
  }

  .dx-icon-spindown {
    font-size: var(--icon-width);
    line-height: var(--icon-width);
    height: var(--icon-width);
  }

  .dx-button-content {
    width: var(--more-button-width);
    height: var(--more-button-width);
    align-items: center;
  }

  .breadcrumbs__right-btn {
    margin-left: var(--more-button-offset);
  }

  .breadcrumbs__left-btn {
    margin-right: var(--more-button-offset);
  }

  &-small {
    @include small-size;
  }

  &-medium {
    @include medium-size;
  }

  &-large {
    @include large-size;

    .me-button {
      .dx-button-content {
        gap: 4px;
      }
    }
  }
}

.breadcrumb-menu {
  display: inline-block;

  &.dx-menu-base,
  .dx-menu-horizontal {
    display: inline-flex;
    height: fit-content;
  }

  &.dx-menu-base {
    line-height: var(--text-line-height);
  }

  .dx-menu-item-wrapper {
    display: flex;
  }

  .dx-menu-item-content {
    display: flex;
    align-items: center;
  }

  .dx-menu-item.dx-menu-item-expanded,
  .dx-context-menu-container-border {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
  }

  .dx-menu-item.dx-menu-item-expanded {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
  }
}

.context-menu-item,
.menu-item {
  display: flex;
  align-items: center;
  padding: 5px 10px;

  .dx-icon-spindown {
    font-size: var(--icon-width);
    line-height: var(--icon-width);
    height: var(--icon-width);
  }

  span {
    font-size: 13px;
  }

  .dx-menu-base .dx-menu-item-content {
    padding: 0;
  }

  &-small {
    @include small-size;
  }

  &-medium {
    @include medium-size;
  }

  &-large {
    @include large-size;
  }
}

.dx-overlay-content {
  &:has(.me-custom-submenu) {
    .dx-context-menu-content-delimiter {
      z-index: -1;

      &::before {
        background-color: transparent;
      }
    }
  }
}

.dx-context-menu .me-custom-submenu {
  margin-top: 4px;

  &.dx-submenu {
    max-height: calc(100% - 2px);
    border: none;
    box-shadow: inset 0 0 0 1px $base-border-color, 0px 5px 8px 0px #00000033;
  }

  .dx-item.dx-menu-item:has(.menu-item) {
    &:not(.dx-state-disabled).dx-state-focused {
      box-shadow: inset 0px 0px 0px 2px var(--Dividers-Borders-Focus);
    }
  }

  .menu-item.dx-template-wrapper.dx-item-content.dx-menu-item-content {
    padding: var(--menu-item-padding);
    min-width: auto;
    gap: var(--menu-item-gap);
    display: flex;
    align-items: center;

    .dx-menu-item-text {
      width: 100%;
      font-size: var(--text-font-size);
      line-height: var(--text-line-height);
      padding: 0 !important;
    }

    .dx-icon-spindown {
      &::before {
        font-family: var(--me-icon-family);
        content: 'chevron_right';
      }
    }
  }

  .dx-menu-items-container {
    padding: 1px;
  }
}

.breadcrumbs-overflow-menu {
  .dx-menu-item .context-menu-item,
  .dx-menu-item .menu-item {
    min-height: var(--menu-item-min-height);
    padding: var(--menu-item-padding);
    display: flex;
    gap: var(--menu-item-gap);
    align-items: center;

    span {
      font-size: var(--text-font-size);
      line-height: var(--text-line-height);
    }
  }

  .dx-menu-item {
    &:not(.dx-state-disabled).dx-state-focused {
      box-shadow: inset 0px 0px 0px 2px var(--Dividers-Borders-Focus);
    }

    &.dx-state-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);

      &:has(.me-state-active) {
        background: var(--Controls-BG-Secondary-Elements-BG-Selected);
      }
    }
  }
}

.me-breadcrumbs {
  position: relative;
  width: inherit;
  flex-grow: 1;
  max-width: 100%;
}

.me-breadcrumbs.me-keyboard-focused {
  .breadcrumb-menu.dx-state-focused {
    .dx-menu-item {
      outline: 2px solid var(--Dividers-Borders-Focus);
    }
  }
}

.dx-context-menu .dx-submenu.me-custom-submenu {
  background-color: var(--Background-Content);

  .dx-menu-item-wrapper,
  .dx-menu-items-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

.breadcrumbs-context-menu {
  position: absolute;
}

.hidden-breadcrumb {
  display: none !important;
}

.breadcrumb {
  --breadcrumb-divider-gap: 4px;

  display: flex;
  align-items: center;
  gap: var(--breadcrumb-divider-gap);

  &-with-divider {
    &:not(:first-of-type):not(.hidden-breadcrumb)::before {
      content: '';
      width: 1px;
      height: var(--divider-height);
      background: var(--Dividers-Borders-Short);
    }
  }
}

.breadcrumbs {
  --only-icon-padding-breadcrumb: 4px;
  --only-icon-size: 20px;

  .menu-item {
    padding: 0;

    &.hide-chevron {
      .me-dropdownbutton {
        display: none;
      }
    }

    .me-button.dx-button {
      .dx-button-content {
        width: fit-content;

        .dx-button-text {
          font-weight: var(--me-regular-font-weight);
        }

        &:not(:has(.dx-button-text)) {
          padding: var(--only-icon-padding-breadcrumb);
          gap: 0;

          .dx-icon {
            width: var(--only-icon-size);
            height: var(--only-icon-size);
            line-height: normal;
          }
        }
      }
    }

    &:last-child {
      .me-dropdownbutton.dx-state-disabled {
        display: none;
      }
    }
  }

  &-medium {
    --only-icon-padding-breadcrumb: 6px;
  }

  &-large {
    --only-icon-padding-breadcrumb: 8px;
    --only-icon-size: 24px;
  }
}

.me-breadcrumbs-overflow-menu-popup {
  --me-breadcrumbs-overflow-menu-popup-padding: 2px 8px;
  --me-breadcrumbs-overflow-popup-items-line-height: 16px;
  --me-breadcrumbs-overflow-popup-items-font-size: 13px;
  --icon-arrow-size: 12px;
  --icon-size: 20px;

  .dx-scrollable-wrapper .dx-scrollable-container .dx-scrollable-content .dx-menu-items-container {
    .dx-menu-item-wrapper {
      .dx-menu-item {
        padding: var(--me-breadcrumbs-overflow-menu-popup-padding);

        span {
          font-size: var(--me-breadcrumbs-overflow-popup-items-font-size);
        }

        &-content.dx-item-content.dx-template-wrapper {
          .dx-icon {
            width: var(--icon-size);
            height: var(--icon-size);

            &::before {
              font-size: var(--icon-size);
            }
          }

          .dx-icon-spindown {
            margin-left: auto;
          }
        }
      }
    }
  }

  .me-context-menu-submenu {
    padding: 4px 0;

    .dx-scrollable-wrapper
      .dx-scrollable-container
      .dx-scrollable-content
      .dx-menu-item
      .context-menu-item
      .dx-icon-spindown {
      font-size: var(--icon-arrow-size);
      line-height: var(--icon-arrow-size);
      height: var(--icon-arrow-size);

      &::before {
        content: '\f010';
        font-size: var(--icon-arrow-size);
      }
    }
  }

  &-medium {
    --me-breadcrumbs-overflow-menu-popup-padding: 4px 8px;
    --me-breadcrumbs-overflow-popup-items-line-height: 20px;
    --me-breadcrumbs-overflow-popup-items-font-size: 14px;
    --icon-arrow-size: 12px;
  }

  &-large {
    --me-breadcrumbs-overflow-menu-popup-padding: 8px 12px;
    --me-breadcrumbs-overflow-popup-items-line-height: 20px;
    --me-breadcrumbs-overflow-popup-items-font-size: 16px;
    --icon-arrow-size: 14px;
    --icon-size: 24px;
  }
}

.me-breadcrumbs-popup {
  --me-breadcrumbs-popup-items-height: 28px;
  --me-breadcrumbs-popup-items-padding: 0 8px;
  --me-breadcrumbs-popup-items-line-height: 16px;
  --me-breadcrumbs-popup-items-font-size: 13px;
  .dx-popup-normal {
    min-width: 120px;
    max-width: 360px;
    width: fit-content !important;

    .dx-popup-content
      .dx-scrollable-wrapper
      .dx-scrollable-container
      .dx-scrollable-content
      .dx-scrollview-content
      .dx-list-items
      .dx-list-item {
      width: max-content;
      min-width: 100%;

      .dx-list-item-content {
        min-height: var(--me-breadcrumbs-popup-items-height);
        padding: var(--me-breadcrumbs-popup-items-padding);
        line-height: var(--me-breadcrumbs-popup-items-line-height);
        font-size: var(--me-breadcrumbs-popup-items-font-size);

        &::before {
          display: none;
        }

        .dx-list-item-icon-container {
          width: auto;
        }
      }
    }
  }

  &-medium {
    --me-breadcrumbs-popup-items-height: 32px;
    --me-breadcrumbs-popup-items-padding: 0 8px;
    --me-breadcrumbs-popup-items-line-height: 20px;
    --me-breadcrumbs-popup-items-font-size: 14px;
  }

  &-large {
    --me-breadcrumbs-popup-items-height: 40px;
    --me-breadcrumbs-popup-items-padding: 0 12px;
    --me-breadcrumbs-popup-items-line-height: 20px;
    --me-breadcrumbs-popup-items-font-size: 16px;
  }
}
