@use 'sass:color';
@use '../colors' as *;

@mixin small-size {
  --text-font-size: 13px;
  --text-line-height: 16px;

  --icon-width: 20px;

  --breadcrumb-min-height: 28px;

  --menu-item-padding: 4px 12px;
  --menu-item-min-height: 28px;
  --menu-item-gap: 4px;

  --more-button-width: 28px;
  --more-button-offset: 4px;
}

@mixin large-size {
  --text-font-size: 14px;
  --text-line-height: 20px;

  --icon-width: 24px;

  --breadcrumb-min-height: 32px;

  --menu-item-padding: 4px 12px;
  --menu-item-min-height: 32px;
  --menu-item-gap: 8px;

  --more-button-width: 32px;
  --more-button-offset: 8px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 4px;

  .dx-menu-item-content {
    padding: 0;
    display: flex;
    align-items: center;

    gap: var(--menu-item-gap);

    i {
      font-size: var(--icon-width);
    }
  }

  .dx-menu-base .dx-menu-item {
    min-height: var(--menu-item-min-height);
    padding: var(--menu-item-padding);
    display: flex;
    align-items: center;
  }

  .dx-menu-base .menu-item {
    padding: 0;
  }

  .dx-menu-item-text {
    font-size: var(--text-font-size);
    line-height: var(--text-line-height);
    padding: 0 !important;
  }

  .dx-button-has-icon .dx-icon {
    font-size: var(--icon-width) !important;
  }

  .dx-icon-spindown {
    font-size: var(--icon-width);
    line-height: var(--icon-width);
    height: var(--icon-width);
  }

  .dx-button-content {
    width: var(--more-button-width);
    height: var(--more-button-width);
    align-items: center;
  }

  .breadcrumbs__right-btn {
    margin-left: var(--more-button-offset);
  }

  .breadcrumbs__left-btn {
    margin-right: var(--more-button-offset);
  }

  &-small {
    @include small-size;
  }

  &-large {
    @include large-size;
  }
}

.breadcrumb-menu {
  display: inline-block;

  &.dx-menu-base,
  .dx-menu-horizontal {
    display: inline-flex;
    height: fit-content;
  }

  &.dx-menu-base {
    line-height: var(--text-line-height);

    .dx-menu-item {
      border-radius: 3px;

      &.dx-state-hover {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Hover)
      }

      &.dx-state-active {
        background: var(--Controls-BG-Secondary-Elements-BG-Selected);
      }

      &.dx-state-disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }

  .dx-menu-item-wrapper {
    display: flex;
  }

  .dx-menu-item-content {
    display: flex;
    align-items: center;
  }

  .dx-menu-item.dx-menu-item-expanded,
  .dx-context-menu-container-border {
    background-color: transparent;
    border: none !important;
    box-shadow: none !important;
  }

  .dx-menu-item.dx-menu-item-expanded {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
  }

  .dx-icon-spindown {
    transform: rotate(180deg);

    &::before {
      font-family: var(--me-icon-family);
      content: 'keyboard_arrow_up';
    }
  }
}

.divider {
  position: relative;
  width: 20px;
  height: 20px;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    border-right: 1px solid var(--Dividers-Borders-Short);
  }
}

.context-menu-item,
.menu-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;

  i {
    font-size: 20px !important;
  }

  span {
    font-size: 13px;
  }

  .dx-menu-base .dx-menu-item-content {
    padding: 0;
  }

  &-small {
    @include small-size;
  }

  &-large {
    @include large-size;
  }
}

.dx-overlay-content {
  &:has(.me-custom-submenu) {
    .dx-context-menu-content-delimiter {
      z-index: -1;

      &::before {
        background-color: transparent;
      }
    }
  }
}


.me-custom-submenu {
  margin-top: 4px;

  .menu-item.dx-menu-item-content {
    min-height: var(--menu-item-min-height);
    padding: var(--menu-item-padding);
    gap: var(--menu-item-gap);
    display: flex;
    align-items: center;

    .dx-menu-item-text {
      width: 100%;
      font-size: var(--text-font-size);
      line-height: var(--text-line-height);
      padding: 0 !important;
    }

    .dx-icon-spindown {
      &::before {
        font-family: var(--me-icon-family);
        content: "chevron_right";
      }
    }
  }

  ul.dx-menu-items-container {
    padding-inline: 0;
    padding: 0;
  }
}

.breadcrumbs-overflow-menu {

  .dx-menu-item .context-menu-item,
  .dx-menu-item .menu-item {
    min-height: var(--menu-item-min-height);
    padding: var(--menu-item-padding);
    display: flex;
    gap: var(--menu-item-gap);
    align-items: center;

    span {
      font-size: var(--text-font-size);
      line-height: var(--text-line-height);
    }
  }

  .dx-menu-items-container {
    padding: 0;
  }

  .dx-menu-item {
    &.dx-state-hover {
      background-color: transparent;
    }

    &.dx-menu-item.dx-state-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
    }
  }
}

.me-breadcrumbs {
  flex-grow: 1;
  width: 100%;
}

.me-breadcrumbs.me-keyboard-focused {
  .breadcrumb-menu.dx-state-focused {
    .dx-menu-item {
      outline: 2px solid var(--Dividers-Borders-Focus);
    }
  }
}

.dx-context-menu .dx-submenu.me-custom-submenu {
  background-color: transparent;

  .dx-scrollable-content {
    background-color: var(--Background-Content);
  }

  .dx-menu-item-wrapper,
  .dx-menu-items-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}