<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Loading Indicator (RedCollar</h1>

  <div class="form">
    <div class="label me-title-header2">Custom size</div>
    <div class="indicators">
      <dx-load-indicator
        id="small-indicator"
        meLoadIndicator
        [size]="'small'"
        color="normal"
      ></dx-load-indicator>
      <dx-load-indicator
        id="medium-indicator"
        meLoadIndicator
        [size]="'medium'"
      ></dx-load-indicator>
      <dx-load-indicator
        id="large-indicator"
        meLoadIndicator
        [size]="'large'"
        color="accent"
      ></dx-load-indicator>
    </div>
    <div class="label me-title-header2">Custom image</div>
    <dx-load-indicator
      id="image-indicator"
      meLoadIndicator
      size="large"
      [indicatorSrc]="'../../../assets/images/Spider web.gif'"
    ></dx-load-indicator>
  </div>
</div>
