.wrapper {
  align-items: center;
}

.testClass {
  font-size: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  font-size: 18px;
  margin-bottom: 10px;
}

.indicators {
  display: flex;
  gap: 10px;
}

.me-load-indicator-small {
  height: 20px !important;
  width: 20px !important;
}

.me-load-indicator-medium {
  height: 40px !important;
  width: 40px !important;
}

.me-load-indicator-large {
  height: 60px !important;
  width: 60px !important;
}
