.wrapper {
	align-items: center;
}

.testClass {
	font-size: 40px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.label {
	font-size: 18px;
	margin-bottom: 10px;
	align-self: center;
}

.indicators {
	height: 80px;
	width: 200px;
	background-color: var(--button-normal-bg-color);
	display: flex;
	border: 1px solid #9747FF;
	border-radius: 4px;
	align-items: center;
	justify-content: space-around;
}