@use 'sass:color';
@use 'sizes' as *;
@use 'colors' as *;
@use '../../base/form';

// Стили для формы
.me-form {
  --label-font-size: 12px;
  --label-line-height: 16px;

  font-family: var(--font-family, Arial, sans-serif);

  .dx-field-item-label-content {
    font-size: var(--label-font-size);
    line-height: var(--label-line-height);
    position: relative;
    display: flex;
  }

  .dx-flex-layout.dx-label-v-align {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &.me-form-small {
    .me-date-box-small {
      height: var(--input-height);
    }

    &.me-form-label-mode-floating {
      --input-height: 36px;
    }

    .dx-field-item-label-location-top {
      --label-font-size: 12px;
      --label-line-height: 16px;
    }

    &.me-form-label-mode-outside {
      --input-height: 28px;
    }

    &.me-form-label-mode-static {
      --input-height: 36px;
    }

    &.me-form-label-mode-hidden {
      --input-height: 28px;
    }

    &.me-form-label-position-left {
      .dx-field-item-label-content {
        .dx-field-item-required-mark {
          position: unset;
        }
      }
    }
  }

  &.me-form-medium {
    .me-date-box-medium {
      height: var(--input-height);
    }

    &.me-form-label-mode-floating {
      --input-height: 40px;
    }

    .dx-field-item-label-location-top {
      --label-font-size: 12px;
      --label-line-height: 16px;
    }

    &.me-form-label-mode-outside {
      --input-height: 32px;
    }

    &.me-form-label-mode-static {
      --input-height: 40px;
    }

    &.me-form-label-mode-hidden {
      --input-height: 32px;
    }

    &.me-form-label-position-left {
      .dx-field-item-label-content {
        .dx-field-item-required-mark {
          position: unset;
        }
      }
    }
  }

  &.me-form-large {
    .me-date-box-large {
      height: var(--input-height);
    }

    .me-form-label-mode-floating {
      --input-height: 48px;
    }

    .dx-field-item-label-location-top {
      --label-font-size: 14px;
      --label-line-height: 20px;
    }

    &.me-form-label-mode-outside {
      --input-height: 40px;

      .dx-field-item-label-content {

        .dx-field-item-required-mark {
          right: -10px;
        }
      }
    }

    &.me-form-label-mode-static {
      --input-height: 48px;
    }

    &.me-form-label-mode-hidden {
      --input-height: 40px;
    }

    &.me-form-label-position-top {}

    &.me-form-label-position-left {
      .dx-field-item-label-content {
        .dx-field-item-required-mark {
          position: unset;
        }
      }
    }
  }

  .dx-texteditor-with-floating-label.me-inputs.dx-texteditor:not(.dx-texteditor-empty) .dx-texteditor-label .dx-label span {
    transform: translate(0, 9px) !important;
  }

  .me-selectbox-small.me-inputs.dx-texteditor.dx-widget,
  .me-date-box-small.me-inputs.dx-texteditor.dx-widget,
  .me-textbox-small.dx-texteditor-with-label.me-inputs.dx-texteditor.dx-widget {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          transform: translate(0, 9px) !important;
        }
      }
    }
  }

  .me-selectbox-medium.me-inputs.dx-texteditor.dx-widget,
  .me-date-box-medium.me-inputs.dx-texteditor.dx-widget,
  .me-textbox-medium.dx-texteditor-with-label.me-inputs.dx-texteditor.dx-widget {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          transform: translate(0, 9px) !important;
        }
      }
    }
  }

  .me-selectbox-large.me-inputs.dx-texteditor.dx-widget,
  .me-date-box-large.me-inputs.dx-texteditor.dx-widget,
  .me-textbox-large.dx-texteditor-with-label.me-inputs.dx-texteditor.dx-widget {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          transform: translate(0, 9px) !important;
        }
      }
    }
  }

  .me-textbox-large.dx-texteditor-with-floating-label.dx-texteditor.dx-texteditor-empty,
  .me-textbox-medium.dx-texteditor-with-floating-label.dx-texteditor.dx-texteditor-empty,
  .me-textbox-small.dx-texteditor-with-floating-label.dx-texteditor.dx-texteditor-empty {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 3px;
          position: relative;
          left: 2px;
        }
      }
    }
  }

  .me-textbox-medium.dx-texteditor-with-floating-label.dx-texteditor.dx-texteditor-empty.dx-state-focused,
  .me-textbox-small.dx-texteditor-with-floating-label.dx-texteditor.dx-texteditor-empty.dx-state-focused {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          font-size: 12px !important;
          transform: translate(0, 9px) !important;
        }
      }
    }
  }

  .me-textbox-large.dx-texteditor-with-floating-label.dx-texteditor.dx-texteditor-empty.dx-state-focused {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          font-size: 13px !important;
          transform: translate(0, 9px) !important;
        }
      }
    }
  }

  .me-textbox-small.dx-texteditor-with-floating-label.dx-texteditor:not(.dx-texteditor-empty) {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          font-size: 12px !important;
          transform: translate(0, -5px);
        }
      }
    }
  }

  .me-textbox-medium.dx-texteditor-with-floating-label.dx-texteditor:not(.dx-texteditor-empty) {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          font-size: 12px !important;
          transform: translate(0, -5px);
        }
      }
    }
  }

  .me-textbox-large.dx-texteditor-with-floating-label.dx-texteditor:not(.dx-texteditor-empty) {
    .dx-texteditor-label {
      .dx-label {
        &:after {
          top: 8px;
          position: relative;
          left: 2px;
        }

        span {
          font-size: 13px !important;
          transform: translate(0, -5px);
        }
      }
    }
  }

  .me-textbox-small.dx-texteditor-with-label {
    .dx-texteditor-label {
      .dx-label {
        span {
          transform: translate(0, -5px);
        }
      }
    }
  }

  .me-textbox-medium.dx-texteditor-with-label {
    .dx-texteditor-label {
      .dx-label:after {
        top: -5px;
      }
    }
  }

  .me-textbox-large.dx-texteditor-with-label {
    .dx-texteditor-label {
      left: 12px;

      .dx-label:after {
        top: -8px;
      }
    }
  }

  .dx-layout-manager .dx-label-h-align.dx-flex-layout:not(.dx-field-item-label-align) {
    align-items: center;
  }

  .dx-texteditor-with-floating-label {
    .dx-texteditor-label {
      left: 9px;
    }

    &.me-inputs-large {
      .dx-texteditor-label {
        left: 12px;

        .dx-label::after {}
      }
    }
  }

  .dx-field-item-required {
    .dx-texteditor-with-label {
      .dx-label::after {
        padding: 0 2px;
        position: relative;
        top: -3px;
      }
    }

    .dx-texteditor-with-floating-label {
      .dx-label::after {
        align-content: start;
      }

      &.dx-texteditor-empty:not(.dx-state-focused) {
        .dx-label::after {
          align-content: center;
          line-height: 0;
        }
      }
    }
  }

  // Стили для полей ввода
  .dx-textbox,
  .dx-selectbox {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: var(--selectbox-font-size);
    height: var(--selectbox-height);
    position: relative;

    &:focus-visible {
      outline: 2px solid #7eb9ff;
      outline-offset: 2px;
    }

    &.dx-state-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
    }

    &.dx-state-focused:not(.dx-invalid) {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
      border-color: var(--Controls-Content-In-Controls-Accent-Default);
    }

    &.dx-invalid {
      .dx-label span {
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }

      .dx-texteditor-input {
        border-color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }

    &.dx-state-disabled {
      .dx-texteditor-input {
        color: var(--Controls-Content-In-Controls-Main-Disabled);
      }

      .dx-field-item-label-content {
        color: #000;
      }
    }

    .dx-texteditor-input {
      font-size: var(--selectbox-font-size);
      padding: var(--selectbox-padding);
      height: var(--selectbox-height);
      width: 100%;

      &::placeholder {
        color: transparent;
      }
    }

    // Стили для кнопок внутри SelectBox
    .dx-dropdowneditor-button {
      position: absolute;
      right: 9px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;

      .dx-icon {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .dx-label {
      span {
        font-size: var(--field-item-label-font-size);
        font-weight: var(--me-regular-font-weight);
        line-height: 16px;
        text-align: left;
      }
    }
  }

  // Стили для меток внутри полей
  .dx-texteditor-label {
    font-size: var(--field-item-label-font-size);
    transition: none;
  }

  // Стили для меток при фокусе и ховере
  .dx-editor-outlined {
    &.dx-label {
      font-size: var(--field-item-label-font-size);
      top: var(--label-top-position);
    }

    &.dx-texteditor-with-label {
      .dx-texteditor-label .dx-label {
        font-size: var(--field-item-label-font-size);
        padding: 0 4px;
        transition: none;
      }

      &.dx-state-focused .dx-label {
        font-size: var(--field-item-label-font-size);
        top: var(--label-top-position);
        /* Начальная позиция */
        left: var(--label-left-position);
      }

      &.dx-state-focused .dx-label {
        font-size: var(--field-item-label-font-size);
        top: var(--label-top-position);
        /* Начальная позиция */
        left: var(--label-left-position);
      }
    }
  }

  .me-inputs-large {
    &.dx-texteditor-with-label {
      .dx-texteditor-label {
        left: 12px;
      }
    }
  }

  .dx-texteditor-with-label {
    .dx-texteditor-label {
      top: -2px;
      left: 9px;
    }
  }

  .dx-dropdowneditor-input-wrapper {
    display: inline-block !important;
    width: 100%;
  }

  // Отступы между элементами формы
  .dx-field-item {
    margin-bottom: 16px;
  }

  // Валидационные сообщения
  .dx-validation-message {
    color: var(--error-color, red);
    font-size: 12px;
  }

  // Валидация обязательных полей
  .dx-field-item-required {
    .dx-label {
      &::after {
        content: '*';
      }
    }
  }

  .me-inputs.dx-texteditor.dx-widget.dx-texteditor-with-floating-label:not(.dx-texteditor-empty,
    .dx-state-focused,
    .dx-state-disabled,
    .dx-invalid) .dx-label span {
    color: var(--label-color, #757575) !important;
    /* Цвет лейбла */
  }

  .dx-editor-outlined {
    .dx-label {
      position: absolute;
      top: var(--label-top-position);
      /* Начальная позиция */
      left: var(--label-left-position);
      transition: all 0.3s ease;
      /* Плавный переход */
      font-size: var(--field-item-label-font-size);
      color: var(--label-color, #757575) !important;
      /* Цвет лейбла */
      border-color: transparent !important;
    }

    .dx-editor-outlined .dx-texteditor-input:not(:placeholder-shown)~.dx-label {
      margin-top: 0 !important;
    }

    .dx-texteditor-input {
      padding-bottom: calc(var(--selectbox-padding) + 10px) !important;
      /* Дополнительное пространство для лейбла */
      box-sizing: border-box;
    }

    .me-form .dx-textbox .dx-texteditor-input,
    .me-form .dx-selectbox .dx-texteditor-input {
      font-size: var(--selectbox-font-size);
      padding-left: 12px;
      /* Оставляем стандартный padding слева */
      padding-right: 12px;
      padding-bottom: 10px;
      /* Фиксируем нижний padding */
      height: var(--selectbox-height);
      /* Высота поля */
      width: 100%;
    }

    .me-form-small .dx-textbox .dx-texteditor-input,
    .me-form-small .dx-selectbox .dx-texteditor-input {
      padding-top: 18px;
      /* Верхний padding для маленькой формы */
    }

    .me-form-medium .dx-textbox .dx-texteditor-input,
    .me-form-medium .dx-selectbox .dx-texteditor-input {
      padding-top: 20px;
      /* Верхний padding для средней формы */
    }

    .me-form-large .dx-textbox .dx-texteditor-input,
    .me-form-large .dx-selectbox .dx-texteditor-input {
      padding-top: 22px;
      /* Верхний padding для большой формы */
    }
  }
}