@use 'sass:color';
@use 'sizes' as *;
@use 'colors' as *;
@use '../../base/form';

// Стили для формы
.me-form {
  font-family: var(--font-family, Arial, sans-serif);

  // Маленькая форма
  &.me-form-small {
    --label-top-position: 9px;
    --label-left-position: 11px;
    --selectbox-font-size: 13px;
    --selectbox-padding: 12px 14px;
    --selectbox-height: 36px;
    --field-item-label-font-size: 12px;
  }

  // Средняя форма
  &.me-form-medium {
    --label-top-position: 10px;
    --label-left-position: 12px;
    --selectbox-font-size: 14px;
    --selectbox-padding: 14px 16px;
    --selectbox-height: 40px;
    --field-item-label-font-size: 13px;
  }

  // Большая форма
  &.me-form-large {
    --label-top-position: 12px;
    --label-left-position: 14px;
    --selectbox-font-size: 16px;
    --selectbox-padding: 16px 18px;
    --selectbox-height: 48px;
    --field-item-label-font-size: 14px;
  }

  // Стили для полей ввода
  .dx-textbox,
  .dx-selectbox {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    //padding: var(--selectbox-padding);
    font-size: var(--selectbox-font-size);
    height: var(--selectbox-height);
    position: relative;

    &:focus-visible {
      outline: 2px solid #7eb9ff;
      outline-offset: 2px;
    }

    &.dx-state-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
    }

    &.dx-state-focused:not(.dx-invalid) {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
      border-color: var(--Controls-Content-In-Controls-Accent-Default);
    }

    &.dx-invalid {
      .dx-label span {
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }

      .dx-texteditor-input {
        border-color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }

    &.dx-state-disabled {
      .dx-texteditor-input {
        color: var(--Controls-Content-In-Controls-Main-Disabled);
      }
    }

    .dx-texteditor-input {
      font-size: var(--selectbox-font-size);
      padding: var(--selectbox-padding);
      height: var(--selectbox-height);
      width: 100%;

      &::placeholder {
        color: transparent;
      }
    }

    // Стили для кнопок внутри SelectBox
    .dx-dropdowneditor-button {
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;

      .dx-icon {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }

    .dx-label {
      span {
        font-size: var(--field-item-label-font-size);
        font-weight: var(--me-regular-font-weight);
        line-height: 16px;
        text-align: left;
      }
    }
  }

  // Стили для меток внутри полей
  .dx-texteditor-label {
    font-size: var(--field-item-label-font-size);
    //padding: 0 4px;
    transition: none;
  }

  // Стили для меток при фокусе и ховере
  .dx-editor-outlined {
    &.dx-label {
      font-size: var(--field-item-label-font-size);
      top: var(--label-top-position);
    }
    &.dx-texteditor-with-label,
    &.dx-texteditor-with-floating-label {
      .dx-texteditor-label .dx-label {
        font-size: var(--field-item-label-font-size);
        padding: 0 4px;
        transition: none;
      }

      &.dx-state-focused .dx-label {
        font-size: var(--field-item-label-font-size);
        top: var(--label-top-position); /* Начальная позиция */
        left: var(--label-left-position);
      }

      &.dx-state-hover .dx-label {
        font-size: var(--field-item-label-font-size);
        top: var(--label-top-position); /* Начальная позиция */
        left: var(--label-left-position);
      }
    }
  }

  .dx-dropdowneditor-input-wrapper {
    display: inline-block !important;
  }

  // Отступы между элементами формы
  .dx-field-item {
    margin-bottom: 16px;
  }

  // Валидационные сообщения
  .dx-validation-message {
    color: var(--error-color, red);
    font-size: 12px;
  }

  // Валидация обязательных полей
  .dx-field-item-required {
    .dx-label {
      &::after {
        content: '*';
        color: var(--required-color, red);
      }
    }
  }

  .dx-editor-outlined {
    .dx-label {
      position: absolute;
      top: var(--label-top-position); /* Начальная позиция */
      left: var(--label-left-position);
      transition: all 0.3s ease; /* Плавный переход */
      font-size: var(--field-item-label-font-size);
      color: var(--label-color, #757575); /* Цвет лейбла */
      border-color: transparent !important;
    }

    .dx-selectbox.dx-texteditor-with-floating-label .dx-label {
      margin-top: 0 !important;
      height: auto;
    }

    .dx-editor-outlined .dx-texteditor-input:focus ~ .dx-label,
    .dx-editor-outlined .dx-texteditor-input:hover ~ .dx-label,
    .dx-editor-outlined .dx-texteditor-input:not(:placeholder-shown) ~ .dx-label {
      margin-top: 0 !important;
    }

    .dx-texteditor-input {
      padding-bottom: calc(
        var(--selectbox-padding) + 10px
      ) !important; /* Дополнительное пространство для лейбла */
      box-sizing: border-box;
      //font-size: var(--selectbox-font-size);
      //height: var(--selectbox-height);
    }

    .me-form .dx-textbox .dx-texteditor-input,
    .me-form .dx-selectbox .dx-texteditor-input {
      font-size: var(--selectbox-font-size);
      padding-left: 12px; /* Оставляем стандартный padding слева */
      padding-right: 12px;
      padding-bottom: 10px; /* Фиксируем нижний padding */
      height: var(--selectbox-height); /* Высота поля */
      width: 100%;
    }

    .me-form-small .dx-textbox .dx-texteditor-input,
    .me-form-small .dx-selectbox .dx-texteditor-input {
      padding-top: 18px; /* Верхний padding для маленькой формы */
    }

    .me-form-medium .dx-textbox .dx-texteditor-input,
    .me-form-medium .dx-selectbox .dx-texteditor-input {
      padding-top: 20px; /* Верхний padding для средней формы */
    }

    .me-form-large .dx-textbox .dx-texteditor-input,
    .me-form-large .dx-selectbox .dx-texteditor-input {
      padding-top: 22px; /* Верхний padding для большой формы */
    }
  }
}
