<div class="wrapper">
  <h1 class="dx-widget wrapper__main-title">Switch</h1>
  <h2 class="dx-widget wrapper__title">size = small</h2>
  <h3 class="dx-widget wrapper__subtitle">default</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="small"></dx-switch>
    <dx-switch meSwitch [value]="false" size="small"></dx-switch>
  </div>
  <h3 class="dx-widget wrapper__subtitle">disabled</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="small" [disabled]="true"></dx-switch>
    <dx-switch meSwitch [value]="false" size="small" [disabled]="true"></dx-switch>
  </div>
  <h3 class="dx-widget wrapper__subtitle">readonly</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="small" [readOnly]="true"></dx-switch>
    <dx-switch meSwitch [value]="false" size="small" [readOnly]="true"></dx-switch>
  </div>
  <h2 class="dx-widget wrapper__title">size = medium</h2>
  <h3 class="dx-widget wrapper__subtitle">default</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="medium"></dx-switch>
    <dx-switch meSwitch [value]="false" size="medium"></dx-switch>
  </div>
  <h3 class="dx-widget wrapper__subtitle">disabled</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="medium" [disabled]="true"></dx-switch>
    <dx-switch meSwitch [value]="false" size="medium" [disabled]="true"></dx-switch>
  </div>
  <h3 class="dx-widget wrapper__subtitle">readonly</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="medium" [readOnly]="true"></dx-switch>
    <dx-switch meSwitch [value]="false" size="medium" [readOnly]="true"></dx-switch>
  </div>
  <h2 class="dx-widget wrapper__title">size = large</h2>
  <h3 class="dx-widget wrapper__subtitle">default</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="large"></dx-switch>
    <dx-switch meSwitch [value]="false" size="large"></dx-switch>
  </div>
  <h3 class="dx-widget wrapper__subtitle">disabled</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="large" [disabled]="true"></dx-switch>
    <dx-switch meSwitch [value]="false" size="large" [disabled]="true"></dx-switch>
  </div>
  <h3 class="dx-widget wrapper__subtitle">readonly</h3>
  <div class="flex">
    <dx-switch meSwitch [value]="true" size="large" [readOnly]="true"></dx-switch>
    <dx-switch meSwitch [value]="false" size="large" [readOnly]="true"></dx-switch>
  </div>
</div>
