<div class="wrapper">
  <div class="wrapper__main-title dx-widget">Pivot grid</div>
  <dx-pivot-grid
    id="pivotgrid"
    [allowSortingBySummary]="true"
    [allowFiltering]="true"
    [showBorders]="true"
    [allowSortingBySummary]="true"
    [showColumnGrandTotals]="false"
    [showRowGrandTotals]="false"
    [showRowTotals]="false"
    [showColumnTotals]="false"
    [dataSource]="pivotGridDataSource"
    className="monitel"
  >
    <dxo-field-chooser [enabled]="true" [height]="400"></dxo-field-chooser>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  </dx-pivot-grid>
</div>
