@use 'sass:color';
@use 'colors' as *;

.dx-filterbuilder {
  .dx-filterbuilder-group {
    .dx-filterbuilder-text {
      &.dx-filterbuilder-group-operation {
        color: $filterbuilder-text-color;
        background-color: $filterbuilder-group-operation-color;
      }

      &.dx-filterbuilder-item-field {
        color: $filterbuilder-text-color;
        background-color: lightblue;
      }
    }
  }
}
