<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Popup</h1>
  <h2 class="wrapper__title dx-widget">Empty popup</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(0)"> </dx-button>
    <dx-popup mePopup [showCloseButton]="false" [closeOnOutsideClick]="true">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with close button</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(1)"> </dx-button>
    <dx-popup mePopup>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with title</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(2)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with overflow button</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(3)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text" iconSize="12px"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with confirm/cancel buttons</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(4)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text" iconSize="12px"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(4)"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with add button</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(5)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text" iconSize="12px"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(5)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with content</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(6)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          {{ lorem500 }}
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text" iconSize="12px"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(6)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with custom size</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(7)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок" width="35vw" height="80vh" [resizeEnabled]="true">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          <app-list></app-list>
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text" iconSize="12px"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(7)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with size = large</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(8)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок" size="large">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          {{ lorem500 }}
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton size="large" iconOnly="overflow" stylingMode="text" iconSize="16px"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton size="large" text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton size="large" text="Отмена" (onClick)="hidePopup(8)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton size="large" text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
</div>
