<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">Popup</h1>
  <h2 class="wrapper__title dx-widget">Empty popup</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(0)"> </dx-button>
    <dx-popup mePopup [showCloseButton]="false" [closeOnOutsideClick]="true">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with close button</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(1)"> </dx-button>
    <dx-popup mePopup size="large">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with title</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(2)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with overflow button</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(3)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with confirm/cancel buttons</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(4)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(4)"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with add button</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(5)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%"></dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(5)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with content</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(6)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          {{ lorem500 }}
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(6)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with custom size</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(7)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок" width="35vw" height="80vh" [resizeEnabled]="true">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          {{ lorem500 }}
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton iconOnly="overflow" stylingMode="text"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(7)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with size = large</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(8)"> </dx-button>
    <dx-popup mePopup [showTitle]="true" title="Заголовок" size="large">
      <dxi-toolbar-item template="overflowButton" toolbar="top" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          {{ lorem500 }}
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'overflowButton'">
        <dx-button meButton size="large" iconOnly="overflow" stylingMode="text"></dx-button>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton size="large" text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton size="large" text="Отмена" (onClick)="hidePopup(8)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton size="large" text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with icon</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(9)"> </dx-button>
    <dx-popup mePopup>
      <dxi-toolbar-item template="icon" location="before"> </dxi-toolbar-item>
      <dxi-toolbar-item text="Заголовок" location="before"> </dxi-toolbar-item>
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>

      <div *dxTemplate="let data of 'icon'">
        <span meIcon icon="public"></span>
      </div>

      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(9)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with description (size = medium)</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(10)"> </dx-button>
    <dx-popup mePopup titleTemplate="title">
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'title'">
        <div class="me-popup-header">
          <div meIcon icon="public" size="24"></div>
          <div class="me-sidepage-title">
            <span class="me-title-header1">Заголовок</span>
            <span class="me-text-body2">Описание</span>
          </div>
          <dx-button meButton stylingMode="text" iconOnly="close" (onClick)="hidePopup(10)"></dx-button>
        </div>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton text="Отмена" (onClick)="hidePopup(10)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup with description (size = large)</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(11)"> </dx-button>
    <dx-popup mePopup titleTemplate="title" size="large">
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'title'">
        <div class="me-popup-header">
          <div meIcon icon="public" size="24"></div>
          <div class="me-popup-title">
            <span class="me-title-display2">Заголовок</span>
            <span class="me-text-body1">Описание</span>
          </div>
          <dx-button meButton size="large" stylingMode="text" iconOnly="close" (onClick)="hidePopup(11)"></dx-button>
        </div>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton size="large" text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton size="large" text="Отмена" (onClick)="hidePopup(11)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton size="large" text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup dialogue (medium)</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(12)"> </dx-button>
    <dx-popup mePopup titleTemplate="title" size="medium" [showTitle]="false">
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          <div class="me-flex-column">
            <h3 class="me-title-header1">Заголовок</h3>
            <div class="me-text-body2">Описание</div>
          </div>
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton size="medium" text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton size="medium" text="Отмена" (onClick)="hidePopup(12)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton size="medium" text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
  <h2 class="wrapper__title dx-widget">Popup dialogue (large)</h2>
  <div>
    <dx-button text="Open popup" (onClick)="showPopup(13)"> </dx-button>
    <dx-popup mePopup titleTemplate="title" size="large" [showTitle]="false">
      <dxi-toolbar-item template="confirmButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="cancelButton" toolbar="bottom" location="after"> </dxi-toolbar-item>
      <dxi-toolbar-item template="addButton" toolbar="bottom" location="before"> </dxi-toolbar-item>
      <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
          <div class="me-flex-column">
            <h3 class="me-title-display2">Заголовок</h3>
            <div class="me-text-body1">Описание</div>
          </div>
        </dx-scroll-view>
      </div>
      <div *dxTemplate="let data of 'confirmButton'">
        <dx-button meButton size="large" text="Принять" type="default"></dx-button>
      </div>
      <div *dxTemplate="let data of 'cancelButton'">
        <dx-button meButton size="large" text="Отмена" (onClick)="hidePopup(13)"></dx-button>
      </div>
      <div *dxTemplate="let data of 'addButton'">
        <dx-button meButton size="large" text="Добавить"></dx-button>
      </div>
    </dx-popup>
  </div>
</div>
