/* You can add global styles to this file, and also import other style files */
.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
