/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
p {
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapper {
  padding: 0 60px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;

  &__main-title {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
  }

  &__subtitle {
    font-size: 18px;
    margin-top: 15px;
  }
}
.flex-row {
  display: flex;
  justify-content: center;
  gap: 40px;
}
html {
  width: 100vw;
  overflow-x: hidden;
}
