/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.flex-column,
.wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.flex-row {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.wrapper {
  min-height: 100svh;
  justify-content: center;
  margin-bottom: 0;
}
