<div class="wrapper">
  <h1 class="dx-widget wrapper__title">Editors</h1>
  <p class="dx-widget">Text Box Outlined</p>
  <div class="flex">
    <dx-text-box width="200px" mode="text" label="Text box" placeholder="Outlined" labelMode="static"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" placeholder="Outlined" width="200px" labelMode="static" label="Select box"></dx-select-box>
    <dx-color-box value="#f05b41" width="200px" labelMode="static" label="Color box"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" width="200px" labelMode="static" label="Number box"></dx-number-box>
    <dx-tag-box
      placeholder="Outlined"
      width="200px"
      valueExpr="ID"
      [dataSource]="tagBoxData"
      valueExpr="ID"
      displayExpr="Name"
      labelMode="static"
      label="Tag box"
    ></dx-tag-box>
    <dx-lookup width="200px" labelMode="static" label="Lookup"></dx-lookup>
  </div>
  <p class="dx-widget">Text Box Filled</p>
  <div class="flex">
    <dx-text-box placeholder="Filled" width="200px" stylingMode="filled" labelMode="static" label="Text box"></dx-text-box>
    <dx-select-box
      [items]="['Outlined', 'Filled', 'Underlined']"
      placeholder="Filled"
      width="200px"
      stylingMode="filled"
      labelMode="static"
      label="Select box"
    ></dx-select-box>
    <dx-color-box value="#f05b41" width="200px" stylingMode="filled" labelMode="static" label="Color box"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box
      [value]="20.5"
      [showSpinButtons]="true"
      [showClearButton]="true"
      width="200px"
      stylingMode="filled"
      labelMode="static"
      label="Number box"
    ></dx-number-box>
    <dx-tag-box
      placeholder="Filled"
      width="200px"
      valueExpr="ID"
      stylingMode="filled"
      [dataSource]="tagBoxData"
      valueExpr="ID"
      displayExpr="Name"
      labelMode="static"
      label="Tag box"
    ></dx-tag-box>
    <dx-lookup width="200px" stylingMode="filled" labelMode="static" label="Lookup"></dx-lookup>
  </div>
  <p class="dx-widget">Text Box Underlined</p>
  <div class="flex">
    <dx-text-box placeholder="Underlined" width="200px" stylingMode="underlined" labelMode="static" label="Text box"></dx-text-box>
    <dx-select-box
      [items]="['Outlined', 'Filled', 'Underlined']"
      placeholder="Underlined"
      width="200px"
      stylingMode="underlined"
      labelMode="static"
      label="Select box"
    ></dx-select-box>
    <dx-color-box value="#f05b41" width="200px" stylingMode="underlined" labelMode="static" label="Color box"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box
      [value]="20.5"
      [showSpinButtons]="true"
      [showClearButton]="true"
      width="200px"
      stylingMode="underlined"
      labelMode="static"
      label="Number box"
    ></dx-number-box>
    <dx-tag-box
      placeholder="Underlined"
      width="200px"
      valueExpr="ID"
      stylingMode="underlined"
      [dataSource]="tagBoxData"
      valueExpr="ID"
      displayExpr="Name"
      labelMode="static"
      label="Tag box"
    ></dx-tag-box>
    <dx-lookup width="200px" stylingMode="underlined" labelMode="static" label="Lookup"></dx-lookup>
  </div>
  <p class="dx-widget">Text Editors</p>
  <div class="flex">
    <dx-text-box validationStatus="invalid" labelMode="static" label="Text box"></dx-text-box>
    <dx-date-box></dx-date-box>
  </div>
  <p class="dx-widget">Checkbox</p>
  <div class="flex">
    <dx-check-box></dx-check-box>
    <dx-check-box [value]="true"></dx-check-box>
    <dx-check-box [value]="undefined"></dx-check-box>
    <dx-check-box [disabled]="true"></dx-check-box>
    <dx-switch></dx-switch>
    <dx-switch [disabled]="true"></dx-switch>
  </div>
  <p class="dx-widget">Radio group</p>
  <div class="flex">
    <dx-radio-group layout="horizontal" [items]="radioData" [value]="radioData[0]"></dx-radio-group>
    <dx-radio-group layout="horizontal" [items]="radioData" [value]="radioData[0]" [disabled]="true"></dx-radio-group>
  </div>
  <p class="dx-widget">Calendar</p>
  <div class="flex">
    <dx-calendar></dx-calendar>
  </div>
  <p class="dx-widget">File uploader</p>
  <div class="flex">
    <dx-file-uploader width="250px"></dx-file-uploader>
    <dx-file-uploader selectButtonText="Select File" width="150px"></dx-file-uploader>
  </div>
</div>
