<div class="wrapper">
  <span>Text Box Outlined</span>
  <div class="flex">
    <dx-text-box width="200px" mode="text"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" [inputAttr]="{ 'aria-label': 'Styling Mode' }" label="Select Box" labelMode="static" placeholder="Outlined" width="200px"></dx-select-box>
    <dx-color-box value="#f05b41" label="Color Box" labelMode="static" width="200px"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" label="Number box" labelMode="static" width="200px"></dx-number-box>
    <dx-tag-box label="Products" labelMode="static" placeholder="Outlined" width="200px" valueExpr="ID" [dataSource]="tagBoxData" valueExpr="ID" displayExpr="Name"></dx-tag-box>
    <dx-lookup width="200px"></dx-lookup>
  </div>
  <span>Text Box Filled</span>
  <div class="flex">
    <dx-text-box placeholder="Filled" label="Text Box" labelMode="static" width="200px" stylingMode="filled"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" [inputAttr]="{ 'aria-label': 'Styling Mode' }" label="Select Box" labelMode="static" placeholder="Filled" width="200px" stylingMode="filled"></dx-select-box>
    <dx-color-box value="#f05b41" label="Color Box" labelMode="static" width="200px" stylingMode="filled"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" label="Number box" labelMode="static" width="200px" stylingMode="filled"></dx-number-box>
    <dx-tag-box label="Products" labelMode="static" placeholder="Filled" width="200px" valueExpr="ID" stylingMode="filled" [dataSource]="tagBoxData" valueExpr="ID" displayExpr="Name"></dx-tag-box>
    <dx-lookup width="200px" stylingMode="filled"></dx-lookup>
  </div>
  <span>Text Box Underlined</span>
  <div class="flex">
    <dx-text-box placeholder="Underlined" label="Text Box" labelMode="static" width="200px" stylingMode="underlined"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" [inputAttr]="{ 'aria-label': 'Styling Mode' }" label="Select Box" labelMode="static" placeholder="Underlined" width="200px" stylingMode="underlined"></dx-select-box>
    <dx-color-box value="#f05b41" label="Color Box" labelMode="static" width="200px" stylingMode="underlined"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" label="Number box" labelMode="static" width="200px" stylingMode="underlined"></dx-number-box>
    <dx-tag-box label="Products" labelMode="static" placeholder="Underlined" width="200px" valueExpr="ID" stylingMode="underlined" [dataSource]="tagBoxData" valueExpr="ID" displayExpr="Name"></dx-tag-box>
    <dx-lookup width="200px" stylingMode="underlined"></dx-lookup>
  </div>
  <span>Text Editors</span>
  <div class="flex">
    <dx-text-box label="Validated" validationStatus="invalid"></dx-text-box>
    <dx-date-box></dx-date-box>
  </div>
  <span>Checkbox</span>
  <div class="flex">
    <dx-check-box></dx-check-box>
    <dx-check-box [value]="true"></dx-check-box>
    <dx-check-box [value]="undefined"></dx-check-box>
    <dx-check-box [disabled]="true"></dx-check-box>
    <dx-switch></dx-switch>
    <dx-switch [disabled]="true"></dx-switch>
  </div>
  <span>Radio group</span>
  <div class="flex">
    <dx-radio-group layout="horizontal" [items]="radioData" [value]="radioData[0]"></dx-radio-group>
    <dx-radio-group layout="horizontal" [items]="radioData" [value]="radioData[0]" [disabled]="true"></dx-radio-group>
  </div>
  <span>Calendar</span>
  <dx-calendar></dx-calendar>
  <span>File uploader</span>
  <div class="flex">
    <dx-file-uploader width="250px"></dx-file-uploader>
    <dx-file-uploader selectButtonText="Select File" width="150px" labelText=""></dx-file-uploader>
  </div>
</div>
