<div class="wrapper">
  <span class="dx-widget">Text Box Outlined</span>
  <div class="flex">
    <dx-text-box width="200px" mode="text" label="Text box" placeholder="Outlined"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" placeholder="Outlined" width="200px" label="Select box"></dx-select-box>
    <dx-color-box value="#f05b41" width="200px" label="Color box"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" width="200px" label="Number box"></dx-number-box>
    <dx-tag-box placeholder="Outlined" width="200px" valueExpr="ID" [dataSource]="tagBoxData" valueExpr="ID" displayExpr="Name" label="Tag box"></dx-tag-box>
    <dx-lookup width="200px" label="Lookup"></dx-lookup>
  </div>
  <span class="dx-widget">Text Box Filled</span>
  <div class="flex">
    <dx-text-box placeholder="Filled" width="200px" stylingMode="filled" label="Text box"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" placeholder="Filled" width="200px" stylingMode="filled" label="Select box"></dx-select-box>
    <dx-color-box value="#f05b41" width="200px" stylingMode="filled" label="Color box"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" width="200px" stylingMode="filled" label="Number box"></dx-number-box>
    <dx-tag-box
      placeholder="Filled"
      width="200px"
      valueExpr="ID"
      stylingMode="filled"
      [dataSource]="tagBoxData"
      valueExpr="ID"
      displayExpr="Name"
      label="Tag box"
    ></dx-tag-box>
    <dx-lookup width="200px" stylingMode="filled" label="Lookup"></dx-lookup>
  </div>
  <span class="dx-widget">Text Box Underlined</span>
  <div class="flex">
    <dx-text-box placeholder="Underlined" width="200px" stylingMode="underlined" label="Text box"></dx-text-box>
    <dx-select-box [items]="['Outlined', 'Filled', 'Underlined']" placeholder="Underlined" width="200px" stylingMode="underlined" label="Select box"></dx-select-box>
    <dx-color-box value="#f05b41" width="200px" stylingMode="underlined" label="Color box"></dx-color-box>
  </div>
  <div class="flex">
    <dx-number-box [value]="20.5" [showSpinButtons]="true" [showClearButton]="true" width="200px" stylingMode="underlined" label="Number box"></dx-number-box>
    <dx-tag-box
      placeholder="Underlined"
      width="200px"
      valueExpr="ID"
      stylingMode="underlined"
      [dataSource]="tagBoxData"
      valueExpr="ID"
      displayExpr="Name"
      label="Tag box"
    ></dx-tag-box>
    <dx-lookup width="200px" stylingMode="underlined" label="Lookup"></dx-lookup>
  </div>
  <span class="dx-widget">Text Editors</span>
  <div class="flex">
    <dx-text-box validationStatus="invalid" label="Text box"></dx-text-box>
    <dx-date-box></dx-date-box>
  </div>
  <span class="dx-widget">Checkbox</span>
  <div class="flex">
    <dx-check-box></dx-check-box>
    <dx-check-box [value]="true"></dx-check-box>
    <dx-check-box [value]="undefined"></dx-check-box>
    <dx-check-box [disabled]="true"></dx-check-box>
    <dx-switch></dx-switch>
    <dx-switch [disabled]="true"></dx-switch>
  </div>
  <span class="dx-widget">Radio group</span>
  <div class="flex">
    <dx-radio-group layout="horizontal" [items]="radioData" [value]="radioData[0]"></dx-radio-group>
    <dx-radio-group layout="horizontal" [items]="radioData" [value]="radioData[0]" [disabled]="true"></dx-radio-group>
  </div>
  <span class="dx-widget">Calendar</span>
  <dx-calendar></dx-calendar>
  <span class="dx-widget">File uploader</span>
  <div class="flex">
    <dx-file-uploader width="250px"></dx-file-uploader>
    <dx-file-uploader selectButtonText="Select File" width="150px"></dx-file-uploader>
  </div>
</div>
