::ng-deep #load-panel-container {
  height: 90px;
  margin: 0 auto;
}
::ng-deep #load-panel {
  height: 90px;
  position: relative;
}
::ng-deep #load-panel>div {
  height: 90px;
  position: relative;
}
::ng-deep #load-panel>div>div {
  transform: translate(-50%, 0) !important;
}