<div class="wrapper">
  <dx-action-sheet #actionSheet [dataSource]="actionSheetData" [visible]="false"> </dx-action-sheet>
  <h1 class="dx-widget wrapper__title">Overlays</h1>
  <dx-popup contentTemplate="popup-content" [visible]="isPopupVisible" hideOnOutsideClick="true">
    <div *dxTemplate="let data of 'popup-content'">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Penatibus et magnis dis
        parturient. Eget dolor morbi non arcu risus. Tristique magna sit amet purus gravida quis blandit. Auctor urna nunc id cursus metus aliquam eleifend mi in.
        Tellus orci ac auctor augue mauris augue neque gravida. Nullam vehicula ipsum a arcu. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi.
        Cursus in hac habitasse platea dictumst. Egestas dui id ornare arcu. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim.
      </p>
      <p>
        Mauris rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar. Neque volutpat ac tincidunt vitae semper quis lectus. Sed sed risus pretium quam
        vulputate dignissim suspendisse in. Urna nec tincidunt praesent semper feugiat nibh sed pulvinar. Ultricies lacus sed turpis tincidunt id aliquet risus
        feugiat. Amet cursus sit amet dictum sit amet justo donec enim. Vestibulum rhoncus est pellentesque elit ullamcorper. Id aliquet risus feugiat in ante metus
        dictum at.
      </p>
    </div>
  </dx-popup>
  <dx-tooltip target="#tooltip" showEvent="dxhoverstart" hideEvent="dxhoverend">
    <div *dxTemplate="let data of 'content'">
      <p>Tooltip content</p>
    </div>
  </dx-tooltip>

  <div class="flex">
    <dx-button text="Open popup" (onClick)="togglePopup()"> </dx-button>
    <dx-button text="Show the ActionSheet" (onClick)="actionSheet.visible = true"> </dx-button>
    <dx-button id="tooltip" text="Tooltip"></dx-button>
  </div>
  <div id="load-panel-container">
    <dx-load-panel [visible]="true" container="#load-panel-container" id="load-panel"></dx-load-panel>
  </div>

  <div class="flex">
    <dx-button text="Show info toast" (onClick)="showInfoMessage()"> </dx-button>
    <dx-button text="Show warning toast" (onClick)="showWarningMessage()"> </dx-button>
    <dx-button text="Show error toast" (onClick)="showErrorMessage()"> </dx-button>
    <dx-button text="Show success toast" (onClick)="showSuccessMessage()"> </dx-button>
  </div>

  <div class="dx-overlay-wrapper wrapper--info" data-bind="dxControlsDescendantBindings: true">
    <dx-toast
      [visible]="isInfoVisible"
      type="info"
      message="Info toast"
      [closeOnClick]="false"
      [displayTime]="600000"
      hideOnOutsideClick="false"
      class="toast--info"
    ></dx-toast>
  </div>
  <div class="dx-overlay-wrapper wrapper--warning" data-bind="dxControlsDescendantBindings: true">
    <dx-toast
      [visible]="isWarningVisible"
      type="warning"
      message="Warning toast"
      [closeOnClick]="false"
      [displayTime]="600000"
      hideOnOutsideClick="false"
      class="toast--warning"
    ></dx-toast>
  </div>
  <div class="dx-overlay-wrapper wrapper--error" data-bind="dxControlsDescendantBindings: true">
    <dx-toast
      [visible]="isErrorVisible"
      type="error"
      message="Error toast"
      [closeOnClick]="false"
      [displayTime]="600000"
      hideOnOutsideClick="false"
      class="toast--error"
    ></dx-toast>
  </div>
  <div class="wrapper--succsess" data-bind="dxControlsDescendantBindings: true">
    <dx-toast
      [visible]="isSuccessVisible"
      type="success"
      message="Success toast"
      [closeOnClick]="false"
      [displayTime]="600000"
      hideOnOutsideClick="false"
      class="toast--success"
    ></dx-toast>
  </div>
</div>
