.flex {
  margin-top: 20px;
}
/*
.wrapper--info, .wrapper--warning, .wrapper--error, .wrapper--success {
  z-index: 1507;
  position: absolute;
  width: 900px;
  height: 370px;
  left: 0px;
  top: 0px;
  transform: translate(24px, 70px);
  transition: all 0s ease 0s;
  overflow: visible;
}
.wrapper--warning {
  z-index: 1508;
}
.wrapper--error {
  z-index: 1509;
}
.wrapper--success {
  z-index: 1510;
}
.toast--info, .toast--warning, .toast--success, .toast--error {
  min-width: 310px; 
  width: 310px; 
  height: auto; 
  z-index: 1507; 
  left: 0px; 
  top: 0px; 
  transform: translate(130px, 70px); 
  transition: none 0s ease 0s; 
  opacity: 1; 
  visibility: visible;
}
.toast--warning {
  z-index: 1508; 
  transform: translate(460px, 70px); 
}
.toast--error {
  z-index: 1509; 
  transform: translate(130px, 135px); 
}
.toast--success {
  z-index: 1510; 
  transform: translate(460px, 135px); 
} */