@use 'sass:color';
@use '../colors' as *;

@mixin unfocusState($fontSize, $lineHeight: $fontSize) {
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin focusState($fontSize, $lineHeight: $fontSize) {
  font-size: $fontSize;
  line-height: $lineHeight;
}

$generic-texteditor-label-transition: font-size 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms,
  transform 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms, top 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;

.me-inputs.dx-texteditor.dx-widget {
  background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
  border: 0;

  &.me-textbox.me-keyboard-focused.dx-state-focused {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }

  &.me-inputs {
    // Size: small | medium | large

    &.me-inputs {
      &-small {
        --input-border-radius: 3px;
        --input-font-size: 13px;
        --input-line-height: 16px;
        --input-fields-gap: 4px;

        --input-height: 36px;
        --padding-inline-left: 8px;
        --padding-inline-right: 4px;
        --padding-block: 2px;

        --input-top-offset: 17px;
        --input-bottom-offset: 3px;

        --label-font-size: 12px;
        --label-line-height: 16px;

        --icon-width: 20px;
        --icon-wrapper-size: 20px;
        --icon-lock-inner-height: 17px;
        --clear-icon-inner-width: 12px;
        --dropdowneditor-icon: 16px;

        &:is(.dx-texteditor-label-outside),
        &:not(:has(.dx-texteditor-label)) {
          --input-height: 28px;

          --label-font-size: 12px;
          --label-line-height: 16px;
        }
      }

      &-medium {
        --input-border-radius: 3px;
        --input-height: 40px;
        --input-font-size: 14px;
        --input-line-height: 20px;
        --input-fields-gap: 4px;

        --padding-inline-left: 8px;
        --padding-inline-right: 4px;
        --padding-block: 2px;

        --input-top-offset: 17px;
        --input-bottom-offset: 3px;

        --label-font-size: 12px;
        --label-line-height: 16px;

        --icon-width: 20px;
        --icon-wrapper-size: 20px;
        --icon-lock-inner-height: 17px;
        --clear-icon-inner-width: 12px;
        --dropdowneditor-icon: 16px;

        &:is(.dx-texteditor-label-outside),
        &:not(:has(.dx-texteditor-label)) {
          --input-height: 32px;

          --label-font-size: 12px;
          --label-line-height: 16px;
        }
      }

      &-large {
        --input-border-radius: 4px;
        --input-height: 48px;
        --input-font-size: 16px;
        --input-line-height: 20px;
        --input-fields-gap: 4px;

        --padding-inline-left: 12px;
        --padding-inline-right: 8px;
        --padding-block: 5.5px;

        --input-top-offset: 22px;
        --input-bottom-offset: 6px;

        --label-font-size: 13px;
        --label-line-height: 16px;

        --icon-width: 24px;
        --icon-wrapper-size: 24px;
        --icon-lock-inner-height: 21px;
        --clear-icon-inner-width: 16px;
        --dropdowneditor-icon: 18px;

        &:is(.dx-texteditor-label-outside),
        &:not(:has(.dx-texteditor-label)) {
          --input-height: 40px;

          --label-font-size: 14px;
          --label-line-height: 20px;
        }
      }
    }

    &.dx-texteditor-label-outside > .dx-datebox > .dx-texteditor-label > .dx-label {
      padding: 0;
    }

    &.dx-texteditor-label-outside > .dx-texteditor-label > .dx-label {
      padding: 0 !important;
    }

    &.dx-state-hover:not(.dx-texteditor-label-outside) > .dx-texteditor-label > .dx-label {
      padding-left: var(--padding-inline-left);
    }

    .dx-texteditor-container {
      width: 100%;
      align-items: center;

      gap: 4px;
      border-radius: var(--input-border-radius);
      padding-left: var(--padding-inline-left);
      padding-right: var(--padding-inline-right);

      .dx-texteditor-input-container,
      .dx-placeholder {
        font-size: var(--input-font-size);
        line-height: var(--input-line-height);
        height: var(--input-height);

        font-weight: var(--me-regular-font-weight);
      }

      .dx-texteditor-input-container {
        align-items: center;

        *,
        *::before {
          padding: 0;
        }

        .dx-texteditor-input {
          text-align: left;
          text-overflow: ellipsis;
          white-space: nowrap;

          &::placeholder {
            color: transparent !important;
            visibility: hidden;
          }

          input {
            height: auto;
          }
        }

        .dx-placeholder {
          color: var(--Controls-Content-In-Controls-Main-Disabled);

          &::before {
            display: flex;
            height: 100%;
            align-items: center;
          }
        }
      }

      .dx-texteditor-buttons-container {
        font-family: var(--me-icon-family);
        align-items: center;
        gap: 4px;
        color: var(--Controls-Content-In-Controls-Main-Default);

        &:has(> div:empty) {
          position: relative;
          width: var(--icon-wrapper-size);
          height: var(--icon-wrapper-size);
          justify-content: center;
          flex-basis: inherit;
        }

        & > * {
          height: var(--icon-width);
          width: var(--icon-width);
          min-width: var(--icon-width);
          margin: 0;
          padding: 0;
        }

        // убираем лишние пустые div если они не кнопки
        & > *:not(.dx-widget, .dx-button, .dx-numberbox-spin-container, .dx-clear-button-area) {
          display: none;
        }

        // Dropdown button

        .dx-dropdowneditor-button {
          .dx-button-content {
            .dx-dropdowneditor-icon {
              font-family: var(--me-icon-family);
              font-size: 18px;
              width: inherit;
              height: inherit;

              &::before {
                content: var(--me-icon-chevron-down);
              }
            }
          }
        }
      }
    }

    &.dx-datebox {
      .dx-texteditor-container {
        padding-right: var(--padding-inline-right);
      }
    }

    .dx-texteditor-label {
      transition: $generic-texteditor-label-transition;
      height: var(--label-line-height) !important;
      position: absolute;
      top: var(--label-top-offset, var(--padding-block));
      transform: translateY(calc(var(--label-bottom-offset) * -1));
      bottom: var(--label-bottom-offset);

      align-items: center;

      .dx-label {
        padding-left: var(--padding-inline-left);
        height: var(--label-line-height) !important;

        span {
          position: static;
          height: fit-content !important;
          margin: 0 !important;

          transform: none !important;
          font-size: var(--label-font-size) !important;
          font-weight: var(--me-regular-font-weight) !important;
          line-height: var(--label-line-height) !important;
          text-align: left;
        }
      }
    }

    // labelMode: static | hidden

    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside),
    &.dx-texteditor-with-floating-label {
      .dx-label-before {
        min-width: var(--padding-inline);
      }

      .dx-texteditor-input-container,
      .dx-placeholder {
        padding-block: var(--input-top-offset) var(--input-bottom-offset);
      }

      :has(.me-selectbox-left-icon) {
        .me-selectbox-left-icon {
          margin: 0;
        }
      }
    }

    // labelMode: floating

    &.dx-texteditor-with-floating-label {
      &.dx-texteditor-empty:not(.dx-state-focused),
      &.dx-state-readonly.dx-texteditor-empty:not(.dx-state-focused),
      &.dx-state-readonly.dx-texteditor-empty.dx-state-focused {
        --label-top-offset: 50%;
        --label-bottom-offset: 50%;

        --label-font-size: var(--input-font-size);
        --label-line-height: var(--input-line-height);
      }
    }

    // labelMode: outside

    &.dx-texteditor-label-outside {
      --outside-label-height-with-padding: calc(var(--label-line-height) + var(--input-fields-gap));
      --label-top-offset: calc(var(--outside-label-height-with-padding) * -1);

      margin-top: var(--outside-label-height-with-padding);

      .dx-label-before {
        min-width: 0px;
      }
    }

    &.dx-texteditor-label-outside.dx-texteditor-with-label {
      &-before {
        min-width: 0;
      }
    }
  }

  // States

  &.me-state {
    &-focus {
      outline: 2px solid var(--Dividers-Borders-Focus);
      outline-offset: 2px;
    }
  }

  &.dx-state {
    &-hover {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
    }

    &-focused:not(.dx-invalid, .dx-state-readonly) {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);

      .dx-texteditor-container {
        box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Accent-Default);
      }

      .dx-texteditor-label {
        color: var(--Controls-Content-In-Controls-Accent-Default);
      }
    }

    // disabled: true

    &-disabled {
      background-color: var(--Controls-BG-Secondary-Elements-BG-Disabled);

      .dx-texteditor-input,
      .dx-texteditor-buttons-container,
      .dx-dropdowneditor-icon,
      .dx-numberbox-spin-up-icon,
      .dx-numberbox-spin-down-icon,
      .dx-button-text,
      .dx-icon {
        color: var(--Controls-Content-In-Controls-Main-Disabled) !important;
      }

      &:not(.dx-texteditor-label-outside) {
        .dx-texteditor-label {
          color: var(--Controls-Content-In-Controls-Main-Disabled);
        }
      }
    }

    // readOnly: true

    &-readonly {
      input {
        cursor: auto;
      }

      &:not(.dx-state-disabled) {
        background-color: var(--Controls-BG-Secondary-Elements-BG-Disabled);
      }
    }

    &-readonly,
    &-disabled {
      .dx-numberbox-spin-container,
      .dx-clear-button-area {
        display: none;
      }

      .dx-texteditor-container {
        .dx-texteditor-buttons-container {
          font-size: var(--icon-lock-inner-height);
          line-height: var(--icon-lock-inner-height);
          font-family: var(--me-icon-family);
          gap: 0;
          align-self: center;

          width: var(--icon-wrapper-size);
          height: var(--icon-wrapper-size);
          justify-content: center;
          flex-basis: inherit;

          &::before {
            content: var(--me-icon-lock);
            align-content: center;
            text-align: center;
          }

          & > * {
            width: 0 !important;
            min-width: 0 !important;
            overflow: hidden;
          }

          &:not(.dx-texteditor-buttons-container:last-child) {
            display: none;
          }
        }
      }
    }
  }

  // showRequiredMark: true

  &.me-inputs-show-required-mark {
    .dx-texteditor-label .dx-label span {
      &::after {
        content: '*';
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }
  }

  // isValid: false

  &.dx-invalid {
    &:not(.dx-state-disabled) {
      .dx-texteditor-container {
        box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Danger-Default);
      }

      .dx-texteditor-label {
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }
  }

  // showClearButton: true

  .dx-clear-button-area {
    visibility: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-width: var(--icon-width);
    width: var(--icon-width);
  }

  &:not(.dx-texteditor-empty) {
    .dx-clear-button-area {
      visibility: visible;

      .dx-icon {
        width: var(--clear-icon-inner-width);
        height: var(--clear-icon-inner-width);
        align-content: center;
        text-align: center;
        line-height: 1;
        font-size: var(--clear-icon-inner-width);
      }
    }
  }

  // Mode: search

  &.dx-searchbox {
    &.me-inputs {
      --icon-search-width: var(--icon-width);
      --searchbox-gap: 4px;
      --searchbox-input-left-offset: calc(var(--icon-search-width) + var(--searchbox-gap));

      &-small {
        --icon-search-inner-width: 14px;
      }

      &-medium {
        --icon-search-inner-width: 14px;
      }

      &-large {
        --icon-search-inner-width: 14px;
      }
    }

    .dx-icon.dx-icon-search {
      display: flex;
      align-items: center;

      width: var(--icon-search-width);
      height: var(--icon-search-width);
      transform: translateY(-50%);
      margin: 0;
      line-height: var(--icon-search-inner-width);
      font-size: var(--icon-search-inner-width);
    }

    .dx-texteditor-input,
    .dx-placeholder {
      margin-left: var(--searchbox-input-left-offset);
    }

    .dx-texteditor-label {
      .dx-label-before {
        min-width: 0;
        max-width: 0;
      }
    }

    &:not(.dx-texteditor-label-outside) {
      .dx-texteditor-label {
        left: calc(var(--padding-inline) + var(--searchbox-input-left-offset));
      }
    }
  }

  &.dx-editor-filled.dx-searchbox.dx-texteditor-with-floating-label.dx-state-focused,
  &.dx-editor-filled.dx-searchbox.dx-texteditor-with-floating-label:not(.dx-texteditor-empty) {
    .dx-texteditor-label {
      padding: 0;

      .dx-label-before {
        width: 0 !important;
      }
    }
  }

  // Mode: password

  .dx-password-toggle {
    &.dx-button {
      margin: 0;
      border: none;
      background: transparent;
      box-shadow: none;

      &:hover {
        background: transparent;
      }

      .dx-button-content {
        padding: 0;

        .dx-icon {
          display: flex;
          align-items: center;

          font-family: var(--me-icon-family);
          font-style: normal;
          font-size: var(--icon-width);
          width: var(--icon-width);
          height: var(--icon-width);

          &.dx-icon-eyeopen::before {
            content: var(--me-icon-eye);
          }

          &.dx-icon-eyeoff::before {
            content: var(--me-icon-eyeoff);
          }
        }
      }
    }
  }

  &.dx-editor-outlined.dx-state-readonly.dx-state-hover,
  &.dx-editor-outlined.dx-state-readonly.dx-state-focused {
    &.dx-state-focused,
    &.dx-dropdowneditor-active,
    &:not(.dx-texteditor-empty) {
      &:not(.dx-state-disabled) {
        color: var(--Controls-Content-In-Controls-Main-Default);
      }
    }
  }

  &.dx-texteditor-label-outside {
    .dx-texteditor-label {
      color: var(--Controls-Content-In-Controls-Main-Default);
    }
  }
}

.me-inputs.dx-texteditor.dx-widget {
  .dx-texteditor-container {
    .dx-texteditor-buttons-container:not(> .dx-password-toggle) {
      display: none;
    }
  }

  &.dx-show-clear-button,
  &.dx-state-readonly,
  &.dx-state-disabled {
    .dx-texteditor-container {
      .dx-texteditor-buttons-container {
        display: flex;
      }
    }
  }

  &.me-number-box,
  &.me-date-range-box {
    &:has(.dx-state-readonly, .dx-state-disabled),
    &.dx-texteditor-label-outside {
      .dx-texteditor-buttons-container {
        margin: 0;
      }
    }

    &.dx-state-readonly,
    &.dx-state-disabled {
      .dx-texteditor-buttons-container {
        flex-basis: inherit;
        width: var(--icon-wrapper-size);
        height: var(--icon-wrapper-size);
        justify-content: center;
      }
    }

    .dx-texteditor-buttons-container {
      gap: 0;

      .dx-clear-button-area {
        margin: 0 4px;
      }

      .dx-numberbox-spin-up-icon::before {
        font-family: var(--me-icon-family);
        content: var(--me-icon-chevron-up);
      }

      .dx-numberbox-spin-down-icon::before {
        font-family: var(--me-icon-family);
        content: var(--me-icon-chevron-down);
      }
    }

    &.me-inputs {
      .dx-texteditor-container {
        padding-left: var(--padding-inline-left);
        padding-right: var(--padding-inline-right);
      }
    }

    .dx-texteditor-container {
      align-items: center;
      padding-inline: 0;
    }

    &:not(.dx-texteditor-with-floating-label) .dx-texteditor-container {
      padding-block: 0;
    }

    .dx-texteditor-buttons-container {
      align-items: center;

      .dx-numberbox-spin-container {
        height: auto;
        width: auto;
        min-width: auto;
      }

      .dx-state-active,
      .dx-state-hover {
        background: transparent;
      }
    }
  }

  &.me-number-box {
    &.me-inputs {
      &-small {
        --number-box-spin-button-height: 13px;
        --number-box-spin-button-width: 26px;
      }

      &-medium {
        --number-box-spin-button-height: 15px;
        --number-box-spin-button-width: 30px;
      }

      &-large {
        --number-box-spin-button-height: 19px;
        --number-box-spin-button-width: 38px;
      }
    }

    .dx-texteditor-buttons-container .dx-numberbox-spin-container {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      .dx-numberbox-spin-up,
      .dx-numberbox-spin-down {
        width: var(--number-box-spin-button-width);
        height: var(--number-box-spin-button-height);
      }
    }
  }
}

//отключение бордеров у label везде!
.dx-texteditor {
  .dx-texteditor-label > * {
    border: none !important;
  }
}

.dx-overlay.dx-invalid-message {
  .dx-overlay-wrapper.dx-invalid-message {
    .dx-overlay-content.dx-invalid-message-content {
      background-color: var(--Background-Error);
      color: var(--Text-Error);
      border-radius: 3px;
    }
  }
}

*:has(.me-inputs):has(.me-input-description) {
  --description-font-size: 12px;
  --description-line-height: 16px;

  --input-fields-gap: 4px;

  &:has(.me-inputs-large) {
    --description-font-size: 14px;
    --description-line-height: 20px;
  }

  .me-input-description {
    font-size: var(--description-font-size);
    line-height: var(--description-line-height);
    margin-top: var(--input-fields-gap);
    font-family: 'Roboto', sans-serif;

    color: var(--Text-Secondary);
  }
}
