::ng-deep .form-container {
  display: block;
  padding: 20px;
  max-width: 550px;
  min-width: 300px;
}

::ng-deep #form {
  margin-top: 25px;
}

#form-demo {
  display: flex;
  justify-content: center;
}

.dx-widget {
  margin-bottom: 6px;
}