<h1 class="dx-widget wrapper__title">Form</h1>
<div id="form-demo">
  <div class="form-container">
    <div class="dx-widget">Select company:</div>
    <dx-select-box #company displayExpr="Name" [inputAttr]="{ 'aria-label': 'Company' }" [dataSource]="companies" [value]="companies[0]"></dx-select-box>
    <dx-form
      id="form"
      [formData]="company.value"
      [readOnly]="readOnly"
      [showColonAfterLabel]="showColon"
      [minColWidth]="minColWidth"
      [colCount]="colCount"
      [width]="width"
    ></dx-form>
  </div>
</div>
