@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../../base/loadPanel';

// adduse
@use '../overlay';

.dx-loadpanel-content {
  background: $loadpanel-content-bg;
  border-radius: $loadpanel-content-border-radius;
  box-shadow: 0 4px 10px $loadpanel-content-shadow-color;
}

.me-load-panel {
  width: auto !important;
  height: auto !important;
  &.me-load-panel-small {
    border-radius: 4px;
    padding: 16px 48px;

    .dx-loadpanel-content-wrapper {
      .dx-loadpanel-message {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
      }
    }
  }

  &.me-load-panel-medium {
    border-radius: 4px;
    padding: 24px 56px;

    .dx-loadpanel-content-wrapper {
      .dx-loadpanel-message {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
      }
    }
  }

  &.me-load-panel-large {
    border-radius: 4px;
    padding: 32px 64px;

    .dx-loadpanel-content-wrapper {
      .dx-loadpanel-message {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
      }
    }
  }
}
