@use 'sass:color';
@use '../sizes' as *;
@use '../colors' as *;

// adduse
@use '../dropDownList';

/**
* $name 10. Input background color
* $type color
*/
$autocomplete-input-bg: null !default;

/**
* $name 20. Input border color
* $type color
*/
$autocomplete-input-border-color: null !default;

/**
* $name 30. Input text color
* $type color
*/
$autocomplete-input-text-color: null !default;

/**
* $name 40. Dropdown background color
* $type color
*/
$autocomplete-dropdown-bg: null !default;

/**
* $name 50. Dropdown item text color
* $type color
*/
$autocomplete-dropdown-item-color: null !default;

/**
* $name 60. Dropdown item hover background color
* $type color
*/
$autocomplete-dropdown-item-hover-bg: null !default;

@if $color == 'light' {
  $autocomplete-input-bg: #fff !default;
  $autocomplete-input-border-color: #dfe0ed !default;
  $autocomplete-input-text-color: #18181a !default;
  $autocomplete-dropdown-bg: #fff !default;
  $autocomplete-dropdown-item-color: #18181a !default;
  $autocomplete-dropdown-item-hover-bg: #f2f2f7 !default;
}

@if $color == 'dark' {
  $autocomplete-input-bg: #2e2e2f !default;
  $autocomplete-input-border-color: #3f4044 !default;
  $autocomplete-input-text-color: #fff !default;
  $autocomplete-dropdown-bg: #2e2e2f !default;
  $autocomplete-dropdown-item-color: #fff !default;
  $autocomplete-dropdown-item-hover-bg: #43444c !default;
}
