@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../common/sizes' as *;

// adduse
@use '../dropDownList';

.dx-autocomplete {
  .dx-texteditor-input {
    font-size: 1em;
  }
}

@mixin autocomplete-badge-offset() {
  right: $generic-invalid-badge-horizontal-padding;

  @at-root #{selector-append(".dx-rtl", &)},
    .dx-rtl & {
    left: $generic-invalid-badge-horizontal-padding;
  }
}

.dx-autocomplete.dx-invalid,
.dx-autocomplete.dx-valid {
  .dx-texteditor-container {
    &::after {
      @include autocomplete-badge-offset();
    }
  }
}

.dx-autocomplete.dx-validation-pending {
  .dx-texteditor-container {
    .dx-pending-indicator {
      @include autocomplete-badge-offset();
    }
  }
}

.dx-autocomplete {
  .dx-texteditor-input {
    padding-left: 12px;
    padding-right: 30px;
  }

  .dx-placeholder {
    padding-left: 15px;
    left: 0;
    right: 30px;

    &::before {
      padding-left: 0;
    }
  }

  .dx-texteditor-input {
    padding-right: 30px;
  }

  .dx-clear-button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;

    .dx-icon-clear {
      line-height: 1;
      font-size: 12px;
    }
  }
}

// Для RTL версии
.dx-rtl .dx-autocomplete,
.dx-autocomplete.dx-rtl {
  .dx-texteditor-input {
    padding-right: initial;
    padding-left: 30px;
  }

  .dx-clear-button-area {
    right: initial;
    left: 0;
  }
}
