@use 'sass:color';
@use 'colors' as *;
@use '../colors' as *;
@use 'sizes' as *;
@use '../sizes' as *;
@use '../common/sizes' as *;

// adduse
@use '../dropDownList';

.dx-autocomplete {
  .dx-texteditor-input {
    font-size: 1em;
  }
}

@mixin autocomplete-badge-offset() {
  right: $generic-invalid-badge-horizontal-padding;

  @at-root #{selector-append(".dx-rtl", &)},
    .dx-rtl & {
    left: $generic-invalid-badge-horizontal-padding;
  }
}

.dx-autocomplete.dx-invalid,
.dx-autocomplete.dx-valid {
  .dx-texteditor-container {
    &::after {
      @include autocomplete-badge-offset();
    }
  }
}

.dx-autocomplete.dx-validation-pending {
  .dx-texteditor-container {
    .dx-pending-indicator {
      @include autocomplete-badge-offset();
    }
  }
}

.me-autocomplete.dx-autocomplete {
  &.me-state-focus {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }

  .dx-texteditor-input {
    padding-left: 12px;
    padding-right: 30px;
  }

  .dx-placeholder {
    padding-left: 15px;
    left: 0;
    right: 30px;

    &::before {
      padding-left: 0;
    }
  }

  .dx-texteditor-input {
    padding-right: 30px;
  }

  .dx-clear-button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;

    .dx-icon-clear {
      line-height: 1;
      font-size: 12px;
    }
  }
}

// Для RTL версии
.dx-rtl .dx-autocomplete,
.dx-autocomplete.dx-rtl {
  .dx-texteditor-input {
    padding-right: initial;
    padding-left: 30px;
  }

  .dx-clear-button-area {
    right: initial;
    left: 0;
  }
}

.autocomplete-box-desc {
  color: #808084;
  font-size: 12px;
  line-height: 16px;
  font-family: 'Roboto', sans-serif;
  margin-top: 4px;
}

.me-autocomplete.dx-autocomplete {
  background-color: var(--Controls-BG-Secondary-Elements-BG-Default);
  border: 0;

  .dx-clear-button-area {
    display: flex;
    align-items: center;
  }

  &.dx-state-hover {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Hover);
  }

  &.dx-state-focused:not(.dx-invalid) {
    background-color: var(--Controls-BG-Secondary-Elements-BG-Input-In-Focus);
    .dx-dropdowneditor-input-wrapper .dx-texteditor-container {
      box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Accent-Default);
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }

    &.me-autocomplete-large .dx-dropdowneditor-input-wrapper .dx-texteditor-container {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    .dx-label {
      span {
        color: var(--Controls-Content-In-Controls-Accent-Default);
      }
    }
  }

  //цвет лейбла при непустом инпуте
  &.dx-texteditor-label-outside,
  &.dx-texteditor-with-floating-label {
    &:not(.dx-texteditor-empty, .dx-state-focused, .dx-state-disabled, .dx-invalid) {
      .dx-label {
        span {
          color: var(--Text-Default);
        }
      }
    }

    .dx-label {
      height: 100%;
    }
  }

  &.dx-state-focused,
  &.dx-state-hover,
  &.dx-state-hover.dx-state-focused {
    &:not(.dx-texteditor-label-outside, .dx-texteditor-with-floating-label) {
      .dx-label {
        height: auto;
      }
    }
  }

  &.me-state-focus {
    outline: 2px solid var(--Dividers-Borders-Focus);
    outline-offset: 2px;
  }

  &.dx-invalid {
    &.me-autocomplete-small,
    &.me-autocomplete-medium .dx-dropdowneditor-input-wrapper {
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
    &.me-autocomplete-large .dx-dropdowneditor-input-wrapper {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    .dx-dropdowneditor-input-wrapper {
      box-shadow: inset 0 0 0 1px var(--Controls-Content-In-Controls-Danger-Default);
    }
    .dx-label {
      span {
        color: var(--Controls-Content-In-Controls-Danger-Default);
      }
    }
  }

  &.dx-state-disabled {
    .dx-texteditor-input {
      color: var(--Controls-Content-In-Controls-Main-Disabled);
    }

    .dx-clear-button-area {
      .dx-icon.dx-icon-clear {
        color: var(--Text-Disabled);
      }
    }
  }

  .dx-texteditor-container {
    padding-inline: 8px;
    width: 100%;
    gap: 16px;
    align-items: center;

    .dx-texteditor-input-container {
      *,
      *::before {
        padding: 0;
      }

      .dx-texteditor-input {
        font-weight: var(--me-regular-font-weight);

        &::placeholder {
          color: transparent;
        }
      }

      .dx-placeholder {
        font-weight: var(--me-regular-font-weight);
        color: var(--Controls-Content-In-Controls-Main-Disabled);
      }
    }

    .dx-texteditor-buttons-container {
      height: 20px;
      width: 20px;
      color: var(--Controls-Content-In-Controls-Main-Default);

      .dx-clear-button-area {
        margin: 0;

        .dx-icon.dx-icon-clear {
          width: 12px;
          height: 12px;
          align-content: center;
          text-align: center;
        }
      }
    }
  }

  .dx-texteditor-label {
    align-items: center;

    .dx-label {
      span {
        font-size: 12px;
        font-weight: var(--me-regular-font-weight);
        line-height: 16px;
        text-align: left;
      }
    }
  }

  &.dx-texteditor-label-outside.dx-texteditor-with-label {
    &.me-autocomplete-small,
    &.me-autocomplete-medium {
      margin-top: 20px;

      .dx-texteditor-label {
        margin-top: 0;
        top: -20px;
      }
    }

    &.me-autocomplete-large {
      margin-top: 24px;

      .dx-texteditor-label {
        height: 20px;
        margin-top: 0;
        top: -24px;
      }
    }
  }

  &.dx-texteditor-with-floating-label {
    margin-top: 20px;

    .dx-texteditor-label {
      padding: 0;
      align-items: center;
      // margin-top: -8.5px !important;
    }

    &.dx-state-focused,
    &:not(.dx-texteditor-empty) {
      .dx-texteditor-label {
        top: -48%;
        left: -9px;
      }

      &.me-autocomplete-large {
        .dx-texteditor-label {
          top: -42%;
        }
      }
    }
  }

  //small
  &.me-autocomplete-small {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside) {
      .dx-label-before {
        min-width: 8px;
      }
      .dx-texteditor-container {
        padding-block: 13px 3px;
      }
    }

    .dx-texteditor-container {
      padding-block: 4px;

      .dx-texteditor-input-container {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
  }

  //medium
  &.me-autocomplete-medium {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside) {
      .dx-label-before {
        min-width: 8px;
      }
      .dx-texteditor-container {
        padding-block: 17px 3px;
      }
    }

    .dx-texteditor-container {
      padding-block: 6px;

      .dx-texteditor-input-container {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  //large
  &.me-autocomplete-large {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    &.dx-texteditor-with-label:not(.dx-texteditor-label-outside) {
      .dx-texteditor-label {
        padding-top: 3px;
      }
      .dx-label-before {
        min-width: 12px;
      }
      .dx-texteditor-container {
        padding-block: 22px 5px;
      }
    }

    .dx-texteditor-container {
      padding-inline: 12px;
      padding-block: 8px;

      .dx-texteditor-input-container {
        .dx-texteditor-input,
        .dx-placeholder {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .dx-texteditor-buttons-container {
        height: 24px;
        width: 24px;

        .dx-clear-button-area {
          width: 24px;

          .dx-icon.dx-icon-clear {
            width: 16px;
            height: 16px;
            font-size: 14px;
          }
        }
      }
    }

    .dx-texteditor-label {
      .dx-label {
        span {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
    }

    &:not(.dx-texteditor-with-floating-label, .dx-texteditor-label-outside) {
      .dx-texteditor-label {
        .dx-label {
          span {
            top: -6px;
          }
        }
      }

      &.dx-state-focused {
        .dx-texteditor-label {
          .dx-label {
            span {
              top: -6px;
            }
          }
        }
      }
    }
  }

  .me-dropdownlist {
    .dx-list-item-selected {
      background: var(--Controls-Informative-BG-Selected-Element) !important;
    }

    .dx-state-active {
      background: var(--Controls-BG-Secondary-Elements-BG-Pressed) !important;
    }
  }

  .me-autocomplete.dx-autocomplete {
    &.dx-state-readonly {
      .dx-texteditor-container {
        .dx-texteditor-buttons-container {
          font-size: 19px;
          line-height: 20px;
          font-family: var(--me-icon-family);
          color: var(--Controls-Content-In-Controls-Main-Default);

          &::before {
            content: var(--me-icon-lock);
          }
        }
      }
    }

    &.me-autocomplete-large.dx-state-readonly {
      .dx-texteditor-container {
        .dx-texteditor-buttons-container {
          width: 20px;
          height: 20px;

          &::before {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  &.me-autocomplete-small,
  &.me-autocomplete-medium {
    &.dx-editor-outlined.dx-texteditor-with-floating-label.dx-texteditor-empty
      .dx-texteditor-label
      .dx-label
      span {
      font-size: 12px;
    }
  }
}

//отключение бордеров у label везде!
.dx-texteditor {
  .dx-texteditor-label > * {
    border: none !important;
  }
}
