@use '../sizes' as *;

.dx-autocomplete {
  &.me-autocomplete-small {
    height: 28px;

    .dx-texteditor-input {
      font-size: 13px;
      padding: 4px 8px;
    }
  }

  &.me-autocomplete-medium {
    height: 36px;

    .dx-texteditor-input {
      font-size: 14px;
      padding: 6px 12px;
    }
  }

  &.me-autocomplete-large {
    height: 44px;

    .dx-texteditor-input {
      font-size: 16px;
      padding: 8px 16px;
    }
  }
}
