@use '../sizes' as *;

.me-inputs.dx-autocomplete.me-autocomplete {
  .dx-texteditor-input {
    font-size: var(--me-autocomplete-font-size, 14px);
    padding: var(--me-autocomplete-padding, 6px 12px);
  }

  &.me-inputs {
    &-small {
      --me-autocomplete-font-size: 13px;
      --me-autocomplete-padding: 4px 8px;
    }

    &-medium {
      --me-autocomplete-font-size: 14px;
      --me-autocomplete-padding: 6px 12px;
    }

    &-large {
      --me-autocomplete-font-size: 16px;
      --me-autocomplete-padding: 8px 16px;
    }
  }
}
