@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Text color
* $type color
*/
$texteditor-color: null !default;

/**
* $name 20. Placeholder text color
* $type color
*/
$texteditor-placeholder-color: null !default;

/**
* $name 30. Background color
* $type color
*/
$texteditor-bg: null !default;
$texteditor-underlined-bg: transparent !default;

/**
* $name 40. Filled editor background color
* $type color
*/
$texteditor-filled-bg: null !default;

/**
* $name 50. Border color
* $type color
*/
$texteditor-border-color: null !default;

/**
* $name 30. Focused border color
* $type color
*/
$texteditor-focused-border-color: null !default;
$texteditor-hover-bg: $base-bg !default;

/**
* $name 60. Hovered border color
* $type color
*/
$texteditor-hover-border-color: null !default;
$texteditor-button-clear-icon-color: null !default;
$texteditor-invalid-focused-border-color: $base-invalid-color !default;
$texteditor-invalid-faded-border-color: $base-invalid-faded-border-color !default;
$texteditor-filled-invalid-background: null !default;
$texteditor-border-radius: 3px;
$texteditor-input-border-radius: $base-border-radius !default;

// Custom color
$texteditor-label-color: null !default;
$texteditor-hover-filled-bg: null !default;
$texteditor-focused-filled-bg: null !default;

@if $color == "light" {
  $texteditor-color: #18181a;
  $texteditor-placeholder-color: #808084;
  $texteditor-filled-bg: #ecedf3;
  $texteditor-bg: #ffffff;
  $texteditor-border-color: #dfe0ed;
  $texteditor-label-color: $texteditor-placeholder-color;
  $texteditor-hover-border-color: #3257dc;
  $texteditor-focused-border-color: #3257dc;
  $texteditor-button-clear-icon-color: lighten($texteditor-color, 40%) !default;
  $texteditor-filled-invalid-background: color.change(
    $texteditor-invalid-faded-border-color,
    $alpha: 0.1
  ) !default;
  $texteditor-hover-filled-bg: #d8daea;
  $texteditor-focused-filled-bg: #3257dc1f;
}

@if $color == "dark" {
  $texteditor-color: #ffffff;
  $texteditor-placeholder-color: #a1a1a7;
  $texteditor-filled-bg: #43444c;
  $texteditor-bg: #2e2e2f;
  $texteditor-border-color: #3f4044;
  $texteditor-label-color: $texteditor-placeholder-color;
  $texteditor-hover-border-color: #5d9eff;
  $texteditor-focused-border-color: #5d9eff;
  $texteditor-button-clear-icon-color: darken($texteditor-color, 40%) !default;
  $texteditor-filled-invalid-background: color.change(
    $texteditor-invalid-faded-border-color,
    $alpha: 0.2
  ) !default;
  $texteditor-hover-filled-bg: #565665;
  $texteditor-focused-filled-bg: #3565e21f;
}
