/* ::ng-deep .small>.dx-button-content {
  font-size: 10px;
  padding: 4px 9px;
}

::ng-deep .normal>.dx-button-content {
  font-size: 16px;
  padding: 6px 12px;
}

::ng-deep .large>.dx-button-content {
  font-size: 20px;
  padding: 10px 16px;
} */