<div class="list__wrapper">
  <h1 class="wrapper__main-title dx-widget">List</h1>
  <h2 class="wrapper__title dx-widget">Drag and drop</h2>
  <dx-list meList [dataSource]="items" displayExpr="name" width="436px"> <dxo-item-dragging [allowReordering]="true"> </dxo-item-dragging></dx-list>

  <h2 class="wrapper__title dx-widget">Групповой список</h2>
  <dx-list
    meList
    id="list"
    [dataSource]="itemsGrouped"
    displayExpr="name"
    selectionMode="multiple"
    [grouped]="true"
    [allowItemDeleting]="true"
    [searchEnabled]="true"
    searchExpr="name"
    [collapsibleGroups]="true"
    [showSelectionControls]="true"
    width="436px"
  >
    <dxo-item-dragging [allowReordering]="true"> </dxo-item-dragging
  ></dx-list>
</div>
