.list__wrapper {
  width: 436px;
  margin: 0 auto;
}

.wrapper__main-title,
.wrapper__title,
.wrapper__subtitle {
  text-align: center;
}

.wrapper__subtitle {
  margin-bottom: 10px;
  margin-top: 20px;
}
