<div class="wrapper">
  <h1 class="wrapper__main-title dx-widget">CheckBox</h1>
  <h2 class="wrapper__title dx-widget">Size - small</h2>
  <h3 class="wrapper__subtitle dx-widget">State - default</h3>
  <div class="flex">
    <dx-check-box meCheckBox size="small"></dx-check-box>
    <dx-check-box meCheckBox size="small" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox size="small" [value]="true"></dx-check-box>
  </div>
  <h3 class="wrapper__subtitle dx-widget">State - readonly</h3>
  <div class="flex">
    <dx-check-box meCheckBox [readOnly]="true" size="small"></dx-check-box>
    <dx-check-box meCheckBox [readOnly]="true" size="small" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [readOnly]="true" size="small" [value]="true"></dx-check-box>
  </div>
  <h3 class="wrapper__subtitle dx-widget">State - disabled</h3>
  <div class="flex">
    <dx-check-box meCheckBox [disabled]="true" size="small"></dx-check-box>
    <dx-check-box meCheckBox [disabled]="true" size="small" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [disabled]="true" size="small" [value]="true"></dx-check-box>
  </div>
  <h2 class="wrapper__title dx-widget">Size - medium</h2>
  <h3 class="wrapper__subtitle dx-widget">State - default</h3>
  <div class="flex">
    <dx-check-box meCheckBox></dx-check-box>
    <dx-check-box meCheckBox [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [value]="true"></dx-check-box>
  </div>
  <h3 class="wrapper__subtitle dx-widget">State - readonly</h3>
  <div class="flex">
    <dx-check-box meCheckBox [readOnly]="true"></dx-check-box>
    <dx-check-box meCheckBox [readOnly]="true" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [readOnly]="true" [value]="true"></dx-check-box>
  </div>
  <h3 class="wrapper__subtitle dx-widget">State - disabled</h3>
  <div class="flex">
    <dx-check-box meCheckBox [disabled]="true"></dx-check-box>
    <dx-check-box meCheckBox [disabled]="true" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [disabled]="true" [value]="true"></dx-check-box>
  </div>
  <h2 class="wrapper__title dx-widget">Size - large</h2>
  <h3 class="wrapper__subtitle dx-widget">State - default</h3>
  <div class="flex">
    <dx-check-box meCheckBox size="large"></dx-check-box>
    <dx-check-box meCheckBox size="large" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox size="large" [value]="true"></dx-check-box>
  </div>
  <h3 class="wrapper__subtitle dx-widget">State - readonly</h3>
  <div class="flex">
    <dx-check-box meCheckBox [readOnly]="true" size="large"></dx-check-box>
    <dx-check-box meCheckBox [readOnly]="true" size="large" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [readOnly]="true" size="large" [value]="true"></dx-check-box>
  </div>
  <h3 class="wrapper__subtitle dx-widget">State - disabled</h3>
  <div class="flex">
    <dx-check-box meCheckBox [disabled]="true" size="large"></dx-check-box>
    <dx-check-box meCheckBox [disabled]="true" size="large" [value]="undefined"></dx-check-box>
    <dx-check-box meCheckBox [disabled]="true" size="large" [value]="true"></dx-check-box>
  </div>
</div>
